﻿@model MasterInstance.Areas.CM.Models.ContractDisplayModel
@{
    Layout = null;
}
<html>
    <head>
        <title>Auftrag</title>
        <link rel="stylesheet" href="~/Content/contract.min.css" type="text/css" media="screen, print" /> 
        <link rel="stylesheet" href="~/Content/contract.screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/contract.print.css" type="text/css" media="print" />
        <script type="text/javascript" src="~/Scripts/kendo/2015.1.429/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/kendo/2015.1.429/kendo.all.min.js"></script>
        <script type="text/javascript">
            @{
                var appPath = Request.ApplicationPath;
                if (!appPath.EndsWith("/"))
                {
                    appPath += "/";
                }
            }
            var appPath = "@appPath";
            var campaignId = @Request.Params["campaignId"];
            var contractName = "@Html.Raw(Request.Params["name"])";
            var defaultTools = kendo.ui.Editor.defaultTools;
            defaultTools["insertLineBreak"].options.shift = false;
            delete defaultTools["insertParagraph"].options;
        </script>
        <script type="text/javascript" src="~/Scripts/contract/contract.js?version=5"></script>
    </head>
<body>
    <h1>AUFTRAG</h1>
    <h2>Diesen Auftrag bitte sofort nach Erhalt bestätigen!</h2>
    <p>
        Auf der Grundlage des bereits geschlossenen Rahmenvertrages für Hostessen und Promoter wird
        <span class="strong">@Model.Title @Model.Firstname @Model.Lastname</span> wohnhaft in 
        <span class="strong">@Model.Street, @Model.PostalCode @Model.City</span>
        nachstehender Auftrag als <span class="strong">Promoter</span> angeboten. Die Parteien vereinbaren die nachstehenden Bedingungen
      ergänzend zum Rahmenvertrag, dem ausgehändigten Briefing/ Info-Mail, ggf. auch durch unsere Netzwerkpartner
        kurz vor Aktionsstart sowie dem Inhalt der letzten Schulungsunterlagen.
    </p>
    <table>
        <tr>
            <th>Aktionstitel</th>
            <td class="strong" data-bind="text: aktionstitel"></td>
        </tr>
        <tr>
            <th>Projekt-Nr</th>
            <td class="strong" data-bind="text: projektnummer"></td>
        </tr>
        <tr>
            <th>voraussichtlicher Aktionszeitraum</th>
            <td class="strong" data-bind="html: aktionszeitraum"></td>
        </tr>
        <tr>
            <th>Aktionsort / -datum</th>
            <td>
                Die Zuweisung des Leistungsorts und Leistungsdatums erfolgt über das Online Tool
                advantage-promotion.de oder separate Tourenpläne und ist gesondert zu bestätigen.
            </td>
        </tr>
        <tr>
            <th>Aktionszeit</th>
            <td>
                Die Zuweisung der Aktionszeiten erfolgt über das Online Tool advantage-promotion.de
                und ist gesondert zu bestätigen.<br />
                <span data-bind="html: aktionszeiten"></span>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Pausenzeiten</th>
            <td>
                <span data-bind="html: pausenzeiten"></span><br />
                Pausen in vorheriger Absprache mit dem dem in der Infomail genannten Ansprechpartner vor Ort.
                Pausen dürfen nicht am Anfang oder Ende der Aktionszeit genommen werden.
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Leistungsbeschreibung</th>
            <td data-bind="html: aktionsinhalt"></td>
        </tr>
    </table>
    <table data-bind="visible: beschreibungZuErbringendeLeistungVisible">
        <tr>
            <th>geschuldete Erfolge</th>
            <td data-bind="html: beschreibungZuErbringendeLeistung"></td>
        </tr>
        <tr>
            <th></th>
            <td>
                Die dauerhafte Nichterfüllung dieser Erfolge kann absprachegemäß den Auftraggeber
                zur fristlosen Kündigung des Auftrages berechtigen.
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Voraussetzungen</th>
            <td data-bind="html: voraussetzungen"></td>
        </tr>
    </table>
    <table data-bind="visible: honorarBezahlteSpringerVisible">
        <tr>
            <th>Honorar Springer</th>
            <td data-bind="html: honorarBezahlteSpringer"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Honorar</th>
            <td>
                <p>
                    <span data-bind="html: honorarMontagBisSamstag "></span><br />
                </p>
                <p data-bind="visible: honorarSonntagsUndFeiertagsVisible">
                    <span data-bind="html: honorarSonntagsUndFeiertags"></span><br />
                </p>
                <p>
                    Bei kürzeren Arbeitszeiten ändert sich das Honorar entsprechend der Netto Stundenzahl.
                </p>
            </td>
        </tr>
    </table>
    <table data-bind="visible: bonusVisible">
        <tr>
            <th>Bonus</th>
            <td>
                Bei guter Leistungserbringung und Zusammenarbeit (z. B. pünktliche Anmeldung, Eintragen des Reportings, Einhaltung der Einsatzzeiten etc.)
                wird zusätzlich folgender <span class="strong">Bonus</span> pro Aktionstag gezahlt:<br />
                <span class="strong" data-bind="html: bonus"></span>
            </td>
        </tr>
    </table>
    <table data-bind="visible: honorarBeiLängererAktionszeitVisible">
        <tr>
            <th>Honorar bei verlängerter Aktionszeit</th>
            <td data-bind="html: honorarBeiLängererAktionszeit"></td>
        </tr>
    </table>
    <table data-bind="visible: durchhaltebonusVisible">
        <tr>
            <th>Aktionstagebonus</th>
            <td data-bind="html: durchhaltebonus"></td>
        </tr>
    </table>
    <table data-bind="visible: teamleiterbonusVisible">
        <tr>
            <th>Teamleiterbonus</th>
            <td data-bind="html: teamleiterbonus"></td>
        </tr>
    </table>
    <table data-bind="visible: fahrerbonusVisible">
        <tr>
            <th>Fahrerbonus</th>
            <td data-bind="html: fahrerbonus"></td>
        </tr>
    </table>
    <table data-bind="visible: sonstigeVereinbarungVisible">
        <tr>
            <th>Sonstige Vereinbarung</th>
            <td data-bind="html: sonstigeVereinbarung"></td>
        </tr>
    </table>
    <table data-bind="visible: fahrtkostenVisible">
        <tr>
            <th>Fahrtkosten</th>
            <td data-bind="html: fahrtkosten"></td>
        </tr>
    </table>
    <table data-bind="visible: provisionVisible">
        <tr>
            <th>Provision</th>
            <td>
                <span data-bind="html: provision"></span><br />
                Voraussetzung für die Abrechnung sämtlicher Provisionen ist die Abgabe der geforderten Nachweise.
            </td>
        </tr>
    </table>
    <table data-bind="visible: schulungVisible">
        <tr>
            <th>Schulung</th>
            <td>
                <span data-bind="html: schulungsvergütung"></span>
                <p>
                    Die erfolgreiche Schulungsteilnahme ist Voraussetzung für die Durchführung der Aktion.
                </p>
            </td>
        </tr>
    </table>
    <table data-bind="visible: sonstigesVisible">
        <tr>
            <th>Sonstiges</th>
            <td data-bind="html: bemerkungAdvantage"></td>
        </tr>
    </table>
    <p>
        Darüber hinaus werden keine weiteren Kosten übernommen oder Vergütungen geleistet.
    </p>
    <p>
        Der Auftrag ist unverzüglich über das Online Tool advantage-promotion.de anzunehmen.<br />
        Die Annahme erfolgt  über den Button „Ich nehme den Auftrag an“.
    </p>
    <p>
        Der Auftrag kann von jedem Vertragspartner vor Ablauf des voraussichtlichen Aktionszeitraum ohne Angabe
        von Gründen mit einer Frist von 6 Wochen gekündigt werden (schriftlich, Fax, E-Mail).
    </p>
    <p>
        Änderungen vorbehalten.
    </p>
</body>
</html>
