﻿@section head
{
    @* Wir überschreiben mal die onResize Funktion aus site.js. *@
    <script type="text/javascript">
        onResize = function () {
            $(".editor, iframe").height($("#hSplitter").height() - 16);
        };
    </script>
    <link rel="stylesheet" href="~/Content/contracteditor.min.css" type="text/css" />
}
<div class="editor">
    <div class="label">
        Projektleitung
    </div>
    <div>
        <input type="text" class="k-textbox" data-bind="value: projektleitung" />
    </div>
    <div class="clear"></div>

    <div class="label">
        Aktionstitel
    </div>
    <div>
        <input type="text" class="k-textbox" data-bind="value: aktionstitel" />
    </div>
    <div class="clear"></div>

    <div class="label">
        Projektnummer
    </div>
    <div>
        <input type="text" class="k-textbox" data-bind="value: projektnummer" />
    </div>
    <div class="clear"></div>

    <div class="label">
        Aktionszeitraum
    </div>
    <div>
        <textarea data-role="editor" data-bind="value: aktionszeitraum" data-tools="['bold', 'italic', 'underline']"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Aktionszeit
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: aktionszeiten"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Pausenzeiten
    </div>
    <div>
        <textarea data-role="editor"  data-tools="['bold', 'italic', 'underline']" data-bind="value: pausenzeiten"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Aktionsinhalt
    </div>
    <div>
        <textarea data-role="editor"  data-tools="['bold', 'italic', 'underline']" data-bind="value: aktionsinhalt"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="beschreibungZuErbringendeLeistungVisible" data-bind="checked: beschreibungZuErbringendeLeistungVisible" />
        <label for="beschreibungZuErbringendeLeistungVisible">geschuldete Erfolge</label>
    </div>
    <div>
        <textarea data-role="editor"  data-tools="['bold', 'italic', 'underline']" data-bind="value: beschreibungZuErbringendeLeistung"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Voraussetzungen
    </div>
    <div>
        <textarea data-role="editor"  data-tools="['bold', 'italic', 'underline']" data-bind="value: voraussetzungen"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Honorar Mo-Sa
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: honorarMontagBisSamstag"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        Honorar Sonn-/Feiertage
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: honorarSonntagsUndFeiertags"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="honorarBezahlteSpringerVisible" data-bind="checked: honorarBezahlteSpringerVisible" />
        <label for="honorarBezahlteSpringerVisible">Honorar bezahlte Springer</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: honorarBezahlteSpringer"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="bonusVisible" data-bind="checked: bonusVisible" />
        <label for="bonusVisible">Bonus</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: bonus"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="honorarBeiLängererAktionszeitVisible" data-bind="checked: honorarBeiLängererAktionszeitVisible" />
        <label for="honorarBeiLängererAktionszeitVisible">Honorar bei verlängerter Aktionszeit</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: honorarBeiLängererAktionszeit"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="durchhaltebonusVisible" data-bind="checked: durchhaltebonusVisible" />
        <label for="durchhaltebonusVisible">Durchhaltebonus</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: durchhaltebonus"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="teamleiterbonusVisible" data-bind="checked: teamleiterbonusVisible" />
        <label for="teamleiterbonusVisible">Teamleiterbonus</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: teamleiterbonus"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="fahrerbonusVisible" data-bind="checked: fahrerbonusVisible" />
        <label for="fahrerbonusVisible">Fahrerbonus</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: fahrerbonus"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="sonstigeVereinbarungVisible" data-bind="checked: sonstigeVereinbarungVisible" />
        <label for="sonstigeVereinbarungVisible">sonstige Vereinbarung</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: sonstigeVereinbarung"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="fahrtkostenVisible" data-bind="checked: fahrtkostenVisible" />
        <label for="fahrtkostenVisible">Fahrtkosten</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: fahrtkosten"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="provisionVisible" data-bind="checked: provisionVisible" />
        <label for="provisionVisible">Provision</label>
        @TooltipHelper.Tooltip("Vertrag_Provision")
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: provision"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="schulungVisible" data-bind="checked: schulungVisible" />
        <label for="schulungVisible">Schulungsvergütung</label>
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: schulungsvergütung"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="sonstigesVisible" data-bind="checked: sonstigesVisible" />
        <label for="sonstigesVisible">Bemerkung advantage</label>
        @TooltipHelper.Tooltip("Vertrag_BemerkungAdvantage")
    </div>
    <div>
        <textarea data-role="editor" data-tools="['bold', 'italic', 'underline']" data-bind="value: bemerkungAdvantage"></textarea>
    </div>
    <div class="clear"></div>

    <button class="k-button" data-bind="click: save">Speichern</button>
    <button class="k-button" data-bind="click: saveAs">Speichern unter</button>
    @Html.ActionLink("Zurück", MVC.CM.Contract.Index((int)ViewBag.CampaignId), new { @class = "k-button" })
    @{
        Html.Kendo().Window()
            .Name("saveAsWindow")
            .Title("Speichern unter")
            .Content(@<text>
                <input type="text"
                       style="width: 200px"
                       class="k-textbox"
                       data-bind="value: saveAsName"
                       data-val="true"
                       data-val-regex="Der Name darf nur aus Buchstaben, Zahlen, Leerzeichen, Punkten, Kommas, Binde- und Unterstrichen bestehen."
                       data-val-regex-pattern="[a-zA-Z0-9_\-, \.äÄöÖüÜß]*"
                       data-val-required="Das Feld &quot;Name&quot; ist erforderlich." />
                <button class="k-button" data-bind="click: save, enabled: saveEnabled">Speichern</button>
            </text>)
        .Modal(true)
        .Visible(false)
        .Render();
    }
</div>
<iframe src="@Url.Action(MVC.CM.Contract.Display((int)ViewBag.CampaignId, (string)ViewBag.ContractName))"></iframe>
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
<script>
    var saveAsViewModel = kendo.observable({
        saveAsName: "",
        saveEnabled: function() {
            var newName = this.get("saveAsName"),
                regex = /^[a-zA-Z0-9_\-, \.äÄöÖüÜß]*$/g;
            return newName != null && newName.length > 0 && regex.test(newName)
        },
        save: function () {
            window.frames[0].contractName = this.get("saveAsName");
            window.frames[0].contractViewModel.save(true);
        }
    });
    kendo.bind("#saveAsWindow", saveAsViewModel);
    $("#saveAsWindow").kendoValidator();
</script>