﻿@using MasterInstance.Areas.CM.Models
@model int
@{
    ViewBag.Title = Helpers.PageTitle(Model, "Projektaufträge");
    <h3>@ViewBag.Title</h3>
    Html.Kendo().Grid<ContractListItem>()
        .Name("contracts")
        .DataSource(dataSource => dataSource.Ajax()
            .Read("_Read", "Contract", new { campaignId = Model })
            .Create("_Create", "Contract", new { campaignId = Model })
            .Update("_Dummy", "Contract") // Haben wir nur drin, weil Kendo sonst meckert.
            .Destroy("_Destroy", "Contract", new { campaignId = Model })
            .Model(model =>
            {
                model.Id(e => e.Name);
                model.Field(e => e.LastChange).Editable(false);
            })
            .Events(events => events.Error("onError")))
        .ToolBar(toolBar => toolBar.Create())
        .Columns(columns =>
        {
            columns.Bound(e => e.Name);
            columns
                .Bound(e => e.LastChange)
                .ClientTemplate("#= kendo.format('{0:dd.MM.yyyy HH:mm}', LastChange) #")
                .Width(120)
                .Title("Letzte Änderung");
            columns
                .Template(e => "")
                .Width(110)
                .ClientTemplate("<a href='" + Url.Action(MVC.CM.Contract.Preview()) + "?campaignId=" + Model + "&name=#= Name #' class='k-button k-button-icontext'><span class='k-icon k-i-pdf'></span>Vorschau</a>");
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Width(230);
        })
        .Events(events => events.Edit("onEdit"))
        .Render();
}
<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script type="text/javascript">
    function onEdit(e) {
        if (!e.model.isNew()) {
            e.preventDefault();
            $("#contracts").data("kendoGrid").cancelRow();
            window.location.href = "@Url.Content("~/CM/Contract/Edit/" + Model + "?name=")"  + e.model.Name;
        }
    }

    var validationMessageTmpl = kendo.template($("#message").html());

    function onError(args) {
        if (args.errors) {
            var grid = $("#contracts").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();
                for (var error in args.errors) {
                    showMessage(grid.editable.element, error, args.errors[error].errors);
                }
            });
        }
    }

    function showMessage(container, name, errors) {
        container.find("[data-valmsg-for=" + name + "],[data-val-msg-for=" + name + "]").replaceWith(validationMessageTmpl({ field: name, message: errors[0] }));
    }

</script>