﻿@model SeismitoadModel.Campaign
@using MasterInstance.Areas.CM.Models
@{
    ViewBag.Title = Model.Name + " - Aktionstage löschen";
    <h2>@ViewBag.Title</h2>
    Html.Kendo().Grid<DeleteAssignmentViewModel>()
        .Name("assignments")
        .Columns(columns =>
        {
            columns.Bound(e => e.Start).ClientTemplate("#= kendo.format('{0:d}', Start) #").Title("Datum").Width(80);
            columns.Template(e => e.Start).ClientTemplate("#= kendo.format('{0:t} - {1:t}', Start, End) #").Title("Aktionszeit").Width(90);
            columns.Bound(e => e.LocationName).Title("Markt");
            columns.Bound(e => e.LocationStreet).Title("Straße");
            columns.Bound(e => e.LocationPostalCode).Title("PLZ");
            columns.Bound(e => e.LocationCity).Title("Ort");
            columns.Bound(e => e.Team).Title("Team");
            columns.Command(command => command.Custom("unassign").Text("Zuweisungen entfernen").Click("unassign")).Width(170);
            columns.Command(command => command.Destroy()).Width(100);
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(e => e.Id))
            .PageSize(15)
            .Read(read => read.Route(MVC.CM.DeleteAssignments._Read().AddRouteValue("campaignId", Model.Id).GetRouteValueDictionary()))
            .Destroy(destroy => destroy.Route(MVC.CM.DeleteAssignments._Destroy().GetRouteValueDictionary())))
        .Sortable()
        .Filterable()
        .Pageable()
        .Render();
}
<div id="actions">
    <button data-role="button" data-bind="click: destroyAllClick">Alle Aktionstage in der Liste löschen</button>
    <button data-role="button" data-bind="click: unassignAllClick">Bei allen Aktionstagen in der Liste die zugewiesenen Promoter entfernen</button>
    <div id="wait-window" 
         data-role="window"
         data-title="Bitte warten..."
         data-modal="true"
         data-width="300"
         data-actions="[ ]"
         data-visible="false">
        Bitte warten...
    </div>
</div>
<script src="~/Scripts/deleteassignments/DeleteAssignmentsViewModel.js"></script>
<script>
    function unassign(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr")),
            self = this;
        e.preventDefault();
        $.post("@Url.Action(MVC.CM.DeleteAssignments._Unassign())/" + dataItem.Id)
            .done(function () {
                self.dataSource.read();
            });
    }

    $(document).ready(function() {
        var viewModel = new DeleteAssignmentsViewModel("#assignments", "#wait-window",
            "@Url.Action(MVC.CM.DeleteAssignments._DestroyAll().AddRouteValue("campaignId", Model))",
            "@Url.Action(MVC.CM.DeleteAssignments._UnassignAll().AddRouteValue("campaignId", Model))");
        kendo.bind("#actions", viewModel);
    });
</script>