﻿@model MasterInstance.Areas.CM.Models.CreateAssignmentModel
<div id="date-generator">
    <div class="k-block">
        <div class="k-header">Aktionstage generieren </div>
        <table>
            <tbody>
            <tr>
                <th>Startdatum</th>
                <td><input type="text" tabindex="1" data-role="datepicker" data-bind="value: dateStart"/></td>
                <th>Enddatum</th>
                <td><input type="text" tabindex="2" data-role="datepicker" data-bind="value: dateEnd"/></td>
                <th>Intervall</th>
                <td>
                    <select data-role="dropdownlist" tabindex="3" data-bind="value: interval">
                        <option value="1">Jede Woche</option>
                        <option value="2">Alle 2 Wochen</option>
                        <option value="3">Alle 3 Wochen</option>
                        <option value="4">Alle 4 Wochen</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <table>
            <tr>
                <td><label><input type="checkbox" tabindex="4" data-bind="checked: mondayChecked">Montag</label></td>
                <td><label><input type="checkbox" tabindex="8" data-bind="checked: tuesdayChecked">Dienstag</label></td>
                <td><label><input type="checkbox" tabindex="12" data-bind="checked: wednesdayChecked">Mittwoch</label></td>
                <td><label><input type="checkbox" tabindex="16" data-bind="checked: thursdayChecked">Donnerstag</label></td>
                <td><label><input type="checkbox" tabindex="20" data-bind="checked: fridayChecked">Freitag</label></td>
                <td><label><input type="checkbox" tabindex="24" data-bind="checked: saturdayChecked">Samstag</label></td>
                <td><label><input type="checkbox" tabindex="28" data-bind="checked: sundayChecked">Sonntag</label></td>
            </tr>
            <tr>
                <td><input type="time" tabindex="5" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: mondayStart"/></td>
                <td><input type="time" tabindex="9" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: tuesdayStart"/></td>
                <td><input type="time" tabindex="13" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: wednesdayStart"/></td>
                <td><input type="time" tabindex="17" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: thursdayStart"/></td>
                <td><input type="time" tabindex="21" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: fridayStart"/></td>
                <td><input type="time" tabindex="25" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: saturdayStart"/></td>
                <td><input type="time" tabindex="29" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: sundayStart"/></td>
            </tr>
            <tr>
                <td><input type="time" tabindex="6" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: mondayEnd"/></td>
                <td><input type="time" tabindex="10" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: tuesdayEnd"/></td>
                <td><input type="time" tabindex="14" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: wednesdayEnd"/></td>
                <td><input type="time" tabindex="18" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: thursdayEnd"/></td>
                <td><input type="time" tabindex="22" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: fridayEnd"/></td>
                <td><input type="time" tabindex="26" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: saturdayEnd"/></td>
                <td><input type="time" tabindex="30" data-role="timepicker" data-interval="30" data-min="5:00" data-max="4:30" data-bind="value: sundayEnd"/></td>
            </tr>
            <tr>
                <td><input type="number" tabindex="7" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: mondayAmount"/></td>
                <td><input type="number" tabindex="11" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: tuesdayAmount"/></td>
                <td><input type="number" tabindex="15" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: wednesdayAmount"/></td>
                <td><input type="number" tabindex="19" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: thursdayAmount"/></td>
                <td><input type="number" tabindex="23" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: fridayyAmount"/></td>
                <td><input type="number" tabindex="27" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: saturdayAmount"/></td>
                <td><input type="number" tabindex="31" data-role="numerictextbox" data-min="1" data-max="100" data-decimals="0" data-format="n0" data-placeholder="Anzahl" data-bind="value: sundayAmount"/></td>
            </tr>
        </table>
        <button class="k-button" data-bind="click: generate, enabled: canGenerate">Tage generieren</button>
        Klassifikation: @Model.Classification
    </div>

    <div data-role="grid"
         data-bind="source: generatedDates"
         data-columns="[
                { field: 'start', title: ' ', format: '{0:ddd}', width: 35 },
                { field: 'start', title: 'Datum', format: '{0:d}', width: 100 },
                { field: 'start', title: 'Anfang', format: '{0:HH:mm}', width: 70 },
                { field: 'end', title: 'Ende', format: '{0:HH:mm}', width: 70 },
                { field: 'amount', title: '#', width: 35 }
            ]"></div>
</div>
<div class="clear"></div>