﻿@using MasterInstance.Areas.CM.Models
@model CreateAssignmentModel
<link rel="stylesheet" type="text/css" href="@Links.Content.dategenerator_css" />
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Aktionstage erstellen");
    if (Request["frame"] == "true")
    {
        Layout = "~/Views/Shared/_FrameLayoutKendo.cshtml";
    }
    Html.RenderPartial("_DateGenerator");

    Html.Kendo().Grid<CampaignLocationViewModel>()
        .Name("g")
        .DataSource(dataSource => dataSource
            .Ajax().Read(read => read
                .Action("_Locations", "CreateAssignment", new { Model.CampaignId})
                .Data("function() { return campaignLocationGridModel.gridParams(); }")))
        .ColumnMenu()
        .Sortable()
        .Filterable()
        .Scrollable(scrollable => scrollable.Height(500))
        .Resizable(resizeable => resizeable.Columns(true))
        .Reorderable(reorderable => reorderable.Columns(true))
        .ToolBar(toolbar => toolbar.Template(
            @<div id="actions">
                <button class="k-button" data-bind="click: add"><span class='k-icon k-i-plus'></span>Für alle (<span data-bind="text: locationsCount"></span>) Orte jeweils <span data-bind="text: amount"></span> Aktionstage hinzufügen</button>
            </div>))
        .Columns(columns =>
        {
            columns.Bound(e => e.Name);
            columns.Bound(e => e.Name2).Title("Zusatz").Hidden(true);
            columns.Bound(e => e.Street).Title("Straße");
            columns.Bound(e => e.Street2).Title("Straße Zusatz").Hidden(true);
            columns.Bound(e => e.PostalCode).Title("PLZ").Width(80).Hidden(true);
            columns.Bound(e => e.City).Title("Ort").Width(100);
            columns.Bound(e => e.SalesRegion).Title("Vertriebsregion").Hidden(true);
            columns.Bound(e => e.Classification).Title("Klassifizierung").Width(100).Hidden(true);
            columns.Bound(e => e.Remark).Title("Bemerkung").Hidden(true);
            columns.Bound(e => e.RemarkCampaign).Title("Bemerkung (Projekt)").Hidden(true);
            columns.Bound(e => e.CenterManagementStreet).Title("Centerverwaltung - Straße").Hidden(true);
            columns.Bound(e => e.CenterManagementPostalCode).Title("Centerverwaltung - PLZ").Hidden(true);
            columns.Bound(e => e.CenterManagementCity).Title("Centerverwaltung - Ort").Hidden(true);
            columns.Bound(e => e.Phone).Title("Telefon").Hidden(true).Width(100);
            columns.Bound(e => e.Fax).Title("Fax").Hidden(true).Width(100);
            columns.Bound(e => e.Email).Title("E-Mail").Hidden(true);
            columns.Bound(e => e.Website).Title("Website").Hidden(true);
            columns.Bound(e => e.VisitorFrequency).Title("Besucher / Tag").Hidden(true).Width(100);
            columns.Bound(e => e.Area).Title("Gesamtfläche").Hidden(true).Width(100);
            columns.Bound(e => e.SellingArea).Title("Verkaufsfläche").Hidden(true).Width(100);
            columns.Bound(e => e.CampaignAreaPrices).Title("Preise Aktionsfläche").Hidden(true).Width(100);
            columns.Bound(e => e.Audience).Title("Publikumsniveau").Hidden(true).Width(100);
            columns.Bound(e => e.Opening).Title("Eröffnungsjahr").Hidden(true).Width(100);
            columns.Bound(e => e.CatchmentArea).Title("Einzugsgebiet (mindestens)").Hidden(true).Width(100);
            columns.Bound(e => e.Parking).Title("Parkplätze (mindestens)").Hidden(true).Width(100);
            columns.Bound(e => e.OutdoorArea).Title("Standfläche Außenbereich").Hidden(true).Width(100);
            columns.Bound(e => e.Retailers).Title("Vorhandene Retailer").Hidden(true);
            columns.Bound(e => e.WiFiAvailable).ClientTemplate("#= WiFiAvailable === null ? 'Keine Angabe' : WiFiAvailable == true ? 'Ja' : 'Nein' #").Title("WLAN vorhanden").Hidden(true).Width(100);
            columns.Bound(e => e.ConferenceRoomSize).Title("Größe Konferenzräume").Hidden(true);
            columns.Bound(e => e.ConferenceEquipmentCost).Title("Kosten Konferenztechnik").Hidden(true);
            columns.Bound(e => e.ConferencePackageCost).Title("Kosten Tagungspaket").Hidden(true);
            columns.Bound(e => e.RoomRates).Title("Zimmerpreise").Hidden(true);
            columns.Bound(e => e.CostTransferPossible).ClientTemplate("#= CostTransferPossible ? 'Ja' : 'Nein' #").Title("Kostenübernahme möglich").Hidden(true).Width(100);
            columns.ForeignKey(e => e.LocationGroupId, Model.LocationGroups).Title("Channel").Width(90).Hidden(true);
            columns.ForeignKey(e => e.StateProvinceId, Model.StateProvinces).Title("Bundesland").Hidden(true);
            columns.ForeignKey(e => e.LocationTypeId, Model.LocationTypes).Title("Typ").Hidden(true);
            columns.Command(command => command.Custom("edit2").Text("<span class='k-icon k-i-pencil'><span>").Click("edit")).Width(80);
            columns.Command(command => command.Custom("add").Text("<span class='k-icon k-i-plus'><span>").Click("add")).Width(80);
            columns.Command(command => command.Custom("remove").Text("<span class='k-icon k-i-close'><span>").Click("remove")).Width(80);
        })
        .Render();
}
<script src="~/Scripts/GridResizer.js" type="text/javascript"></script>
<script src="~/Scripts/createassignment/createassignment.js"></script>