﻿@model string[]
@if (Model != null)
{
    var employeeId = ViewContext.RouteData.Values["id"];
    <ul>
        @foreach (var file in Model)
        {
            <li><a target="_blank" href="/PromoterUploads/Employee/@employeeId/Zeugnisse/@file">@file</a></li>
        }
    </ul>
}
else
{
    <text>Der Promoter hat keine Zeugnisse hochgeladen</text>
}
