﻿@using MasterInstance
@using SeismitoadModel
@using SeismitoadShared.Helpers
@model IEnumerable<ChangeSet>

@functions {
    private static string GetNameFromUserKey(string changeVal, string val)
    {
        Guid userGuid;
        if (Guid.TryParse(changeVal, out userGuid))
        {
            var membershipUser = Membership.GetUser(userGuid);
            if (membershipUser != null)
            {
                val = membershipUser.UserName;
            }
        }
        return val;
    }
}

@{
    ViewBag.Title = "Änderungshistorie";
    
    <div class="smallSpacer"></div>
    Html.Telerik().Grid(Model)
        .Name("ChangeSets")
        .Sortable(sort => sort.Enabled(true).OrderBy(order => order.Add(e => e.Date).Descending()))
        .Pageable(pager => pager.PageSize(20).Enabled(true))
        .DataKeys(keys => keys.Add(e => e.Id))
        .Columns(columns =>
            {
                columns.Bound(e => e.Date).Width(200);
                columns.Template(e => GetNameFromUserKey(e.UserId.ToString(), e.UserId.ToString())).Title("Geändert von").Width(100);
                if (ViewBag.IsSingleEntity == true)
                {
                    columns.Bound(e => e.TableName).Width(200);
                    columns.Bound(e => e.EntityId).Width(200);
                }
            })
        .DetailView(view => view.Template(@<text>
                                               <table style="border: 1px solid black">
                                                   <tr>
                                                       <td><b><i>Eigenschaft</i></b></td>
                                                       <td><b><i>Alter Wert</i></b></td>
                                                       <td><b><i>Neuer Wert</i></b></td>
                                                   </tr>
                                                   @{
                                                       var type = DB.Context.GetEntityType(item.TableName);
                                                       foreach (var change in item.Changes)
                                                       {
                                                           var oldVal = change.OldValueDisplay;
                                                           var newVal = change.NewValueDisplay;

                                                           if (change.PropName == "Manager" && item.TableName == "Campaigns")
                                                           {
                                                               oldVal = GetNameFromUserKey(change.OldValueDisplay, oldVal);
                                                               newVal = GetNameFromUserKey(change.NewValueDisplay, newVal);
                                                           }
                                                           <tr>
                                                               <td style="width: 100px">@DisplayNameHelper.GetDisplayName(type, change.PropName)</td>
                                                               <td style="width: 100px">@oldVal</td>
                                                               <td style="width: 100px">@newVal</td>
                                                           </tr>
                                                       }
                                                   }
                                               </table>
                                           </text>))
        .Render();
}
