﻿@using MasterInstance.Areas.CM.Models
@model IEnumerable<AcquisitionUpdateResultViewModel>
@{
    <h3>Aktion durchgeführt</h3>
    Html.Kendo().Grid(Model)
        .Name("updates")
        .Columns(columns =>
        {
            columns.Bound(e => e.Firstname).Title("Vorname").Width(150);
            columns.Bound(e => e.Lastname).Title("Nachname").Width(150);
            columns.Bound(e => e.Result).Title("Ergebnis");
        })
        .Scrollable()
        .Render();
}
