﻿@using MasterInstance.Areas.CM.Models
@using ObjectTemplate.Extensions
@using SeismitoadModel
@using Roles = SeismitoadShared.Constants.Roles
@model CampaignEmployeeViewModel
@section head
{
    <link rel="stylesheet" href="@Links.Content.confirm_css" type="text/css" />
    <link rel="stylesheet" href="~/Content/acquisition.min.css?version=5" type="text/css" />
}
@{
    ViewBag.CampaignId = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var acquisitionList = Request.RequestContext.RouteData.Values["controller"].ToString() == "Acquisition";
    var states = SelectListRepository.Retrieve(acquisitionList ? "CampaignEmployeeStateAcquisition" : "CampaignEmployeeStateWorkers", ViewData);
    var deployableItems = new[] {
        new SelectListItem { Value = "", Text = " " },
        new SelectListItem { Value = "Kein Einsatz möglich", Text = "aktuell kein Einsatz möglich" },
        new SelectListItem { Value = "Nicht geschult", Text = "aktuell nicht geschult" },
    };
    ViewBag.Title = Helpers.PageTitle(ViewBag.CampaignId, acquisitionList ? "Akquiseliste" : "Personalliste");
    var allowedToEdit = acquisitionList || User.HasAnyRole(Roles.Advantage, Roles.Admin);
    var seesConsole = 
        User.Identity.Name.Equals("czastrow", StringComparison.OrdinalIgnoreCase) ||
        User.Identity.Name.Equals("sbabilas", StringComparison.OrdinalIgnoreCase) ||
        User.Identity.Name.Equals("mjania", StringComparison.OrdinalIgnoreCase);
}
<h3>@ViewBag.Title</h3>
<div id="data-bound">
    <div style="float: left">
        <button class="k-button k-button-icontext" data-bind="click: openSearch, visible: searchButtonVisible"><span class="k-icon k-i-search"></span>Promoter suchen</button>
        <input data-role="dropdownlist"
               data-bind="value: state, source: states, events: { change: applyFilter }"
               data-value-primitive="true"
               data-height="500"
               data-value-field="value"
               data-text-field="text"
               style="width: 250px" />
        <button class="k-button" data-bind="click: resetColumns">Spalten zurücksetzen</button>
        <button class="k-button" data-bind="click: copyEmailAddresses">E-Mail-Adressen</button>
        <a class="k-button" href="@Url.Action(MVC.CM.Promoter.Index().AddRouteValue("id", Request.RequestContext.RouteData.Values["id"]).AddRouteValue("_", DateTime.Now.Ticks))" title="Schulungsspalten aktualisieren"><span class="k-icon k-i-refresh"></span></a>
        <a class="k-button" target="_blank" href="@Url.Action(MVC.CM.MailStatus.Index((int) ViewBag.CampaignId))" title="E-Mail Warteschlange"><span class="k-icon k-i-clock"></span></a>
        <a class="k-button" target="_blank" href="@Url.Action(MVC.CM.MailStatus.Failed((int)ViewBag.CampaignId))" title="E-Mail Fehler"><span class="k-icon k-i-note"></span></a>
    </div>
    <div style="float: right">
        <input placeholder="Suche in Name und E-Mail-Adresse" class="k-textbox" type="text" style="width: 250px" data-bind="value: nameOrMail" data-value-update="keyup" onkeyup="return keyupCampaignEmployee(event)" />
        <button class="k-button" data-bind="click: nameOrEmailSearchButtonClick"><span class="k-icon k-i-search"></span></button>
        <select data-role="dropdownlist"
                data-bind="visible: contractSelectVisible, value: contract, source: contracts"
                data-value-field="Name"
                data-text-field="Name"
                data-value-primitive="true"
                data-option-label="Projektauftrag wählen"></select>
        <button class="k-button" disabled="disabled" data-bind="invisible: actionButton1Visible">Keine Aktion möglich</button>
        <button class="k-button" data-bind="text: actionButton1Text, click: actionButton1Click, enabled: actionButtonEnabled, visible: actionButton1Visible"></button>
        <button class="k-button" data-bind="text: actionButton2Text, click: actionButton2Click, enabled: actionButtonEnabled, visible: actionButton2Visible"></button>
        <button class="k-button" data-bind="text: actionButton3Text, click: actionButton3Click, enabled: actionButtonEnabled, visible: actionButton3Visible"></button>
    </div>
    <div id="progress-window"
         data-role="window"
         data-width="600"
         data-height="320"
         data-actions="{}"
         data-modal="true"
         data-visible="false"
         data-title="Status">
        <div data-bind="visible: progressVisible">
            <h3 data-bind="text: action"></h3>
            <span data-bind="text: amount"></span> Promoter gewählt
            <div data-role="progressbar" data-value="false" style="width: 582px"></div>
        </div>
        <div data-bind="html: result"></div>
        <br />
        <button class="k-button" data-bind="disabled: progressVisible, click: closeWindow">Schließen</button>
    </div>
    <div id="training-window"
         data-role="window"
         data-width="274"
         data-height="400"
         data-title="Schulung auswählen"
         data-actions="{}"
         data-modal="true"
         data-visible="false">

        <script id="dropdowlist-item-template" type="text/x-kendo-template">
            #= Title # - #= kendo.toString(kendo.parseDate(DateFrom), 'dd.MM.yyyy') #
        </script>

        <input id="show-all-trainings" type="checkbox" class="k-checkbox" data-bind="checked: showAllTrainings" />
        <label for="show-all-trainings" class="k-checkbox-label">Schulungstermine aller Projekte zeigen</label>

        <input data-role="dropdownlist"
               data-option-label="Schulung auswählen"
               data-auto-bind="false"
               data-bind="value: trainingDay, source: trainingDays, events: { change: trainingChanged }"
               data-value-field="Id"
               data-text-field="Title"
               data-template="dropdowlist-item-template"
               style="width: 250px" />

        <fieldset>
            <legend>Gewählte Schulung</legend>

            <div class="editor-label">
                <label>Name</label>
            </div>
            <div class="editor-field" data-bind="text: trainingTitle">
            </div>

            <div class="editor-label">
                <label>Bemerkung</label>
            </div>
            <div class="editor-field" data-bind="text: trainingRemarks">
            </div>

            <div class="editor-label">
                <label>Datum</label>
            </div>
            <div class="editor-field" data-bind="text: trainingDate">
            </div>

            <div class="editor-label">
                <label>Ort</label>
            </div>
            <div class="editor-field" data-bind="text: trainingLocation">
            </div>

            <div class="editor-label">
                <label>Maximale Teilnehmerzahl</label>
            </div>
            <div class="editor-field" data-bind="text: trainingMaxParticipants">
            </div>

            <div class="editor-label">
                <label>Aktuelle Teilnehmerzahl</label>
            </div>
            <div class="editor-field" data-bind="text: trainingParticipantsCount">
            </div>
        </fieldset>
        <button class="k-button" data-bind="click: assignTraining, enabled: assignTrainingButtonEnabled">Zuweisen</button>
        <button class="k-button" data-bind="click: closeTrainingWindow">Abbrechen</button>
    </div>
    <div id="applied-locations-window"
         data-role="window"
         data-width="1050"
         data-height="515"
         data-modal="true"
         data-visible="false"
         data-title="Märkte für die sich der Promoter beworben hat">
        <div data-role="grid"
             data-auto-bind="false"
             data-height="430"
             data-bind="source: appliedLocations, visible: appliedForLocationListVisible"
             data-sortable="true"
             data-columns="[
             { field: 'Channel', title: 'Channel', width: 100 },
             { field: 'Name', title: 'Markt', width: 400 },
             { field: 'Street', title: 'Straße', width: 300 },
             { field: 'PostalCode', title: 'PLZ', width: 80 },
             { field: 'City', title: 'Ort', width: 120 }
            ]">
        </div>
        <div style="margin-top: 5px">
            <label>Freitext:</label>
            <textarea style="width: 100%; height: 50px" class="k-textbox k-state-disabled" disabled="disabled" data-bind="value: appliedForLocationsText"></textarea>
        </div>
    </div>
</div>
<div class="clear" style="margin-bottom: 0.5em;"></div>
@{
    Html.Kendo()
        .Grid<AcquisitionRowViewModel>()
        .Name("a")
        .DataSource(dataSource =>
            dataSource.Ajax()
                .Read(read => read
                    .Action("_Read", "CampaignEmployees", new { campaignId = ViewBag.CampaignId, view = Model.View })
                    .Data("function() { return viewModel.gridParams(); }"))
                .Update("_Update", "CampaignEmployees", new { campaignId = ViewBag.CampaignId })
                .Sort(sort => sort.Add(e => e.PostalCode))
                .Events(events => events
                    .RequestStart("function() { cwl('grid update request start'); }")
                    .RequestEnd("function() { cwl('grid update request end'); }")
                    .Error("function() { cwl('grid update error', 'k-error-colored'); }"))
                .PageSize(2000)
                .Model(model =>
                {
                    model.Id(e => e.EmployeeId);
                    model.Field(e => e.EmployeeId).Editable(false);
                    model.Field(e => e.AddressChanged).Editable(false);
                    model.Field(e => e.EmployeeState).Editable(false);
                    model.Field(e => e.Highlighted).Editable(false);
                    model.Field(e => e.Firstname).Editable(false);
                    model.Field(e => e.Lastname).Editable(false);
                    model.Field(e => e.Street).Editable(false);
                    model.Field(e => e.PostalCode).Editable(false);
                    model.Field(e => e.City).Editable(false);
                    model.Field(e => e.Date).Editable(false);
                    model.Field(e => e.Mobile).Editable(false);
                    model.Field(e => e.Email).Editable(false);
                    model.Field(e => e.AppliedForLocations).Editable(false);
                    model.Field(e => e.ProfileRemark).Editable(false);
                    model.Field(e => e.SkeletonContract).Editable(false);
                    model.Field(e => e.CopyIdentityCard).Editable(false);
                    model.Field(e => e.FreelancerQuestionaire).Editable(false);
                    model.Field(e => e.ValidTradeLicense).Editable(false);
                    model.Field(e => e.ShirtSize).Editable(false);
                    model.Field(e => e.Height).Editable(false);
                    model.Field(e => e.DriversLicense).Editable(false);
                    model.Field(e => e.Skype).Editable(false);
                    model.Field(e => e.ContractAccepted).Editable(false);
                    model.Field(e => e.Training0).Editable(false);
                    model.Field(e => e.Training1).Editable(false);
                    model.Field(e => e.Training2).Editable(false);
                    model.Field(e => e.Training3).Editable(false);
                    model.Field(e => e.Training4).Editable(false);
                    model.Field(e => e.Training5).Editable(false);
                    model.Field(e => e.Training6).Editable(false);
                    model.Field(e => e.Training7).Editable(false);
                    model.Field(e => e.Training8).Editable(false);
                    model.Field(e => e.Training9).Editable(false);
                    model.Field(e => e.Training10).Editable(false);
                    model.Field(e => e.Training11).Editable(false);
                    model.Field(e => e.Training12).Editable(false);
                    model.Field(e => e.Training13).Editable(false);
                    model.Field(e => e.Training14).Editable(false);
                }))
        .Editable(editor => editor.Mode(GridEditMode.InCell).Enabled(allowedToEdit))
        .Scrollable(scrolling => scrolling.Height(250).Virtual(true))
        .Sortable()
        .Filterable()
        .ColumnMenu()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Events(events => events
            .DataBound("function(e) { cwl('grid updated'); viewModel.gridDataBound(e); }")
            .DataBinding("function(e) { viewModel.gridDataBinding(e); }")
            .ColumnResize("function(e) { cwl('resize column: ' + e.column.field); viewModel.saveColumnState(e); }")
            .ColumnShow("function(e) { cwl('show column: ' + e.column.field); viewModel.saveColumnState(e); }")
            .ColumnHide("function(e) { cwl('hide column: ' + e.column.field); viewModel.saveColumnState(e); }")
            .ColumnReorder("function(e) { cwl('reoder column: ' + e.column.field); viewModel.saveColumnStateAfterReoderEvent(e); }")
            .Edit("onEdit")
            .Save("onSave")
            )
        .Columns(columns =>
        {
            columns
                .Template(e => e.RowNumber)
                .ClientTemplate("#= RowNumber #")
                .Width(55)
                .Title("# <span id='rowCount'></span>")
                .IncludeInMenu(false)
                .Locked(true);

            columns
                .Bound(e => e.Highlighted)
                .ClientTemplate("#= Highlighted ? '<img src=\"" +
                                Url.Content("~/Content/icons/16x16/filesystems/favorites.png") +
                                "\" title=\"Promoter hat sich initiativ beworben\" />' : '' #")
                .Width(36)
                .HtmlAttributes(new {style = "text-overflow: clip"})
                .Filterable(false)
                .Sortable(false)
                .Hidden(true)
                .Title("Initiativ beworben")
                .Locked(true);
            if (allowedToEdit)
            {
                columns
                    .Bound(e => e.EmployeeId)
                    .ClientTemplate("# if(RealState === State) { # <input type='checkbox' value='#= EmployeeId #' /> # } #")
                    .Hidden(true)
                    .Filterable(false)
                    .Sortable(false)
                    .Width(36)
                    .IncludeInMenu(false)
                    .Title("<input type='checkbox' id='checkAll' />")
                    .Locked(true);
            }
            columns
                .Bound(e => e.Lastname)
                .ClientTemplate("<a class='details-link' href='\\#'>#= Lastname #</a>" +
                    (acquisitionList ? "" : "# if(AddressChanged) { # <span class='attention' /> # } #"))
                .Title("Nachname")
                .Width(120)
                .Locked(true);

            columns.Bound(e => e.Firstname).Title("Vorname").Width(120).Locked(true);
            columns.Bound(e => e.Street).Title("Straße").Width(120);
            columns.Bound(e => e.PostalCode).Title("PLZ").Width(120);
            columns.Bound(e => e.City).Title("Ort").Width(120);
            columns.Bound(e => e.Mobile).Title("Mobilnummer").Width(120);
            columns.Bound(e => e.Email).Title("E-Mail").Width(120);
            columns.ForeignKey(e => e.State, states, "Value", "Text").Filterable(false).Width(190).Title("Aktueller Status");
            columns.Bound(e => e.Date).ClientTemplate("#= Date ? kendo.toString(Date, 'dd.MM.yyyy - HH:mm') : '' #").Title("Im Status seit").Width(130);
            columns.Bound(e => e.Remark).Title("Bemerkung").Width(200);
            columns.Bound(e => e.RolesEdit).ClientTemplate("#= Roles || '' #").Title("Rollen").Width(100).EditorTemplateName(MVC.CM.Shared.Views.EditorTemplates.CampaignEmployeeRoles).Sortable(false).Filterable(false);

            columns
                .Bound(e => e.AppliedForLocations)
                .ClientTemplate("# if(AppliedForLocations !== null && AppliedForLocations !== '') { #<span class=\"k-icon k-i-note\" onclick=\"viewModel.showLocations(this) \"></span> # } # #= AppliedForLocations || '' #")
                .Title("Beworben für")
                .Width(150)
                .Hidden(false);
            columns
                //.ForeignKey(e => e.EmployeeState, new [] { new { Value = 0, Text = "Aktiv" }, new { Value = 100, Text = "Inaktiv" }, new { Value = 300, Text = "Neu" }, new { Value = 400, Text = "Fremdpersonal" }, new { Value = 200, Text = "Gesperrt" } }, "Value", "Text")
                .ForeignKey(e => e.EmployeeState, new EmployeeState().ToSelectList())
                .Title("Status").Width(100);
            columns.Bound(e => e.ProfileRemark).Title("Bemerkung (aus Profil)").Width(200).Hidden(true);
            columns.Bound(e => e.SkeletonContract).Title("RV").Width(60).ClientTemplate("#= SkeletonContract ? 'Ja' : 'Nein' #").Hidden(acquisitionList);
            columns.Bound(e => e.FreelancerQuestionaire).Title("SA").Width(60).ClientTemplate("#= FreelancerQuestionaire ? 'Ja' : 'Nein' #").Hidden(acquisitionList);
            columns.Bound(e => e.ValidTradeLicense).Title("GS").Width(60).ClientTemplate("#= ValidTradeLicense ? 'Ja' : 'Nein' #").Hidden(acquisitionList);
            columns.Bound(e => e.CopyIdentityCard).Title("Perso").Width(90).ClientTemplate("#= CopyIdentityCard == 0 ? 'Nein' : CopyIdentityCard == 1 ? 'Ja' : CopyIdentityCard == 2 ? 'Verweigert' : 'K.A.' #").Hidden(acquisitionList);
            columns.ForeignKey(e => e.ShirtSize, SelectListRepository.Retrieve("ShirtSize", ViewData), "Value", "Text").Title("T-Shirt Größe").Width(120).Hidden(true);
            columns.Bound(e => e.Height).Title("Körpergröße").Width(120).Hidden(true);
            columns.Bound(e => e.Skype).Title("Skype").Width(80).Hidden(true);
            columns.Bound(e => e.DriversLicense).Title("Führerscheinklassen").Width(80).Hidden(true);

            if (!acquisitionList)
            {
                columns.ForeignKey(e => e.Deployable, deployableItems, "Value", "Text").Title("einsetzbar?").Hidden(true).Width(200);
                columns.Bound(e => e.ContractAccepted).Format("{0:d} - {0:t}").Title("Vertrag angenommen am").Hidden(true).Width(150);
                var index = 0;
                foreach (var title in Model.TrainingColumnTitles)
                {
                    var trainingColumn = "Training" + index;
                    columns
                        .ForeignKey("Training" + index, SelectListRepository.Retrieve("TrainingState", ViewData), "Value", "Text")
                        .ClientTemplate("#if(" + trainingColumn + ") { # #= " + trainingColumn + " # (#= kendo.toString(TrainingDate" + index + ", 'dd.MM.yyyy') #) # } #")
                        .Title(title)
                        .Width(250);
                    index++;
                }
                columns
                    .Command(command => command.Custom("Training").Text("Zuweisen"))
                    .Width(100)
                    .IncludeInMenu(false)
                    .Title("Schulungen");
                columns
                    .Template(e => "")
                    .Title("PA")
                    .Width(45)
                    .Visible(true)
                    .ClientTemplate("# if(State !== 'Accepted') { # <a href='" +
                                    Url.Content("~/CampaignAssets/" + ViewBag.CampaignId + "/GeneratedContracts") +
                                    "/#= EmployeeId #.pdf?_#= new window.Date().getTime() #' target='_blank'><span class='k-icon k-i-pdf'><span></a> # } # ");
            }
        })
        .Resizable(resizing => resizing.Columns(true))
        .Render();

    Html.Kendo().Window()
        .Name("search-window")
        .Modal(true)
        .Visible(false)
        .Draggable()
        .Title("Suche")
        .Content(@<text>@Html.Partial(MVC.CM.CampaignEmployees.Views._Search)</text>)
        .Render();

    Html.Kendo().Window()
        .Name("details-window")
        .Title("Promoterdetails")
        .Visible(false)
        .Draggable()
        .Content("Bitte warten...")
        .Render();

    Html.Kendo().Window()
        .Name("addresses-window")
        .Title("E-Mail-Adressen der gefilterten Liste")
        .Visible(false)
        .Draggable()
        .Content(@<text>
            Zum Kopieren der Adressen Strg+C drücken.<br /><br />
            <textarea class="k-textbox" style="width: 500px; height: 500px" id="email-addresses"></textarea>
            </text>)
        .Render();
}
<div id="confirm" data-bind="visible: visible">
    <div id="confirm-content" class="k-block">
        <div data-bind="text: question"></div>
        <button class="k-button" data-bind="click: no">Nein</button>
        <button class="k-button" data-bind="click: yes">Ja</button>
    </div>
</div>
<div id="sk-console" style="display: @(seesConsole ? "block" : "none"); position: fixed; top: 0; right: 0; width: 600px; height: 130px; background-color: black; color: greenyellow; overflow-y: scroll; padding: 1px">
</div>
<script src="~/Scripts/Confirm.js"></script>
<script type="text/javascript">
    var campaignId = @ViewBag.CampaignId;
    var acquisitionList = @(acquisitionList ? "true" : "false");
    var confirmViewModel = new Confirm();
    kendo.bind("#confirm", confirmViewModel);
</script>
<script src="~/Scripts/GridResizer.js?version=1" type="text/javascript"></script>
@if (Model.View == "Acquisition")
{
<script src="~/Scripts/search/employee.js?version=5" type="text/javascript"></script>
<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<script src="~/Scripts/campaignemployees/SearchViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/campaignemployees/StatesAcquisition.js" type="text/javascript"></script>
}
else if (allowedToEdit)
{
    <script src="~/Scripts/campaignemployees/StatesWorkers.js?version=1" type="text/javascript"></script>
}
else
{
    <script>
        var states = [
            { value: "Any", text: "Jeder Status (Gesamtliste)" },
        ];
    </script>
}
<script src="~/Scripts/campaignemployees/CampaignEmployeesViewModel.js?version=28" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="~/Scripts/search/geocode.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    (function() {
        var consoleEl = document.getElementById("sk-console"),
            origLogMessageFun = window.logMessage;

        function scrollToBottom() {
            consoleEl.scrollTop = consoleEl.scrollHeight;
        }

        function newline() {
            consoleEl.appendChild(document.createElement("br"));
            scrollToBottom();
        }

        function writeline(txt, cssClassName) {
            var time = document.createElement("span"),
                span = document.createElement("span");
            time.innerText = kendo.toString(new Date(), 'HH:mm:ss.fff') + " ";
            time.style.color = 'white';
            span.innerText = txt;
            span.className = cssClassName || "";
            consoleEl.appendChild(time);
            consoleEl.appendChild(span);
            newline();
        }

        window.logMessage = function(msg) {
            writeline(msg, " k-error-colored");
            origLogMessageFun(msg);
        };

        window.cwl = writeline;

        writeline("Ereignisanzeige gestartet");

        window.onerror = function(msg, url, line, col, error) {
            // Note that col & error are new to the HTML 5 spec and may not be 
            // supported in every browser.  It worked for me in Chrome.
            var extra = !col ? '' : '\ncolumn: ' + col;
            extra += !error ? '' : '\nerror: ' + error;

            // You can view the information in an alert to see things working like this:
            writeline(msg + " \nline: " + line + extra, 'k-error-colored');
        };
    })();
</script>