﻿@model NewToolMailSender.Models.StartMailModel
@{
    Layout = null;
    var codeLink = "<a href=\"https://www.advantage-promotion.de/Start/" + Model.StartCode + "\">www.advantage-promotion.de</a>";
}
<html>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #F0F0F0">
            <tr>
                <td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="675" style="background-color: #FFF">
					    <tr>
                            <td width="25"></td>
					        <td width="625"><img src="cid:image001.jpg" /></td>
                            <td width="25"></td>
					    </tr>
					    <tr>
					        <td width="25"></td>
					        <td width="625">
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Hallo @Model.Firstname,
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                ab sofort ist unsere neue Promoterseite online, um Dir die Zusammenarbeit mit uns noch einfacher zu machen!
					                <br /><br />
					                Zukünftig hast Du von der Profilpflege bis zur Reportingeingabe mit einem Login alles auf einen Blick:
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Dein Profil</span><br />
					                Hier kannst Du Deine persönlichen Daten pflegen. Schau doch mal rein, ob noch alles auf dem neuesten Stand ist.
					                <br /><br />
					                Ein aktuelles Profil hilft uns, Dir regelmäßig passende Jobs anbieten zu können.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Jobangebote</span><br />
					                Hier kannst Du aktuelle Jobangebote einsehen, ausführliche Informationen anfordern und Dich direkt auf spannende Jobs bewerben.
					                <br /><br />
					                Du bist schon im Team oder der Bewerbungsprozess dauert noch an? All dies siehst Du jederzeit online! Auch Aufträge lassen sich hier ganz einfach mit einem Klick bestätigen!
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Deine Aktionen</span><br />
					                Job-Info, Auftrag, Schulung und Ansprechpartner: nach Deiner Auftragsbestätigung kannst Du über „Deine Aktionen“ alle wichtigen Details zur Aktion aufrufen.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Deine Einsätze</span><br />
					                Hier siehst Du, an welchen Tagen wir Dich eingeplant haben und kannst diese Einsätze mit einem Klick bestätigen!
					                <br /><br />
					                Lade Dir den Termin herunter, schau wer Dein Ansprechpartner ist, plane Deine Anfahrt über Google maps... und im Aktionstage-Archiv kannst Du einsehen, welche Aktionstage Du bereits durchgeführt hast!
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Fehlende Reportings</span><br />
					                Noch nicht ausgefüllte Reportings werden hier für Dich aufgelistet. Per Klick gelangst Du direkt zur Reporteingabe!
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Mobile Check-in</span><br />
					                Alternativ zu den Check-Faxen kannst Du Dich am Aktionstag demnächst auch über unsere mobile Webseite per Smartphone anmelden.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Haben wir Dich neugierig gemacht?</span><br />
					                Deine persönliche advantage-Seite erreichst Du unter folgendem Link:
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                @Raw(codeLink)
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Dein Benutzername lautet: <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">@Model.UserName</span>
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Wähle für den ersten Login bitte Dein neues Passwort.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Alle Funktionen der neuen Seite erklären wir in kurzen Videos über den „Hilfe“-Link.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">Du bist nicht mehr als Promoter aktiv?</span><br />
					                Mit wenigen Klicks kannst Du über den oben genannten Link Dein gespeichertes Profil löschen.
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Was die Datenbank noch alles kann erfährst du hier:
					                <a href="https://www.advantage-promotion.de/home/hilfe">www.advantage-promotion.de/home/hilfe</a>
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Wir hoffen, dass Dir die neue Seite genauso gut gefällt wie uns und freuen uns auf eine tolle Zusammenarbeit!
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Dein advantage Marketingservice Team
					            </p>
					            <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
					                advantage<br />
					                Marketingservice GmbH
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Widenmayerstraße 18<br />
					                D-80538 München
					            </p>
					            <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
					                Geschäftsführung:<br />
					                Dipl.-Kauffrau Nina Schönberg<br />
					                Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
					            </p>
					        </td>
                            <td width="25"></td>
					        @*<td width="175"></td>
					        <td width="164"></td>*@
					    </tr>
					</table>
                    <table border="0" cellpadding="0" cellspacing="0" width="675" style="background-color: #FFF">
                        <tr>
                            <td width="25"></td>
                            <td width="486"></td>
                            <td width="164"><img src="cid:image002.jpg" /></td>
                            @*<td width="175"></td>*@
                        </tr>
                    </table>
				</td>
            </tr>
        </table>
    </body>
</html>

