﻿.column {
  width: 275px;
  margin-right: 10px;
}
.column + .column + .column {
  margin: 0;
}
.editor-label {
  margin-top: 10px;
}
.editor-field label {
  font-weight: normal;
}
.editor-field .k-textbox,
.editor-field .k-dropdown,
.editor-field .k-multiselect,
.editor-field .k-combobox {
  width: 264px;
}
.editor-field .k-numerictextbox.narrow,
.editor-field .k-textbox.narrow {
  width: 84px;
}
.k-tabstrip .k-content {
  width: 940px;
  height: 350px;
  overflow-y: auto;
}
#search-window .k-grid {
  width: 971px;
}
/* Dieses Style wirkt sich leider auf beide Menüs aus, also das bei Search und das in der eigentlichen Liste */
/*li.k-columns-item {
    ul { 
        width: 810px; height: 510px;
        li.k-item { float: left !important; width: 25% }
    }
}*/
.pac-container {
  z-index: 100000;
}
#postalCodeLabel span {
  cursor: pointer;
}
tr.worker-list {
  color: #808080;
}
tr.blocked-promoter {
  background-color: lightcoral;
}
tr.inactive-promoter {
  background-color: orange;
}
#a td:nth-child(2),
#a td:nth-child(3),
#a td:nth-child(4),
#a th:nth-child(4) span {
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
}
#a.k-grid td {
  white-space: nowrap;
}
#a tr {
  height: 37px !important;
}
.details-link {
  float: left;
}
.attention {
  background-image: url(icons/16x16/actions/soft_attention.png);
  width: 16px;
  height: 16px;
  float: right;
}