﻿#actions {float:left}
#filter {float:right}

.assignments > div { display: table; width: 100%; }
.assignment { border: 0.2em solid #000000; display: table-cell; }
.assignment + .assignment { margin-top: 0.4em }
.assignment.red { border-color: red }
.assignment.green { border-color: lime }
.assignment.purple { border-color: purple }
.assignment.pink { border-color: #ff1493 }
.assignment.blue { border-color: blue }
.assignment.yellow { border-color: yellow }
.assignment .employee {cursor: pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;padding: 0 0.1em;  }
.assignment .employee:hover { text-decoration: underline }
.assignment .employee.empty-slot {font-style: italic}
.assignment.fully-assigned .empty-slot { display: none }

/* Wenn mehrere Promoter an einem Tag eingesetzt werden diese einzeln einfärben... */
.employee.red { font-weight: bold }
.team .employee.red { color:  red }
.team .employee.green { color:  lime }
.team .employee.pink { color:  #ff1493 }
.team .employee.blue { color:  blue }
/*... es sei denn es ist eine Anwesenheit gesetzt, dann schwarz nehmen, das geht leider nur mit diesem langen selector */
.employee.attendance-1.red,
.employee.attendance-1.green,
.employee.attendance-1.pink,
.employee.attendance-1.blue,
.employee.attendance-2.red,
.employee.attendance-2.green,
.employee.attendance-2.pink,
.employee.attendance-2.blue,
.employee.attendance-3.red,
.employee.attendance-3.green,
.employee.attendance-3.pink,
.employee.attendance-3.blue {color: #000000 !important}


.k-grid td.small-padding {padding: 0.2em 0.2em; min-width: 200px}

#a .k-grid-content td { vertical-align: top; }
#a .k-grid-content td:nth-child(1) div { height: 3.0em; }
/* Die  generell wollen wir keinen overflow... */
#a .k-grid-content td div { overflow: hidden; }
/* Außer bei den Aktionstag-Divs */
#a .k-grid-content td div.assignments { overflow: auto; }
#a .k-grid-content tr:last-child td { padding-bottom: 20px; }


.highlight { background-color: #58a1ff }

/*Styling der Konflikte-Box*/
#conflicts-window { width: 100em}
#conflicts-window > div:first-child {background:#DAECF4;margin: -7px -7px 0;padding: 7px;border-bottom:1px solid #94C0D2}
#conflicts-window #conflicts-grid {margin: 20px 0}

/*Zeile zum hervorheben der Lademaske*/
html body #main .k-grid .k-grid-content .k-loading-mask {z-index:99999;position:fixed;top:0;left:0;right:0;bottom:0}

#create-assignment-window .k-block span { font-weight: bold }
#create-assignment-window .k-block { margin-bottom: 1em }

.k-multiselect > span { display:none }

#employee-editor-window .k-block, #employee-select-window .k-block  {
    line-height: 20px;
    margin-bottom: 6px;
}

#a td { font-size: 10px }

.with-note {
    display: inline-block;
    background-image: url(icons/16x16/mimetypes/txt.png);
    width: 16px;
    height: 16px;
}

.marker-1 {
    display: inline-block;
    background-image: url(icons/16x16/actions/soft_attention.png);
    width: 16px;
    height: 16px;
}