﻿#assignments-table td{vertical-align:top;margin-top:5px}
#assignments-table .assignment-card{margin-bottom:4px}
#assignments-table .assignment-card ul{list-style:none;margin:0;padding:0;width:240px}
#assignments-table .assignment-card .ui-widget-header{background:transparent url(images/ui-bg_gloss-wave.png) 50% 50% repeat-x;min-width:84px}
#assignments-table .assignment-card .ui-widget-header.red{background-color:red}
#assignments-table .assignment-card .ui-widget-header.green{background-color:lime}
#assignments-table .assignment-card .ui-widget-header.purple{background-color:purple}
#assignments-table .assignment-card .ui-widget-header.orange{background-color:orange}
#assignments-table .assignment-card .ui-widget-header.yellow{background:transparent url(images/ui-bg_gloss-wave-yellow.png) 50% 50% repeat-x;color:#555}
#assignments-table .assignment-card div .employee-name{width:200px;line-height:22px;overflow:hidden;float:left}
#assignments-table .assignment-card div .employee-name.orange{color:orange}
#assignments-table .assignment-card div .employee-actions{float:right;right:30px}

div.assignment-column{ margin-right: 4px;width: 250px; overflow: hidden}
div.assignment-first-column{margin-top:1px;margin-right:4px;margin-bottom:4px;width: 200px;overflow: hidden}
div.assignment-first-column.locations{margin-top:0}

div.promoter-info-box{height:670px;padding:4px}
#assignPromoterForm table {margin: 0}
div.draggable{cursor:pointer}
div.droppable.ui-state-active{border-color:red}
#Week{float:right}
div.slider-wrapper{padding:0 44px}
div.slider-wrapper dd span.ui-slider-label{text-align:center}
div.slider-wrapper dt{padding-top:1.2em}

/*#promoter-info div.header {border-bottom: 1px solid black}*/
#promoter-info div.body {overflow: auto; height: 400px; margin-top: 4px}


.assignment-first-column.green{background:lime !important}
.assignment-first-column.yellow{background:orange !important}