.attendance-1, .attendance-InTime { background-color: #90EE90 !important; }
.attendance-2, .attendance-Late { background-color: #FFFF00 !important; }
.attendance-3, .attendance-DidNotAttend { background-color: #FF8585 !important; }