﻿.attendance-icon { 
    background: url(icons/16x16/actions/attendance_icons.png) no-repeat;
    background-position: 48px 0;
    display: inline-block;
    margin-top: 5px;
    width: 16px;
    height: 16px;
}

.attendance-icon.Fax { 
    background-position: -32px 0; 
}
.attendance-icon.Mobile { 
    background-position: -16px 0; 
}
.attendance-icon.People { 
    background-position: 0 0; 
}