﻿html,body{height:100%;overflow:hidden}

#vSplitter{border:0;width:100%;height:100%;overflow:hidden}
#hSplitter{border:0;overflow:hidden}
#main{padding:10px}

form{display:inline}

.editor-field input,.editor-field select,#tabs input,#tabs select,#tabs textarea{margin:0}
.editor-seperator{margin:12px 0 10px 0;border-top:1px black dotted;width:260px}
.editor-seperator2{margin:51px 0 10px 0;border-top:1px black dotted;width:260px}
.input-validation-error{border-color:red!important;background-color:#fff0f0!important}
input[type=checkbox].input-validation-error{border:solid 2px red}
.field-validation-error{color:red!important}
.editor-for input,.editor-for select,.editor-for textarea{width:260px;border:1px solid #BBB;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif}
input[type=radio]{border:0}
input.normal{width:60px}
textarea {margin:0;padding:0;height:61px}
input[type=checkbox]{width:auto;margin-right:4px}


.ui-datepicker-calendar thead th{background-color:inherit}
.ui-multiselect-menu.menu-width-auto,.ui-multiselect-menu input{width:auto!important}
.ui-tabs .ui-tabs-panel{padding:1em 1.2em!important}
div.smallSpacer{height:10px}
div.mediumSpacer{height:20px}
div.largeSpacer{height:40px}
table thead tr td{font-weight:bold}
iframe{width:100%;height:100%;border:0}

#pager{padding:6px}
#pager input{width:24px}

div.ui-widget-header.sk-widget-header,div.ui-widget-content.sk-widget-content{padding:4px}

#cform .ui-tabs-panel{overflow:auto;height:245px}
.vspace20px{height:20px}
.validation-summary-errors{color:red}
.validation-summary-errors ul{display:inline-block}
.validation-summary-errors ul li{float:left;width:30em}

#cl .t-grid-content{width:auto!important}
.t-grid table{margin:0}
tr.selected{background-color:#d3efd3}
tr.selected.t-alt{background-color:#c0dac0}
.vertical-seperator{border-right:1px solid #384E73;margin:0 4px}
select.wide{width:400px}
table.fc-header{margin:0}
.fc-grid .fc-event-time{display:inline-block}
div.inline-block{display:inline-block}
.deleted{background:url(images/deleted.png)}
.conflict{color:red}

.calendar-selected { background-color: #555;color: #fff;  }
.calendar-selected span { color: #fff;  }

.buttonPrev{ float: left; margin-top: 10px; margin-left: 20px; }
.buttonNext{ float: right; margin-top: 10px; margin-right: 30px; }
ol.wizard { float: left; margin-top: 10px; margin-left: 0px; }
ol.wizard li { float: left;margin-left: 30px; }

.editor-column { float: left;width: 300px;margin-right: 10px;}
.editor-column.full-width {width: 100%}
.editor-column.full-width textarea {width: 100%}

div.sk-info-icon {margin-left: 4px; display: inline-block; width: 16px;height: 16px; background-image: url(/Content/icons/16x16/actions/info.png) }
input[type=radio].small { width: 50px; }
table.zebra tr:nth-child(even) { background-color:  lightgrey}

/*Kendo SK Multiselect*/
div.k-list-container.k-popup {padding-top: 2.3em}
div.k-list-container.k-popup > div:first-child{ position: absolute;left: 0;top: 0;right: 0;padding: 5px 10px;background: none no-repeat scroll 0 0 rgba(100, 100, 100, 0.25);border-bottom: 1px solid #ddd;}
div.k-list-container.k-popup .k-list .k-item:nth-child(2n + 1) {background: none repeat scroll 0 0 rgba(200, 200, 200, 0.25);}

.k-checkbox.input-validation-error + .k-checkbox-label { color: red }

label + img.tooltip-icon { float: right;padding-bottom: 2px}

.k-tooltip-content {
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
    color: black;
    background-color: white
}

.k-tooltip-content .example {
    color: red;
}