﻿    label[for=ContactPMName1] {
        margin-top: 10pt;
        display: inline-block;
    }

    label[for=ContactPMName2] {
        margin-top: 20pt;
        display: inline-block;
    }

    label[for=ContactPMName3] {
        margin-top: 20pt;
        display: inline-block;
    }

    label[for=ContactPMName4] {
        margin-top: 20pt;
        display: inline-block;
    }

    #ContactPMRemark4 {
        margin-bottom: 10pt;
        display: inline-block;
    }

    label[for=ContactADName1] {
        margin-top: 10pt;
        display: inline-block;
    }

    label[for=ContactADName2] {
        margin-top: 20pt;
        display: inline-block;
    }

    label[for=ContactADName3] {
        margin-top: 20pt;
        display: inline-block;
    }

    label[for=ContactADName4] {
        margin-top: 20pt;
        display: inline-block;
    }

    #ContactADRemark4 {
        margin-bottom: 10pt;
        display: inline-block;
    }
