﻿#confirm { position: fixed; left: 0; top: 0; right:0;bottom:0;width:100%;height:100%;z-index: 999999; background: rgba(0,0,0,0.5) }
#confirm-content { width: 41em;height:86px;position:absolute; top:50%;left:50%;margin:-43px 0 0 -20.5em;padding:10px }
#confirm-content .k-button { float:right;margin-left:3px }
