﻿body { font-size: 5.3mm;margin: 0;padding: 0; }
h1 { font-size: 8mm;padding-bottom: 5mm; }
h2 { font-size: 6.5mm; padding-bottom: 5mm}
table { page-break-inside: avoid; }
p { page-break-inside: avoid; }
table th, table td { font-size: 5.3mm; }