﻿#main {
    padding-bottom: 0;
    padding-top: 0;
}

.editor {
    float: left;
    overflow: auto;
    width: 500px;
    & + iframe {
        width: 220mm;
        margin-left: 10px;
        border: 1px solid royalblue;
        float: left;
    }
    .k-content { height: 50px !important; }
}

.label {
    padding: 4px;
    font-weight: bold;
    width: 170px;
    vertical-align: top;
    float: left;
    line-height: 24px;
}

.label + div {
    float: left;
    width: 296px;
    input[type=text] {
        width: 296px;
    }
}

.k-editor {
    height: 50px !important;
}