﻿body {
    background-color: transparent;
    color: black;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 11pt;
    width: 210mm;
}

table th, table td { font-size: 11pt; }

h1 { 
    margin-top: 22pt;
    margin-bottom: 56pt;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 58pt;
}

.strong { font-weight: bold; }
table { border: 0; border-spacing: 0 3mm }

th {
    vertical-align: top;
    text-align: left;
    width: 50mm;
    padding-right: 10mm;
}

td {
    vertical-align: top;
}