﻿#assignmentTemplate1{margin-bottom:0}
#assignmentTemplate1 th{width:60px}
#assignmentTemplate1 td{padding:0 0 0 5px;width:120px}
#assignmentTemplate1 td.last{width:auto;border:0}
#assignmentTemplate2{margin-bottom:0;border-top:1px solid #a5c8e1}
#assignmentTemplate2 th{width:70px}
#assignmentTemplate2 td{border-left:1px solid #a5c8e1;padding:0 0 0 4px;width:120px}
#assignmentTemplate2 td.last{width:auto;border:0}
#assignmentTemplate2 tr.last th{border-bottom:1px solid #a5c8e1}
#assignmentTemplate2 tr.last td{border-bottom:1px solid #a5c8e1}
#date-generator-submit-button{margin:4px}

#date-generator > div { float: left;height: 270px; }
#date-generator .k-block { margin-right: 10px;}
#date-generator .k-block table { width: auto; }
#date-generator .k-timepicker, #date-generator .k-numerictextbox { width: 80px }
#date-generator .k-grid { width: 330px; }
