body { background: #EBEBEB }
div#footer { background:#AADDFF; border-top: 2px solid gray;height: 100%;text-align: center;}
.header { height: 45px; background: #AADDFF;padding: 15px;color:#fff}
.header h1 { float: left;margin-top: 5px;color:#fff}
#advantage-logo { float: right; height: 100%; }
#header-logo { background: #AADDFF url(images/1_Logo_RGB.png) no-repeat 0 center; float: right;width: 225px; height: 80% }
#logindisplay {float:right;margin:30px 20px 0;}
#header-content { float: left;position: relative; top: 20px; color: #5E5E5E; font-size: 14px; font-weight: bold; text-decoration: none; }
#header-content a { color: #000; text-decoration: none}
#header-content a:hover { color: #fff; text-decoration: underline }
.with-margin {margin-top: 35px}