.connectedSortable{margin:0;padding:0;float:left;margin-right:10px}
ul.connectedSortable{list-style-type:none}
ol.connectedSortable{padding-bottom:40px}
.connectedSortable li{margin:3px 3px 0 0;padding:1px 2px;float:left;width:115px;height:30px;font-size:.9em}
#propertySelector{margin:10px 0;padding:10px;display:none}
#propertySelector li{cursor:move}