﻿.rating-table {
    td, th { vertical-align: top; border: none !important }
    .k-numerictextbox { width: 80px; }
    textarea { height: 200px; width: 250px; }
    h1 { 
        color: red;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold
    }
    h2 {
        font-size: 12px;
        font-weight: bold
    }
    th, label {
        font-weight: normal;
    }
    .table-header th { 
        font-weight: bold;
        font-style: italic;
    }
}