﻿.rating-table td,
.rating-table th {
  vertical-align: top;
  border: none !important;
}
.rating-table .k-numerictextbox {
  width: 80px;
}
.rating-table textarea {
  height: 200px;
  width: 250px;
}
.rating-table h1 {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.rating-table h2 {
  font-size: 12px;
  font-weight: bold;
}
.rating-table th,
.rating-table label {
  font-weight: normal;
}
.rating-table .table-header th {
  font-weight: bold;
  font-style: italic;
}