﻿body {
    background-color: transparent;
    color: black;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 5.3mm;
    width: 297mm;
}

h1 { 
    font-size: 8mm;
    font-weight: bold;
}

table {
    border: 0;
    border-spacing: 0 3mm;
}

th, td {
    font-size: 5.3mm;
    vertical-align: top;
}

th {
    text-align: left;
    width: 48mm;
    padding-right: 5mm;
}

td {
    overflow: hidden;
    width: 100mm;
}

#left {
    float:left;
    width: 45%;
    img {
        vertical-align: top
    }
}

#right {
    margin-left: 45%;
}

.pre {
    white-space: pre-wrap;
}