﻿@using MasterInstance.Areas.CM.Models
@model int?
@{
    var campaignId = Model;
}
@section head
{
    <script type="text/javascript" src="~/Scripts/attendance/AttendanceSelectionViewModel.js?version=3"></script>
    <link rel="stylesheet" type="text/css" href="@Links.Content.attendanceicon_css" />
    <link rel="stylesheet" type="text/css" href="@Links.Content.attendance_css" />
    <style>
        #filter .campaign, #filter .date, #filter .timespan {display: inline-block;vertical-align: top;margin-bottom: 0.5em }
        #filter .campaign { width: 50em; }
        #filter .date, #filter .timespan { width: 13em; }
        .open-note {display: inline-block; width: 16px; height: 16px; cursor: pointer}
        .with-note { background-image: url(/Content/icons/16x16/mimetypes/txt.png); }
        .marker-1 { background-image: url(/Content/icons/16x16/actions/soft_attention.png); }
        #notes { width: 300px;height: 60px;margin-bottom: 4px; }
    </style>
}
<h3>@ViewBag.Title</h3>
<div id="filter">
    @if (campaignId == null)
    {
        <div class="campaign">
            <label for="campaign-select">Aktion(en) wählen</label>
            <input id="campaign-select"
                   data-role="multiselect"
                   data-filter="contains"
                   data-text-field="Text"
                   data-value-field="Value"
                   data-bind="visible: selectVisible, value: campaignIds, source: campaignSource, events: {change: onItemsChange}"
                   data-auto-bind="false"
                   style="width: 49em" />
        </div>
    }
    <div class="date">
        <label for="date-select">Nach Tag filtern</label>
        <select id="date-select"
                data-role="dropdownlist"
                data-bind="value: dateFilter, source: dateSource, events: { change: onItemsChange }"
                data-text-field="Text"
                data-value-field="Value"></select>
    </div>
    <div class="timespan" data-bind="visible: customTimeSpanVisible">
        <label for="date-from">Ab Datum (einschließlich)</label>
        <input id="date-from" type="date" data-role="datepicker" data-bind="value: dateFrom, events: { change: onItemsChange }" />
    </div>
    <div class="timespan" data-bind="visible: customTimeSpanVisible">
        <label for="date-til">bis Datum (einschließlich)</label>
        <input id="date-til" type="date" data-role="datepicker" data-bind="value: dateTil, events: { change: onItemsChange }" />
    </div>
</div>
<div id="extraPager"></div>
@{
    var profileLinkRouteValues = new RouteValueDictionary();
    profileLinkRouteValues.Add("Area", "MD");
    Html.Kendo().Grid<AttendanceViewModel>()
        .Name("attendance")
        .Sortable(e => e.SortMode(GridSortMode.MultipleColumn))
        .Pageable(e => e.PageSizes(new[] {10, 25, 50, 75, 100}).Enabled(true))
        .Filterable()
        .DataSource(src => src.Ajax()
            .Model(model =>
            {
                model.Id("Campaign");
                model.Field(e => e.Campaign).Editable(false);
                model.Field(e => e.FirstName).Editable(false);
                model.Field(e => e.Name).Editable(false);
                model.Field(e => e.Username).Editable(false);
                model.Field(e => e.DateStart).Editable(false);
                model.Field(e => e.DateEnd).Editable(false);
                model.Field(e => e.LocationName).Editable(false);
                model.Field(e => e.Street).Editable(false);
                model.Field(e => e.Zip).Editable(false);
                model.Field(e => e.City).Editable(false);
                model.Field(e => e.Type).Editable(false);
                model.Field(e => e.Marker).Editable(false);
            })
            .ServerOperation(true)
            .PageSize(50)
            .Batch(true)
            .Read(read => read.Action("_Read", "Attendance").Data("function() { return attendanceSelectionViewModel.gridParams();}"))
            .Update(update => update.Action("_Update", "Attendance")))
        .Editable(e => e.Mode(GridEditMode.InCell))
        .ToolBar(tb => tb.Save())
        .Events(e => e.DataBound("colorRow"))
        .Columns(columns =>
        {
            columns.Bound(e => e.Type).ClientTemplate("<span # if(Type == 'Mobile') { # title=\"#= kendo.format('{0:d} - {0:t}', MobileCheckInDate) #\" # } #  class=\"attendance-icon #=Type||''#\"></span>").Width(22).Title("Typ");
            columns.Bound(e => e.Campaign).Title("Aktion");
            columns
                .Bound(e => e.FirstName)
                .ClientTemplate("<a href='" + Url.Content("~/MD/PromoterProfile/") + "/#= EmployeeId #' target='_blank'>#= FirstName #</a>")
                .Title("Vorname");
            columns
                .Bound(e => e.Name)
                .ClientTemplate("<a href='" + Url.Content("~/MD/PromoterProfile/") + "/#= EmployeeId #' target='_blank'>#= Name #</a>")
                .Title("Nachname");
            columns.Template(e => e.Username).ClientTemplate("#= Username #").Title("Gesetzt durch");
            columns.Bound(e => e.DateStart).Format("{0:d} - {0:t}").Title("Beginn").Filterable(false);
            columns.Bound(e => e.DateEnd).Format("{0:d} - {0:t}").Title("Ende").Filterable(false);
            columns
                .Bound(e => e.LocationName)
                .ClientTemplate("<a href='" + Url.Action(MVC.Location.Edit()) + "/#= LocationId #' target='_blank'>#= LocationName #</a>")
                .Title("Aktionsort");
            columns.Bound(e => e.Street).Title("Straße");
            columns.Bound(e => e.Zip).Title("PLZ");
            columns.Bound(e => e.City).Title("Stadt");
            columns.Bound(e => e.LocationContact).Title("ASP Markt");
            columns.Bound(e => e.LocationContactPhone).Title("Telefon ASP");
            columns
                .Bound(e => e.Marker)
                .ClientTemplate("<span class=\"open-note #= Notes ? 'with-note' : '' # marker-#= Marker #\"></span>")
                .Width(30)
                .Filterable(false)
                .Title("");
            columns.Bound(e => e.Remark).Title("Bemerkung");
            columns.Bound(e => e.Attendance).Title("Anwesenheit");
        })
        .Render();

    Html.Kendo().Window()
        .Name("notes-window")
        .Title("Notizen zum Aktionstag")
        .Content(@<text>
                     <textarea id="notes" class="k-textbox" data-bind="value: notes"></textarea>
                     <input type="checkbox" id="marker" class="k-checkbox" data-bind="checked: marker">
                     <label class="k-checkbox-label" for="marker" style="vertical-align: top">Aktionstag markiert</label><br/>
                     <button class="k-button" data-bind="click: save">Speichern</button>
                     <button class="k-button" data-bind="click: cancel">Abbrechen</button>
                  </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    if (campaignId == null)
    {
        using (Html.BeginForm(MVC.CM.Export.Attendance()))
        {
            
        }
        <div id="export" class="k-block" style="margin-top: 1em">
            <div class="k-header">Anwesenheiten als Excel-Datei exportieren</div>
            <input type="submit" class="k-button" value="Oben gewählte Aktion(en) und Zeitraum exportieren" data-bind="events: { click: exportCampaignClick }" />
            <label style="margin-left: 2em">Promoter</label>
            <select data-role="combobox"
                    data-text-field="FullName"
                    data-value-field="Id"
                    data-min-length="3"
                    data-suggest="true"
                    data-filter="contains"
                    data-bind="value: employee, source: employeeSource"
                    name="employeeId"
                    style="width: 250px"></select>

            <input type="submit" class="k-button" value="Anwesenheiten des Promoters (alle Aktionen im gewählten Zeitraum) exportieren" data-bind="events: { click: exportEmployeeClick }" />
        </div>
    }
}
<script type="text/javascript">
    var attendanceSelectionViewModel = new AttendanceSelectionViewModel(@campaignId);
    kendo.bind($("#filter"), attendanceSelectionViewModel);
    kendo.bind($("#export"), attendanceSelectionViewModel);

    $(document).ready(function () {
        var grid = $("#attendance"),
            notesViewModel = new NotesViewModel("#notes-window", "#attendance");

        kendo.bind($("#notes-window"), notesViewModel);
        grid.find(".k-grid-pager").insertAfter(grid.children(".k-grid-toolbar"));
        grid.on("click", ".open-note", function (e) {
            var row = $(e.target).closest("tr"),
                dataItem = grid.data("kendoGrid").dataItem(row);

            notesViewModel.set("assignmentId", dataItem.AssingmentId);
            notesViewModel.set("notes", dataItem.Notes);
            notesViewModel.set("marker", dataItem.Marker === 1);
            $("#notes-window").data("kendoWindow").center().open();
        });
    });
</script>