﻿@model string[]
@{
    Layout = null;
}
<html>
<body>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Der Promoter @ViewBag.Promoter hat sich im Projekt @ViewBag.Campaign für folgende Aktionsorte/-tage beworben:
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        @foreach (var entry in Model)
        {
            @entry<br/>
        }
    </p>
</body>
</html>


