﻿@model PromoterInstance.Controllers.AssignmentMailData
@{
    Layout = null;
}
<html>
<body>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Hallo @Model.Firstname,
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        folgende Einsatztage  wurden durch Dich bestätigt:
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        @foreach (var entry in Model.Assignments)
        {
            @entry<br />
        }
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Eine Übersicht über Deine Einsatztage findest Du auch auf Deiner advantage people Seite.
        <a href="http://www.advantage-promotion.de/#einsaetze">www.advantage-promotion.de/#einsaetze</a>
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Viele Grüße<br />
        Dein advantage-Team
    </p>
    <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
        advantage<br />
        Marketingservice GmbH
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Widenmayerstraße 18<br />
        D-80538 München
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Geschäftsführung:<br />
        Dipl.-Kauffrau Nina Schönberg<br />
        Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
    </p>      
</body>
</html>
