﻿@model PromoterInstance.Models.LostPasswordMailModel
@{
    Layout = null;
    var passwordLink = "https://www.advantage-promotion.de/Account/NewPassword/" + Model.PasswordResetCode;
}
<html>
<body>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Hallo @Model.Firstname,
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Du hast bei <a href="https://www.advantage-promotion.de">advantage-promotion.de</a> ein neues Passwort
        für Deinen Promotoren-Zugang angefordert.
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Bitte folge dem unten stehenden Link, um ein neues Passwort zu setzen:<br/>
        <a href="@passwordLink">@passwordLink</a>
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Dein Benutzername lautet: @Model.Username
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Viele Grüße<br />
        Dein advantage-Team
    </p>
    <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
        advantage<br />
        Marketingservice GmbH
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Widenmayerstraße 18<br />
        D-80538 München
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Geschäftsführung:<br />
        Dipl.-Kauffrau Nina Schönberg<br />
        Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
    </p>
</body>
</html>