﻿@model SeismitoadModel.Employee
@{
    Layout = null;
    var url = "https://pm.permedia-report.de/MD/PromoterProfile/" + Model.Id;
}
<html>
<body>
<p style="font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11pt;">
    @Model.Firstname @Model.Lastname hat seinen Account gelöscht.
</p>
<p>
    Der Promoter wurde auf den Status 'inaktiv' gesetz! Bitte überprüfen, ob er noch in einem Projekt aktiv ist oder noch Rechnungen von ihm offen sind.
</p>
<p>
    Link zum Promoterprofil: <a href="@url">@url</a>
</p>
</body>
</html>