﻿@model SeismitoadModel.Employee
@{
    Layout = null;
}
<html>
<body>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Hallo @Model.Firstname,
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        vielen Dank für deine Registrierung in unserer Datenbank und für Dein Interesse an einer Zusammenarbeit mit unserer Agentur!
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Mit Deinen bei der Registrierung angegebenen Zugangsdaten kannst Du Dich in Zukunft einloggen und Änderungen bzw. Neuerungen vornehmen.
        Die Aktualität Deines Profils ist sehr wichtig, um Dir immer passende Jobs anbieten zu können.
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Über das Portal kannst Du Dich online auf aktuelle Jobs bewerben und bekommst eine Übersicht über alle Einsätze für die du gebucht bist.
        Aufträge werden zukünftig über das System verschickt und bestätigt.
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Was die Datenbank noch alles kann erfährst du hier:
        <a href="http://www.advantage-promotion.de/home/hilfe">www.advantage-promotion.de/home/hilfe</a>
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Wir freuen uns auf eine gute Zusammenarbeit!
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Viele Grüße<br />
        Dein advantage-Team
    </p>
    <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
        advantage<br />
        Marketingservice GmbH
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Widenmayerstraße 18<br />
        D-80538 München
    </p>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Geschäftsführung:<br />
        Dipl.-Kauffrau Nina Schönberg<br />
        Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
    </p>
</body>
</html>
