﻿@using MasterInstance
@using MasterInstance.Models.ViewModels
@model SeismitoadModel.Location

@{
    Layout = null;
    var isHidden = (bool)ViewBag.Hidden;
}           

<div class="employee-card">
    @{
        if (!isHidden)
        {
            <div>
                <div>
                    @Html.DisplayFor(m => m.Name)<br/>
                    @Html.DisplayFor(m => m.Name2)<br/>
                    <small>
                        @Html.DisplayFor(m => m.Notes)
                    </small>
                </div>
            </div>
            <div class="grey-line"></div>
            <div style="display: inline-block">
                <div>
                    @Html.LabelFor(e => e.Street)
                    <br/>
                    @Html.DisplayFor(e => e.Street)
                    <br/>
                    @Html.LabelFor(e => e.Street2)
                    <br/>
                    @Html.DisplayFor(e => e.Street2)
                    <br/>
                    @Html.LabelFor(e => e.PostalCode)
                    <br/>
                    @Html.DisplayFor(e => e.PostalCode)
                    <br/>
                    @Html.LabelFor(e => e.City)
                    <br/>
                    @Html.DisplayFor(e => e.City)
                    <br/>
                </div>
                <div>
                    @Html.LabelFor(e => e.Phone)
                    <br/>
                    @Html.DisplayFor(e => e.Phone)
                    <br/>
                    @Html.LabelFor(e => e.Fax)
                    <br/>
                    @Html.DisplayFor(e => e.Fax)
                    <br/>
                    @Html.LabelFor(e => e.Email)
                    <br/>
                    @Html.DisplayFor(e => e.Email)
                    <br/>
                </div>
            </div>
            if (Model.Contacts.Any())
            {
                @(Html.Telerik().TabStrip().Name("Contact-Tabstrip")
                .SelectedIndex(0)
                .Items(items =>
                    {
                        var counter = 1;
                        foreach (var contact in Model.Contacts)
                        {
                            items.Add().Text("Ansprechpartner " + counter).Content(@<text>
                                                                                        <label>Anrede</label>
                                                                                        <br/>
                                                                                        @(contact.Title)
                                                                                        <br/>
                                                                                        <label>Name</label>
                                                                                        <br/>
                                                                                        @(contact.Firstname + " " + contact.Lastname)
                                                                                        <br/>
                                                                                        <label>Funktion</label>
                                                                                        <br/>
                                                                                        @(contact.Type)
                                                                                        <br/>
                                                                                        <label>Telefon</label>
                                                                                        <br/>
                                                                                        @(contact.Phone)
                                                                                        <br/>
                                                                                        <label>E-Mail</label>
                                                                                        <br/>
                                                                                        @(contact.Email)
                                                                                        <br/>
                                                                                    </text>);
                            counter++;
                        }

                    }))
                    
            }
        }
    }
</div>