﻿@using MasterInstance
@using SeismitoadModel
@model SeismitoadModel.Location
    
@{
    ViewBag.Title = "Ort erstellen";
    using (Html.BeginForm())
    {
        @Html.EditorForModel()
        if (ViewBag.SimiliarLocations != null)
        {
            <h3>Ähnliche Locations</h3>
            var similiarLocations = (IQueryable<Location>) ViewBag.SimiliarLocations;
            @(Html.Telerik().Grid(similiarLocations).Name("SimiliarLocationsGrid")
                  .Columns(col =>
                      {
                          col.Bound(b => b.Name);
                          col.Bound(b => b.Street);
                          col.Bound(b => b.PostalCode);
                          col.Bound(b => b.City);
                      })
                  )
        }
        if (ViewBag.ShowSimilarLocationsCheckBox == true)
        {
            @Html.CheckBox("ignoreSimilarLocations")
            <span>Keine der o.g. Locations entspricht der anzulegenden Location.</span>
        }
        <br />
        <input type="submit" class="t-button" value="Location anlegen" />
    }
}