﻿@model SeismitoadModel.Location
<style type="text/css">
    input.narrow { width: 50px !important; }
</style>          
@{
    ViewBag.Title = Model.FriendlyName;
    using (Html.BeginForm())
    {
        @Html.EditorForModel()
        if (User.IsInRole(SeismitoadShared.Constants.Roles.Admin))
        {
            <input type="submit" value="Speichern" class="t-button" />
        }
    }
    @Html.ActionLink("Zurück", MVC.MD.Location.Index(), new { @class = "t-button" })
}