﻿@using ImportFramework
@{
    ViewBag.Title = "Import";
    using(Html.BeginForm(MVC.Location.Import(), FormMethod.Post, new { enctype= "multipart/form-data" }))
    {
        <label for="file">CSV-Datei</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Importieren" />
    }
}



