﻿@using MasterInstance.Services
@using ObjectTemplate.Extensions;
@using SeismitoadModel
@model IEnumerable<ImportLine<Location>>
<style>
.display-label {
    float: left;
    clear: both;
    width: 200px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    height: 28px;
    vertical-align: middle;
}   
.display-field {
    float: left;
    width: 400px;
    padding-left: 10px;
    border-bottom: 1px solid;
    height: 28px;
    vertical-align: middle;
} 
</style>           

@{
    Html.Telerik()
        .Grid(Model)
        .Name("i")
        .Sortable()
        .Filterable()
        .Groupable()
        .Pageable(pager => pager.Enabled(true).PageSize(20))
        .Columns(columns =>
                     {
                         columns.Bound(e => e.LineNumber);
                         columns.Bound(e => e.Entity.ExternalId).Visible(true);
                         columns.ForeignKey(e => e.ImportAction, ImportAction.Create.ToSelectList()).Template(e => e.ImportAction.GetDisplayName());
                         columns.ForeignKey(e => e.Entity.LocationTypeId, LocationType.Airport.ToSelectList()).Template(e => e.Entity.LocationTypeId.GetDisplayName()).Visible(true);
                         columns.Bound(e => e.Entity.Name);
                         columns.Bound(e => e.Entity.Street);
                         columns.Bound(e => e.Entity.PostalCode);
                         columns.Bound(e => e.Entity.City);
                         columns.Template(e => e.Entity.Contacts.Count()).Title("# Ansprechpartner");
                         columns.Bound(e => e.Message);
                     })
        .DetailView(detailView => detailView.Template(e => Html.RenderPartial("_Details", e.Entity)))
        .Render();
        using(Html.BeginForm(MVC.Location.FinishImport().AddRouteValue("id", Request.RequestContext.RouteData.Values["id"])))
        {
            <button name="action" value="revert" class="t-button">Daten verwerfen</button>
            <button name="action" value="commit" class="t-button">Daten speichern</button>
        }
}