﻿@{
    ViewBag.Title = "Es ist leider ein Fehler aufgetreten";
}
<p>
    Die Informationen zum Problem haben wir bereits erfasst.
</p>
<p>
    Hier geht es zur Startseite: <a href="https://www.advantage-promotion.de">https://www.advantage-promotion.de</a>
</p>