﻿@{
    ViewBag.Title = "Seite nicht gefunden";
}
<p>
    Die fehlende Seite haben wir erfasst.
</p>
<p>
    Hier geht es zur Startseite: <a href="https://www.advantage-promotion.de">https://www.advantage-promotion.de</a>
</p>