﻿@model AssignmentRequestInstance.Models.PromotionDayRequest

@using (Html.BeginForm())
{
    <table class="assignment-table">
        <tr>
            <th class="t-header" colspan="2">Aktionstag anlegen</th>
        </tr>
        @{
            var friendlyNameLocation = ViewBag.FriendlyNameLocation;
            var employeeList = ((List<SelectListItem>)ViewBag.EmployeeList).OrderBy(e => e.Text);
            var isEmployeeFree = (bool) ViewBag.IsPromoterFree;
            <tr>
                <td>Markt:</td><td>@friendlyNameLocation</td>
            </tr>
            <tr>
                <td>Aktionsstart:</td><td>@Model.AssignmentStartDate</td>
            </tr>
            <tr>
                <td>Aktionsende:</td><td>@Model.AssignmentEndDate</td>
            </tr>
            <tr>
                <td>Arbeitszeit:</td><td>@((Model.AssignmentEndDate - Model.AssignmentStartDate).Hours <= 6 ? "Kernzeit":"Vollzeit")</td>
            </tr>
            if (!isEmployeeFree)
            {
                <tr>
                    <td colspan="2" style="color: #ff0000;text-align: center">Wunschpromoter ist nicht verfügbar.</td>
                </tr>
            }
            <tr>
                <td>Promoter:</td><td>@Html.DropDownList("promoter",employeeList)</td>
            </tr>
            if(!Model.IsProvision)
            {
            <tr>
                <td>Promoter-Rolle:</td><td>@Html.EditorFor(m => m.AssignmentRoleIds)</td>
            </tr>
            }
            else{
                @Html.Hidden("AssignmentRoleIds",8)   
            }
            <tr>
                <td>Freitext (optional):</td><td>@Html.TextArea("freeText")</td>
            </tr>
            <tr class="buttons">
                <td>@Html.ActionLink("Abbrechen",MVC.Home.Index(), new {@class = "t-button"})</td><td><button type="submit" class="t-button">Anlegen</button></td>
            </tr>
        }
    </table>
}