﻿@using System.Configuration
@using AssignmentRequestInstance
@using AssignmentRequestInstance.Controllers
@using ObjectTemplate.Extensions
@using SeismitoadModel
@using SeismitoadShared.Extensions
@model IEnumerable<AssignmentRequestInstance.Models.PromotionDayRequest>
@{
    var isAdmin = User.IsInRole(SeismitoadShared.Constants.Roles.Admin);
    var isPM = User.IsInRole(SeismitoadShared.Constants.Roles.Permedia);
    var isADM = User.IsInRole(SeismitoadShared.Constants.Roles.Analyst) && !isAdmin && !isPM;
    var isPromoter = User.IsInRole(SeismitoadShared.Constants.Roles.SelfbookingPromoter);
    var userKey = User.GetProviderUserKey();
    var locationList = (List<SelectListItem>) ViewBag.Locations;
    var promoters = (List<EmployeeViewModel>) ViewBag.Employees;
}

@if (User.IsInRole(SeismitoadShared.Constants.Roles.ReportEditor))
{
    <h2>Aktionstag-Anfragen</h2>
    <span>Bitte prüfe beim Anlegen eines Provisionstages, ob du an diesem Tag nicht bereits für einen Toshiba Einsatztag gebucht bist. Deine Toshiba Einsatztage findest du untenstehend aufgelistet.</span>
}
else
{
    <h2>Provisionstage</h2>
}
@(Html.Telerik().Grid(Model).Name("Tablegrid")
          .DataBinding(binding => binding.Server().Insert(MVC.Home.Create().GetRouteValueDictionary()).Update(MVC.Home.Create().GetRouteValueDictionary()))
          .DataKeys(keys => keys.Add(d => d.Id))
          .ToolBar(tbar => tbar.Insert().Text(User.IsInRole(SeismitoadShared.Constants.Roles.ReportEditor) ? "Aktionstag-Anfrage erstellen" : "Provisionstag buchen"))
          .Groupable()
          .Sortable()
          .Filterable()
          .Pageable(p => p.PageSize(10))
          .Editable(edit => edit.Mode(GridEditMode.InLine))
          .Columns(columns =>
          {
              columns.Bound(m => m.Id).Width(50).ReadOnly(true);
              columns.Bound(m => m.AssignmentStartDate).Width(200);
              columns.Bound(m => m.AssignmentEndDate).Width(200);
              if (!isPromoter)
              {
                  columns.Bound(m => m.IsProvision).Width(150);
              }
              else
              {
                  columns.Template(@<text>@Html.Raw("Ja") @Html.Hidden("IsProvision", true)</text>).Width(150).Title("Provisionstag");
              }
              columns.ForeignKey(m => m.LocationId, locationList, "Value", "Text").Width(250);
              if (!isPromoter)
              {
                  columns.ForeignKey(m => m.RequestedPromoterId, promoters, "Id", "FriendlyName").Width(250);
              }
              else
              {
                  var promoterId = promoters.Single(p => p.ProviderUserKey == userKey).Id;
                  columns.Template(@<text>@Html.Raw(User.Identity.Name) @Html.Hidden("RequestedPromoterId", promoterId)</text>).Title("Promoter").Width(250);
              }
              columns.ForeignKey(m => m.State, new AssignmentRequestInstance.Models.RequestState().ToSelectList()).Width(130).Template(@<text>@item.State.GetDisplayName()</text>).ReadOnly();
              if (isAdmin || isPM || User.Identity.Name.ToLower() == "toshiba" || User.Identity.Name.ToLower() == "areich")
              {
                  columns.Bound(m => m.UserCreated).Title("ADM");
              }
              columns.Command(c =>
              {
                  c.Edit();
                  c.Custom("accept").Text("Anlegen").Action("Accept", "Home");
                  c.Custom("reject").Text("Ablehnen").Action("Reject", "Home");
              }).Width(185);
          }).CellAction(cell =>
          {
              if (cell.Column.IsLast && !cell.InInsertMode && !isAdmin && !isPM)
              {
                  cell.Text = " ";
              }
          })
      )
<br/>

@if (User.IsInRole(SeismitoadShared.Constants.Roles.ReportEditor))
{
    <h2>Angelegte Aktionstage</h2>
}
else
{
    <h2>Angelegte Provisionstage</h2>
}

@using (var context = new SeismitoadModel.DatabaseContext.SeismitoadDbContext())
{
    var user = User.Identity.Name;
    var campaignId = Convert.ToInt16(ConfigurationManager.AppSettings["CampaignId"]);
    var assignments = context.Assignments.Where(a => (a.CampaignLocation.SalesRegion.ToLower() == user.ToLower() || isAdmin || isPM || User.Identity.Name == "areich" || User.Identity.Name == "toshiba" || (isPromoter && a.AssignedEmployees.Any(e => e.Employee.ProviderUserKey == userKey && e.AssignmentRoles.Any(ar => ar.Id == 8)))) && a.CampaignLocation.CampaignId == campaignId);
    @(Html.Telerik().Grid(assignments).Name("AssignmentGrid")
          .DataBinding(binding => binding.Server())
          .DataKeys(keys => keys.Add(k => k.Id))
          .Groupable()
          .Sortable(s => s.OrderBy(o => o.Add(a => a.DateStart)))
          .Filterable()
          .Pageable(p => p.PageSize(10))
          .Columns(columns =>
          {
              columns.Bound(m => m.Id);
              columns.Bound(m => m.DateStart);
              columns.Bound(m => m.DateEnd);
              columns.Bound(m => m.CampaignLocation.Location.FriendlyName);
              columns.Bound(m => m.Team);
              if (isAdmin || isPM || User.Identity.Name.ToLower() == "toshiba" || User.Identity.Name.ToLower() == "areich")
              {
                  columns.Bound(m => m.CampaignLocation.SalesRegion).Template(e => e.CampaignLocation != null ? e.CampaignLocation.SalesRegion : "").Title("ADM");
              }
              columns.Template(@<text>@if (!item.AssignedEmployees.Any(ae => ae.AssignmentRoles.Any(ar => ar.Id == 8)))
                                      {
                                              @((item.DateEnd - item.DateStart).Hours > 6 ? Html.Raw("Volltag") : Html.Raw("Kerntag"))
                                      }
                                      else
                                      {
                                              @Html.Raw("Provisionstag")
                                      }</text>).Title("Arbeitstyp");
              columns.Bound(m => m.State);
          })
          )

}

<script type="text/javascript">
    function parseDate(dateStr) {
        debugger;
        var dateRegExp = new RegExp("(\\d{2})\.(\\d{2})\.(\\d{4}) (\\d{2}):(\\d{2})");
        var matches = dateRegExp.exec(dateStr);

        return matches !== null && matches.length === 6
            ? new Date(matches[3], matches[2], matches[1], matches[4], matches[5], 0)
            : null;
    }

    $(document).ready(function () {
        $('.t-grid-edit').hide();
        $.validator.methods.date = function (value) {
            var re = /^\d{1,2}\.\d{1,2}\.\d{4}\ \d{1,2}\:\d{1,2}$/;
            if (value.match(re)) {
                return true;
            }
            return false;
        };
        $('form').submit(function () {
            var validator = $('form').validate();
            var date1 = parseDate($('#AssignmentStartDate').val());
            var date2 = parseDate($('#AssignmentEndDate').val());
            if (date1 === null) {
                validator.showErrors({ "AssignmentStartDate": "Ungültiges Datumsformat" });
            }
            if (date2 === null) {
                validator.showErrors({ "AssignmentEndDate": "Ungültiges Datumsformat" });
            }
            if (date1 === null || date2 === null) {
                return false;
            }
            if (date1.getTime() >= date2.getTime()) {
                validator.showErrors({ "AssignmentEndDate": "Endzeitpunkt muss nach dem Startzeitpunkt liegen." });
                return false;
            }
            date1.setHours(0, 0, 0, 0);
            date2.setHours(0, 0, 0, 0);
            if (date1.getTime() !== date2.getTime()) {
                validator.showErrors({ "AssignmentEndDate": "Endzeitpunkt muss am selben Tag wie Startzeitpunkt sein." });
                return false;
            }
            return true;
        });
    });
</script>