﻿@model AssignmentRequestInstance.Models.PromotionDayRequest

@using (Html.BeginForm())
{
    <table class="assignment-table">
        <tr>
            <th class="t-header" colspan="2">Aktionstag ablehnen</th>
        </tr>
        @using (var context = new SeismitoadModel.DatabaseContext.SeismitoadDbContext())
        {
            var location = context.Locations.SingleOrDefault(l => l.Id == Model.LocationId);
            var friendlyNameLocation = location != null ? location.FriendlyName : "Markt nicht mehr verfügbar";
            var employee = context.Employees.SingleOrDefault(l => l.Id == Model.RequestedPromoterId);
            var friendlyNameEmployee = employee != null ? employee.Firstname + " " + employee.Lastname : "Promoter nicht mehr verfügbar";
            <tr>
                <td>Markt:</td><td>@friendlyNameLocation</td>
            </tr>
            <tr>
                <td>Aktionsstart:</td><td>@Model.AssignmentStartDate</td>
            </tr>
            <tr>
                <td>Aktionsende:</td><td>@Model.AssignmentEndDate</td>
            </tr>
            <tr>
                <td>Arbeitszeit:</td><td>@((Model.AssignmentEndDate - Model.AssignmentStartDate).Hours <= 6 ? "Kernzeit":"Vollzeit")</td>
            </tr>
            <tr>
                <td>Promoter:</td><td>@friendlyNameEmployee</td>
            </tr>
            <tr>
                <td>Ablehnungsgrund:</td><td>@Html.DropDownList("noPromoterAvailable", new List<SelectListItem>{new SelectListItem{Text = "kein Promoter verfügbar", Value = "true"}, new SelectListItem{Text = "kein Budget verfügbar", Value = "false"}})</td>
            </tr>
            <tr>
                <td>Textpassage (Alternativtermin) anzeigen:</td><td>@Html.CheckBox("showAlternativeDate")</td>
            </tr>
            <tr>
                <td>Freitext (optional):</td><td>@Html.TextArea("freeText")</td>
            </tr>
            <tr class="buttons">
                <td>@Html.ActionLink("Abbrechen",MVC.Home.Index(), new {@class = "t-button"})</td><td><button type="submit" class="t-button">Ablehnen</button></td>
            </tr>
        }
    </table>
}