﻿@using MasterInstance.Areas.CM.Models
@model StaffRequirementViewModel
@helper RenderField(Func<StaffRequirement, object> expression, string format = null)
{
    var previousRequirement = ViewBag.PreviousRequirement as StaffRequirement;
    var currentValue = expression.Invoke(Model);
    var previousValue = previousRequirement != null
        ? expression.Invoke(previousRequirement)
        : currentValue;

    if (currentValue is bool)
    {
        <input type="checkbox" disabled="disabled" class="k-checkbox" @((bool)currentValue ? "checked='checked'" : "") />
        <label class="k-checkbox-label"></label>
        if ((bool)currentValue != (bool)previousValue)
        {
            <span class="previous-checkbox-value">
                <input type="checkbox" disabled="disabled" class="k-checkbox" @((bool)previousValue ? "checked='checked'" : "") />
                <label class="k-checkbox-label"></label>
            </span>
        }
        return;
    }

    if (currentValue is string[])
    {
        var asStringArray = currentValue as string[];
        currentValue = asStringArray.Length > 0 ? string.Join(", ", asStringArray) : null;
        previousValue = previousValue is string[] ? string.Join(", ", previousValue as string[]) : null;
    }

    if (format != null)
    {
        currentValue = currentValue != null ? string.Format(format, currentValue) : "k.A.";
        previousValue = previousValue != null ? string.Format(format, previousValue) : "k.A.";
    }
    else
    {
        currentValue = currentValue ?? "k.A.";
        previousValue = previousValue ?? "k.A.";
    }
    @currentValue
    if (!string.Equals(previousValue, currentValue))
    {
        <span class="previous-value">@previousValue</span>
    }
}
<div class="editor-column">
    <div class="editor-label">
        @Html.LabelFor(e => e.Aktionstitel)
    </div>
    <div class="editor-field">
        @(Model.Aktionstitel)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Projektnummer)
    </div>
    <div class="editor-field">
        @(Model.Projektnummer)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Projektleitung)
    </div>
    <div class="editor-field">
        @RenderField(e => e.Projektleitung)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.AuftraggeberId, "Auftraggeber")
    </div>
    <div class="editor-field">
        @{
            var selectListItems = SelectListRepository.Retrieve("ManagerId", ViewData);
            var manager = selectListItems.SingleOrDefault(e => e.Value.Equals(Model.AuftraggeberId.ToString(), StringComparison.OrdinalIgnoreCase));
            @(manager != null ? manager.Text : "gelöschter Benutzer")
            var previousRequirement = ViewBag.PreviousRequirement as StaffRequirement;
            if (previousRequirement != null && previousRequirement.AuftraggeberId != Model.AuftraggeberId)
            {
                manager = selectListItems.SingleOrDefault(e => e.Value.Equals(previousRequirement.AuftraggeberId.ToString(), StringComparison.OrdinalIgnoreCase));
                <span class="previous-value">@(manager != null ? manager.Text : "gelöschter Benutzer")</span>
            }
        }
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Aktionszeitraum)
    </div>
    <div class="editor-field pre">@(Model.Aktionszeitraum ?? "k.A.")</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Aktionszeiten)
    </div>
    <div class="editor-field pre">@(Model.Aktionszeiten ?? "k.A.")</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Pausenzeiten)
    </div>
    <div class="editor-field pre">@RenderField(e => e.Pausenzeiten)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Aktionstage)
    </div>
    <div class="editor-field pre">@(Model.Aktionstage ?? "k.A.")</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.AktionsorteAnzahl, "Aktionsorte")
    </div>
    <div class="editor-field">
        @Html.ActionLink(string.Format("{0} Aktionsorte", Model.AktionsorteAnzahl), MVC.CM.CampaignLocation.Index(Model.CampaignId), new { target = "_blank" })
        @if (Model.Marktliste != null)
        {
            <text>|</text>
            <a href="~/CampaignAssets/@Model.CampaignId/StaffRequirements/@Model.Marktliste">@Model.Marktliste</a>
        }
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Teamgröße)
    </div>
    <div class="editor-field">
        @Model.Teamgröße
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Aktionsinhalt)
    </div>
    <div class="editor-field pre">@RenderField(e => e.Aktionsinhalt)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.InternerKommentarZurAktion, "Kommentar zur Aktion (intern)")
    </div>
    <div class="editor-field pre">@RenderField(e => e.InternerKommentarZurAktion)</div>
</div>
<div class="editor-column">
    <div class="editor-label">
        @Html.LabelFor(e => e.AnforderungsprofilPersonal, "Anforderungsprofil Personal*")
    </div>
    <div class="editor-field pre">@RenderField(e => e.AnforderungsprofilPersonal)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.BeschreibungZuErbringendeLeistung, "Beschreibung zu erbringende Leistung*")
    </div>
    <div class="editor-field pre">@RenderField(e => e.BeschreibungZuErbringendeLeistung)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Casting)
    </div>
    <div class="editor-field pre">@RenderField(e => e.Casting)</div>

    <div class="editor-label">
        <label>Personalbedarf*</label>
    </div>
    <div class="editor-field">
        <table>
            <tbody>
                <tr>
                    <th>@Html.LabelFor(e => e.PromoterAnzahl, "Promoter")</th>
                    <td>@RenderField(e => e.PromoterAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.HostessAnzahl, "Hostess")</th>
                    <td>@RenderField(e => e.HostessAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.MerchandiserAnzahl, "Merchandiser")</th>
                    <td>@RenderField(e => e.MerchandiserAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.TrainerAnzahl, "Trainer")</th>
                    <td>@RenderField(e => e.TrainerAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.TeamleiterAnzahl, "Teamleiter")</th>
                    <td>@RenderField(e => e.TeamleiterAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.BezahlteSpringerAnzahl, "bezahlte Springer")</th>
                    <td>@RenderField(e => e.BezahlteSpringerAnzahl, "{0:#,##0}")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.SonstigerPersonalbedarfAnzahl, Model.SonstigerPersonalbedarf ?? "Sonstiger Personalbedarf")</th>
                    <td>@RenderField(e => e.SonstigerPersonalbedarfAnzahl, "{0:#,##0}")</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Outfits, "Outfits*")
    </div>
    <div class="editor-field pre">@RenderField(e => e.Outfits)</div>

    <div class="editor-label">
        <label>Voraussetzungen</label>
    </div>
    <div class="editor-field">
        @RenderField(e => e.GewerbescheinSteuernummer)
        Gewerbeschein / Steuernummer
    </div>
    <div class="editor-field">
        @RenderField(e => e.Infektionsschutzbelehrung)
        Infektionsschutzbelehrung
    </div>
    <div class="editor-field">
        @RenderField(e => e.Führerschein)
        Führerschein
    </div>
    <div class="editor-label">
        Führerscheinklasse(n)
    </div>
    <div class="editor-field">
        @RenderField(e => e.FührerscheinKlassen)
    </div>
    <div class="editor-field">
        @RenderField(e => e.EigenerPKW)
        eigener PKW
    </div>
    <div class="editor-label">
        sonstiges
    </div>
    <div class="editor-field">
        @RenderField(e => e.AndereVorraussetzung)
    </div>

    <div class="editor-label">
        <label>Honorar*</label>
    </div>
    <div class="editor-field">
        <table>
            <tbody>
                <tr>
                    <th>@Html.LabelFor(e => e.HonorarMontagBisSamstag, "Montags bis Samstags")</th>
                    <td>@RenderField(e => e.HonorarMontagBisSamstag, "{0:#,##0.00} € / Tag")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.HonorarSonntagsUndFeiertags, "Sonn- und Feiertags")</th>
                    <td>@RenderField(e => e.HonorarSonntagsUndFeiertags, "{0:#,##0.00} € / Tag")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.HonorarBezahlteSpringer, "bezahlte Springer")</th>
                    <td>@RenderField(e => e.HonorarBezahlteSpringer, "{0:#,##0.00} € / Tag")</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="editor-label">
        <label>variables Honorar</label>
    </div>
    <div class="editor-field">
        <table>
            <tbody>
                <tr>
                    <th>@Html.LabelFor(e => e.Bonus, "Bonus")</th>
                    <td>@RenderField(e => e.Bonus, "{0:#,##0.00} € / Tag")</td>
                </tr>
                <tr>
                    <th><label for="HonorarBeiLängererAktionszeit">Honorar bei verlängerter<br />Aktionszeit</label></th>
                    <td>@RenderField(e => e.HonorarBeiLängererAktionszeit, "{0:#,##0.00} € / Stunde")</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="editor-column">

    <div class="editor-label">
        @Html.LabelFor(e => e.Provision)
    </div>
    <div class="editor-field pre">@RenderField(e => e.Provision)</div>
    <div class="editor-field">
        @if (Model.Provisionsliste != null)
        {
            <a href="~/CampaignAssets/@Model.CampaignId/StaffRequirements/@Model.Provisionsliste">@Model.Provisionsliste</a>
        }
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Durchhaltebonus)
    </div>
    <div class="editor-field">
        @RenderField(e => e.Durchhaltebonus)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Teamleiterbonus)
    </div>
    <div class="editor-field">
        @RenderField(e => e.Teamleiterbonus)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Fahrerbonus)
    </div>
    <div class="editor-field">
        @RenderField(e => e.Fahrerbonus)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.SonstigeVereinbarung, "sonstige Vereinbarung")
    </div>
    <div class="editor-field pre">@RenderField(e => e.SonstigeVereinbarung)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Fahrtkosten, "Fahrtkosten*")
    </div>
    <div class="editor-field">
        @RenderField(e => e.Fahrtkosten)
        0,30 €/km ab dem 26. Kilometer pro Strecke (Hin- und Rückweg)
    </div>
    <div class="editor-label">
        sonstiges
    </div>
    <div class="editor-field">
        @RenderField(e => e.FahrtkostenSonstiges)
    </div>

    <div class="editor-label">
        <label>Schulung*</label>
    </div>
    <div class="editor-field">
        @RenderField(e => e.SchulungFaceToFace)
        Face-to-face Schulung
    </div>
    <div class="editor-field">
        @RenderField(e => e.SchulungOnline)
        Online Schulung
    </div>
    <div class="editor-field">
        @RenderField(e => e.SchulungKeine)
        keine Schulung
    </div>
    <div class="editor-label">
        @Html.LabelFor(e => e.SchulungsDatumOrt, "Schulungsdatum / Ort")
    </div>
    <div class="editor-field pre">@RenderField(e => e.SchulungsDatumOrt)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.SchulungsKommentar, "Kommentar zur Schulung")
    </div>
    <div class="editor-field pre">@RenderField(e => e.SchulungsKommentar)</div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Schulungshotel)
    </div>
    <div class="editor-field">
        @RenderField(e => e.Schulungshotel)
        @if (Model.SchulungshotelAb.HasValue)
        {
            @RenderField(e => e.SchulungshotelAb)<text>-ten km</text>
        }
    </div>

    <div class="editor-label">
        <label>Schulungsvergütung</label>
    </div>
    <div class="editor-field">
        <table>
            <tbody>
                <tr>
                    <th>@Html.LabelFor(e => e.SchulungVergütungFaceToFace, "Face-to-face Schulung")</th>
                    <td>@RenderField(e => e.SchulungVergütungFaceToFace, "{0:#,##0.00} € / Tag")</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(e => e.SchulungVergütungOnline, "Online Schulung")</th>
                    <td>@RenderField(e => e.SchulungVergütungOnline, "{0:#,##0.00} € / Std.")</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.BemerkungAdvantage, "Bemerkung advantage")
    </div>
    <div class="editor-field pre">@RenderField(e => e.BemerkungAdvantage)</div>
</div>
<div class="clear"></div>
