﻿@using SeismitoadModel
@using SeismitoadModel
@model MasterInstance.Areas.CM.Models.StaffRequirementViewModel
@section head {
    <style type="text/css">
        .k-textbox, .k-combobox {
            width: 100%;
        }

        .k-numerictextbox {
            width: 70px;
        }

        .editor-field {
            margin-bottom: 10px;
        }

        .editor-column {
            margin-right: 0;
            width: 415px;
        }

        .editor-column + .editor-column {
            margin-left: 50px;
        }

        th, th label, .editor-field label {
            font-weight: normal;
        }

        td {
            padding-right: 0;
        }
    </style>
    <script type="text/javascript">
        function onUploadSuccess(e) {
            var hiddenInput = e.sender.element.parents(".k-upload").prev(),
                newValue = "";
            if (e.operation == "upload") {
                newValue = e.files[0].name;
            }
            hiddenInput.val(newValue);
        }
    </script>
}
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Personalanforderung");
}
<h3 style="display: inline">@ViewBag.Title</h3>
@Html.ActionLink("Druckansicht in neuem Reiter öffnen", MVC.CM.StaffRequirement.Print(Model.CampaignId), new { @class = "k-button", target = "_blank", style = "margin-left: 40px" })
<br /><br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(e => e.IsUpdate)
    <div class="editor-column">
        <div class="editor-label">
            @Html.LabelFor(e => e.Aktionstitel)
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Aktionstitel).Enable(false).HtmlAttributes(new { @class = "k-state-disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Projektnummer)
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Projektnummer).Enable(false).HtmlAttributes(new { @class = "k-state-disabled" })
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(e => e.Projektleitung)
        </div>
        <div class="editor-field">
            @{
                Html.Kendo().DropDownListFor(e => e.Projektleitung)
                .Items(items =>
                {
                    items.Add().Value("Per Media").Text("permedia");
                    items.Add().Value("advantage").Text("advantage");
                })
                .DataValueField("Value")
                .DataTextField("Text")
                .OptionLabel("Projektleitung wählen")
                .Render();
            }
            @Html.ValidationMessageFor(e => e.Projektleitung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.AuftraggeberId, "Auftraggeber")
            @TooltipHelper.Tooltip("Auftraggeber")
        </div>
        <div class="editor-field">
            @{
    Html.Kendo().ComboBoxFor(e => e.AuftraggeberId)
        .BindTo(SelectListRepository.Retrieve("ManagerId", ViewData))
        .DataValueField("Value")
        .DataTextField("Text")
        .Filter(FilterType.Contains)
        .Placeholder("Auftraggeber wählen")
        .Suggest(true)
        .Render();
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Aktionszeitraum)
            @TooltipHelper.Tooltip("Aktionszeitraum")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Aktionszeitraum, 4, 40, new { disabled = "disabled", @class = "k-textbox k-state-disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Aktionszeiten)
            @TooltipHelper.Tooltip("Aktionszeiten")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Aktionszeiten, 4, 40, new { disabled = "disabled", @class = "k-textbox k-state-disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Pausenzeiten)
            @TooltipHelper.Tooltip("Pausenzeiten")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Pausenzeiten, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Aktionstage)
            @TooltipHelper.Tooltip("Aktionstage")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Aktionstage, 4, 40, new { disabled = "disabled", @class = "k-textbox k-state-disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.AktionsorteAnzahl, "Aktionsorte")
        </div>
        <div class="editor-field">
            @Html.ActionLink(string.Format("{0} Aktionsorte", Model.AktionsorteAnzahl), MVC.CM.CampaignLocation.Index(Model.CampaignId), new { target = "_blank" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(e => e.Marktliste, "Upload Marktliste (PDF)")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(e => e.Marktliste)
            @{
    // Das Hidden-Feld muss zwingend das HTML Elemente vor dem Uploader sein, da sonst unser JavaScript
    // nicht mehr funktioniert
    Html.Kendo().Upload()
        .Name("CampaignLocations")
        .Files(files =>
        {
            if (Model.Marktliste != null)
            {
                files.Add().Name(Model.Marktliste);
            }
        })
        .Multiple(false)
        .Async(async => async
            .AutoUpload(true)
            .Save("_Upload", "StaffRequirement", new { campaignId = Model.CampaignId })
            .Remove("_RemoveUpload", "StaffRequirement", new { campaignId = Model.CampaignId }))
        .Events(events => events.Success("onUploadSuccess"))
        .Render();
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Teamgröße)
            @TooltipHelper.Tooltip("Teamgroesse")
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Teamgröße).Enable(false).HtmlAttributes(new { @class = "k-state-disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Aktionsinhalt)
            @TooltipHelper.Tooltip("Aktionsinhalt")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Aktionsinhalt, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.InternerKommentarZurAktion, "Kommentar zur Aktion (intern)")
            @TooltipHelper.Tooltip("InternerKommentarZurAktion")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.InternerKommentarZurAktion, 4, 40, new { @class = "k-textbox" })
        </div>

    </div>
    <div class="editor-column">

        <div class="editor-label">
            @Html.LabelFor(e => e.AnforderungsprofilPersonal, "Anforderungsprofil Personal*")
            @TooltipHelper.Tooltip("AnforderungsprofilPersonal")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.AnforderungsprofilPersonal, 12, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.BeschreibungZuErbringendeLeistung, "Beschreibung zu erbringende Leistung")
            @TooltipHelper.Tooltip("BeschreibungZuErbringendeLeistung")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.BeschreibungZuErbringendeLeistung, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Casting)
            @TooltipHelper.Tooltip("Casting")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Casting, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            <label>Personalbedarf*</label>
            @TooltipHelper.Tooltip("Personalbedarf")
        </div>
        <div class="editor-field">
            <table>
                <colgroup>
                    <col style="width: auto" />
                    <col style="width: 70px" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>@Html.LabelFor(e => e.PromoterAnzahl, "Promoter")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.PromoterAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.HostessAnzahl, "Hostess")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.HostessAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.MerchandiserAnzahl, "Merchandiser")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.MerchandiserAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.TrainerAnzahl, "Trainer")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.TrainerAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.TeamleiterAnzahl, "Teamleiter")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.TeamleiterAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.BezahlteSpringerAnzahl, "bezahlte Springer")</th>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.BezahlteSpringerAnzahl).Min(0)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Kendo().TextBoxFor(e => e.SonstigerPersonalbedarf).HtmlAttributes(new { style = "width: 210px", placeholder = "sonstiges" })
                            @TooltipHelper.Tooltip("SonstigerPersonalbedarf")
                        </td>
                        <td>@Html.Kendo().IntegerTextBoxFor(e => e.SonstigerPersonalbedarfAnzahl).Min(0)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Outfits, "Outfits*")
            @TooltipHelper.Tooltip("Outfits")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Outfits, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            <label>Voraussetzungen</label>
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.GewerbescheinSteuernummer).Label("Gewerbeschein / Steuernummer")
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.Infektionsschutzbelehrung).Label("Infektionsschutzbelehrung")
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.Führerschein).Label("Führerschein")
            @TooltipHelper.Tooltip("Fuehrerschein")
        </div>
        <div class="editor-field">
            @{
    var driversLicenseClasses = SelectListRepository.Retrieve("DriversLicenseClass1", ViewData)
        .Concat(SelectListRepository.Retrieve("DriversLicenseClass2", ViewData));
    Html.Kendo().MultiSelectFor(e => e.FührerscheinKlassen)
        .Placeholder("Führerscheinklasse wählen")
        .BindTo(driversLicenseClasses)
        .DataValueField("Value")
        .DataTextField("Text")
        .Filter(FilterType.Contains)
        .Render();
            }
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.EigenerPKW).Label("eigener PKW")
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.AndereVorraussetzung).HtmlAttributes(new { placeholder = "sonstiges" })
        </div>

        <div class="editor-label">
            <label>Honorar*</label>
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            <table>
                <colgroup>
                    <col style="width: auto" />
                    <col style="width: 140px" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>
                            @Html.LabelFor(e => e.HonorarMontagBisSamstag, "Montags bis Samstags")
                            @TooltipHelper.Tooltip("HonorarMontagBisSamstag")
                        </th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.HonorarMontagBisSamstag).Min(0)&nbsp;€&nbsp;/&nbsp;Tag</td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(e => e.HonorarSonntagsUndFeiertags, "Sonn- und Feiertags")
                            @TooltipHelper.Tooltip("HonorarSonntagsUndFeiertags")
                            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
                        </th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.HonorarSonntagsUndFeiertags).Min(0)&nbsp;€&nbsp;/&nbsp;Tag</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.HonorarBezahlteSpringer, "bezahlte Springer")</th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.HonorarBezahlteSpringer).Min(0)&nbsp;€&nbsp;/&nbsp;Tag</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="editor-label">
            <label>variables Honorar</label>
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            <table>
                <colgroup>
                    <col style="width: auto" />
                    <col style="width: 140px" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>@Html.LabelFor(e => e.Bonus, "Bonus")@TooltipHelper.Tooltip("Bonus")</th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.Bonus).Min(0)&nbsp;€&nbsp;/&nbsp;Tag</td>
                    </tr>
                    <tr>
                        <th>
                            <label for="HonorarBeiLängererAktionszeit">Honorar bei verlängerter Aktionszeit</label>
                            @TooltipHelper.Tooltip("HonorarBeiLängererAktionszeit")
                        </th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.HonorarBeiLängererAktionszeit).Min(0)&nbsp;€&nbsp;/&nbsp;Stunde</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="editor-column">

        <div class="editor-label">
            @Html.LabelFor(e => e.Provision)
            @TooltipHelper.Tooltip("Provision")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.Provision, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Provisionsliste, "Upload Provisionsliste (PDF)")
            @TooltipHelper.Tooltip("Provisionsliste")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(e => e.Provisionsliste)
            @{
    // Das Hidden-Feld muss zwingend das HTML Elemente vor dem Uploader sein, da sonst unser JavaScript
    // nicht mehr funktioniert
    Html.Kendo().Upload()
        .Name("Comissions")
        .Files(files =>
        {
            if (Model.Provisionsliste != null)
            {
                files.Add().Name(Model.Provisionsliste);
            }
        })
        .Multiple(false)
        .Async(async => async
            .AutoUpload(true)
            .Save("_Upload", "StaffRequirement", new { campaignId = Model.CampaignId })
            .Remove("_RemoveUpload", "StaffRequirement", new { campaignId = Model.CampaignId }))
        .Events(events => events.Success("onUploadSuccess"))
        .Render();
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Durchhaltebonus)
            @TooltipHelper.Tooltip("Durchhaltebonus")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Durchhaltebonus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Teamleiterbonus)
            @TooltipHelper.Tooltip("Teamleiterbonus")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Teamleiterbonus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Fahrerbonus)
            @TooltipHelper.Tooltip("Fahrerbonus")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.Fahrerbonus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.SonstigeVereinbarung, "sonstige Vereinbarung")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.SonstigeVereinbarung, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Fahrtkosten, "Fahrtkosten*")
            @TooltipHelper.Tooltip("Fahrtkosten")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.Fahrtkosten).Label("0,30 €/km ab dem 26. Kilometer pro Strecke (Hin- und Rückweg)")
        </div>

        <div class="editor-field">
            @Html.Kendo().TextBoxFor(e => e.FahrtkostenSonstiges).HtmlAttributes(new { placeholder = "sonstiges" })
        </div>

        <div class="editor-label">
            <label>Schulung*</label>@TooltipHelper.Tooltip("Schulung")
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.SchulungFaceToFace).Label("Face-to-face Schulung")
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.SchulungOnline).Label("Online Schulung")
        </div>
        <div class="editor-field">
            @Html.Kendo().CheckBoxFor(e => e.SchulungKeine).Label("keine Schulung")
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.SchulungsDatumOrt, "Schulungsdatum / Ort")
            @TooltipHelper.Tooltip("SchulungsDatumOrt")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.SchulungsDatumOrt, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.SchulungsKommentar, "Kommentar zur Schulung")
            @TooltipHelper.Tooltip("SchulungsKommentar")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.SchulungsKommentar, 4, 40, new { @class = "k-textbox" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.Schulungshotel)
        </div>
        <div class="editor-field">
            <div style="height: 24px">
                @Html.RadioButtonFor(e => e.Schulungshotel, "ja", new { id = "SchulungsHotelJa", @class = "k-radio" }) @Html.Label("SchulungsHotelJa", "ja", new { @class = "k-radio-label" })
            </div>
            <div style="height: 24px">
                @Html.RadioButtonFor(e => e.Schulungshotel, "nein", new { id = "SchulungsHotelNein", @class = "k-radio" }) @Html.Label("SchulungsHotelNein", "nein", new { @class = "k-radio-label" })
            </div>
            <div style="height: 24px;">
                @Html.RadioButtonFor(e => e.Schulungshotel, "ja, ab dem", new { id = "SchulungsHotelJaAbDem", @class = "k-radio" }) @Html.Label("SchulungsHotelJaAbDem", "ja, ab dem", new { @class = "k-radio-label" })
                @Html.Kendo().IntegerTextBoxFor(e => e.SchulungshotelAb)-ten km
                @TooltipHelper.Tooltip("Schulungshotel")
            </div>
        </div>


        <div class="editor-label">
            <label>Schulungsvergütung</label>
            <img src="~/Content/icons/16x16/actions/soft_attention.png" />
        </div>
        <div class="editor-field">
            <table>
                <colgroup>
                    <col style="width: auto" />
                    <col style="width: 120px" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>@Html.LabelFor(e => e.SchulungVergütungFaceToFace, "Face-to-face Schulung")</th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.SchulungVergütungFaceToFace).Min(0)&nbsp;€&nbsp;/&nbsp;Tag</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(e => e.SchulungVergütungOnline, "Online Schulung")</th>
                        <td>@Html.Kendo().NumericTextBoxFor(e => e.SchulungVergütungOnline).Min(0)&nbsp;€&nbsp;/&nbsp;Std.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="editor-label">
            @Html.LabelFor(e => e.BemerkungAdvantage, "Bemerkung advantage")
            @TooltipHelper.Tooltip("BemerkungAdvantage")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(e => e.BemerkungAdvantage, 4, 40, new { @class = "k-textbox" })
        </div>
    </div>
    <div class="clear"></div>
    <input type="submit" class="k-button" value="Personalanforderung @(Model.IsUpdate ? "ändern" : "anlegen")" />
}
