﻿@using MasterInstance.Areas.CM.Models
@model StaffRequirementViewModel
@{ 
    Layout = null;
}
<html>
<head>
    <title>Druckansicht: @ViewBag.Title</title>
    <style>
        body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 11pt; }
        table { border: 0; }
        th, td {vertical-align: top;text-align: left;font-size: 11pt; }
        th { padding-right: 4em; }
        tr { padding-bottom: 1em; }
        .pre { white-space: pre-wrap }
    </style>
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <table>
        <tr>
            <th>Aktionstitel</th>
            <td>@Model.Aktionstitel</td>
        </tr>
        <tr>
            <th>Projektnummer</th>
            <td>@Model.Projektnummer</td>
        </tr>
        <tr>
            <th>Projektleitung</th>
            <td>@Model.Projektleitung</td>
        </tr>
        <tr>
            <th>Auftraggeber</th>
            <td>
                @{
                    var selectListItems = SelectListRepository.Retrieve("ManagerId", ViewData);
                    var manager = selectListItems.SingleOrDefault(e => e.Value.Equals(Model.AuftraggeberId.ToString(), StringComparison.OrdinalIgnoreCase));
                    @(manager != null ? manager.Text : "gelöschter Benutzer")
                }
            </td>
        </tr>
        <tr>
            <th>Aktionszeitraum</th>
            <td class="pre">@(Model.Aktionszeitraum ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Aktionszeiten</th>
            <td class="pre">@(Model.Aktionszeiten ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Pausenzeiten</th>
            <td class="pre">@(Model.Pausenzeiten ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Aktionstage</th>
            <td class="pre">@(Model.Aktionstage ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Aktionsorte</th>
            <td>
                @string.Format("{0} Aktionsorte", Model.AktionsorteAnzahl)
                @if (Model.Marktliste != null)
                {
                    <text>| PDF-Marktliste vorhanden</text>
                }
            </td>
        </tr>
        <tr>
            <th>Teamgröße</th>
            <td>@Model.Teamgröße</td>
        </tr>
        <tr>
            <th>Aktionsinhalt</th>
            <td class="pre">@(Model.Aktionsinhalt ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Kommentar zur Aktion (intern)</th>
            <td class="pre">@(Model.InternerKommentarZurAktion ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Anforderungsprofil Personal</th>
            <td class="pre">@(Model.AnforderungsprofilPersonal ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Beschreibung zu erbringende Leistung</th>
            <td class="pre">@(Model.BeschreibungZuErbringendeLeistung ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Casting</th>
            <td class="pre">@(Model.Casting ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Personalbedarf</th>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <th>Promoter</th>
                            <td>@string.Format("{0:#,##0}", Model.PromoterAnzahl)</td>
                        </tr>
                        <tr>
                            <th>Hostess</th>
                            <td>@string.Format("{0:#,##0}", Model.HostessAnzahl)</td>
                        </tr>
                        <tr>
                            <th>Merchandiser</th>
                            <td>@string.Format("{0:#,##0}", Model.MerchandiserAnzahl)</td>
                        </tr>
                        <tr>
                            <th>Trainer</th>
                            <td>@string.Format("{0:#,##0}", Model.TrainerAnzahl)</td>
                        </tr>
                        <tr>
                            <th>Teamleiter</th>
                            <td>@string.Format("{0:#,##0}", Model.TeamleiterAnzahl)</td>
                        </tr>
                        <tr>
                            <th>bezahlte Springer</th>
                            <td>@string.Format("{0:#,##0}", Model.BezahlteSpringerAnzahl)</td>
                        </tr>
                        <tr>
                            <th>@(Model.SonstigerPersonalbedarf ?? "Sonstiger Personalbedarf")</th>
                            <td>@string.Format("{0:#,##0}", Model.SonstigerPersonalbedarfAnzahl)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>Outfits</th>
            <td class="pre">@(Model.Outfits ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Voraussetzungen</th>
            <td>
                <ul>
                    @if (Model.GewerbescheinSteuernummer)
                    {
                        <li>Gewerbeschein / Steuernummer</li>
                    }
                    @if (Model.Infektionsschutzbelehrung)
                    {
                        <li>Infektionsschutzbelehrung</li>
                    }
                    @if (Model.Führerschein)
                    {
                        <li>Führerschein</li>
                    }
                    @if(Model.FührerscheinKlassen != null && Model.FührerscheinKlassen.Length > 0)
                    {
                        <li>Führerscheinklasse(n) @string.Join(", ", Model.FührerscheinKlassen)</li>
                    }
                    @if (Model.EigenerPKW)
                    {
                        <li>eigener PKW</li>
                    }
                    @if(!string.IsNullOrWhiteSpace(Model.AndereVorraussetzung))
                    {
                        <li>@Model.AndereVorraussetzung</li>
                    }
                </ul>
                @if (
                    !Model.GewerbescheinSteuernummer &&
                    !Model.Infektionsschutzbelehrung &&
                    !Model.Führerschein &&
                    (Model.FührerscheinKlassen == null || Model.FührerscheinKlassen.Length == 0) &&
                    !Model.EigenerPKW &&
                    string.IsNullOrWhiteSpace(Model.AndereVorraussetzung))
                {
                    <text>k.A.</text>
                }
            </td>
        </tr>
        <tr>
            <th>Honorar</th>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <th>Montags bis Samstags</th>
                            <td>@string.Format("{0:#,##0.00} € / Tag", Model.HonorarMontagBisSamstag)</td>
                        </tr>
                        <tr>
                            <th>Sonn- und Feiertags</th>
                            <td>@string.Format("{0:#,##0.00} € / Tag", Model.HonorarSonntagsUndFeiertags)</td>
                        </tr>
                        <tr>
                            <th>bezahlte Springer</th>
                            <td>@(Model.HonorarBezahlteSpringer.HasValue ? string.Format("{0:#,##0.00} € / Tag", Model.HonorarBezahlteSpringer) : "-")</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>variables Honorar</th>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <th>Bonus</th>
                            <td>@(Model.Bonus.HasValue ? string.Format("{0:#,##0.00} € / Tag", Model.Bonus) : "-")</td>
                        </tr>
                        <tr>
                            <th>Honorar bei verlängerter Aktionszeit</th>
                            <td>@(Model.HonorarBeiLängererAktionszeit.HasValue ? string.Format("{0:#,##0.00} € / Stunde", Model.HonorarBeiLängererAktionszeit) : "-")</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>Provision</th>
            <td class="pre">@(Model.Provision ?? "k.A.")</td>
        </tr>
        @if (Model.Provisionsliste != null)
        {
            <tr>
                <th></th>
                <td>PDF-Provisionsliste vorhanden</td>
            </tr>
        }
        <tr>
            <th>Durchhaltebonus</th>
            <td class="pre">@(Model.Durchhaltebonus ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Teamleiterbonus</th>
            <td class="pre">@(Model.Teamleiterbonus ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Fahrerbonus</th>
            <td class="pre">@(Model.Fahrerbonus ?? "k.A.")</td>
        </tr>
        <tr>
            <th>sonstige Vereinbarung</th>
            <td class="pre">@(Model.SonstigeVereinbarung ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Fahrtkosten</th>
            <td>
                @(Model.Fahrtkosten ? "0,30 €/km ab dem 26. Kilometer pro Strecke (Hin- und Rückweg)" : "-")
            </td>
        </tr>
        <tr>
            <th>Fahrtkosten sonstiges</th>
            <td class="pre">@(Model.FahrtkostenSonstiges ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Schulung</th>
            <td>
                @if(Model.SchulungFaceToFace)
                {
                    <text>Face-to-face Schulung<br /></text>
                }
                @if (Model.SchulungOnline)
                {
                    <text>Online Schulung<br /></text>
                }
                @if (Model.SchulungKeine)
                {
                    <text>keine Schulung</text>
                }
            </td>
        </tr>
        <tr>
            <th>Schulungsdatum / Ort</th>
            <td class="pre">@(Model.SchulungsDatumOrt ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Kommentar zur Schulung</th>
            <td class="pre">@(Model.SchulungsKommentar ?? "k.A.")</td>
        </tr>
        <tr>
            <th>Schulungshotel</th>
            <td>
                @(Model.Schulungshotel ?? "k.A.")
                @if (Model.SchulungshotelAb.HasValue)
                {
                    @Html.Raw(string.Format("{0}-ten km",  Model.SchulungshotelAb))
                }
            </td>
        </tr>
        <tr>
            <th>Schulungsvergütung</th>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <th>Face-to-face Schulung</th>
                            <td>@(Model.SchulungVergütungFaceToFace.HasValue ? string.Format("{0:#,##0.00} € / Tag", Model.SchulungVergütungFaceToFace) : "-")</td>
                        </tr>
                        <tr>
                            <th>Online Schulung</th>
                            <td>@(Model.SchulungVergütungOnline.HasValue ? string.Format("{0:#,##0.00} € / Std.", Model.SchulungVergütungOnline) : "-")</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>Bemerkung advantage</th>
            <td class="pre">@(Model.BemerkungAdvantage ?? "k.A.")</td>
        </tr>
    </table>
</body>
</html>