﻿@using System.Globalization
@model MasterInstance.Areas.CM.Models.StaffRequirementsDisplay
@section head {
    <style type="text/css">
        .k-textbox, .k-combobox {
            width: 100%;
        }

        .k-numerictextbox {
            width: 70px;
        }

        .editor-field {
            margin-bottom: 10px;
        }

        .editor-column {
            margin-right: 0;
            width: 415px;
        }

        .editor-column + .editor-column {
            margin-left: 50px;
        }

        th, th label, .editor-field label {
            font-weight: normal;
        }

        td {
            padding-right: 0;
        }
        
        .previous-value {
            color: grey;
            font-size: 80%;
        }

        .previous-checkbox-value {
            -webkit-transform: scale(0.75);
            -moz-transform: scale(0.75);
            -ms-transform: scale(0.75);
            -o-transform: scale(0.75);
            transform: scale(0.75)
        }

        .editor-field.pre {
            white-space: pre-line;
        }

        .editor-field.pre > span.previous-value:before {
            content: '\A';
        }
    </style>
    <script type="text/javascript">
        function onUploadSuccess(e) {
            var hiddenInput = e.sender.element.parents(".k-upload").prev(),
                newValue = "";
            if (e.operation == "upload") {
                newValue = e.files[0].name;
            }
            hiddenInput.val(newValue);
        }
    </script>
}
<script type="text/javascript" src="~/Scripts/staffrequirements.js?version=1"></script>
@{
    ViewBag.Title = Model.CampaignName + " - Personalanforderung";
    <h2>@ViewBag.Title</h2>

    //Html.Kendo()
    //    .Button()
    //    .Name("button")
    //    .Content("Neuste Version anzeigen")
    //    .Events(events => events.Click("selectNewestVersion"))
    //    .Render();
   
    <span>Version wählen</span>
    Html.Kendo()
        .DropDownList()
        .Name("dropdown")
        .Items(items =>
        {
            foreach (var filename in Model.StaffRequirements)
            {
                var dateTime = DateTime.ParseExact(filename, "yyyy-MM-ddTHH.mm.ss.fff", CultureInfo.InvariantCulture);
                items.Add().Value(filename).Text(dateTime.ToString("dd.MM.yyyy HH:mm"));
            }
        })
        .SelectedIndex(Model.StaffRequirements.Length - 1)
        .Events(events => events.Change("versionChanged"))
        .Render();
}
@Html.ActionLink("Druckansicht (neuste Version) in neuem Fenster öffnen", MVC.CM.StaffRequirement.Print(Model.CampaignId), new { @class = "k-button", target = "_blank" })
@Html.Hidden("detailsUrl", Url.Action(MVC.CM.StaffRequirement._Show().AddRouteValue("campaignId", Model.CampaignId)))
<div id="staffrequirement" style="margin-top: 16px">
    
</div>