﻿@model MasterInstance.Areas.Admin.Models.UserAccountViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Firstname)
</div>
<div class="editor-field">
    @Html.Kendo().TextBoxFor(model => model.Firstname)
    @Html.ValidationMessageFor(model => model.Firstname)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Lastname)
</div>
<div class="editor-field">
    @Html.Kendo().TextBoxFor(model => model.Lastname)
    @Html.ValidationMessageFor(model => model.Lastname)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UserName)
</div>
<div class="editor-field">
    @Html.Kendo().TextBoxFor(model => model.UserName)
    @Html.ValidationMessageFor(model => model.UserName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Password)
</div>
<div class="editor-field">
    @Html.PasswordFor(model => model.Password, new { @class = "k-textbox" })
    @Html.ValidationMessageFor(model => model.Password)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.Kendo().TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AccountType)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AccountType)
    @Html.ValidationMessageFor(model => model.AccountType)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CustomerId)
</div>
<div class="editor-field">
    @{
        Html.Kendo()
            .DropDownListFor(model => model.CustomerId)
            // Aus völlig unergründlichen Gründen müssen wir bei diesem Property ValuePrimitiv auf true setzen
            .ValuePrimitive(true)
            .BindTo(SelectListRepository.Retrieve("CustomerId", ViewData))
            .Render();
    }
    @Html.ValidationMessageFor(model => model.CustomerId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Active)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Active)
    @Html.ValidationMessageFor(model => model.Active)
</div>
