﻿@{
    Layout = null;
    var employeeId = (int) ViewBag.EmployeeId;
    var baseUrl = string.Format("~/PromoterUploads/Employee/{0}/", employeeId);
    var portrait = Helpers.GetImageUrl(baseUrl, "UploadPortraitPhoto", 120, 120);
    var fullBody = Helpers.GetImageUrl(baseUrl, "UploadFullBodyPhoto", 120, 120);
    var other = Helpers.GetImageUrl(baseUrl, "UploadOtherPhoto", 120, 120);

    portrait = Url.Content(portrait.Remove(portrait.IndexOf('?')));
    fullBody = Url.Content(fullBody.Remove(fullBody.IndexOf('?')));
    other = Url.Content(other.Remove(other.IndexOf('?')));
}
<html>
    <head>
        <title>Sedcard</title>
        <link rel="stylesheet" href="~/Content/sedcard.min.css?version=2" type="text/css" media="screen, print" /> 
        <link rel="stylesheet" href="~/Content/sedcard.screen.css?version=2" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/sedcard.print.css?version=2" type="text/css" media="print" />
        <script type="text/javascript" src="~/Scripts/kendo/2015.1.429/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/kendo/2015.1.429/kendo.all.min.js"></script>
        <script type="text/javascript">
            @{
                var appPath = Request.ApplicationPath;
                if (!appPath.EndsWith("/"))
                {
                    appPath += "/";
                }
            }
            var appPath = "@appPath";
            var employeeId = @employeeId;
            var type = "@ViewBag.Type";
            var portrait = "@portrait";
            var fullBody = "@fullBody";
            var other = "@other";
        </script>
        <script type="text/javascript" src="~/Scripts/sedcard/sedcard.js?version=6"></script>
    </head>
<body>
    <h1><span data-bind="text: vorname"></span> <span data-bind="text: nachname"></span></h1>
    <div id="left">
        <img data-bind="visible: portraitPhotoVisible, attr: { src: portraitPhotoSource }" />
        <img data-bind="visible: fullBodyPhotoVisible, attr: { src:fullBodyPhotoSource }" />
        <img data-bind="visible: otherPhotoVisible, attr: { src:otherPhotoSource }" />
    </div>
    <div id="right">
        <table>
            <tr data-bind="visible: funktionVisible">
                <th>Funktion:</th>
                <td data-bind="text: funktion"></td>
            </tr>
            <tr data-bind="visible: einsatzortVisible">
                <th>Einsatzort:</th>
                <td data-bind="text: einsatzort"></td>
            </tr>
            <tr data-bind="visible: alterVisible">
                <th>Alter:</th>
                <td><span data-bind="text: alter"></span> Jahre</td>
            </tr>
            <tr data-bind="visible: groesseVisible">
                <th>Größe:</th>
                <td data-bind="text: groesse"></td>
            </tr>
            <tr data-bind="visible: konfektionsgroesseVisible">
                <th>Konfektionsgröße:</th>
                <td data-bind="text: konfektionsgroesse"></td>
            </tr>
            <tr data-bind="visible: shirtGroesseVisible">
                <th>T-Shirt-Größe:</th>
                <td data-bind="text: shirtGroesse"></td>
            </tr>
            <tr data-bind="visible: fuehrerscheinVisible">
                <th>Führerschein:</th>
                <td data-bind="text: fuehrerschein"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: ausbildungVisible">
                <th>Ausbildung:</th>
                <td data-bind="html: ausbildung" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: studiumVisible">
                <th>Studium:</th>
                <td data-bind="html: studium" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: berufserfahrungVisible">
                <th>Berufserfahrung:</th>
                <td data-bind="html: berufserfahrung" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: sprachkenntnisseVisible">
                <th>Sprachkenntnisse:</th>
                <td data-bind="html: sprachkenntnisse" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: softwarekenntnisseVisible">
                <th>Softwarekenntnisse:</th>
                <td data-bind="html: softwarekenntnisse" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: hardwarekenntnisseVisible">
                <th>Hardwarekenntnisse:</th>
                <td data-bind="html: hardwarekenntnisse" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: sonstigeKenntnisseVisible">
                <th>Sonstige Kenntnisse:</th>
                <td data-bind="html: sonstigeKenntnisse" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: referenzenVisible">
                <th>Auszug Referenzen:</th>
                <td data-bind="html: referenzen" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: sonstigesVisible">
                <th>Sonstiges:</th>
                <td data-bind="html: sonstiges" class="pre"></td>
            </tr>
        </table>
        <table>
            <tr data-bind="visible: extraVisible">
                <th></th>
                <td data-bind="html: extra" class="pre"></td>
            </tr>
        </table>
    </div>
</body>
</html>
