﻿@using Kendo.Mvc.UI
@section head
{
    @* Wir überschreiben mal die onResize Funktion aus site.js. *@
    <script type="text/javascript">
        //var editorNS = kendo.ui.editor,
        //    registerTool = editorNS.EditorUtils.registerTool,
        //    Tool = editorNS.Tool;

        //registerTool("insertLineBreak", new Tool({ key: 13, command: editorNS.NewLineCommand }));
        //registerTool("insertParagraph", new Tool({ key: 13, shift: true, command: editorNS.NewLineCommand }));

        function downloadPDF() {
            $("#pdf").submit();
        }

        function downloadDOCX() {
            $("#docx").submit();
        }

        onResize = function () {
            $(".editor, iframe").height($("#hSplitter").height() - 16);
        };
    </script>
}
<style type="text/css">
    div.editor {
        float: left;
        overflow: auto;
        width: 300px;
    }

    iframe {
        width: 307mm;
        margin-left: 10px;
        border: 1px solid royalblue;
        float: left;
    }

    input[type=text], textarea, .k-editor {
        margin: 0 !important;
    }

    input[type=text] {
        width: 150px !important;
    }

    textarea {
        width: 270px !important;
    }

    .k-editor {
        height: 200px !important;
    }

    .label {
        padding: 4px;
        font-weight: bold;
        width: 120px;
        vertical-align: top;
        float: left;
        line-height: 24px;
    }

        .label + div {
            padding: 4px;
        }

    .wide.label {
        width: 200px !important;
    }

    #main {
        padding-bottom: 0;
        padding-top: 0;
    }

    #hSplitter .k-pane.k-scrollable:last-child {
        overflow: hidden;
    }
</style>
<div class="editor">

    <div class="label">
        <input type="checkbox" id="portraitPhotoVisible" data-bind="checked: portraitPhotoVisible" />
        <label for="portraitPhotoVisible">Portraitfoto</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="fullBodyPhotoVisible" data-bind="checked: fullBodyPhotoVisible" />
        <label for="fullBodyPhotoVisible">Ganzkörperfoto</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="otherPhotoVisible" data-bind="checked: otherPhotoVisible" />
        <label for="otherPhotoVisible">Weiteres Foto</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="funktionVisible" data-bind="checked: funktionVisible" />
        <label for="funktionVisible">Funktion</label>
    </div>
    <div>
        <input type="text" data-bind="value: funktion" class="k-textbox" />
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="einsatzortVisible" data-bind="checked: einsatzortVisible" />
        <label for="einsatzortVisible">Einsatzort</label>
    </div>
    <div>
        <input type="text" data-bind="value: einsatzort" class="k-textbox" />
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="alterVisible" data-bind="checked: alterVisible" />
        <label for="alterVisible">Alter</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="groesseVisible" data-bind="checked: groesseVisible" />
        <label for="groesseVisible">Größe</label>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="konfektionsgroesseVisible" data-bind="checked: konfektionsgroesseVisible" />
        <label for="konfektionsgroesseVisible">Konfektionsgröße</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="shirtGroesseVisible" data-bind="checked: shirtGroesseVisible" />
        <label for="shirtGroesseVisible">T-Shirt-Größe</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="fuehrerscheinVisible" data-bind="checked: fuehrerscheinVisible" />
        <label for="fuehrerscheinVisible">Führerschein</label>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="ausbildungVisible" data-bind="checked: ausbildungVisible" />
        <label for="ausbildungVisible">Ausbildung</label>
        <a href="javascript:void(0)" data-bind="click: resetAusbildung">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: ausbildung"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="studiumVisible" data-bind="checked: studiumVisible" />
        <label for="studiumVisible">Studium</label>
        <a href="javascript:void(0)" data-bind="click: resetStudium">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: studium"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="berufserfahrungVisible" data-bind="checked: berufserfahrungVisible" />
        <label for="berufserfahrungVisible">Berufserfahrung</label>
        <a href="javascript:void(0)" data-bind="click: resetBerufserfahrung">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: berufserfahrung"></textarea>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="sprachkenntnisseVisible" data-bind="checked: sprachkenntnisseVisible" />
        <label for="sprachkenntnisseVisible">Sprachkenntnisse</label>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="softwarekenntnisseVisible" data-bind="checked: softwarekenntnisseVisible" />
        <label for="softwarekenntnisseVisible">Softwarekenntnisse</label>
        <a href="javascript:void(0)" data-bind="click: resetSoftwarekenntnisse">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: softwarekenntnisse"></textarea>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="hardwarekenntnisseVisible" data-bind="checked: hardwarekenntnisseVisible" />
        <label for="hardwarekenntnisseVisible">Hardwarekenntnisse</label>
        <a href="javascript:void(0)" data-bind="click: resetHardwarekenntnisse">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: hardwarekenntnisse"></textarea>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="sonstigeKenntnisseVisible" data-bind="checked: sonstigeKenntnisseVisible" />
        <label for="sonstigeKenntnisseVisible">Sonstige Kenntnisse</label>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: sonstigeKenntnisse"></textarea>
    </div>
    <div class="clear"></div>

    <div class="wide label">
        <input type="checkbox" id="referenzenVisible" data-bind="checked: referenzenVisible" />
        <label for="referenzenVisible">Auszug Referenzen</label>
        <a href="javascript:void(0)" data-bind="click: resetReferenzen">Zurücksetzen</a>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: referenzen"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label">
        <input type="checkbox" id="sonstigesVisible" data-bind="checked: sonstigesVisible" />
        <label for="sonstigesVisible">Sonstiges</label>
    </div>
    <div>
        <textarea class="k-textbox" cols="10" rows="4" data-bind="value: sonstiges"></textarea>
    </div>
    <div class="clear"></div>

    <div class="label" style="width: 250px">
        <input type="checkbox" id="extraVisible" data-bind="checked: extraVisible" />
        <label for="extraVisible">Zusatzfeld (ohne Überschrift)</label>
    </div>
    <div>
        <textarea data-role="editor"
                  data-bind="value: extra, events: {paste: paste}"
                  id="extra"
                  data-tools="[ 
                    { name: 'bold', tooltip: 'Fett' },
                    { name: 'italic', tooltip: 'Kursiv' },
                    { name: 'underline', tooltip: 'Unterstrichen' },
                    { name: 'insertLineBreak', shift: false },
                    { name: 'insertParagraph', shift: true }
                  ]">
        </textarea>
    </div>
    <div class="clear"></div>

    @using (Html.BeginForm(MVC.MD.Sedcard.Pdf((int)ViewBag.EmployeeId, (string)ViewBag.Type), FormMethod.Post, new { id = "pdf" }))
    {
    }
    @using (Html.BeginForm(MVC.MD.Sedcard.DocX((int)ViewBag.EmployeeId, (string)ViewBag.Type), FormMethod.Post, new { id = "docx" }))
    {
    }
    <button class="k-button" data-bind="click: save">Speichern</button>
    <button class="k-button" data-bind="click: pdf">PDF</button>
    <button class="k-button" data-bind="click: docx">DOCX</button>
</div>
<iframe src="@Url.Action(MVC.MD.Sedcard.Display((int)ViewBag.EmployeeId, (string)ViewBag.Type))"></iframe>
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>