﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@using ObjectTemplate.Extensions
@using SeismitoadModel
<link rel="stylesheet" href="@Links.Content.acquisition_min_css" type="text/css" />
<style type="text/css">
    .k-grid tbody tr { height: 32px; }
    .k-tabstrip .k-content { height: 290px; }
</style>
<h3>Orte verwalten</h3>
<div id="additional-toolbar-items-template" style="display: none">
    <div id="search-actions" style="float: right">
        <button class="k-button" data-bind="click: reset"><span class='k-icon k-i-refresh'></span>Filter und Sortierung zurücksetzen</button>
        <input class="k-textbox" type="text" style="width: 250px" data-bind="value: nameStreetCity" data-value-update="keyup" onkeyup="return keyupLocation(event);" />
        <button class="k-button" data-bind="click: nameStreetCitySearchButtonClick"><span class='k-icon k-i-search'></span>Suche in Name, Straße und Ort</button>
        <button class="k-button" data-bind="click: fullSearchButtonClick"><span class='k-icon k-i-search'></span>Vollständige Suche anzeigen</button>
    </div>
</div>
@{
    const string cellWithToolTipFmt = "<span title='#= {0} #'><nobr>#= {0} #</nobr></span>";
    Html.Kendo().Grid<LocationViewModel>()
        .Name("locations")
        .Sortable()
        .AutoBind(false)
        .Pageable(pager => pager.Enabled(true).PageSizes(false))
        .Scrollable(scrollable => scrollable.Height(500))
        .Filterable()
        .ToolBar(toolbar => toolbar.Template("<span></span>"))
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("_Read", "Location").Data("function() { return locationListViewModel.searchParams(); }"))
            .Destroy("_Destroy", "Location")
            .Model(model =>
            {
                model.Id(e => e.Id);
                model.Field(e => e.Id).Editable(false);
                model.Field(e => e.Contacts).Editable(false);
            }))
        .Columns(columns =>
        {
            columns.Bound(e => e.Name).ClientTemplate(string.Format(cellWithToolTipFmt, "Name")).Width(200);
            columns.Bound(e => e.Street).ClientTemplate(string.Format(cellWithToolTipFmt, "Street")).Title("Straße").Width(200);
            columns.Bound(e => e.PostalCode).Title("PLZ").Width(70);
            columns.Bound(e => e.City).ClientTemplate(string.Format(cellWithToolTipFmt, "City")).Title("Ort").Width(150);
            columns.ForeignKey(e => e.State, new LocationState().ToSelectList()).Template(e => e.State.GetDisplayName()).Width(60);
            columns.Bound(e => e.Phone).ClientTemplate(string.Format(cellWithToolTipFmt, "Phone || ''")).Title("Telefon").Width(150);
            columns.Bound(e => e.Email).ClientTemplate(string.Format(cellWithToolTipFmt, "Email || ''")).Title("Email").Width(250);
            columns.ForeignKey(e => e.LocationTypeId, DB.Context.LocationTypes, "Id", "Name").Title("Typ").Width(120).EditorTemplateName("GridForeignKeyKendo");
            columns.Template(e => "").ClientTemplate("<a href=\"" + Url.Action(MVC.Contacts.Index()) + "?locationId=#= Id #\">Verwalten</a>").Title("Ansprechpartner").Width(90);
            columns.Template(e => "").ClientTemplate("<a href=\"" + Url.Action(MVC.CampaignArea.Index()) + "?locationId=#= Id #\">Verwalten</a>").Title("Flächen").Width(90);
            if (User.IsInRole(SeismitoadShared.Constants.Roles.Admin))
            {
                columns.Template(e => "").ClientTemplate("<a class=\"k-button k-button-icontext\" href=\"" + Url.Action(MVC.Location.Edit()) + "/#= Id #\"><span class=\"k-icon k-edit\"></span>Bearbeiten</a>").Title("Bearbeiten").Width(120);
                columns.Command(command => command.Destroy()).Title("Löschen").Width(120);
            }
            else
            {
                columns.Template(e => "").ClientTemplate("<a class=\"k-button k-button-icontext\" href=\"" + Url.Action(MVC.Location.Edit()) + "/#= Id #\"><span class=\"k-icon k-edit\"></span>Details</a>").Title("Details").Width(120);
            }
        })
        .Events(events => events.DataBound("onDataBound"))
        .Render();

    Html.Kendo().Window()
        .Name("search-window")
        .Modal(true)
        .Visible(false)
        .Draggable()
        .Animation(false)
        .Title("Suche")
        .Content(@<text>
                      @Html.Partial(MVC.Shared.Views._SearchLocation)
                      <button class="k-button" data-bind="click: search">Anwenden</button>
                  </text>)
        .Render();
}
<script src="~/Scripts/GridResizer.js" type="text/javascript"></script>
<script src="~/Scripts/GridStateSaver.js" type="text/javascript"></script>
<script src="~/Scripts/search/location.js?version=3" type="text/javascript"></script>
<script src="~/Scripts/locations/SearchViewModel.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places" type="text/javascript"></script>
<script src="~/Scripts/search/geocode.js" type="text/javascript"></script>
<script>
    function onDataBound(e) {
        var grid = e.sender;
        var currentRecords = grid.dataSource.view();
        for (var i = 0; i < currentRecords.length; i++) {
            var uid = currentRecords[i].uid;
            if (!currentRecords[i].Deleteable) {
                var element = grid.tbody.find("tr[data-uid='" + uid + "'] a.k-grid-delete");
                var contents = element.html();
                element
                    .parent()
                    .html('<button class="k-button k-button-icontext k-state-disabled" title="Nicht löschbar, wird bereits verwendet.">' +
                    contents +
                    '</button>');
            }
        }
    }
</script>