﻿@model IEnumerable<PromoterInstance.Models.MyJobViewModel>
@{
    var first = true;        
}
@foreach (var myJobViewModel in Model)
{
    var url = Url.Action(MVC.Job.Details(myJobViewModel.CampaignId));
    var resizerParams = first
        ? "width=508&height=368&404=default&mode=crop&scale=both"
        : "width=234&height=150&404=default&mode=crop&scale=both";
    first = false;
    <div class="wrapper">
        <div class="image">
            <a href="@url">
                <img src="~/CampaignAssets/@myJobViewModel.CampaignId/image.jpg?@resizerParams"/>
            </a>
        </div>
        <div class="caption">
            @myJobViewModel.Name<br/>
            @myJobViewModel.Duration<br/>
            <a href="@url">Details</a>
        </div>
    </div>
}
<div style="clear:both"></div>