﻿@using PromoterInstance.Models
@{
    ViewBag.Title = "Deine Aktionen";
}
<style>.main-content { display: none; }</style>
<script type="text/x-kendo-tmpl" id="template">
    <div class="myjob-item">
        <img src="@Url.Content("~/CampaignAssets/")#: CampaignId #/image.jpg?width=510&height=340&404=default&mode=crop" />
        <div>
            <a href="@Url.Action(MVC.Job.Details())/#: CampaignId #">#: Name #</a>
        </div>
    </div>
</script>
@section afterwrapper {
<div id="no-items">Du nimmst zur Zeit an keiner Aktion teil.</div>
@{
    Html.Kendo()
        .ListView<ApplyableCampaign>()
        .Name("c")
        .TagName("div")
        .ClientTemplateId("template")
        .HtmlAttributes(new { @class = "list-view" })
        .DataSource(dataSource => dataSource.Read(read => read.Action("_Read", "MyJobs").Type(HttpVerbs.Post)))
        .Events(events => events.DataBound("function() { if(this.dataSource.total() === 0) { $('#no-items').show(); } }"))
        .Render();
}}