﻿@model PromoterInstance.Models.StartViewModel
@{
    ViewBag.Title = "Start";
}
<script src="~/Scripts/jquery.excoloSlider.min.js"></script>
<script src="~/Scripts/login.js"></script>
<link href="~/Content/jquery.excoloSlider.css" rel="stylesheet">
<style>
    h1 { margin-top: -10px; }

    .slider {
        border: 0;
    }

    .main-content > div {
        border-bottom: none;
        padding: 0;
    }

    footer {
        padding-top: 0;
        margin-top: -119px;
        background: #fff;
        height: 61px;
    }

    div#advantage-logo {
        top: -65px;
    }

    input[type=password] {
        font-size: 20px;
        width: 250px;
        margin-top: 10px;
        margin-right: 10px;
    }

        input[type=password] + input[type=password] {
            margin-right: 0;
        }
    #popup {
        margin: 30px;
    }

    .k-button {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 16px;
    }

        .k-button + a {
            line-height: 38px;
            font-size: 16px;
            margin-left: 30px;
        }

    .slider-overlay {
        position: absolute;
        left: 350px;
        top: 450px;
        font-size: 50px;
        font-weight: bold;
        color: white;
    }

    #data-bound > div {
        width: 535px;
    }
</style>
<div id="slider-container">
    <div id="slider">
        <img src="~/Content/images/Login_image_1.jpg">
        <img src="~/Content/slider/Media Markt.jpg">
        <img src="~/Content/slider/MMTruckMitarbeiterfest.jpg">
        <img src="~/Content/slider/Saturn.jpg">
    </div>
</div>
<div class="slider-overlay">
    HERZLICH WILLKOMMEN<br />
    BEI ADVANTAGE PEOPLE
</div>
@* Diese Hidden-Felder brauchen wir um nach einem POST-Back die echten Passwort-Felder wieder zu füllen *@
@Html.HiddenFor(m => m.Password)
@Html.HiddenFor(m => m.Password2)
@{
    Html.Kendo().Window()
        .Name("popup")
        .Modal(true)
        .Width(895)
        .Title(false)
        .Events(events => events.Open("function() { window.setTimeout(function() { $('#popup').data('kendoWindow').center(); }, 50); }"))
        .Content(@<text>
                      <div id="data-bound">
                          <img src="~/Images/Icons/close.png" style="position: absolute; right: 0;" data-bind="click: closeClick" />
                          <div data-bind="invisible: deleteVisible">
                              <h1>Hallo, @Model.Firstname</h1>
                              <p>
                                  <span style="color: #d9322b">
                                      Herzlich Willkommen auf unserer neuen Promoterseite www.advantage-promotion.de.<br /><br />
                                  </span>
                                  <span style="font-weight: bold">
                                      Bitte wähle zunächst ein neues Passwort (mindestens 6 Zeichen). Mit Deinem Benutzernamen und Passwort
                                      kannst Du Dich zukünftig auf www.advantage-promotion.de einloggen.
                                  </span>
                              </p>
                              @using (Html.BeginForm())
                              {
                                  @Html.HiddenFor(m => m.StartCode)
                                  @Html.HiddenFor(m => m.Firstname)
                                  @Html.HiddenFor(m => m.Deleteable)
                                  @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "data-bind", "value: password, style: { borderColor: password1Color }" }, { "data-value-update", "keyup" }, { "placeholder", "Passwort" } })
                                  @Html.PasswordFor(m => m.Password2, new Dictionary<string, object> { { "data-bind", "value: password2, style: { borderColor: password2Color }" }, { "data-value-update", "keyup" }, { "placeholder", "Passwort bestätigen" } })
                                  <div style="border-top: 1px solid #ddd; font-weight: bold; padding: 20px 0 0 0">Datenschutzbestimmungen</div>
                                  <div style="border-bottom: 1px solid #ddd; padding-top: 20px; padding-bottom: 15px; margin-bottom: 10px">
                                      Durch Absenden dieser Seite stimme ich zu, dass meine angegebenen Daten zur Vermittlung von Jobangeboten durch
                                      die advantage Marketingservice GmbH erhoben sowie verarbeitet und genutzt werden. Darüber hinaus werden die Daten
                                      bei erfolgreicher Vermittlung an unseren Netzwerkpartner permedia Communication GmbH, 50672 Köln, Deutschland
                                      übermittelt. Ich willige ein, dass die advantage Marketingservice GmbH mich per Email über aktuelle Veranstaltungen,
                                      Leistungen und Serviceangebote informieren kann. Die Einwilligung kann jederzeit mit Wirkung für die Zukunft
                                      gegenüber der advantage Marketingservice GmbH unter info@advantagemarketingservice.de widerrufen werden.
                                </div>
                                <input type="checkbox" name="PrivacyTermsAccepted" id="privacy-checkbox" value="True" data-bind="checked: termsChecked" />
                                <label for="privacy-checkbox">Ja, ich akzeptiere die Datenschutzbestimmungen und bin mit der Speicherung meiner Daten einverstanden.</label>
                                @Html.ValidationMessageFor(m => m.PrivacyTermsAccepted)
                                <div style="clear: both; padding-top: 20px;"></div>
                                <input type="submit" class="k-button" value="Weiter zum Profil" data-bind="enabled: continueToProfileEnabled, style: { backgroundColor: submitColor }" />
                                  if (Model.Deleteable)
                                  {
                                        <a href="javascript:void()" data-bind="click: showDelete">Profil löschen</a>
                                  }
                              }
                          </div>
                          <div data-bind="visible: deleteVisible">
                              <h1>Profil löschen</h1>
                              <p>
                                  Wenn Du zukünftig nicht mehr für uns tätig sein möchtest, kannst du uns das hier mitteilen.
                                  Dein gespeichertes Profil bei advantage Marketingservice wird gelöscht und du erhältst keine weiteren Benachrichtigungen mehr.
                              </p>
                              <p>
                                  Wenn du aktuell noch in einer unserer Aktionen tätig bist, kann das Profil nicht gelöscht werden.
                                  Zum Löschen Deines Profils bitte auf den untenstehenden Link klicken:
                              </p>
                              <input type="checkbox" id="delete-checkbox" data-bind="checked: deleteChecked" />
                              <label for="delete-checkbox">
                                  Ja, ich möchte mein gespeichertes Profil bei advantage-promotion.de löschen und
                                  zukünftig keine Benachrichtigungen zu neuen Jobangeboten erhalten.
                              </label>
                              <div style="clear: both; padding-top: 20px;"></div>
                              <button class="k-button" data-bind="click: submit, enabled: deleteChecked, style: { backgroundColor: deleteColor }">Profil jetzt löschen</button>
                              <a href="javascript:void()" data-bind="click: cancel">Abbrechen</a>
                          </div>
                          <div id="deleted-popup" data-role="window" data-title="false" data-actions="" data-visible="false" data-width="580" data-modal="true">
                              <h1>Dein Profil wurde gelöscht.</h1>
                              <p>
                                  Schade, dass du nicht mehr dabei sein möchtest. Falls Du zukünftig wieder für uns tätig werden möchtest, kannst du Dich jederzeit unter
                                  www.advantage-promotion.de neu registrieren.
                              </p>
                          </div>
                      </div>
        </text>)
        .Render();
}
<script src="~/Scripts/start.js"></script>