@using Glimpse.AspNet
@using Kendo.Mvc.UI
@using MasterInstance.Models
@using ObjectTemplate.Extensions
@model int?
@{
    Html.Kendo()
        .Window()
        .Name("new-rating-window")
        .Title("Neue Bewertung")
        .Width(1000)
        .Height(700)
        .Modal(true)
        .Visible(false)
        .Draggable(true)
        .Iframe(true)
        .LoadContentFrom(MVC.MD.Rating._Create(Model.Value).GetRouteValueDictionary())
        .Render();

    Html.Kendo()
        .Window()
        .Name("edit-rating-window")
        .Title("Bewertung bearbeiten")
        .Width(1000)
        .Height(700)
        .Modal(true)
        .Visible(false)
        .Draggable(true)
        .Iframe(true)
        .LoadContentFrom(MVC.MD.Rating._Edit().GetRouteValueDictionary())
        .Render();

    Html.Kendo()
        .Grid<RatingViewModel>()
        .Name("ratings")
        .Sortable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read("_Read", "Rating", new { EmployeeId = Model })
            .Model(model => model.Id(e => e.Id))
            .Aggregates(aggregates =>
            {
                aggregates.Add(e => e.Appearance).Average();
                aggregates.Add(e => e.Customerdialog).Average();
                aggregates.Add(e => e.KnowledgeAndSales).Average();
                aggregates.Add(e => e.Engagement).Average();
                aggregates.Add(e => e.Reliability).Average();
                aggregates.Add(e => e.Teamwork).Average();
                aggregates.Add(e => e.Toughness).Average();
            }))
        .ToolBar(toolbar =>
        {
            if (User.HasAnyRole(SeismitoadShared.Constants.Roles.Admin, SeismitoadShared.Constants.Roles.Advantage))
            {
                toolbar.Template(@<button class="k-button" onclick="$('#new-rating-window').data('kendoWindow').center().open(); return false;">Neue Bewertung</button>);
            }
        })
        .Columns(columns =>
        {
            columns.Bound(e => e.Campaign).ClientFooterTemplate("Durchschnitt").Title("Projekt");
            columns.Bound(e => e.Appearance).ClientTemplate("#= Appearance ? kendo.format('{0:0.00}', Appearance) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Erscheinung");
            columns.Bound(e => e.Customerdialog).ClientTemplate("#= Customerdialog ? kendo.format('{0:0.00}', Customerdialog) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Kundendialog");
            columns.Bound(e => e.KnowledgeAndSales).ClientTemplate("#= KnowledgeAndSales ? kendo.format('{0:0.00}', KnowledgeAndSales) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Fachwissen u. Abverkauf");
            columns.Bound(e => e.Engagement).ClientTemplate("#= Engagement ? kendo.format('{0:0.00}', Engagement) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Engagement");
            columns.Bound(e => e.Reliability).ClientTemplate("#= Reliability ? kendo.format('{0:0.00}', Reliability) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Zuverlässigkeit");
            columns.Bound(e => e.Teamwork).ClientTemplate("#= Teamwork ? kendo.format('{0:0.00}', Teamwork) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Teamfähigkeit");
            columns.Bound(e => e.Toughness).ClientTemplate("#= Toughness ? kendo.format('{0:0.00}', Toughness) : 'n.b.'  #").ClientFooterTemplate("#= average ? kendo.format('{0:0.00}', average) : 'n.b.' #").Title("Belastbarkeit");
            columns.ForeignKey(e => e.RatingType, SelectListRepository.Retrieve("RatingType", ViewData), "Value", "Text").Title("Bewertungsart");
        })
        .ClientDetailTemplateId("details-template")
        .Events(events => events.DetailInit("function(e) { e.detailCell.load(\"" + Url.Action(MVC.MD.Rating._Details()) + "?ratingId=\" + e.data.Id);  }"))
        .Render();
}
<script id="details-template" type="text/kendo-tmpl">
    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" />
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("iframe").on("load", function (e) {
            var closeWindowMarkerElement = e.target.contentDocument.getElementById("close-window");
            if (closeWindowMarkerElement != null && closeWindowMarkerElement.value === "1") {
                // Es ist etwas mühsam rauszufinden welches Window gerade geschlossen werden soll, daher schließen wir Beide.
                $("#new-rating-window").data("kendoWindow").close();
                $("#edit-rating-window").data("kendoWindow").close();
                $("#ratings").data("kendoGrid").dataSource.read();
            }
        });
    });
</script>