﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@model int
@{
    Html.Kendo()
        .Grid<TrainingEmployeeViewModel>()
        .Name("trainings")
        .Sortable(sorting => sorting.Enabled(true))
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(sort => sort.Add(e => e.TrainingDateFrom))
            .Read("_Trainings", "EmployeeProfile", new {employeeId = Model}))
        .Columns(columns =>
        {
            columns.Bound(e => e.ProjectNumber).Title("Projektnummer");
            columns.Bound(e => e.CustomerName).Title("Kunde");
            columns.Bound(e => e.TrainingTitle).Title("Schulungstitel");
            columns.Bound(e => e.TrainingDateFrom)
                .ClientTemplate("<span title='#= kendo.format('{0:HH:mm}', TrainingDateFrom) #'>" +
                                "#= kendo.format('{0:dd.MM.yyyy}', TrainingDateFrom) #" +
                                "</span>").Title("Schulungsbeginn");
            columns.Bound(e => e.TrainingDateTil)
                .ClientTemplate("<span title='#= kendo.format('{0:HH:mm}', TrainingDateTil) #'>" +
                                "#= kendo.format('{0:dd.MM.yyyy}', TrainingDateTil) #" +
                                "</span>").Title("Schulungsende");
            columns.ForeignKey(e => e.TrainingState, SelectListRepository.Retrieve("TrainingState", ViewData), "Value", "Text")
                .EditorTemplateName("GridForeignKeyKendo").Title("Schulungsstatus").Filterable(false).Width(120);

        })
        .Render();
}