﻿
@model SeismitoadWebServices.Models.UrlBuilderModel
<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var action in Model.Actions)
        {
            using (Html.BeginForm())
            {
                @Html.Hidden("c", action.Key)
                @action.Key
                @Html.DropDownList("a", action.Value.Select(e => new SelectListItem {Text = e, Value = e}))
                <input type="submit" value="Url erstellen" />
            }
        }
    </div>
</body>
</html>
