﻿@using Kendo.Mvc.UI
@model MasterInstance.Models.RatingDetailsViewModel
<link href="@Url.Content("~/Content/ratingtable.min.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_FrameLayoutKendo.cshtml";
    var isCreate = Request.RequestContext.RouteData.Values["action"] as string == "_Create";
    var closeWindow = ViewBag.CloseWindow != null;
    <input type="hidden" id="close-window" value="@(closeWindow ? "1" : "0")" />
    using (Html.BeginForm())
    {
        <label for="ratingType">Bewertungsart</label><br />
        Html.Kendo()
            .DropDownList()
            .Name("ratingType")
            .BindTo(SelectListRepository.Retrieve("RatingTypesForCreate", ViewData))
            .MinLength(3)
            .Filter(FilterType.Contains)
            .HtmlAttributes(new { style = "width: 350px" })
            .Render();
        <br /><br />

        <label for="campaign">Projekt</label><br />
        Html.Kendo()
            .ComboBox()
            .Name("campaign")
            .BindTo(ViewData["CampaignItems"] as IList<SelectListItem>)
            .MinLength(3)
            .Filter(FilterType.Contains)
            .HtmlAttributes(new { style = "width: 350px" })
            .Render();
        <br/><br/>
        <label>Erläuterung Zahlen</label><br/>
        <span>1= sehr gut; 2= gut; 3= befriedigend 4= ausreichend; 5= mangelhaft; 6= ungenügend; n.b.= nicht beurteilt</span>
        <br /><br />
        <table class="rating-table">
        <colgroup>
            <col style="width: 650px"/>
            <col style="width: 100px"/>
            <col style="width: 250px"/>
        </colgroup>
        <tbody>

        <tr>
            <th colspan="3">
                <h1>Erscheinung</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Äußere Erscheinung Promoter</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Sympathische, selbstsichere Ausstrahlung (aufrechte Haltung, Präsenz)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance01).Min(1).Max(6)</td>
            <td rowspan="5">@Html.TextAreaFor(e => e.AppearenceRemark01)</td>
        </tr>
        <tr>
            <th>Gepflegtes Erscheinungsbild (saubere Fingernägel, gewaschene Haare…)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Promoter trägt Aktionskleidung (evtl. auch Namensschild, Salesbadges etc.) und diese ist ordentlich</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance03).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Angemessene Sprache (Grammatik, Akzent, Dialekt, keine Füllwörter, wie „äh“)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance04).Min(1).Max(6)</td>
            <td></td>
        </tr>
        <tr>
            <th>Bedient keine Klischees z.B. durch Tätowierungen, auffällige Haare, übertriebenes Make-up, Schmuck…</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance05).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Aktionsstand</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Promoter hält den Aktionsstand sauber und aufgeräumt</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance06).Min(1).Max(6)</td>
            <td rowspan="4">@Html.TextAreaFor(e => e.AppearenceRemark02)</td>
        </tr>
        <tr>
            <th>Auf dem Aktionsstand sind nur Produkte platziert, die dort vorgesehen sind (keine anderen Hersteller)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance07).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Die Produkte sind vorführbereit (Demos, Software etc. sind korrekt installiert und laufen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance08).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Das POS-Material ist gut sichtbar und sinnvoll platziert</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Appearance09).Min(1).Max(6)</td>
            <td></td>
        </tr>



        <tr>
            <th colspan="3">
                <h1>Kundedialog</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Kontaktfähigkeit</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Lockeres, entspanntes Auftreten, lächelt, offene Körperhaltung</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog01).Min(1).Max(6)</td>
            <td rowspan="5">@Html.TextAreaFor(e => e.CustomerDialogRemark01)</td>
        </tr>
        <tr>
            <th>Geht aktiv auf Kunden zu, stellt offene Einstiegsfragen, wirkt engagiert</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Stellt angenehme Gesprächsatmosphäre her, hört aufmerksam zu</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog03).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Offen und gesprächig, sucht auch informelle Unterhaltung mit Kunden</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog04).Min(1).Max(6)</td>
            <td></td>
        </tr>
        <tr>
            <th>Freundliche Verabschiedung, stellt sicher, dass keine Fragen mehr bestehen</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog05).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Kommunikationsfähigkeit</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Ermittelt den persönlichen Bedarf, stellt offene Fragen hierzu</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog06).Min(1).Max(6)</td>
            <td rowspan="5">@Html.TextAreaFor(e => e.CustomerDialogRemark02)</td>
        </tr>
        <tr>
            <th>Setzt vielfältige Nutzen-/Vorteils- Argumentation für das Produkt ein</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog07).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Greift Fragen und Einwände souverän auf und kann sie ausräumen </th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog08).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Spricht lebendig (Stimmmodulation, Wortwahl, erzeugt Aufmerksamkeit damit)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog09).Min(1).Max(6)</td>
            <td></td>
        </tr>
        <tr>
            <th>Bringt Beispiele, Referenzen, Studien oder Erfahrungswerte</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.CustomerDialog10).Min(1).Max(6)</td>
        </tr>


        <tr>
            <th colspan="3">
                <h1>Fachwissen und Abverkauf</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Fachwissen</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>besitzt fundiertes Fachwissen und erweitert seinen Wissensstand bei Bedarf eigenständig</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales01).Min(1).Max(6)</td>
            <td rowspan="4">@Html.TextAreaFor(e => e.KnowledgeAndSalesRemark01)</td>
        </tr>
        <tr>
            <th>Kenntnis über fachspezifische Ausdrücke und deren Bedeutung</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>kann Fachwissen verständlich erklären &amp; berücksichtigt Kenntnisstand des Gesprächspartners</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales03).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>platziert Produkteigenschaften sinnvoll im Gespräch</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales04).Min(1).Max(6)</td>
            <td></td>
        </tr>

        <tr class="table-header">
            <th>Ergebnisorientierung</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Selbstsicheres Auftreten (direkter Blickkontakt, klare Aussagen auch bei kritischen Nachfragen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales05).Min(1).Max(6)</td>
            <td rowspan="6">@Html.TextAreaFor(e => e.KnowledgeAndSalesRemark02)</td>
        </tr>
        <tr>
            <th>Führt aktiv Gespräche, behält die Gesprächssteuerung bei</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales06).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Macht das Produkt „erlebbar“ (z. B. Vorführungen am Produkt, lässt ausprobieren)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales07).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Betont Vorteile einer sofortigen Entscheidung, strebt konkreten Verkaufsabschluss an</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales08).Min(1).Max(6)</td>
            <td></td>
        </tr>
        <tr>
            <th>Bleibt bei Zögern in der Entscheidungsfindung hartnäckig, hakt wiederholt nach </th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales09).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Erzielt durch seine gute Verkaufstaktik regelmäßig gute Verkaufszahlen und quantitativ messbare Erfolge</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.KnowledgeAndSales10).Min(1).Max(6)</td>
        </tr>



        <tr>
            <th colspan="3">
                <h1>Engagement</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Engagement während des Bewerbungsprozeßes</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Promoter unterstreicht sein Interesse durch ein angemessenes Anschreiben</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement01).Min(1).Max(6)</td>
            <td rowspan="5">@Html.TextAreaFor(e => e.EngagementRemark01)</td>
        </tr>
        <tr>
            <th>Der Promoter trägt zeitnah und vollständig alle wichtigen Informationen in der Datenbank ein</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Bewerber hat sich auf des Skype-/Telefoninterview/Casting gut vorbereitet und tritt angemessen auf</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement03).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>benötigte Vertragsunterlagen (RV, GS, Fragebogen zur Selbständigkeit) werden zeitnah geschickt</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement04).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Promoter sucht Kommunikation mit Agentur (Stand der Bewerbung, Fragen zur Aktion etc.)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement05).Min(1).Max(6)</td>
            <td></td>
        </tr>

        <tr class="table-header">
            <th>Engagement während der Aktion</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Promoter setzt sich mit Aktion auseinander und trägt aktiv zur Verbesserung der Aktion bei</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement06).Min(1).Max(6)</td>
            <td rowspan="2">@Html.TextAreaFor(e => e.EngagementRemark02)</td>
        </tr>
        <tr>
            <th>Der Promoter zeigt ein hohe Bereitschaft (z. B. zur Selbstschulung, weite Fahrstrecken, flexible Einsatzorte, kurzfristige Einsätze, etc.)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Engagement07).Min(1).Max(6)</td>
        </tr>



        <tr>
            <th colspan="3">
                <h1>Zuverlässigkeit</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Zuverlässigkeit vor Aktionsbeginn</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>pünktliche und zeitnahe Bestätigung der Einsatztage und des Auftrages</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability01).Min(1).Max(6)</td>
            <td rowspan="4">@Html.TextAreaFor(e => e.ReliabilityRemark01)</td>
        </tr>
        <tr>
            <th>Kommunikation mit Agentur und Erreichbarkeit (Einhaltung Gesprächstermine, Schnelligkeit Rückmeldungen, …)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Durchführung der Schulungen (online und offline, z. B. auch IREP/Schulungsunterlagen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability03).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Auseinandersetzung mit Infoleitfaden und Aktionsbriefing</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability04).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Zuverlässigkeit während der Aktion</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Einhaltung der Aktionstage (keine Krankmeldungen/Verschiebungen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability05).Min(1).Max(6)</td>
            <td rowspan="6">@Html.TextAreaFor(e => e.ReliabilityRemark02)</td>
        </tr>
        <tr>
            <th>Einhaltung der Aktionszeiten und Pausen (z.B. Pausen nicht überziehen oder am Ende des Tages)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability06).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Pünktlicher Aktionsbeginn und Log-in (Check-Fax oder mobile Anmeldung)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability07).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>frühzeitige Kommunikation bei Krankmeldungen/Verspätungen/Problemen im Markt (z. b. fehlende Aktionskleidung etc.)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability08).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Reportingeingabe (pünktliche Eintragung, Vollständigkeit, Korrektheit) und Aktionsfotos</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability09).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Erfüllung der Aufgaben (geschuldete Erfolge, abgesprochene Aktionsmechanismen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability10).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Zuverlässigkeit nach der Aktion</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Rückversand der Aktionskleidung (ohne mehrfache Erinnerung) in ordentlichem Zustand (pflegliche Behandlung)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability11).Min(1).Max(6)</td>
            <td rowspan="2">@Html.TextAreaFor(e => e.ReliabilityRemark03)</td>
        </tr>
        <tr>
            <th>korrekte Rechnungstellung (z. B. Fahrtkosten, Provisionen etc.)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Reliability12).Min(1).Max(6)</td>
        </tr>


        <tr>
            <th colspan="3">
                <h1>Teamfähigkeit</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th>Teamfähigkeit/Agentur</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Promoter versteht den Auftrag als Zusammenarbeit (arbeitet mit nicht gegen die Agentur)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork01).Min(1).Max(6)</td>
            <td rowspan="3">@Html.TextAreaFor(e => e.TeamworkRemark01)</td>
        </tr>
        <tr>
            <th>Einhaltung von Absprachen (z. B. mit Agentur, Lager, Teammitgliedern)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Akzeptanz von Teamentscheidungen/Anweisungen der Agentur</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork03).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Teamfähigkeit Markt/Promotionteam</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Integriert sich in das bestehende Team der Marktmitarbeiter/des Promotionteams</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork04).Min(1).Max(6)</td>
            <td rowspan="6">@Html.TextAreaFor(e => e.TeamworkRemark02)</td>
        </tr>
        <tr>
            <th>Passt sich den Gepflogenheiten des Marktes an</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork05).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Stellt sich seinem Ansprechpartner vor und kommuniziert angemessen mit ihm</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork06).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Arbeitet innerhalb des Teams kooperativ und unterstützend, bringt sich ein</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork07).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Durchschnittsnote Marktbeurteilung Erscheinung</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork08).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Durchschnittsnote Marktbeurteilung Kundendialog</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Teamwork09).Min(1).Max(6)</td>
        </tr>

        <tr class="table-header">
            <th>Teamleitereignung</th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th><label for="Teamleader01">Promoter hat in der Aktion die Teamleiterfunktion übernommen.</label></th>
            <td>@Html.CheckBox("Teamleader01")</td>
            <td rowspan="4">@Html.TextAreaFor(e => e.TeamleaderRemark01)</td>
        </tr>
        <tr>
            <th><label for="Teamleader02">Promoter wäre geeignet zukünftig in anderen Aktionen die Teamleiterfunktion zu übernehmen</label></th>
            <td>@Html.CheckBox("Teamleader02")</td>
        </tr>
        <tr>
            <th><label for="Teamleader03">Promoter scheint eher ungeeignet, eine Teamleiterfunktion zu übernehmen</label></th>
            <td>@Html.CheckBox("Teamleader03")</td>
        </tr>
        <tr>
            <th><label for="Teamleader04">Teamleitereignung konnte nicht beurteilt werden (z. B. bei Einzelaktionen)</label></th>
            <td>@Html.CheckBox("Teamleader04")</td>
        </tr>



        <tr>
            <th colspan="3">
                <h1>Belastbarkeit</h1>
            </th>
        </tr>
        <tr class="table-header">
            <th></th>
            <th>Beurteilung</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <th>Promoter macht auch bei schwierigen Bedingungen eine guten Job (schwieriger Markt, schwierige Kunden, schlechtes Wetter, lange Aktionstage/lange Anreisen)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Toughness01).Min(1).Max(6)</td>
            <td rowspan="3">@Html.TextAreaFor(e => e.ToughnessRemark01)</td>
        </tr>
        <tr>
            <th>Promoter unterstützt bei Aufbauten (der Aktionsfläche, des Mobils, …)</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Toughness02).Min(1).Max(6)</td>
        </tr>
        <tr>
            <th>Promoter lässt sich nicht durch unerwartete Situationen oder kurzfristige Änderungen aus der Ruhe bringen und findet geeignete Lösungen</th>
            <td>@Html.Kendo().NumericTextBoxFor(e => e.Toughness03).Min(1).Max(6)</td>
        </tr>

        <tr>
            <th colspan="3">
                <h1>Allgemeines</h1>
            </th>
        </tr>
        <tr>
            <th>1. Besonders positive Eigenschaften des Promoters (Kurzbeschreibung)</th>
            <td colspan="2">@Html.TextAreaFor(e => e.PositiveAttributes, new { style = "width: 350px" })</td>
        </tr>
        <tr>
            <th>2. Verbesserungspotential des Promoters (Kurzbeschreibung)</th>
            <td colspan="2">@Html.TextAreaFor(e => e.PossibleImprovements, new { style = "width: 350px" })</td>
        </tr> 
        <tr>
            <th>3. Sonstige Bemerkungen</th>
            <td colspan="2">@Html.TextArea("OtherRemark", new { style = "width: 350px" })</td>
        </tr>

        </tbody>
        </table>

        <button type="submit" class="k-button">@(isCreate ? "Anlegen" : "Änderungen speichern")</button>
    }
}