﻿@using ObjectTemplate.Extensions
@model MasterInstance.Models.RatingDetailsViewModel
@functions
{
    string FormatDecimal(decimal? value)
    {
        return value.HasValue
            ? value.Value.ToString("F")
            : "-";
    }
}
<table class="rating-table">
<colgroup>
    <col style="width: 650px"/>
    <col style="width: 100px"/>
    <col style="width: 250px"/>
</colgroup>
<tbody>

<tr>
    <th colspan="3">
        <h1>Erscheinung</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Äußere Erscheinung Promoter</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Sympathische, selbstsichere Ausstrahlung (aufrechte Haltung, Präsenz)</th>
    <td>@FormatDecimal(Model.Appearance01)</td>
    <td rowspan="5">@Model.AppearenceRemark01</td>
</tr>
<tr>
    <th>Gepflegtes Erscheinungsbild (saubere Fingernägel, gewaschene Haare…)</th>
    <td>@FormatDecimal(Model.Appearance02)</td>
</tr>
<tr>
    <th>Promoter trägt Aktionskleidung (evtl. auch Namensschild, Salesbadges etc.) und diese ist ordentlich</th>
    <td>@FormatDecimal(Model.Appearance03)</td>
</tr>
<tr>
    <th>Angemessene Sprache (Grammatik, Akzent, Dialekt, keine Füllwörter, wie „äh“)</th>
    <td>@FormatDecimal(Model.Appearance04)</td>
    <td></td>
</tr>
<tr>
    <th>Bedient keine Klischees z.B. durch Tätowierungen, auffällige Haare, übertriebenes Make-up, Schmuck…</th>
    <td>@FormatDecimal(Model.Appearance05)</td>
</tr>

<tr class="table-header">
    <th>Aktionsstand</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Promoter hält den Aktionsstand sauber und aufgeräumt</th>
    <td>@FormatDecimal(Model.Appearance06)</td>
    <td rowspan="4">@Model.AppearenceRemark02</td>
</tr>
<tr>
    <th>Auf dem Aktionsstand sind nur Produkte platziert, die dort vorgesehen sind (keine anderen Hersteller)</th>
    <td>@FormatDecimal(Model.Appearance07)</td>
</tr>
<tr>
    <th>Die Produkte sind vorführbereit (Demos, Software etc. sind korrekt installiert und laufen)</th>
    <td>@FormatDecimal(Model.Appearance08)</td>
</tr>
<tr>
    <th>Das POS-Material ist gut sichtbar und sinnvoll platziert</th>
    <td>@FormatDecimal(Model.Appearance09)</td>
    <td></td>
</tr>



<tr>
    <th colspan="3">
        <h1>Kundedialog</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Kontaktfähigkeit</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Lockeres, entspanntes Auftreten, lächelt, offene Körperhaltung</th>
    <td>@FormatDecimal(Model.CustomerDialog01)</td>
    <td rowspan="5">@Model.CustomerDialogRemark01</td>
</tr>
<tr>
    <th>Geht aktiv auf Kunden zu, stellt offene Einstiegsfragen, wirkt engagiert</th>
    <td>@FormatDecimal(Model.CustomerDialog02)</td>
</tr>
<tr>
    <th>Stellt angenehme Gesprächsatmosphäre her, hört aufmerksam zu</th>
    <td>@FormatDecimal(Model.CustomerDialog03)</td>
</tr>
<tr>
    <th>Offen und gesprächig, sucht auch informelle Unterhaltung mit Kunden</th>
    <td>@FormatDecimal(Model.CustomerDialog04)</td>
    <td></td>
</tr>
<tr>
    <th>Freundliche Verabschiedung, stellt sicher, dass keine Fragen mehr bestehen</th>
    <td>@FormatDecimal(Model.CustomerDialog05)</td>
</tr>

<tr class="table-header">
    <th>Kommunikationsfähigkeit</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Ermittelt den persönlichen Bedarf, stellt offene Fragen hierzu</th>
    <td>@FormatDecimal(Model.CustomerDialog06)</td>
    <td rowspan="5">@Model.CustomerDialogRemark02</td>
</tr>
<tr>
    <th>Setzt vielfältige Nutzen-/Vorteils- Argumentation für das Produkt ein</th>
    <td>@FormatDecimal(Model.CustomerDialog07)</td>
</tr>
<tr>
    <th>Greift Fragen und Einwände souverän auf und kann sie ausräumen </th>
    <td>@FormatDecimal(Model.CustomerDialog08)</td>
</tr>
<tr>
    <th>Spricht lebendig (Stimmmodulation, Wortwahl, erzeugt Aufmerksamkeit damit)</th>
    <td>@FormatDecimal(Model.CustomerDialog09)</td>
    <td></td>
</tr>
<tr>
    <th>Bringt Beispiele, Referenzen, Studien oder Erfahrungswerte</th>
    <td>@FormatDecimal(Model.CustomerDialog10)</td>
</tr>


<tr>
    <th colspan="3">
        <h1>Fachwissen und Abverkauf</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Fachwissen</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>besitzt fundiertes Fachwissen und erweitert seinen Wissensstand bei Bedarf eigenständig</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales01)</td>
    <td rowspan="4">@Model.KnowledgeAndSalesRemark01</td>
</tr>
<tr>
    <th>Kenntnis über fachspezifische Ausdrücke und deren Bedeutung</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales02)</td>
</tr>
<tr>
    <th>kann Fachwissen verständlich erklären &amp; berücksichtigt Kenntnisstand des Gesprächspartners</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales03)</td>
</tr>
<tr>
    <th>platziert Produkteigenschaften sinnvoll im Gespräch</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales04)</td>
    <td></td>
</tr>

<tr class="table-header">
    <th>Ergebnisorientierung</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Selbstsicheres Auftreten (direkter Blickkontakt, klare Aussagen auch bei kritischen Nachfragen)</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales05)</td>
    <td rowspan="6">@Model.KnowledgeAndSalesRemark02</td>
</tr>
<tr>
    <th>Führt aktiv Gespräche, behält die Gesprächssteuerung bei</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales06)</td>
</tr>
<tr>
    <th>Macht das Produkt „erlebbar“ (z. B. Vorführungen am Produkt, lässt ausprobieren)</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales07)</td>
</tr>
<tr>
    <th>Betont Vorteile einer sofortigen Entscheidung, strebt konkreten Verkaufsabschluss an</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales08)</td>
    <td></td>
</tr>
<tr>
    <th>Bleibt bei Zögern in der Entscheidungsfindung hartnäckig, hakt wiederholt nach </th>
    <td>@FormatDecimal(Model.KnowledgeAndSales09)</td>
</tr>
<tr>
    <th>Erzielt durch seine gute Verkaufstaktik regelmäßig gute Verkaufszahlen und quantitativ messbare Erfolge</th>
    <td>@FormatDecimal(Model.KnowledgeAndSales10)</td>
</tr>



<tr>
    <th colspan="3">
        <h1>Engagement</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Engagement während des Bewerbungsprozeßes</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Promoter unterstreicht sein Interesse durch ein angemessenes Anschreiben</th>
    <td>@FormatDecimal(Model.Engagement01)</td>
    <td rowspan="5">@Model.EngagementRemark01</td>
</tr>
<tr>
    <th>Der Promoter trägt zeitnah und vollständig alle wichtigen Informationen in der Datenbank ein</th>
    <td>@FormatDecimal(Model.Engagement02)</td>
</tr>
<tr>
    <th>Bewerber hat sich auf des Skype-/Telefoninterview/Casting gut vorbereitet und tritt angemessen auf</th>
    <td>@FormatDecimal(Model.Engagement03)</td>
</tr>
<tr>
    <th>benötigte Vertragsunterlagen (RV, GS, Fragebogen zur Selbständigkeit) werden zeitnah geschickt</th>
    <td>@FormatDecimal(Model.Engagement04)</td>
</tr>
<tr>
    <th>Promoter sucht Kommunikation mit Agentur (Stand der Bewerbung, Fragen zur Aktion etc.)</th>
    <td>@FormatDecimal(Model.Engagement05)</td>
    <td></td>
</tr>

<tr class="table-header">
    <th>Engagement während der Aktion</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Promoter setzt sich mit Aktion auseinander und trägt aktiv zur Verbesserung der Aktion bei</th>
    <td>@FormatDecimal(Model.Engagement06)</td>
    <td rowspan="2">@Model.EngagementRemark02</td>
</tr>
<tr>
    <th>Der Promoter zeigt ein hohe Bereitschaft (z. B. zur Selbstschulung, weite Fahrstrecken, flexible Einsatzorte, kurzfristige Einsätze, etc.)</th>
    <td>@FormatDecimal(Model.Engagement07)</td>
</tr>



<tr>
    <th colspan="3">
        <h1>Zuverlässigkeit</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Zuverlässigkeit vor Aktionsbeginn</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>pünktliche und zeitnahe Bestätigung der Einsatztage und des Auftrages</th>
    <td>@FormatDecimal(Model.Reliability01)</td>
    <td rowspan="4">@Model.ReliabilityRemark01</td>
</tr>
<tr>
    <th>Kommunikation mit Agentur und Erreichbarkeit (Einhaltung Gesprächstermine, Schnelligkeit Rückmeldungen, …)</th>
    <td>@FormatDecimal(Model.Reliability02)</td>
</tr>
<tr>
    <th>Durchführung der Schulungen (online und offline, z. B. auch IREP/Schulungsunterlagen)</th>
    <td>@FormatDecimal(Model.Reliability03)</td>
</tr>
<tr>
    <th>Auseinandersetzung mit Infoleitfaden und Aktionsbriefing</th>
    <td>@FormatDecimal(Model.Reliability04)</td>
</tr>

<tr class="table-header">
    <th>Zuverlässigkeit während der Aktion</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Einhaltung der Aktionstage (keine Krankmeldungen/Verschiebungen)</th>
    <td>@FormatDecimal(Model.Reliability05)</td>
    <td rowspan="6">@Model.ReliabilityRemark02</td>
</tr>
<tr>
    <th>Einhaltung der Aktionszeiten und Pausen (z.B. Pausen nicht überziehen oder am Ende des Tages)</th>
    <td>@FormatDecimal(Model.Reliability06)</td>
</tr>
<tr>
    <th>Pünktlicher Aktionsbeginn und Log-in (Check-Fax oder mobile Anmeldung)</th>
    <td>@FormatDecimal(Model.Reliability07)</td>
</tr>
<tr>
    <th>frühzeitige Kommunikation bei Krankmeldungen/Verspätungen/Problemen im Markt (z. b. fehlende Aktionskleidung etc.)</th>
    <td>@FormatDecimal(Model.Reliability08)</td>
</tr>
<tr>
    <th>Reportingeingabe (pünktliche Eintragung, Vollständigkeit, Korrektheit) und Aktionsfotos</th>
    <td>@FormatDecimal(Model.Reliability09)</td>
</tr>
<tr>
    <th>Erfüllung der Aufgaben (geschuldete Erfolge, abgesprochene Aktionsmechanismen)</th>
    <td>@FormatDecimal(Model.Reliability10)</td>
</tr>

<tr class="table-header">
    <th>Zuverlässigkeit nach der Aktion</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Rückversand der Aktionskleidung (ohne mehrfache Erinnerung) in ordentlichem Zustand (pflegliche Behandlung)</th>
    <td>@FormatDecimal(Model.Reliability11)</td>
    <td rowspan="2">@Model.ReliabilityRemark03</td>
</tr>
<tr>
    <th>korrekte Rechnungstellung (z. B. Fahrtkosten, Provisionen etc.)</th>
    <td>@FormatDecimal(Model.Reliability12)</td>
</tr>


<tr>
    <th colspan="3">
        <h1>Teamfähigkeit</h1>
    </th>
</tr>
<tr class="table-header">
    <th>Teamfähigkeit/Agentur</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Promoter versteht den Auftrag als Zusammenarbeit (arbeitet mit nicht gegen die Agentur)</th>
    <td>@FormatDecimal(Model.Teamwork01)</td>
    <td rowspan="3">@Model.TeamworkRemark01</td>
</tr>
<tr>
    <th>Einhaltung von Absprachen (z. B. mit Agentur, Lager, Teammitgliedern)</th>
    <td>@FormatDecimal(Model.Teamwork02)</td>
</tr>
<tr>
    <th>Akzeptanz von Teamentscheidungen/Anweisungen der Agentur</th>
    <td>@FormatDecimal(Model.Teamwork03)</td>
</tr>

<tr class="table-header">
    <th>Teamfähigkeit Markt/Promotionteam</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Integriert sich in das bestehende Team der Marktmitarbeiter/des Promotionteams</th>
    <td>@FormatDecimal(Model.Teamwork04)</td>
    <td rowspan="6">@Model.TeamworkRemark02</td>
</tr>
<tr>
    <th>Passt sich den Gepflogenheiten des Marktes an</th>
    <td>@FormatDecimal(Model.Teamwork05)</td>
</tr>
<tr>
    <th>Stellt sich seinem Ansprechpartner vor und kommuniziert angemessen mit ihm</th>
    <td>@FormatDecimal(Model.Teamwork06)</td>
</tr>
<tr>
    <th>Arbeitet innerhalb des Teams kooperativ und unterstützend, bringt sich ein</th>
    <td>@FormatDecimal(Model.Teamwork07)</td>
</tr>
<tr>
    <th>Durchschnittsnote Marktbeurteilung Erscheinung</th>
    <td>@FormatDecimal(Model.Teamwork08)</td>
</tr>
<tr>
    <th>Durchschnittsnote Marktbeurteilung Kundendialog</th>
    <td>@FormatDecimal(Model.Teamwork09)</td>
</tr>

<tr class="table-header">
    <th>Teamleitereignung</th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th><label for="Teamleader01">Promoter hat in der Aktion die Teamleiterfunktion übernommen.</label></th>
    <td>@(Model.Teamleader01.GetValueOrDefault() ? "Ja" : "-")</td>
    <td rowspan="4">@Model.TeamleaderRemark01</td>
</tr>
<tr>
    <th><label for="Teamleader02">Promoter wäre geeignet zukünftig in anderen Aktionen die Teamleiterfunktion zu übernehmen</label></th>
    <td>@(Model.Teamleader02.GetValueOrDefault() ? "Ja" : "-")</td>
</tr>
<tr>
    <th><label for="Teamleader03">Promoter scheint eher ungeeignet, eine Teamleiterfunktion zu übernehmen</label></th>
    <td>@(Model.Teamleader03.GetValueOrDefault() ? "Ja" : "-")</td>
</tr>
<tr>
    <th><label for="Teamleader04">Teamleitereignung konnte nicht beurteilt werden (z. B. bei Einzelaktionen)</label></th>
    <td>@(Model.Teamleader04.GetValueOrDefault() ? "Ja" : "-")</td>
</tr>



<tr>
    <th colspan="3">
        <h1>Belastbarkeit</h1>
    </th>
</tr>
<tr class="table-header">
    <th></th>
    <th>Beurteilung</th>
    <th>Bemerkung</th>
</tr>
<tr>
    <th>Promoter macht auch bei schwierigen Bedingungen eine guten Job (schwieriger Markt, schwierige Kunden, schlechtes Wetter, lange Aktionstage/lange Anreisen)</th>
    <td>@FormatDecimal(Model.Toughness01)</td>
    <td rowspan="3">@Model.ToughnessRemark01</td>
</tr>
<tr>
    <th>Promoter unterstützt bei Aufbauten (der Aktionsfläche, des Mobils, …)</th>
    <td>@FormatDecimal(Model.Toughness02)</td>
</tr>
<tr>
    <th>Promoter lässt sich nicht durch unerwartete Situationen oder kurzfristige Änderungen aus der Ruhe bringen und findet geeignete Lösungen</th>
    <td>@FormatDecimal(Model.Toughness03)</td>
</tr>

<tr>
    <th colspan="3">
        <h1>Allgemeines</h1>
    </th>
</tr>
<tr>
    <th>1. Besonders positive Eigenschaften des Promoters (Kurzbeschreibung)</th>
    <td colspan="2">@Model.PositiveAttributes</td>
</tr>
<tr>
    <th>2. Verbesserungspotential des Promoters (Kurzbeschreibung)</th>
    <td colspan="2">@Model.PossibleImprovements</td>
</tr>
<tr>
    <th>3. Sonstige Bemerkungen</th>
    <td colspan="2">@ViewBag.OtherRemark</td>
</tr>

</tbody>
</table>
@if (User.HasAnyRole(SeismitoadShared.Constants.Roles.Admin, SeismitoadShared.Constants.Roles.Advantage))
{
    <script type="text/javascript">
        function openRatingEditor(ratingId) {
            var ratingWindowElement = $("#edit-rating-window"),
                iframeElement = ratingWindowElement.find("iframe"),
                originalUrl = iframeElement.attr("src"),
                url = originalUrl,
                indexOfQueryString = url.indexOf("?");

            if (indexOfQueryString > -1) {
                url = url.substring(0, indexOfQueryString);
            }
            url += "?ratingId=" + ratingId;
            iframeElement[0].contentDocument.body.innerHTML = "Bitte warten...";
            iframeElement.attr("src", url);
            if (url === originalUrl) {
                iframeElement[0].contentDocument.location.reload(true);
            }
            ratingWindowElement.data('kendoWindow').center().open();
        }
    </script>
    <button class="k-button" onclick="openRatingEditor(@Request.Params["ratingId"]); return false;">Bearbeiten</button>
}