﻿<h1>MasterInstance @SeismitoadShared.Controllers.SignalkontorControllerBase.WebAppVersion</h1>
@{
    Html
        .Kendo()
        .TabStrip()
        .Name("tabs")
        .SelectedIndex(0)
        .Items(items =>
                   {
                       items.Add()
                           .Text("ELMAH")
                           .LoadContentFrom(Href("~/elmah.axd"));
                       items
                           .Add()
                           .Text("Rechte")
                           .Content(@<text>
                                         <fieldset>
                                             <legend>Diesem User Login für alle Campaigns geben</legend>
                                             @using (Html.BeginForm(MVC.Admin.Signalkontor.CreateLoginsForAllCampaigns()))
                                             {
                                                 <input class="k-button" type="submit" value="Los" />
                                             }
                                         </fieldset>
                                     </text>);
                       items.Add()
                           .Text("Versionen")
                           .Content(@<text>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Komponente</th>
                                                    <th>Version</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CLR</td>
                                                    <td>@SeismitoadShared.Controllers.SignalkontorControllerBase.ClrVersion</td>
                                                </tr>
                                                <tr>
                                                    <td>.NET</td>
                                                    <td>@SeismitoadShared.Controllers.SignalkontorControllerBase.DotNetVersion</td>
                                                </tr>
                                                <tr>
                                                    <td>Entity Framework</td>
                                                    <td>@SeismitoadShared.Controllers.SignalkontorControllerBase.EfVersion</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </text>);
                   })
        .Render();
}