﻿@using ObjectTemplate
@using ObjectTemplate.Extensions
@using SeismitoadModel
@model PromoterInstance.Models.ExperienceViewModel
<div class="k-edit-form-container">
    <div class="k-edit-label">
        @Html.LabelFor(e => e.Type)
    </div>
    <div class="k-edit-field" data-container-for="Type">
        @{
            Html.Kendo()
                .DropDownListFor(e => e.Type)
                .OptionLabel("Bitte wählen...")
                .HtmlAttributes(new { style = "width: 230px" })
                .BindTo(new ExperienceType().ToSelectList())
                .DataTextField("Text")
                .DataValueField("Value")
                .Render();
        }
    </div>
    
    <div class="k-edit-label">
        @Html.LabelFor(e => e.Task)
    </div>
    <div class="k-edit-field" data-container-for="Task">
        @{
            Html.Kendo()
                .DropDownListFor(e => e.Task)
                .OptionLabel("Bitte wählen...")
                .HtmlAttributes(new { style = "width: 230px" })
                .DataSource(dataSource => dataSource
                    .Read(read => read
                        .Action("_Task", "Experience")
                        .Data("function() { return { type: $('#Type').val() }; }"))
                    .ServerFiltering(true))
                .DataTextField("Text")
                .DataValueField("Value")
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("Type")
                .Render();
        }
    </div>
    
    <div class="k-edit-label">
        @Html.LabelFor(e => e.OtherTask)
    </div>
    <div class="k-edit-field" data-container-for="OtherTask">
        @Html.TextBoxFor(e => e.OtherTask, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(e => e.Timeframe)
    </div>
    <div class="k-edit-field" data-container-for="Timeframe">
        @Html.TextBoxFor(e => e.Timeframe, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(e => e.Sector)
    </div>
    <div class="k-edit-field" data-container-for="Sector">
        @{
            Html.Kendo()
                .DropDownListFor(e => e.Sector)
                .OptionLabel("Bitte wählen...")
                .HtmlAttributes(new { style = "width: 230px" })
                .BindTo(SelectListRepository.Retrieve("Sector", ViewData))
                .DataTextField("Text")
                .DataValueField("Value")
                .Render();
        }
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(e => e.SectorDetails)
    </div>
    <div class="k-edit-field" data-container-for="SectorDetails">
        @{
            Html.Kendo()
                .DropDownListFor(e => e.SectorDetails)
                .OptionLabel("Bitte wählen...")
                .HtmlAttributes(new { style = "width: 230px" })
                .DataSource(dataSource => dataSource
                    .Read(read => read
                        .Action("_SectorDetails", "Experience")
                        .Data("function() { return { sector: $('#Sector').val() }; }"))
                    .ServerFiltering(true))
                .DataTextField("Text")
                .DataValueField("Value")
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("Sector")
                .Render();
        }
    </div>
    
    <div class="k-edit-label">
        @Html.LabelFor(e => e.Title)
    </div>
    <div class="k-edit-field" data-container-for="Title">
        @Html.TextBoxFor(e => e.Title, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>
    
    <div class="k-edit-label">
        @Html.LabelFor(e => e.Brand)
    </div>
    <div class="k-edit-field" data-container-for="Brand">
        @Html.TextBoxFor(e => e.Brand, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>
    
    <div class="k-edit-label">
        @Html.LabelFor(e => e.Product)
    </div>
    <div class="k-edit-field" data-container-for="Product">
        @Html.TextBoxFor(e => e.Product, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>    

    <div class="k-edit-label">
        @Html.LabelFor(e => e.Agency)
    </div>
    <div class="k-edit-field" data-container-for="Agency">
        @Html.TextBoxFor(e => e.Agency, new { @class = "k-textbox", style = "width: 230px; margin-bottom: 0" })
    </div>
</div>