﻿@using SeismitoadModel
@{
    Html.Kendo().Grid<ConfirmationEmail>()
        .Name("c")
        .DataSource(dataSource => dataSource.Ajax().Read("_Read", "Confirmations").PageSize(24))
        .Filterable()
        .Sortable()
        .Pageable()
        .Columns(columns =>
        {
            columns.Bound(e => e.DateStart).ClientTemplate("#= kendo.format('{0:dd.MM.yyyy}', DateStart) #").Title("Datum");
            columns.Bound(e => e.Firstname).Title("Vorname");
            columns.Bound(e => e.Lastname).Title("Nachname");
            columns.Bound(e => e.LocationName).Title("Markt");
            columns.Bound(e => e.Street).Title("Straße");
            columns.Bound(e => e.PostcalCode).Title("PLZ");
            columns.Bound(e => e.City).Title("Ort");
            columns.Template(e => "").ClientTemplate("<a href='" + Url.Content("~/Admin/Confirmations/Download?employeeId=#= EmployeeId #&filename=#= Filename #") + "'>Download</a>");
        })
        .Render();
}