﻿@model AssignmentRequestInstance.Models.PromotionDayRequest

@{
    Layout = null;
    var freeText = ViewBag.FreeText as string;
}

<p>Folgende Promotionstermine im Rahmen der Toshiba TV Promotion wurden für Sie gebucht:</p>
<br/>
<p>@Model.AssignmentStartDate.ToShortDateString()</p>
<p>@Model.AssignmentStartDate.ToShortTimeString() - @Model.AssignmentEndDate.ToShortTimeString()</p>
@using (var context = new SeismitoadModel.DatabaseContext.SeismitoadDbContext())
{
    <p>@context.Locations.SingleOrDefault(l => l.Id == Model.LocationId)</p>
}
<br/>
@if (!string.IsNullOrWhiteSpace(freeText))
{
    <p>@Html.Raw(freeText)</p>
}
<br/>
<p>Der aktuelle Status Ihrer Buchungen ist jederzeit im Online-Tool für Sie einsehbar!</p>
<p><a href="mailto:www.permedia.de/toshibatvpromotion">www.permedia.de/toshibatvpromotion</a></p>
<br/>
<p>Freundliche Grüße</p>
<p>Ihr PER MEDIA Toshiba TV Team</p>

