﻿@model AssignmentRequestInstance.Models.PromotionDayRequest

@{
    Layout = null;
    var declineText = ViewBag.DeclineReason as string;
    var showAlternativeDate = ViewBag.ShowAlternativeDate as bool?;
    var freeText = ViewBag.FreeText as string;
}

<p>Folgende Promotionstermine im Rahmen der Toshiba TV Promotion sind leider nicht durchführbar, da @Html.Raw(declineText):</p>
<br/>
<p>@Model.AssignmentStartDate.ToShortDateString()</p>
<p>@Model.AssignmentStartDate.ToShortTimeString() - @Model.AssignmentEndDate.ToShortTimeString()</p>
@using (var context = new SeismitoadModel.DatabaseContext.SeismitoadDbContext())
{
    <p>@context.Locations.SingleOrDefault(l => l.Id == Model.LocationId)</p>
}
<br/>
@if (showAlternativeDate == true)
{
    <p>Sollten Sie einen Alternativtermin wünschen, teilen Sie uns diesen bitte per Email mit.</p>
}
@if (!string.IsNullOrWhiteSpace(freeText))
{
    <p>@Html.Raw(freeText)</p>
}
<br/>
<p>Der aktuelle Status Ihrer Buchungen ist jederzeit im Online-Tool für Sie einsehbar!</p>
<p><a href="@Url.ActionAbsolute(MVC.Home.Index())">Aktionstage anfordern</a></p>
<br/>
<p>Freundliche Grüße</p>
<p>Ihr PER MEDIA Toshiba TV Team</p>