﻿@model AssignmentRequestInstance.Models.PromotionDayRequest

@{
    Layout = null;
    var friendlyNameLocation = "";
    var friendlyNameEmployee = "";
    using (var context = new SeismitoadModel.DatabaseContext.SeismitoadDbContext())
    {
        var location = context.Locations.SingleOrDefault(l => l.Id == Model.LocationId);
        var employee = context.Employees.SingleOrDefault(l => l.Id == Model.RequestedPromoterId);
        friendlyNameLocation = location != null ? location.FriendlyName : "Markt nicht mehr verfügbar";
        friendlyNameEmployee = employee != null ? employee.Firstname + " " + employee.Lastname: "Promoter nicht mehr verfügbar";
    }
}

<p>Vielen Dank für Ihre Buchungsanfrage!</p>
<br/>
<p>Folgende Promotionstermine im Rahmen der Toshiba TV Promotion werden von uns überprüft:</p>
<p>@Model.AssignmentStartDate.ToShortDateString()</p>
<p>@Model.AssignmentStartDate.ToShortTimeString() - @Model.AssignmentEndDate.ToShortTimeString()</p>
<p>@friendlyNameLocation</p>
<p>@friendlyNameEmployee</p>
<br/>
<p>Sobald wir einen Promoter für Sie buchen konnten, erhalten Sie eine Bestätigungsmail von uns.</p>
<p>Der aktuelle Status Ihrer Buchungen ist jederzeit im Online-Tool für Sie einsehbar!</p>
<p><a href="mailto:www.permedia.de/toshibatvpromotion">www.permedia.de/toshibatvpromotion</a></p>
<br/>
<p>Freundliche Grüße</p>
<p>Ihr PER MEDIA Toshiba TV Team</p>
