﻿@using SeismitoadModel
@using ObjectTemplate.Extensions
@model MasterInstance.Areas.CM.Models.CampaignLocationViewModel
@{
    Layout = null;
}
<div class="editor-label">
    @Html.LabelFor(e => e.WiFiAvailable, "W-LAN / Internet vorhanden")
</div>
<div class="editor-field">
    @{
        Html.Kendo().DropDownListFor(e => e.WiFiAvailableCampaign)
            .Items(items =>
            {
                items.Add().Value("true").Text("Ja");
                items.Add().Value("false").Text("Nein");
            })
            .OptionLabel("Keine Angabe")
            .ValuePrimitive(true)
            .Render();
    }
</div>

<div class="editor-label">
    @Html.LabelFor(e => e.State, "Status")
</div>
<div class="editor-field">
    @Html.Kendo().DropDownListFor(e => e.State).BindTo(new CampaignLocationState().ToSelectList()).ValuePrimitive(true)
</div>

<div class="editor-label">
    @Html.LabelFor(e => e.Classification, "Klassifizierung")
</div>
<div class="editor-field">
    @Html.Kendo().DropDownListFor(e => e.Classification).BindTo(SelectListRepository.Retrieve("Classification", ViewData)).ValuePrimitive(true)
</div>

<div class="editor-label">
    @Html.LabelFor(e => e.SalesRegion, "Vertriebsregion")
</div>
<div class="editor-field">
    @{
        Html.Kendo().DropDownListFor(e => e.SalesRegion)
            .DataSource(dataSource => dataSource
                .Read(read => read.Action("_SalesRegions", "CampaignLocation", new { campaignId = Request.RequestContext.RouteData.Values["id"] })
                .Type(HttpVerbs.Post)))
            .DataValueField("Value")
            .DataTextField("Text")
            .OptionLabel("Bitte wählen...")
            .ValuePrimitive(true)
            .Render();
    }
</div>

<div class="editor-label">
    @Html.LabelFor(e => e.RemarkCampaign, "Bemerkung")
</div>
<div class="editor-field">
    @Html.TextAreaFor(e => e.RemarkCampaign, new { @class = "k-textbox" })
</div>

<div class="editor-label">
    @Html.LabelFor(e => e.ContactId, "Ansprechpartner")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.ContactId, new { style = "display: none" })
    @{
        Html.Kendo().DropDownList()
            .Name("ContactIdHelper")
            .DataValueField("Id")
            .DataTextField("Name")
            .AutoBind(false)
            .Events(events => events.Change("function() { $('#ContactId').val(this.value()).change(); }"))
            .DataSource(dataSource => dataSource
                .Read(read => read.Action("_Contacts", "CampaignLocation")
                .Type(HttpVerbs.Post)
                .Data("function() {  return { locationId: locationId }; } ")))
            .Render();

        Html.Kendo().Button()
                    .Name("AddContact")
                    .Icon("plus")
                    .Events(events => events.Click("function() { $('#newContactWindow').data('kendoWindow').center().open(); }"))
                    .Render();
    }
    <script>
        window.setTimeout(function () {
            var dropdown = $("#ContactIdHelper").data("kendoDropDownList");
            dropdown.value($("#ContactId").val());
        }, 10);
    </script>
</div>