﻿@model PromoterInstance.Models.ProfileCardViewModel
<h1>Dein Profil, @Model.Name</h1>
<img src="@(Model.PictureUrl)?height=250&width=250&404=default&_@DateTime.Now.Ticks=x" alt="Profilbild" />
<div id="last-login">Dein letzter Login: @Model.LastLogin.ToString("d")</div>
<div id="last-profile-update">Dein letztes Profilupdate: @(Model.LastProfileChange.HasValue ? Model.LastProfileChange.Value.ToString("d") : "Nie")</div>
@Html.ActionLink("Profil bearbeiten", MVC.Profile.Index(), new { @class = "k-button" })