﻿@model PromoterInstance.Models.ProfileCardViewModel
<div>
    Hallo @Model.Name!
    <img src="@(Model.PictureUrl)?height=300&width=300&mode=crop&404=default&_@DateTime.Now.Ticks=x" alt="Profilbild" />
</div>

