﻿@{
    ViewBag.Title = "Profil löschen";
}
<p>
    Wenn Du zukünftig nicht mehr für uns tätig sein möchtest, kannst du uns das hier mitteilen. Dein gespeichertes Profil bei advantage Marketingservice wird gelöscht und du erhältst keine weiteren Benachrichtigungen mehr.
    Wenn du aktuell noch in einer unserer Aktionen tätig bist, kann das Profil nicht gelöscht werden.
    Zum Löschen Deines Profils bitte auf den untenstehenden Link klicken:
</p>
<p>
    @Html.CheckBox("accept", false)
    <label for="accept">
        JA, ich möchte mein gespeichertes Profil bei advantage-promotion.de löschen und
        zukünftig keine Benachrichtigungen zu neuen Jobangeboten erhalten.
    </label>
</p>
<br />
<button type="button" class="k-button" id="delete_now">Profil jetzt löschen</button>
@Html.ActionLink("Abbrechen", MVC.Profile.Index(),new { @class = "k-button", id = "delete_cancel" })
<div id="deleted_window_wrapper">
    @{
        Html.Kendo().Window().Name("deleted_window").Content(
            @<text>
                <h2>Dein Profil wird gelöscht</h2>
                <p>
                    Schade, dass du nicht mehr dabei sein möchtest. Falls Du zukünftig wieder für uns tätig werden möchtest, kannst du Dich jederzeit unter <a href="https://www.advantage-promotion.de">www.advantage-promotion.de</a> neu registrieren.
                </p>
            </text>)
        .Modal(true)
        .Animation(true)
        .Title(false)
        .Visible(false)
        .Actions(actions => actions.Clear())
        .HtmlAttributes(new { @style = "padding: 25px; max-width: 600px;" })
        .Render();
    }
</div>
<script type="text/javascript">
    $("#delete_now").on("click", function () {
        if ($("#accept").is(':checked')) {
            $.post("@Url.Action(MVC.Profile._Delete())").done(function() {
                $("#deleted_window").data("kendoWindow").center().open();
            });
        }
    });
</script>