﻿@{
    ViewBag.Title = "Profil unvollständig";
}
<p>
    Bitte fülle zunächst alle Pflichtfelder in Deinem Profil aus und lade ein Foto von Dir hoch.
    Je ausführlicher Du Dein Profil ausfüllst, desto besser können wir Dir passende Jobs anbieten.
</p>
@if (Request.RequestContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
{
    <p>
        Die vollständige Profilpflege ist nur über die Desktop-Version verfügbar.
    </p>
}
@Html.ActionLink("Zurück zum Profil", MVC.Profile.Index(), new { @class = "k-button" })
@Html.ActionLink("Abbrechen und Logout", MVC.Account.LogOff(), new { @class = "k-button" })
