﻿@model PromoterInstance.Models.MobileEmployeeProfile
@{
    ViewBag.Title = "Profil";
    ViewBag.ExtendedTitle = "Hier kannst Du Deine Kontaktdaten auf dem aktuellsten Stand halten.";
}
<p>Bitte aktualisiere regelmäßig Dein vollständiges Profil über die Desktop-Version.</p>
@using (Html.BeginForm(MVC.Profile.Mobile(), FormMethod.Post, new { id = "profile-edit" }))
{
    <div class="editor-label">
        @Html.LabelFor(e => e.Title2, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Title2)
        @Html.ValidationMessageFor(e => e.Title2)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Firstname, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Firstname)
        @Html.ValidationMessageFor(e => e.Firstname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Lastname, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Lastname)
        @Html.ValidationMessageFor(e => e.Lastname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Birthday, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Birthday)
        @Html.ValidationMessageFor(e => e.Birthday)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Username, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Username)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.PhoneMobileNo, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.PhoneMobileNo)
        @Html.ValidationMessageFor(e => e.PhoneMobileNo)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Email1, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Email1)
        @Html.ValidationMessageFor(e => e.Email1)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Email2)
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Email2)
        @Html.ValidationMessageFor(e => e.Email2)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Skype)
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Skype)
        @Html.ValidationMessageFor(e => e.Skype)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Website)
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Website)
        @Html.ValidationMessageFor(e => e.Website)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Street, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Street)
        @Html.ValidationMessageFor(e => e.Street)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.PostalCode, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.PostalCode)
        @Html.ValidationMessageFor(e => e.PostalCode)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.City, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.City)
        @Html.ValidationMessageFor(e => e.City)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Country, new { @class = "required" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(e => e.Country)
        @Html.ValidationMessageFor(e => e.Country)
    </div>

    <button class="k-button">Speichern</button>
}
<br/>
@Html.ActionLink("Profil löschen", MVC.Profile.Delete(), new { @style = "color: #999" })
