﻿@{
    ViewBag.Title = "Mobile Check-in";
}
<div id="no-assignment">
    <p>Heute ist kein Einsatz für Dich geplant.</p>
    @Html.ActionLink("Zurück", MVC.Home.Index(), new {@class = "k-button"})
</div>
<div id="already-checked-in">
    <p>Du hast dich bereits angemeldet.</p>
    @Html.ActionLink("Zurück", MVC.Home.Index(), new { @class = "k-button" })
</div>
<div id="did-not-attend">
    <p>Du wurdest als „nicht anwesend“ registriert. Bitte schreibe uns an <a class="mail" href="mailto:pe@advantagemarketingservice.de">pe@advantagemarketingservice.de</a> warum deine Anmeldung erst jetzt erfolgt.</p>
    @Html.ActionLink("Zurück", MVC.Home.Index(), new { @class = "k-button" })
</div>

<div id="mvvm-container" style="display: none">
    <div data-bind="visible: firstTry">
        Bitte melde Dich für Deinen heutigen Einsatz an:
        <h4 data-bind="text: date"></h4>
        <span data-bind="text: campaign"></span><br/>
        <span data-bind="text: name"></span><br/><br/>
        <table>
            <tr>
                <th>Beginn:</th>
                <td data-bind="text: from"></td>
            </tr>
            <tr>
                <th>Ende:</th>
                <td data-bind="text: til"></td>
            </tr>
            <tr>
                <th>Straße:</th>
                <td data-bind="text: street"></td>
            </tr>
            <tr>
                <th>PLZ/Ort:</th>
                <td><span data-bind="text: postalCode"></span> <span data-bind="text: city"></span></td>
            </tr>
        </table>
        <label>Bemerkungen:</label><br/>
        <span data-bind="text: remarks"></span><br/>
        <label>Marktansprechpartner:</label>
        <span data-bind="text: contact"></span><br/>
        <label>Team:</label>
        <span data-bind="text: team"></span>
        <div data-bind="invisible: noCoordinates">
            <button class="k-button" data-bind="click: checkIn">Jetzt anmelden*</button>
            <p>
                *Die mobile Anmeldung setzt eine GPS Lokalisierung voraus. Ich stimme zu, dass bei der Anmeldung meine Position bestimmt wird.
            </p>
        </div>
        <div data-bind="visible: noCoordinates">
            <p>Für diesen Einsatzort ist die Mobile Anmeldung nicht verfügbar. Bitte melde Dich per Fax an.</p>
            @Html.ActionLink("Zurück", MVC.Home.Index(), new { @class = "k-button" })
        </div>
    </div>
    <div class="result-box" data-bind="visible: hasErrors">
        <h2>Anmeldung gescheitert!</h2>
        <div data-bind="visible: errorNoSignal">
            <table>
                <tr>
                    <th>Uhrzeit</th>
                    --:-- Uhr</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>
                        -- Ost<br />
                        -- Nord
                    </td>
                </tr>
            </table>
            <p>
                Deine Anmeldung konnte leider nicht erfolgreich durchgeführt werden. Die mobile Anmeldung funktioniert nur am Einsatzort
                und bei aktivierter Positionsbestimmung. Bitte überprüfe deine GPS Verbindung und versuche es ggf. neu.
            </p>
            <p>
                Kann keine Anmeldung über den mobile Check-In durchgeführt werden, nutze bitte die Anmeldung per Check-Fax.
            </p>
        </div>
        <p data-bind="visible: errorAccuracy">
            Die Genauigkeit der Ortung war zu gering. Gehe ggf. nach draußen um die Positionsbestimmung zu verbessern.
        </p>
        <p data-bind="visible: errorTooFarAway">
            <strong>Du befindest dich nicht am geplanten Einsatzort.</strong>
            <br/><br/>
            Deine Anmeldung konnte nicht durchgeführt werden.
            Bitte begib dich zum Einsatzort und führe die Anmeldung dort erneut durch.
        </p>
        <p data-bind="visible: errorService">
            Der Anmeldedienst ist nicht erreichbar.
        </p>
        @Html.ActionLink("Zurück", MVC.CheckIn.Index(), new { @class = "k-button" })
        <div class="clear-fix"></div>
    </div>
    <div class="result-box" data-bind="visible: succeeded">
        <h2>Anmeldung erfolgreich</h2>
        <table>
            <tr>
                <th>Uhrzeit</th>
                <td data-bind="text: time"> Uhr</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>
                    <span data-bind="text: lngFormat"></span> Ost<br />
                    <span data-bind="text: latFormat"></span> Nord
                </td>
            </tr>
        </table>
        @Html.ActionLink("Ok", MVC.Home.Index(), new { @class = "k-button" })
        <div class="clear-fix"></div>
    </div>
</div>
<script src="~/Scripts/checkin.js?version=1"></script>
