﻿@using MasterInstance.Areas.Admin.Models
<h3>Benutzerverwaltung</h3>
@{
    Html.Kendo().Grid<UserAccountViewModel>()
        .Name("accounts")
        .Filterable()
        .Sortable()
        .Scrollable(scrolling => scrolling.Height(500))
        .ToolBar(commands => commands.Create())
        .DataSource(dataSource => dataSource.Ajax()
            .Read("_Read", "User")
            .Update("_Update", "User")
            .Create("_Create", "User")
            .Model(model =>
            {
                model.Id(e => e.ProviderUserkey);
                model.Field(e => e.ProviderUserkey).Editable(false);
                model.Field(e => e.LastActivityDate).Editable(false);
                model.Field(e => e.LastLoginDate).Editable(false);
            })
            .Events(events => events.Error("error")))
        .Editable(editor => editor.Mode(GridEditMode.PopUp).TemplateName("UserAccount"))
        .Events(events => events.Edit("onUserGridEdit"))
        .Columns(columns =>
        {
            columns.ForeignKey(e => e.Active, SelectListRepository.Retrieve("YesNo", ViewData), "Value", "Text").Width(70).Title("Aktiv");
            columns.ForeignKey(e => e.AccountType, SelectListRepository.Retrieve("AccountType", ViewData), "Value", "Text").Width(90).Title("Typ");
            columns.ForeignKey(e => e.CustomerId, SelectListRepository.Retrieve("CustomerId", ViewData), "Value", "Text").Width(120).Title("Kunde");
            columns.ForeignKey(e => e.Title, SelectListRepository.Retrieve("Title", ViewData), "Value", "Text").Width(80).Title("Anrede");
            columns.Bound(e => e.Firstname).Width(100).Title("Vorname");
            columns.Bound(e => e.Lastname).Width(100).Title("Nachname");
            columns.Bound(e => e.UserName).Width(120).Title("Benutzername");
            columns.Bound(e => e.Email).Title("E-Mail-Adresse");

            columns
                .Bound(e => e.LastLoginDate)
                .ClientTemplate("#= kendo.format('{0:dd.MM.yyyy HH:mm}', LastLoginDate)  #")
                .Width(120)
                .Title("Letzter Login");

            columns
                .Bound(e => e.LastActivityDate)
                .ClientTemplate("#= kendo.format('{0:dd.MM.yyyy HH:mm}', LastActivityDate) #")
                .Width(120)
                .Title("Letzte Aktivität");

            columns.Command(command =>
            {
                command.Custom("ChangePassword").Text("Passwort ändern").Click("changePasswordClick");
                command.Edit();
            })
            .Width(250);
        })
        .Render();
}
<div id="password-window"
     data-role="window"
     data-title="Passwort ändern"
     data-modal="true"
     data-visible="false"
     data-resizable="false"
     data-width="400">
    <p>
        Neues Passwort für <strong data-bind="text: firstname"></strong> <strong data-bind="text: lastname"></strong>.
    </p>
    <p>
        Falls der Zugang aktuell gesperrt ist (zu viele Loginversuche mit falschem Passwort), wird er durch setzten des Passworts
        wieder entsperrt.
    </p>
    <span style="color: red" data-bind="visible: errorMessageVisible">Das angegebene Passwort entspricht nicht den Richtlinien!</span>
    <input type="password" class="k-textbox" data-bind="value: password" />
    <button class="k-button" data-bind="click: setNewPassword">Speichern</button>
</div>
<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script src="~/Scripts/GridResizer.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/useraccount/useraccount.js"></script>
