﻿@using ObjectTemplate.Extensions
@using SeismitoadShared.Models
@model IEnumerable<SeismitoadModel.AssignedEmployee>
<style>
    body { background: #FFF }
    #main { padding: 0; margin: 0}
</style>
@{
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
    Html.Telerik()
        .Grid(Model)
        .Name("a")
        .Pageable()
        .Sortable()
        .Groupable()
        .RowAction(r => r.HtmlAttributes.Add("class", "attendance-" + r.DataItem.Attendance))
        .Columns(columns =>
                     {
                         columns.Bound(e => e.Assignment.DateStart).Format(SeismitoadShared.Constants.Other.DateTimeFormat).Title("Datum");
                         columns.Bound(e => e.Assignment.CampaignLocation.Location.City);
                         columns.Bound(e => e.Assignment.CampaignLocation.Location.Name);
                         columns.Bound(e => e.Assignment.CampaignLocation.Location.Street);
                         columns.ForeignKey(e => e.Attendance, new Attendance().ToSelectList()).Template(e => e.Attendance.GetDisplayName()).Visible(true);
                     })
        .Render();
}
