﻿@{
    ViewBag.Title = "Profil unvollständig";
}
<h1>@ViewBag.Title</h1>
<span>Bevor Du Dich bewerben kannst, musst Du Dein Profil ausfüllen.</span>
@Html.ActionLink("Profil ausfüllen", MVC.Profile.Index(), new { @class="k-button" })
