﻿@model PromoterInstance.Models.EditEmployeeProfile
@{
    ViewBag.Title = "Profil bearbeiten";
}
<script src="~/Scripts/fileupload.js?version=1" type="text/javascript"></script>
<h1>Dein Profil, @Model.Firstname</h1>
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Hier kannst Du Dein Profil auf den neuesten Stand bringen.</h2>
        </hgroup>
        <p>
            @ViewBag.Message
        </p>
    </div>
</section>
}

@if (ViewBag.ErrorMessage != null)
{
    Html.Kendo()
        .Window()
        .Name("message")
        .Title("Achtung")
        .Events(events => events.Open("function() { this.center(); }"))
        .Content(ViewBag.ErrorMessage)
        .Modal(true)
        .Render();
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="validation-summary-errors">
        <span>Bitte fülle alle rot markierten Felder korrekt aus.</span>
    </div>
}
@using(Html.BeginForm())
{
    @Html.EditorForModel()
    <div style="clear:both"></div>
    <div id="profile-buttons">
        <input type="submit" value="Speichern" id="saveButton" class="k-button " />
        <br/>
        @Html.ActionLink("Abbrechen", MVC.Home.Index(), new
        {
            @class = "k-button",
            @id = "cancelButton"
        })
        <br/>
        <span><span class="required-marker">*</span> Pflichtfelder</span>
    </div>
}

@if (Model.IncompleteProfile)
{
    <script>
        $(document).ready(function () {
            setSubmitButton(false);
            setBackButton(true);
            var firstTabItem = $('#tabStrip > ul.k-tabstrip-items > li.k-item').first().children('a').attr('href');
            var lastTabItem = $('#tabStrip > ul.k-tabstrip-items > li.k-item').last().children('a').attr('href');
            $('#tabStrip > ul.k-tabstrip-items > li.k-item').click(function() {
                var tabItem = $(this);
                setSubmitButton(tabItem.children('a').attr('href') == lastTabItem);
                setBackButton(tabItem.children('a').attr('href') == firstTabItem);
            });
            $('#saveButton').click(function (e) { //$('form input[type=submit]')
                if ($(this).prop('value') == 'Weiter') {
                    e.preventDefault();
                    $('#tabStrip > ul.k-tabstrip-items > li.k-item.k-state-active').next().children('a').click();
                }
            });
            $('#cancelButton').click(function (e) { //$('form input[type=submit] + a.k-button')
                if ($(this).prop('value') == 'Zurück') {
                    e.preventDefault();
                    $('#tabStrip > ul.k-tabstrip-items > li.k-item.k-state-active').prev().children('a').click();
                }
            });
        });

        function setSubmitButton(isLast) {

            var submitButton = $('#saveButton');//$('form input[type=submit]');
            if (isLast) {
                submitButton.prop('value','Speichern');
            } else {
                submitButton.prop('value', 'Weiter');
            }
        }

        function setBackButton(isFirst) {
            var backButton = $('#cancelButton'); //$('form input[type=submit] + a.k-button');
            if (isFirst) {
                backButton.prop('value', 'Abbrechen');
                backButton.html('Abbrechen');
            } else {
                backButton.prop('value', 'Zurück');
                backButton.html('Zurück');
            }
        }
    </script>
 } 