﻿@using SeismitoadModel
@model IEnumerable<CampaignArea>
@{
    var location = ViewBag.Location as Location;
}

<h3>Aktionsflächen für '@location.FriendlyName'</h3>

@(Html.Telerik().Grid(Model)
    .Name("c")
    .DataKeys(keys => keys.Add(e => e.Id))
    .ToolBar(commands => commands.Insert())
    .DataBinding(dataBinding => dataBinding
        .Server()
            .Select("Index", "CampaignArea")
            .Insert("Insert", "CampaignArea")
            .Update("Save", "CampaignArea")
            .Delete("Delete", "CampaignArea"))
    .Sortable().Pageable().Filterable()
    .Editable(editing => editing.Mode(GridEditMode.InLine))
    .Columns(columns =>
                 {
                     columns.Bound(e => e.Id).ReadOnly();
                     columns.Bound(e => e.Name);
                     columns.Bound(e => e.Size);
                     columns.Command(commands => commands.Edit()).Width(90).Title("Bearbeiten");
                     columns.Command(commands => commands.Delete()).Width(90).Title("Löschen");
                 }))

<div class="vspace20px"></div>
@Html.ActionLink("Zurück", MVC.MD.Location.Index(), new { @class = "t-button"})