﻿@using MasterInstance.Models.ViewModels
@{
    if (Request["frame"] == "true")
    {
        Layout = "~/Views/Shared/_FrameLayout.cshtml";
    }
    ViewBag.Title = Helpers.PageTitle(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]), "Berechtigungen");
    Html.Telerik()
        .Grid<FriendlyLoginModel>()
        .Name("a")
        .Filterable()
        .Sortable()
        .DataBinding(binding => binding.Ajax()
            .Select(MVC.Campaign.SelectAjax().GetRouteValueDictionary())
            .Insert(MVC.Campaign.InsertAjax().GetRouteValueDictionary())
            .Update(MVC.Campaign.UpdateAjax().GetRouteValueDictionary())
            .Delete(MVC.Campaign.DeleteAjax().GetRouteValueDictionary()))
        .DataKeys(keys => keys.Add(e => e.Id).RouteKey("loginId"))
        .Editable(editor => editor.Mode(GridEditMode.InLine))
        .ToolBar(toolbar => toolbar.Insert())
        .Columns(columns =>
        {
            columns.Bound(e => e.FriendlyName).Title("Benutzer").EditorTemplateName("FriendlyAccountName");
            columns.Bound(e => e.IsAdmin).ClientTemplate("<#= IsAdmin ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsAnalyst).ClientTemplate("<#= IsAnalyst ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsDownloadsEditor).ClientTemplate("<#= IsDownloadsEditor ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsDownloadsViewer).ClientTemplate("<#= IsDownloadsViewer ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsNewsEditor).ClientTemplate("<#= IsNewsEditor ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsNewsReader).ClientTemplate("<#= IsNewsReader ? 'Ja' : 'Nein' #>");
            columns.Bound(e => e.IsReportEditor).ClientTemplate("<#= IsReportEditor ? 'Ja' : 'Nein' #>");
            columns.Command(command => command.Edit());
            columns.Command(command => command.Delete());

        })
        .ClientEvents(events => events.OnRowDataBound("onRowDataBound"))
        .Render();
}
<script type="text/javascript">
    function onRowDataBound(e) {
        if (!e.dataItem.IsApproved) {
            e.row.cells[8].innerHTML = "(Inaktiver Benutzer)";
        }
    }
</script>