﻿@using Kendo.Mvc.UI
@using ObjectTemplate.Extensions
@using SeismitoadModel
@model MasterInstance.Models.CampaignViewModel
<link rel="stylesheet" href="@Links.Content.campaignASPStyles_css" type="text/css" />
<style>
    input, textarea, .k-textbox, .k-dropdown {
        width: 300px;
    }

    .editor-label {
        margin-top: 8px;
        line-height: 24px;
    }
</style>
<script type="text/javascript">
    function reloadImage(selector) {
        var element = $(selector);
        var src = element.attr('src');
        element.attr('src', src + '&' + new Date().getTime());
    }

    var customerId = -1;

    function refreshCustomerDropdown(createdCustomerId) {
        customerId = createdCustomerId;
        $("#CustomerId").data("kendoDropDownList").dataSource.read();
        $("#CreateCustomer iframe").attr("src", appPath + "Customer/New");
        $("#CreateCustomer").data("kendoWindow").close();
    }

    function selectCustomer() {
        // Wenn ein neuer Kunde angelegt wurde, speichern wir in refreshCustomerDropdown
        // die id des neuen Kunden in der Variablen customerId und aktualisieren die
        // data source. Da wir erst nach der Aktualisierung den neuen Kunden wählen können
        // machen wir dies im change event der data source.
        if (customerId !== -1) {
            window.setTimeout(function () {
                $("#CustomerId").data("kendoDropDownList").value(customerId);
                customerId = -1;
            }, 50);
        }
    }
</script>
@{
    int campaignId = ViewBag.CampaignId;
    ViewBag.Title = Helpers.PageTitle(campaignId, "Projektdaten");
    Layout = Request["frame"] == "true"
        ? "~/Views/Shared/_FrameLayoutKendo.cshtml"
        : "~/Views/Shared/_LayoutKendo.cshtml";
    <h2>@ViewBag.Title</h2>
    @Html.ValidationSummary()
    using (Html.BeginForm())
    {
        Html.Kendo().TabStrip()
            .Name("ts")
            .SelectedIndex(0)
            .Items(items =>
            {
            items.Add().Text("Basisdaten").Content(
                @<text>
                    <div class="editor-column">
                        <div class="editor-label">@Html.LabelFor(e => e.CustomerId)*</div>
                        <div class="editor-field">
                            @{
                                Html.Kendo().DropDownListFor(e => e.CustomerId)
                                    .DataSource(dataSource => dataSource
                                        .Read(read => read.Action("_Customers", "Campaign").Type(HttpVerbs.Post))
                                        .Events(events => events.Change("selectCustomer")))
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Render();
                            }
                        </div>

                        <div class="editor-label">@Html.LabelFor(e => e.CreateCustomer)</div>
                        <div class="editor-field">@Html.EditorFor(e => e.CreateCustomer)</div>

                        <div class="editor-label">@Html.LabelFor(e => e.Number)*@TooltipHelper.Tooltip("Projekt_Nummer")</div>
                        <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.Number)</div>

                        <div class="editor-label">@Html.LabelFor(e => e.ManagerId)*</div>
                        <div class="editor-field">@Html.Kendo().DropDownListFor(e => e.ManagerId).BindTo(SelectListRepository.Retrieve("ManagerId", ViewData))</div>

                        <div class="editor-label">@Html.LabelFor(e => e.Name)* <img src="~/Content/icons/16x16/actions/soft_attention.png" /></div>
                        <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.Name)</div>

                        <div class="clear"></div>
                    </div>
                    <div class="editor-column">
                        <div class="editor-label">@Html.LabelFor(e => e.Description)*@TooltipHelper.Tooltip("Projekt_Inhalt")<img src="~/Content/icons/16x16/actions/soft_attention.png" /> </div>
                        <div class="editor-field" style="padding-bottom: 9px">@Html.TextAreaFor(e => e.Description, 5, 40, new { @class = "k-textbox" })</div>

                        <div class="editor-label">@Html.LabelFor(e => e.EmployeesPerAssignment)* <img src="~/Content/icons/16x16/actions/soft_attention.png" /> @TooltipHelper.Tooltip("Projekt_Teamgroesse")</div>
                        <div class="editor-field">@Html.Kendo().IntegerTextBoxFor(e => e.EmployeesPerAssignment)</div>

                        <div class="editor-label">@Html.LabelFor(e => e.State)*</div>
                        <div class="editor-field">@Html.Kendo().DropDownListFor(e => e.State).BindTo(new CampaignState().ToSelectList())</div>

                        <div class="editor-label">@Html.LabelFor(e => e.IsApplyable)*@TooltipHelper.Tooltip("Projekt_AusschreibungAktiv")</div>
                        <div class="editor-field">@Html.Kendo().DropDownListFor(e => e.IsApplyable).BindTo(SelectListRepository.Retrieve("YesNo", ViewData))</div>

                        <div class="clear"></div>
                    </div>

                    <div class="editor-column">
                        <div class="editor-label">@Html.LabelFor(e => e.ExternalReportTool)</div>
                        <div class="editor-field">@Html.Kendo().DropDownListFor(e => e.ExternalReportTool).BindTo(SelectListRepository.Retrieve("YesNo", ViewData)).Events(events => events.Change("toggleUrl"))</div>

                        <div id="url" style="display: none">
                            <div class="editor-label">@Html.LabelFor(e => e.ExternalReportToolUrl)</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ExternalReportToolUrl)</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear" style="margin-bottom: 10px"></div>
                </text>);
                items.Add().Text("Aktionsdaten").Content(
                    @<text>
                        <div class="editor-column">
                            <div class="editor-label">@Html.LabelFor(e => e.Duration)@TooltipHelper.Tooltip("Projekt_Zeitraum")<img src="~/Content/icons/16x16/actions/soft_attention.png" /></div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Duration, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="editor-label">@Html.LabelFor(e => e.Days)@TooltipHelper.Tooltip("Projekt_Aktionstage")<img src="~/Content/icons/16x16/actions/soft_attention.png" /></div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Days, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="editor-label">@Html.LabelFor(e => e.Times)@TooltipHelper.Tooltip("Projekt_Aktionszeiten")<img src="~/Content/icons/16x16/actions/soft_attention.png" /></div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Times, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="editor-label">@Html.LabelFor(e => e.GradualBooking)</div>
                            <div class="editor-field">@Html.Kendo().CheckBoxFor(e => e.GradualBooking)</div>

                            <div class="clear"></div>
                        </div>
                        <div class="editor-column">
                            <div class="editor-label">@Html.LabelFor(e => e.Requirements)@TooltipHelper.Tooltip("Projekt_Anforderungsprofil")<img src="~/Content/icons/16x16/actions/soft_attention.png" /></div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Requirements, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="editor-label">@Html.LabelFor(e => e.Locations)<img src="~/Content/icons/16x16/actions/soft_attention.png" style="visibility: hidden" /></div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Locations, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="editor-label">@Html.LabelFor(e => e.Classification)@TooltipHelper.Tooltip("Projekt_KlassifizierungAktionsorte")</div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Classification, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear" style="margin-bottom: 10px"></div>
                    </text>);
                items.Add().Text("Kundendetails").Content(
                    @<text>
                        <div class="editor-column">
                            <div class="editor-label">@Html.LabelFor(e => e.Contact)</div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Contact, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="clear"></div>
                        </div>
                        <div class="editor-column">
                            <div class="editor-label">@Html.LabelFor(e => e.Budget)</div>
                            <div class="editor-field">@Html.TextAreaFor(e => e.Budget, 5, 40, new { @class = "k-textbox" })</div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear" style="margin-bottom: 10px"></div>
                    </text>);
                items.Add()
                    .Text("Dateien")
                    .Enabled(campaignId != -1)
                    .Content(
                    @<text>
                        <div class="editor-column">
                            <div class="editor-label">@Html.Label("logo", "Aktionslogo (PNG, 180x48)")</div>
                            <div class="editor-field">
                                @{
                                    <img id="logoPreview" src="~/CampaignAssets/@(campaignId)/logo.png?width=180&height=48&404=default&scale=both" />
                                    Html.Kendo().Upload()
                                        .Name("logo")
                                        .Multiple(false)
                                        .ShowFileList(false)
                                        .Async(async => async.AutoUpload(true).Save("Upload", "Campaign", new { name = "logo", id = campaignId }))
                                        .Events(events => events
                                            .Complete("function() { reloadImage('#logoPreview'); }")
                                            .Error("function(e) { alert('Fehler beim Upload. Stimmt das Dateiformat (PNG)?');  }"))
                                        .Render();
                                }
                            </div>

                            <div class="editor-label">@Html.Label("image", "Aktionsbild (JPG, 510x340)")</div>
                            <div class="editor-field">
                                @{
                                    <img id="imagePreview" src="~/CampaignAssets/@(campaignId)/image.jpg?width=510&height=340&404=default&mode=crop&scale=both" />
                                    Html.Kendo().Upload()
                                        .Name("image")
                                        .Multiple(false)
                                        .ShowFileList(false)
                                        .Async(async => async.AutoUpload(true).Save("Upload", "Campaign", new { name = "image", id = campaignId }))
                                        .Events(events => events.Complete("function() { reloadImage('#imagePreview'); }").Error("function(e) { alert('Fehler beim Upload. Stimmt das Dateiformat (JPG)?');  }"))
                                        .Render();
                                }
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="editor-column">
                            <div class="editor-label">@Html.Label("CampaignDetailInfo", "Detailierte Job-Info (PDF)")</div>
                            <div class="editor-field">
                                @{
                                    var exists = File.Exists(Server.MapPath("~/CampaignAssets/" + campaignId + "/CampaignDetailInfo.pdf"));
                                    <a id="cd_link" href="~/CampaignAssets/@(campaignId)/CampaignDetailInfo.pdf" target="blank" style="display: @(exists ? "inline" : "none")">
                                        <img src="~/Content/icons/16x16/mimetypes/pdf.png" alt="pdf icon" />
                                    </a>
                                    Html.Kendo().Upload()
                                        .Name("CampaignDetailInfo")
                                        .Multiple(false)
                                        .ShowFileList(false)
                                        .Async(async => async.AutoUpload(true).Save("Upload", "Campaign", new { name = "CampaignDetailInfo", id = campaignId }))
                                        .Events(events => events.Complete("function() { $('#cd_link').show(); }").Error("function(e) { alert('Fehler beim Upload. Stimmt das Dateiformat (PDF)?');  }"))
                                        .Render();
                                }
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear" style="margin-bottom: 10px"></div>
                    </text>);
                items.Add().Text("ASP intern").Content(
                    @<text>
                        <div class="editor-column">
                            <div class="editor-label">permedia Ansprechpartner</div>
                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMName1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMName1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMPhone1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMPhone1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMEmail1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMEmail1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMRemark1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMRemark1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMName2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMName2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMPhone2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMPhone2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMEmail2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMEmail2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMRemark2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMRemark2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMName3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMName3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMPhone3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMPhone3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMEmail3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMEmail3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMRemark3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMRemark3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMName4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMName4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMPhone4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMPhone4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMEmail4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMEmail4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactPMRemark4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactPMRemark4)</div>

                            <div class="clear"></div>
                        </div>
                        <div class="editor-column">
                            <div class="editor-label">advantage Ansprechpartner</div>
                            <div class="editor-label">@Html.LabelFor(e => e.ContactADName1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADName1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADPhone1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADPhone1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADEmail1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADEmail1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADRemark1)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADRemark1)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADName2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADName2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADPhone2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADPhone2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADEmail2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADEmail2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADRemark2)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADRemark2)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADName3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADName3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADPhone3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADPhone3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADEmail3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADEmail3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADRemark3)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADRemark3)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADName4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADName4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADPhone4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADPhone4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADEmail4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADEmail4)</div>

                            <div class="editor-label">@Html.LabelFor(e => e.ContactADRemark4)*</div>
                            <div class="editor-field">@Html.Kendo().TextBoxFor(e => e.ContactADRemark4)</div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear" style="margin-bottom: 10px"></div>
                    </text>);
            })
            .Render();
                                    <input type="submit" style="margin-top: 10px;" value="Speichern" class="k-button" />
                                    }
}
<script type="text/javascript">
    function toggleUrl(e) {
        var selection = $("#ExternalReportTool").data("kendoDropDownList");
        $("#url").toggle(selection.value() == 'True');
    }

    @if(Model != null && Model.ExternalReportTool)
    {
        <text>$("#url").show();</text>
    }
</script>
