﻿@using System.Globalization
@using MasterInstance.Models
@using ObjectTemplate.Extensions
@using SeismitoadModel
@model IEnumerable<Campaign>

<link rel="stylesheet" href="@Links.Content.campaignASPStyles_css" type="text/css" />

@{
    var isAdmin = User.IsInRole(SeismitoadShared.Constants.Roles.Admin);
    var grid = Html.Telerik().Grid(Model)
        .Name("c")
        .DataKeys(keys => keys.Add(e => e.Id))
        .ToolBar(commands =>
        {
            if (isAdmin)
            {
                commands.Custom().Name("Insert").Text("Neuen Datensatz hinzufügen").Action(MVC.CampaignWizard.Step(-1, 1).GetRouteValueDictionary());
            }
        })
        .DataBinding(dataBinding => dataBinding
            .Server()
            .Select("Index", "Campaign")
            .Delete("Delete", "Campaign"))
        .Sortable()
        .Pageable()
        .Filterable(filtering => filtering.Filters(filter => filter.Add(e => e.State).IsNotEqualTo(CampaignState.Deleted)))
        .Editable(editing => editing
            .Mode(GridEditMode.PopUp)
            .FormHtmlAttributes(new {style = "width: 700px;"}))
        .Columns(columns =>
        {
            columns.Bound(e => e.Id).ReadOnly();
            columns.ForeignKey(e => e.CustomerId, DB.Context.Customers.OrderBy(e => e.Name), "Id", "Name").Visible(true);
            columns.Template(e => string.Format("{0}{1}", e.Customer.Number, e.Number)).Title("Projektnummer");
            //columns.Bound(e => e.Name).Template(e => Html.ActionLink(e.Name, (e.State < CampaignState.Archived) ? MVC.Campaign.Details(e.Id) : MVC.Campaign.Ended()));
            columns.Bound(e => e.Name).Title("Projekttitel");
            columns.ForeignKey(e => e.ManagerId, SelectListRepository.Retrieve("ManagerId", ViewData), "Value", "Text");
            //columns.Template(campaign => string.Join(
            //    ", ",
            //    campaign.Logins
            //        .Where(e => !string.IsNullOrWhiteSpace(e.CampaignRoles) && e.CampaignRoles.Contains(SeismitoadShared.Constants.Roles.Admin))
            //        .Select(e =>
            //        {
            //            var user = Membership.GetUser(e.UserKey);
            //            return user != null ? user.UserName : e.UserKey.ToString();
            //        }))).Title("Admins");
            columns.Template(e => e.InstanceUrl != null ? string.Format("<a href='{0}'>{0}</a>", e.InstanceUrl.Replace("_ext_", "")) : "");
            columns.Template(e => Html.ActionLink(e.CampaignLocations.Count().ToString(CultureInfo.InvariantCulture), MVC.CM.CampaignLocation.Index(e.Id))).Title("Orte");
            columns.ForeignKey(e => e.State, new CampaignState().ToSelectList()).Template(e => e.State.GetDisplayName()).Visible(true).Width(110);
            columns.Bound(e => e.IsApplyable).Visible(true).Width(150);
            columns.Command(commands => commands.Custom("cedit").Action("Edit", "Campaign").Text("Bearbeiten")).Width(90).Title("Bearbeiten");
            if (isAdmin)
            {
                /* MUSS immer die letzte Spalte sein, siehe CellAction! */
                columns.Command(commands => commands.Delete()).Width(90).Title("Löschen");
            }
        });
    if (isAdmin)
    {
        grid = grid.CellAction(cell =>
        {
            if (cell.Column.IsLast && cell.DataItem.CampaignLocations != null && cell.DataItem.CampaignLocations.Any())
            {
                cell.Text = "Daten vorhanden!";
            }
        });
    }
    grid.Render();
}
