﻿@model SeismitoadModel.Campaign
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = Model.Name;
}
<h2>@ViewBag.Title</h2>
@if (string.IsNullOrWhiteSpace(Model.InstanceUrl))
{
    <text>
        Dieses Projekt hat kein Report-Tool
    </text>
}
else
{
    <a href="@Model.InstanceUrl.Replace("_ext_", "")">Zum Report-Tool</a>
}
