﻿@model SeismitoadModel.Customer
@{
    Layout = null;
}
<html>
<head>
    <title>Popup</title>
    <link href="@Links.Content.blueprint.screen_css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content(" ~ />Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~ />Content/permedia.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~ />Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~ />Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~ />Content/kendo/2015.1.429/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <style>
        body {background: white}
    </style>
</head>
    <body>
        Das Anlegen von Kunden ist nur Administratoren erlaubt.
    </body>
</html>
