﻿@using MasterInstance.Models
@model Hangfire.Storage.Monitoring.JobDetailsDto
@{
    var info = ViewBag.MailInfo as CampaignEmployeeMail;
    var retries = Model.Properties.ContainsKey("RetryCount") ? Model.Properties["RetryCount"] : "0";
    var state = Model.History[0].StateName;
    var lastFailure = Model.History.FirstOrDefault(e => e.StateName == "Failed");
    string exceptionMessage = null, exceptionDetails = null;
    if (lastFailure != null && lastFailure.Data.ContainsKey("ExceptionMessage"))
    {
        exceptionMessage = lastFailure.Data["ExceptionMessage"];
    }
    if (lastFailure != null && lastFailure.Data.ContainsKey("ExceptionDetails"))
    {
        exceptionDetails = lastFailure.Data["ExceptionDetails"];
    }
}
<h3>Details zu Mailversand</h3>
<dl>
    <dt>In Warteschlange seit</dt>
    <dd>@string.Format("{0:dd.MM.yyyy HH:mm}", info.QueuedAt)</dd>
    <dt>Status</dt>
    <dd>@state</dd>
    <dt>Promoter</dt>
    <dd>@info.Firstname @info.Lastname</dd>
    <dt>Fehlversuche</dt>
    <dd>@retries von 10</dd>
    @if (exceptionMessage != null)
    {
        <dt>Interner Fehler</dt>
        <dd>@exceptionMessage</dd>
    }
    @if (exceptionDetails != null)
    {
        <dt>Fehlerdetails</dt>
        <dd>@exceptionDetails</dd>
    }
</dl>
@if (retries == "10" && state == "Failed")
{
    @Html.ActionLink("Versand erneut versuchen", MVC.CM.MailStatus.Retry(info.JobId), new { @class = "k-button" })
}
@Html.ActionLink("Aktualisieren", MVC.CM.MailStatus.Details(info.JobId), new { @class = "k-button" })