﻿@using MasterInstance.Models
@model int
@{
    ViewBag.Title = Helpers.PageTitle(Model, "Fehlgeschlagene Versendungen");
    <h3>@ViewBag.Title</h3>
    Html.Kendo()
        .Grid<CampaignEmployeeMail>()
        .Name("g")
        .Columns(column =>
        {
            column.ForeignKey(e => e.MailType, SelectListRepository.Retrieve("MailTypes", ViewData), "Value", "Text").Title("Art");
            column.Bound(e => e.QueuedAt).ClientTemplate("#= kendo.toString(QueuedAt, 'dd.MM.yyyy HH:mm') #").Title("Der Warteschlange hinzugefügt");
            var action = Url.Action(MVC.MD.EmployeeProfile.Index());
            action = action.Substring(0, action.LastIndexOf('/'));
            column.Bound(e => e.Firstname).Title("Vorname").ClientTemplate("<a target='_blank' href='" + action + "/#= EmployeeId #'>#= Firstname #<a>");
            column.Bound(e => e.Lastname).Title("Nachname").ClientTemplate("<a target='_blank' href='" + action + "/#= EmployeeId #'>#= Lastname #<a>"); ;
            column.Bound(e => e.Error).Title("Fehler");
        })
        .DataSource(dataSource => dataSource.Ajax().Read("_ReadFailed", "MailStatus", new { campaignId = Model }))
        .Pageable()
        .Sortable()
        .Filterable()
        .Render();
}