﻿@using MasterInstance.Models
@section head
{
    <script type="text/javascript" src="~/Scripts/faxMessages/FaxMessagesSelectionViewModel.js"></script>  
    <style>
        #filter .campaign, #filter .date { display: inline-block;vertical-align: top; margin-bottom: 0.5em }
        #filter .campaign { width: 50em; }
        #filter .date { width: 15em; }
    </style>
}
@{
    ViewBag.Title = "Eingegangene Fax Nachrichten";
    <h2>@ViewBag.Title</h2>
    var path = String.Format("<a href='{0}#= kendo.toString(Received, 'yyyyMMdd') #/#= AttachementFile #'><img alt='PDF Download' src='{1}'/></a>",
                             Url.Content("~/FaxMessages/"),
                             Links.Content.icons._16x16.mimetypes.pdf_png);
    <div id="filter">                          
        <div class="date">
            <label for="date-select">Nach Tag filtern</label>
            <select id="date-select"
                    data-role="dropdownlist"
                    data-bind="value: dateFilter, source: dateSource, events: { change: onItemsChange }"
                    data-text-field="Text"
                    data-value-field="Value"></select>
        </div>
    </div>
    
    Html.Kendo().Grid<FaxMessageViewModel>()
        .Name("faxMessages")
        .Sortable()
        .Filterable()
        .Groupable()
        .Pageable(e => e.PageSizes(new[] {10, 20, 30, 50}).Enabled(true))
        .DataSource(src => src.Ajax()
                                .Model(model => model.Id("Id"))
                                .PageSize(10)
                                .Batch(true)
                                .Read(read => read.Action("_Read", "FaxMessages").Data("function() { return faxMessagesSelectionViewModel.gridParams(); }")))
        .Columns(columns =>
            {
                if (User.IsInRole(SeismitoadShared.Constants.Roles.Signalkontor))
                {
                    columns.Bound(e => e.Id).Title("Id");
                }
                columns.Bound(e => e.State).Title("Status");
                columns.Bound(e => e.Received).Format("{0:d} - {0:t}");
                columns.Bound(e => e.Sender).Title("Absender");
                columns.Bound(e => e.Subject).Title("Betreff");
                columns.Bound(e => e.Body).Title("Nachricht");
                columns.Template(e => "").ClientTemplate(path).Title("Anhang");
            })
        
        .Render();
}
<script type="text/javascript">
    var faxMessagesSelectionViewModel = new FaxMessagesSelectionViewModel();
    kendo.bind($("#filter"), faxMessagesSelectionViewModel);
</script>




