﻿@model PromoterInstance.Models.AssignmentDetails
@{
    var mapQuery = Server.UrlEncode(string.Format("{0},{1}", Model.Street, Model.City));
}
<table>
    <tr>
        <th>Marktansprechpartner</th>
        <td>@(Model.Contact ?? "Keiner")</td>
        <td rowspan="6">
            <img alt="Karte" src="http://maps.google.com/maps/api/staticmap?markers=@mapQuery&maptype=roadmap&size=450x350&sensor=false" /><br />
            <a href="http://maps.google.de/maps?q=@mapQuery" target="_blank">In Google Maps öffnen</a>
        </td>
    </tr>
    <tr>
        <th>Bemerkungen</th>
        <td>@Model.Notes</td>
    </tr>
    <tr>
        <th>Anschrift</th>
        <td>
            @Model.Name<br/>
            @Model.Name2 @Html.Raw(string.IsNullOrWhiteSpace(Model.Name2) ? "" : "<br/>")
            @Model.Street<br/>
            @Model.PostalCode - @Model.City<br/>
        </td>
    </tr>
    <tr>
        <th>Team</th>
        <td>
            @Html.Raw(Model.Team)
        </td>
    </tr>
    <tr>
        <th>Downloads</th>
        <td>
            @Html.ActionLink("Termin herunterladen", MVC.Assignment.Calendar(Model.Id))
            @Html.ActionLink("Adresse herunterladen", MVC.Location.VCard(Model.LocationId))
        </td>
    </tr>
</table>