﻿@using PromoterInstance.Models
@using SeismitoadShared.Constants
@{
    ViewBag.Title = "Einsatzarchiv";
}
<p>Hier findest Du eine Übersicht der durchgeführten Einsätze der letzten drei Monate.</p>
@{
    Html.Kendo()
        .Grid<ArchivedAssignment>()
        .Name("a")
        .Columns(columns =>
        {
            columns.Bound(e => e.DateStart).Format(Other.DayOfWeekFormat).Title("Tag");
            columns.Bound(e => e.DateStart).Format(Other.DateFormat).Title("Datum");
            columns.Bound(e => e.DateStart).Format(Other.TimeFormat).Title("Beginn");
            columns.Bound(e => e.DateEnd).Format(Other.TimeFormat).Title("Ende");
            columns.Bound(e => e.CampaignName).Title("Aktion");
            columns.Bound(e => e.LocationName).Title("Markt");
            columns.Bound(e => e.Street).Title("Straße");
            columns.Bound(e => e.PostalCode).Title("PLZ");
            columns.Bound(e => e.City).Title("Ort");
        })
        .Events(events => events.DataBound("gridDataBound"))
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("_Archive", "Assignment").Type(HttpVerbs.Get)))
        .Render();
}
<script>
    function gridDataBound(e) {
        var grid = e.sender;
        if (grid.dataSource.total() == 0) {
            var colCount = grid.columns.length;
            $(e.sender.wrapper)
                .find('tbody')
                .append('<tr class="kendo-data-row"><td colspan="' + colCount + '" class="no-data">Du hattest keine Einsätze in den letzten drei Monaten</td></tr>');
        }
    }
</script>
@Html.ActionLink("Zur Startseite", MVC.Home.Index(), new { @class = "k-button" })