﻿@using PromoterInstance.Models
@using SeismitoadShared.Constants
<h1 id="Einsätze">Deine Einsätze</h1>
<div>
    <p>Aktuell haben wir Dich für folgende Einsätze eingeplant. Bitte prüfe, ob Du alle Tage bereits bestätigt hast (siehe Status).</p>
    <script id="PlannedAssignmentDetails" type="text/x-kendo-template">
        <div></div>
    </script>
    @{
        Html.Kendo()
            .Grid<PlannedAssignment>()
            .Name("a")
            .Columns(columns =>
            {
                columns.Bound(e => e.DateStart).Format(Other.DayOfWeekFormat).Title("Tag");
                columns.Bound(e => e.DateStart).Format(Other.DateFormat).Title("Datum");
                columns.Bound(e => e.DateStart).Format(Other.TimeFormat).Title("Beginn");
                columns.Bound(e => e.DateEnd).Format(Other.TimeFormat).Title("Ende");
                columns.Bound(e => e.CampaignName).Title("Aktion");
                columns.Bound(e => e.LocationName).Title("Markt");
                columns.Bound(e => e.Street).Title("Straße");
                columns.Bound(e => e.PostalCode).Title("PLZ");
                columns.Bound(e => e.City).Title("Ort");
                columns.Bound(e => e.State).Title("Status");
                columns.Template(e => "")
                    .ClientTemplate("# if(State === 'Unbestätigt') { # <input type='checkbox' value='#= Id #' /> # } #")
                    .Title("<input type='checkbox' id='checkAll' />");
            })
            .DataSource(dataSource => dataSource.Ajax()
                .Read(read => read
                    .Action("_Planned", "Assignment")
                    .Data("function() { return viewModel.gridParams('#a'); }")
                    .Type(HttpVerbs.Post)))
            .ClientDetailTemplateId("PlannedAssignmentDetails")
            .Events(events => events.DetailInit("onDetailInit").DataBound("onDataBound"))
            .Render();
    }
    <div id="planned-assignment-actions">
        <table style="border: none">
            <tr>
                <td>Auf Basis des erteilten Auftrags erkläre ich die Übernahme der markierten Einsätze.</td>
                <td>Ich bin mit der Durchführung der markierten Einsätze nicht einverstanden und lehne diese ab</td>
            </tr>
            <tr>
                <td><button class="k-button" data-bind="click: confirm">Markierte Einsätze übernehmen</button></td>
                <td><button class="k-button" data-bind="click: decline">Markierte Einsätze ablehnen</button></td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px;"></div>
    <a id="show-all-assigments-button" class="data-bound float-right" data-bind="click: showAllClick">Alle Einsätze anzeigen</a>
    @Html.ActionLink("Archiv anzeigen", MVC.Assignment.Archive(), new { @class = "float-left" })
    <div class="clear"></div>
</div>
<div class="show-on-hidden" style="display: none">
    Für Dich sind zur Zeit keine Einsätze geplant.
    <br />
    @Html.ActionLink("Archiv anzeigen", MVC.Assignment.Archive(), new { @class = "float-left" })
</div>
<script type="text/javascript" src="~/Scripts/assignments.js?version=1"></script>