﻿@{
    ViewBag.Title = "Deine Einsätze";
}
<style>
    .main-content {
        display: none;
    }
</style>
<script type="text/x-kendo-tmpl" id="template">
    <div class="assignment">
        <div class="toggle-icon"></div>
        <span class="header">#= kendo.toString(DateStart, "ddd. dd.MM.yyyy") #</span>
        #= CampaignName #<br />
        #= LocationName #<br />
        # if(State === "Unbestätigt") { #
        <button class="k-button decline">Ablehnen</button>
        <button class="k-button confirm">Bestätigen</button>
        # } else { # 
        #= State #
        # } #
        <div class="details">
            <table>
                <tr>
                    <th>Beginn:</th>
                    <td>#= kendo.toString(DateStart, "HH:mm") #</td>
                </tr>
                <tr>
                    <th>Ende:</th>
                    <td>#= kendo.toString(DateEnd, "HH:mm")  #</td>
                </tr>
                <tr>
                    <th>Straße:</th>
                    <td>#= Street #</td>
                </tr>
                <tr>
                    <th>PLZ/Ort:</th>
                    <td>#= PostalCode # #= City #</td>
                </tr>
            </table>
            <label>Bemerkungen:</label><br />
            #= Remarks #<br />
            <label>Marktansprechpartner:</label>
            #= Contact #<br />
            <label>Team:</label> #= Team #<br /><br />
            <a href="@Url.Action(MVC.Assignment.Calendar())/#= Id #">Termin herunterladen</a><br />
            <a href="@Url.Action(MVC.Location.VCard())?locationId=#= LocationId #">Adresse herunterladen</a><br />
            # mapQuery = kendo.format("{0},{1}", Street, City) #
            <img alt="Karte" src="http://maps.google.com/maps/api/staticmap?markers=#= mapQuery #&maptype=roadmap&size=320x320&sensor=false" style="width: 100%" /><br />
            <a href="http://maps.google.de/maps?q=#= mapQuery #" target="_blank">In Google Maps öffnen</a>
        </div>
    </div>
</script>
@section afterwrapper {
    <div class="assignments-header">
        Unbestätigte Einsätze
        <div class="drawer-icon"></div>
    </div>
    <div style="display: none">
        <p id="no-items1">Du hast zur Zeit keine unbestätigte Einsätze.</p>
        <div id="oa"></div>
        <p id="has-items1">
            Auf Basis des erteilten Auftrags erkläre ich die Übernahme der oben genannten Einsätze:
            <button class="k-button" id="confirmAll">Alle bestätigen</button>
            Ich bin mit der Durchführung der oben genannten Einsätze nicht einverstanden und lehne diese ab:
            <button class="k-button" id="declineAll">Alle ablehnen</button>
        </p>
    </div>
    <div class="assignments-header">
        Alle Einsätze
        <div class="drawer-icon"></div>
    </div>
    <div style="display: none">
        <p id="no-items2">Für Dich sind zur Zeit keine Einsätze geplant.</p>
        <div id="aa"></div>
    </div>
    <script src="~/Scripts/assignments.mobile.js"></script>
}
