﻿@using SeismitoadModel
@model Hours
<div class="editor-label">
    @Html.Label("Montag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.MondayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.MondayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Dienstag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.TuesdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.TuesdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Mittwoch")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.WednesdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.WednesdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Donnerstag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.ThursdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.ThursdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Freitag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.FridayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.FridayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Samstag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.SaturdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.SaturdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-label">
    @Html.Label("Sonntag")
</div>
<div class="editor-field">
    @Html.TextBoxFor(e => e.SundayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.SundayEndTime, new { @class = "narrow" })
</div>
