﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using ObjectTemplate

@helper RenderFields(IEnumerable<ModelMetadataEx> grouping)
{
    var divOpened = false;
    foreach (var property in grouping)
    {
        if(divOpened && property.ColumnStartHtml != null)
        {
            @Html.Raw("</div>")
        }
        @property.ColumnStartHtml
        if (!divOpened && property.ColumnStartHtml == null)
        {
            @Html.Raw("<div class='editor-column'>")
        }
        divOpened = true;

        if (property.HideSurroundingHtml || "Reference" == property.TemplateHint)
        {
            @Html.Editor(property.PropertyName)
        }
        else
        {
            @property.EditorLabelOpeningDivTag
            var isExtraLabel = property.TemplateHint == "ExtraLabel";
            if (isExtraLabel)
            {
                @Html.Raw(property.DisplayName)
            }
            else
            {
                <label for="@property.PropertyName">@Html.Raw(property.DisplayName)</label>
                @(property.IsRequired ? "*" : "")
            }
            if (property.HintText != null)
            {
                <span class="hinttext"><img src="@Configurator.Instance.InfoIconUrl" title="@property.HintText" alt="Tipp" /></span>
            }
            @Html.Raw("</div>")
            if (!isExtraLabel)
            {
                @property.EditorFieldOpeningDivTag
                @Html.Editor(property.PropertyName)
                @Html.Raw("</div>")
            }
        }
        if (!String.IsNullOrWhiteSpace(property.JavaScript))
        {
            <script>
                $(document).ready(function() {
                    @Html.Raw(property.JavaScript)
                })
            </script>    
        }
    }
    @Html.Raw("</div>")
    <div class="clear"></div>
}

<div class="editor-for">
@if (ViewData.TemplateInfo.TemplateDepth > 2)
{
    <text>@ViewData.ModelMetadata.SimpleDisplayText</text>
}
else
{
    var metaModel = new ViewMetaModel(ViewData);
    if (metaModel.ShowTabs)
    {
        Html.Kendo()
            .TabStrip()
            .Name("tabStrip")
            .Animation(false)
            .Items(items =>
            {
                var first = true;
                var selectFirst = metaModel.SelectedTab == null;
                foreach (var grouping in metaModel.Tabs)
                {
                    var invalidProperties = ViewData.ModelState
                        .Where(e => e.Value.Errors.Any())
                        .Select(e => e.Key);

                    if (ViewData.TemplateInfo.TemplateDepth == 1)
                    {
                        invalidProperties = invalidProperties.Select(e => e.Substring(e.IndexOf('.') + 1));
                    }
                    var required = grouping.Any(e => e.IsRequired);
                   
                    var properties = grouping.Select(s => s.PropertyName);
                    var invalid = invalidProperties.Intersect(properties).Any();
                    var colorString = invalid ? "background:#f10000;color:#ffffff" : "";
                    items.Add()
                        .LinkHtmlAttributes(new {style=colorString})
                        .Text(grouping.Key + (required ? "*" : ""))
                        .Selected(selectFirst && first || metaModel.SelectedTab == grouping.Key)
                        .Content(@<text>@RenderFields(grouping)</text>);
                    first = false;
                }
            })
            .Render();
    }
    else
    {
        foreach (var grouping in metaModel.Tabs)
        {
            @RenderFields(grouping)
        }
    }

    if (Configurator.Instance.ShowValidationSummary && !ViewData.ContainsKey("HideValidationSummary"))
    {
        @Html.ValidationSummary(false, "")
        <div style="clear: both"></div>
    }
}
</div>