﻿@using SeismitoadModel
@model string
@{
    var questions = PersonalityTest.Questions;
    var inverted = PersonalityTest.InvertedQuestionsIndices;
    var didTest = Model != null && Model.Length == questions.Length;
    if (didTest)
    {
        <table class="zebra">
            <colgroup>
                <col span="1">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 50px;">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="3" style="text-align: left">Trifft zu</th>
                    <th colspan="3" style="text-align: right">Trifft nicht zu</th>
                </tr>
            </thead>
            <tbody>
                @for (var questionIndex = 0; questionIndex < questions.Length; questionIndex++)
                {
                    var isInverted = inverted.Contains(questionIndex);
                    var selectedValue = Model[questionIndex] - '0';
                    var radioButtonName = string.Format("Radio[{0}]", questionIndex);
                    <tr>
                        <td>@questions[questionIndex] @Html.ValidationMessage(radioButtonName)</td>
                        @for (var i = 0; i < 6; i++)
                        {
                            var radioButtonValue = isInverted ? 6 - i : i + 1;
                            <td>@Html.RadioButton(radioButtonName, radioButtonValue, selectedValue == radioButtonValue, new {@class="small", disabled="disabled"})</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <text>Dieser Benutzer hat den Persönlichkeitstest nicht ausgefüllt</text>
    }
}
