﻿
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using ObjectTemplate.Attributes
@using Telerik.Web.Mvc.UI
@model string

@{
    var dimensions = AdditionalValueAttribute.FromMetadata<WindowSizeAttribute>(ViewData.ModelMetadata) ?? WindowSizeAttribute.Clean;
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    Html
        .Kendo()
        .Window()
        .Name(name)
        .Width(dimensions.Width)
        .Height(dimensions.Height)
        .HtmlAttributes(new { style = "overflow: hidden" })
        .Modal(true)        
        .Draggable(true)
        .Title(ViewData.ModelMetadata.DisplayName)
        .Content(@<text>
                      <iframe src="@Html.Raw(Model)"></iframe>
                  </text>)
        .Visible(false)
        .Render();
}
<button class="k-button" type="button" onclick="$('#@name').data('t-window').open(); return false;">Öffnen</button>