﻿@using ObjectTemplate.Extensions
@using ObjectTemplate.Attributes
@model int?
@{
    var sliderAttribute = ViewData.ModelMetadata.GetCustomAttribute<SliderAttribute>() ?? SliderAttribute.Clean;
    var fullname = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
    var valid = ViewData.ModelState.IsValidField(fullname);
    var invalidClass = valid ? "" : "input-validation-error";
    var sliderId = fullname.Replace('.', '_');// + "_Slider";

    var viewModelParameters = string.Format("{0}, {1}, {2}",
        sliderAttribute.Enabled ? "true" : "false",
        sliderAttribute.ShowCurrentValueDiv ? "true" : "false",
        Model.HasValue ? Model.Value.ToString() : "null");
}
<div id="@sliderId">
    <input data-role="slider"
           class="@invalidClass"
           data-min="@sliderAttribute.Min"
           data-max="@sliderAttribute.Max"
           data-small-step="@sliderAttribute.SmallStep"
           data-large-step="@sliderAttribute.LargeStep"
           data-show-buttons="@(sliderAttribute.ShowButtons ? "true" : "false")"
           data-bind="value: value, enabled: enabled" />
    
    <input data-role="numerictextbox"
           class="@invalidClass"
           data-min="@sliderAttribute.Min"
           data-max="@sliderAttribute.Max"
           data-format="#"
           data-bind="value: value, enabled: enabled, visible: textBoxVisible" />
    <input type="hidden" name="@fullname" data-bind="value: value" />
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var viewModel = new SliderViewModel(@viewModelParameters);
        kendo.bind("#@sliderId", viewModel);
    });
</script>