﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
<h3>Promoter</h3>
<link rel="stylesheet" href="@Links.Content.acquisition_min_css" type="text/css" />
<style type="text/css">
    .k-grid tbody tr { height: 32px; }
</style>
<div id="additional-toolbar-items-template" style="display: none">
    <div id="search-actions" style="float: right">
        <button class="k-button" data-bind="click: reset"><span class='k-icon k-i-refresh'></span>Filter und Sortierung zurücksetzen</button>
        <input class="k-textbox" type="text" style="width: 250px" data-bind="value: nameOrEmail" data-value-update="keyup" onkeyup="return keyupEmployee(event)" onkeydown="return keyDownEmployee(event)" />
        <button class="k-button" data-bind="click: nameOrEmailSearchButtonClick"><span class='k-icon k-i-search'></span>Suche in Namen und E-Mail-Adressen</button>        
        <button class="k-button" data-bind="click: fullSearchButtonClick"><span class='k-icon k-i-search'></span>Vollständige Suche anzeigen</button>
    </div>
</div>
@{
    ViewBag.Title = "Promoter";
    const string cellWithToolTipFmt = "# if ({0}) {{ # <span title='#= {0} #'><nobr>#= {0} #</nobr></span> # }} #";
    Html.Kendo().Grid<EmployeeViewModel>()
        .Name("eg")
        .Sortable()
        .AutoBind(false)
        .Pageable(pager => pager.Enabled(true).PageSizes(false))
        .Scrollable(scrollable => scrollable.Height(500))
        .Filterable()
        .Editable(editing => editing.Enabled(true).Mode(GridEditMode.InCell))
        .ToolBar(toolbar =>
        {
            toolbar.Save().SaveText("Änderungen übernehmen").CancelText("Änderungen verwerfen");
            toolbar.Custom()
                .Text("<span class='k-icon k-add'></span>Neuen Promoter hinzufügen")
                .Url("~/EmployeeAdd");
        })
        .AutoBind(false) // Das erst Binding wird durch den GridStateSaver ausgelöst
        .DataSource(src => src.Ajax()
            .Model(model =>
            {
                model.Id("id");
                model.Field(i => i.Id).Editable(false);
                model.Field(i => i.ProviderUserKey).Editable(false);
                model.Field(i => i.Username).Editable(false);
                model.Field(i => i.Login).Editable(false);
                model.Field(i => i.ImportMatchType).Editable(false);
                model.Field(i => i.LastLogin).Editable(false);
            })
            .PageSize(25)
            .Batch(true)
            .Events(events => events.Error("function() { employeeListViewModel.onError(); }"))
            .Read(read => read.Action("_Read", "Employee").Data("function() { return employeeListViewModel.searchParams(); }"))
            .Update(upd => upd.Action("_Update", "Employee")))
        .Columns(column =>
        {
            column.Bound(e => e.Title).Title("Anrede").Width(80); // Länge 80 damit auch "Unbekannt" passt
            column
                .Bound(e => e.Lastname)
                .ClientTemplate(string.Format(cellWithToolTipFmt, "Lastname"))
                .Title("Nachname")
                .Width(140); // Für die meisten Namen in der DB ist das die richtige Länge!
            column
                .Bound(e => e.Firstname)
                .ClientTemplate(string.Format(cellWithToolTipFmt, "Firstname"))
                .Title("Vorname")
                .Width(140); // Für die meisten Namen in der DB ist das die richtige Länge!
            column
                .Bound(e => e.Email)
                .Title("E-Mail")
                .ClientTemplate(string.Format(cellWithToolTipFmt, "Email"))
                .Width(200); // 160 reicht für die meisten Mail-Adressen, ansonsten werden sie mit ... gekürzt
            column.Bound(e => e.State).Title("Status").Width(80).EditorTemplateName("State"); // 80 Damit auch "gesperrt" passt
            var usernameCol = column
                .Bound(e => e.Username)
                .Title("Benutzername")
                .ClientTemplate(string.Format(cellWithToolTipFmt, "Username"))
                .Sortable(false)
                .Filterable(false)
                .Width(120);
            if (User.IsInRole(SeismitoadShared.Constants.Roles.Signalkontor))
            {
                usernameCol.ClientTemplate("<span title='EmployeeId: #= Id #, UserId: #= ProviderUserKey #'>#= Username #</span>");
            }
            column.Bound(e => e.Login).Title("Login").Sortable(false).Filterable(false).Width(50);
            column.Bound(e => e.LastLogin).Title("letzter Login").ClientTemplate("#= formatLastLogin(LastLogin) #").Width(80);
            column.Bound(e => e.ImportMatchType).Title("Import Typ <div class='sk-info-icon' id='infoIcon'></div>").Sortable(false).Width(120);
            column
                .Template(e => null)
                .ClientTemplate("<a href='" + Url.Action(MVC.MD.EmployeeProfile.Index()) + "/#= Id #' class='k-button'>Profil</a>" +
                //"<a href='/Employee/Assign/#= Id #' class='k-button'>Zuweisen</a>" +
                "<button class='k-button change-password'>Passwort ändern</button>")
                .Width(150);
        })
        .Events(events => events.Edit("function(e) { employeeListViewModel.onEdit(e); }"))
        .Render();

    Html.Kendo()
        .Window()
        .Name("infoWnd")
        .Title("Hinweise zur Import-Spalte")
        .Visible(false)
        .Draggable(true)
        .Animation(false)
        .Width(600)
        .Content(@<text>
            <p>
                Die Werte in der Import-Spalte geben an, ob beim <strong>ersten</strong> Import des entsprechenden Datensatzes
                eine Übereinstimmung mit einem bestehenden Datensatz gefunden wurde.
            </p>
            <p>
                Stimmt ein Datensatz aus der alten Datenbank mit einem in dieser Datenbank überein, wird dies
                vermerkt. Zukünftige Importe verwenden diese Information. Der Wert in der Import-Spalte ändert
                sich <strong>nicht</strong> mehr.
            </p>
            <dl>
                <dt>Exakt</dt>
                <dd>
                    Der Benutzer war unter dem selben Benutzernamen und der selben E-Mail-Adresse
                    bereits vorhanden und dieser Datensatz wurde aktualisiert.
                </dd>
                <dt>Benutzername</dt>
                <dd>
                    Es gab einen Benutzer mit selben Namen, dieser hatte jedoch eine andere E-Mail-Adresse.
                    Da dieser vorhandene User möglicherweise eine andere Person gehört, wurde dieser Datensatz
                    neu angelegt.
                </dd>
                <dt>E-Mail-Adresse</dt>
                <dd>
                    Der User war bereits vor dem Import in der Datenbank, allerdings hat er hier einen anderen
                    Benutzernamen als in der alten Datenbank. Er behält den neuen Namen dieder Datensatz
                    wurde aktualisiert.
                </dd>
                <dt>Konflikt</dt>
                <dd>
                    Es wurde sowohl unter dem Benutzernamen als auch unter der E-Mail-Adresse ein User gefunden.
                    Dieser Datensatz gehört zur passenden E-Mail-Adresse und wurde aktualisiert. Der ander
                    Datensatz gehört einem anderen User oder ist eine Dublette.
                </dd>
                <dt>Neu</dt>
                <dd>
                    Weder anhand des Benutzernamens noch der E-Mail-Adresse konnte ein passender User gefunden
                    werden. Daher wurde dieser Datensatz neu angelegt.
                </dd>
            </dl>
        </text>)
        .Render();
        
        Html.Kendo()
            .Window()
            .Name("pwWnd")
            .Title("Passwort ändern")
            .Draggable(false)
            .Visible(false)
            .Modal(true)
            .Width(350)
            .Animation(false)
            .Actions(a => a.Close())
            .Content(@<text>
                          <div><span class="k-label">Neues Passwort für  </span><span style="font-weight: bold; margin-left: 10px" id="user"></span></div>
                          <span id="errorMsg" style="display: none; color: red">Das angegebene Passwort entspricht nicht den Richtlinien!</span>
                          <input type="password" class="k-textbox" id="pw" style="width: 200px">    
                          <button class="k-button" id="saveBtn" style="width: 80px;">
                              Speichern
                          </button>
                    </text>)
            .Render();

    Html.Kendo().Window()
        .Name("search-window")
        .Modal(true)
        .Visible(false)
        .Draggable()
        .Animation(false)
        .Title("Suche")
        .Content(@<text>
                      @Html.Partial(MVC.Shared.Views._SearchEmployee)
                      <button class="k-button" data-bind="click: search">Anwenden</button>
                  </text>)
        .Render();

    Html.Kendo().Window()
        .Name("serverErrorWindow")
        .Visible(false)
        .Animation(false)
        .Title("Serverfehler")
        .Modal(true)
        .Content(@<text>
            Beim Anzeigen der Liste ist ein Fehler aufgetreten. Vermutlich ist der Server gerade nicht erreichbar.
            Seite <a href="javascript:location.reload();">neu laden</a> um es erneut zu versuchen.
        </text>)
        .Render();
        
}
<script src="~/Scripts/GridResizer.js" type="text/javascript"></script>
<script src="~/Scripts/GridStateSaver.js" type="text/javascript"></script>
<script src="~/Scripts/search/employee.js?version=4" type="text/javascript"></script>
<script src="~/Scripts/employees/SearchViewModel.js?version=3" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places" type="text/javascript"></script>
<script src="~/Scripts/search/geocode.js" type="text/javascript"></script>