﻿@using SeismitoadModel
@model IEnumerable<Contact>
@{
    var location = ViewBag.Location as Location;
}

<h3>Ansprechpartner für '@location.FriendlyName'</h3>

@(Html.Telerik().Grid(Model)
    .Name("c")
    .DataKeys(keys => keys.Add(e => e.Id))
    .ToolBar(commands => commands.Insert())
    .DataBinding(dataBinding => dataBinding
        .Server()
            .Select("Index", "Contacts")
            .Insert("Insert", "Contacts")
            .Update("Save", "Contacts")
            .Delete("Delete", "Contacts"))
    .Sortable().Pageable().Filterable()
    .Editable(editing => editing.Mode(GridEditMode.PopUp).FormHtmlAttributes(new { style="width: 400px; height: 400px; overflow: auto" }))
    .Columns(columns =>
                 {
                     columns.Bound(e => e.Id).ReadOnly();
                     columns.Bound(e => e.Firstname);
                     columns.Bound(e => e.Lastname);
                     columns.Bound(e => e.Phone);
                     columns.Bound(e => e.Fax);
                     columns.Bound(e => e.Email);
                     columns.Bound(e => e.Type);
                     columns.Command(commands => commands.Edit()).Width(90).Title("Bearbeiten");
                     columns.Command(commands => commands.Delete()).Width(90).Title("Löschen");
                 }))

<div class="vspace20px"></div>
@Html.ActionLink("Zurück", MVC.MD.Location.Index())