﻿@{
    Layout = "_Layout.MobileBase.cshtml";
}
@section header
{
    <h1>@ViewBag.Title<a id="menuIcon" href="#"><img src="~/Images/icons/menuicon.svg" width="20" height="20" /></a></h1>
}
@section featured
{
    @RenderSection("featured", required: false)
}
<div id="menu">
    <div class="k-block k-error-colored">Menü ist nicht verfügbar. Versuche es später erneut.</div>
    <ul>
        <li>@Html.ActionLink("Kontakt / Impressum", "Impressum", "Home")</li>
    </ul>
</div>
<section class="content-wrapper main-content clear-fix">
    <span>@ViewBag.ExtendedTitle</span>
    @RenderBody()
</section>
@RenderSection("afterwrapper", required: false)
