﻿@using DDay.Collections
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - advantage-promotion.de</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="application-name" content="advantage promotion" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-square70x70logo" content="~/tiny.png" />
    <meta name="msapplication-square150x150logo" content="~/square.png" />
    <meta name="msapplication-wide310x150logo" content="~/wide.png" />
    <meta name="msapplication-square310x310logo" content="~/large.png" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo_advantage.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/cultures/kendo.culture.de-DE.min.js")"></script>
    <script>kendo.culture("de-DE");</script>

    <script type="text/javascript">
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
        if ($("a[href$=Aktionen]").length > 0) {
            $(document).ready(function () {
                var keys = ["Aktionen", "Jobs", "Einsätze"];
                for (var i = 0; i < keys.length; i++) {
                    var hide = window.localStorage.getItem(keys[i]);
                    if (hide == "true") {
                        var link = $("a[href$=#" + keys[i] + "]");
                        link.parent().hide();
                    }
                }
            });
        }
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js")
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
<header>
    <div id="view-switcher">
        @Html.ActionLink("Zur Mobil-Version", MVC.ViewSwitcher.SwitchView(true))
    </div>
    <div class="content-wrapper">
        @* Wenn wir bei einem Severfehler (500) die Error Page anzeigen ist das User-Objekt komischerweise null, daher die extra Prüfung *@
        @if (User != null && User.Identity.IsAuthenticated)
        {
            <div class="float-left">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Profil", "Index", "Profile")</li>
                        <li>@Html.ActionLink("Jobangebote", "Index", "Home", null, null, "Jobs", null, null)</li>
                        <li>@Html.ActionLink("Aktionen", "Index", "Home", null, null, "Aktionen", null, null)</li>
                        <li>@Html.ActionLink("Einsätze", "Index", "Home", null, null, "Einsätze", null, null)</li>
                        <li>@Html.ActionLink("Reportings", "Index", "Home", null, null, "Reportings", null, null)</li>
                    </ul>
                </nav>
            </div>
        }
        <div class="float-right" style="margin-right: -130px; padding-bottom: 20px;">
            <section id="login">
                <span class="loading-placeholder">Navigation wird geladen...</span>
            </section>
            <div class="site-title">
                <a href="@Url.Action("Index", "Home")">
                    <div class="logo" title="Home"></div>
                </a>
            </div>
        </div>
    </div>
</header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @if (ViewBag.HideTitle != true)
            {
                <hgroup class="title">
                    <h1>@ViewBag.Title@(ViewBag.ExtendedTitle != null ? "." : "")</h1>
                    <h2>@ViewBag.ExtendedTitle</h2>
                </hgroup>
            }
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                &copy; @SeismitoadShared.LocalDateTime.Now.Year - advantage Marketingservice GmbH
            </div>
            <div class="float-right">
                <a href="http://www.advantagemarketingservice.de">Über uns</a>
                @Html.ActionLink("Kontakt", "Kontakt", "Home")
                @Html.ActionLink("Impressum", "Impressum", "Home")
            </div>
        </div>
        <div id="advantage-logo"></div>
    </footer>
</body>
</html>
