﻿@using DDay.Collections
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - advantage-promotion.de</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-square70x70logo" content="~/tiny.png" />
    <meta name="msapplication-square150x150logo" content="~/square.png" />
    <meta name="msapplication-wide310x150logo" content="~/wide.png" />
    <meta name="msapplication-square310x310logo" content="~/large.png" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo_advantage.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/cultures/kendo.culture.de-DE.min.js")"></script>
    <script>kendo.culture("de-DE");</script>
    <link href="@Url.Content("~/Content/style.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mobile.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Scripts/js")
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
</head>
<body>
@*<div class="fixed">
            @if (Request.Browser.IsMobileDevice && Request.HttpMethod == "GET")
                {
                    <div class="view-switcher ui-bar-a">
                        @if (ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
                        {
                            @Html.ActionLink("Zur Desktop-Version", "SwitchView", "ViewSwitcher", new { mobile = false, returnUrl = Request.Url.PathAndQuery }, new { rel = "external" })
                        }
                        else
                        {
                            @Html.ActionLink("Zur Mobil-Version", "SwitchView", "ViewSwitcher", new { mobile = true, returnUrl = Request.Url.PathAndQuery }, new { rel = "external" })
                        }
                    </div>
                }
        </div>*@
    <header class="content-wrapper">
        @RenderSection("header", required: false)
    </header>
    <div style="display: none">
        @RenderSection("featured", required: false)
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        &copy; @SeismitoadShared.LocalDateTime.Now.Year - advantage Marketingservice GmbH
    </footer>
</body>
</html>
