﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Fehler";
}
<h1>Es ist leider ein Fehler aufgetreten</h1>
<p>
    Die Informationen zum Problem haben wir bereits erfasst.
</p>
<p>
    Hier geht es zur Startseite: <a href="https://www.advantage-promotion.de">https://www.advantage-promotion.de</a>
</p>
