﻿@model MasterInstance.Models.ViewModels.AssignmentNotificationEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("advantage: " + Model.CampaignName + " | stornierte Aktionstage")))

    <html>
    <body>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Hallo @Model.Firstname,
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            folgende Einsatztage wurden leider storniert:
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            @foreach (var line in Model.Assignments.Select(a => string.Format("{2} {0:dd.MM.yyyy} Aktionszeiten: {0:HH:mm} - {1:HH:mm}", a.DateStart, a.DateEnd, Model.CampaignName)))
            {
                @line
                <br />
            }
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Eine Übersicht über Deine Einsatztage findest Du auch auf Deiner advantage people Seite.
            <a href="https://www.advantage-promotion.de/#einsaetze">www.advantage-promotion.de/#einsaetze</a>
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Wir danken Dir für Dein Verständnis!
        </p>
        @*
        Da diese Mails aus einem Background-Thread gesendet werden, wird diese View nicht mit der
        normalen Razor-Engine die Teil von ASP.NET MVC ist gerendert, sondern vom NuGet Paket RazorEngine.
        Diese View-Engine kann aber kein Html.RenderPartial(), daher kopieren wir die Signatur hier direkt
        rein. Wird die Signatur geändert muss sowohl Signature.cshtml als auch CancelledAssignments.cshtml,
        MovedAssignments.cshtml und NewAssigments.cshtml geändert werden.
        *@
        <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
            advantage<br />
            Marketingservice GmbH
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Widenmayerstraße 18<br />
            D-80538 München
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Geschäftsführung:<br />
            Dipl.-Kauffrau Nina Schönberg<br />
            Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
        </p>
    </body>
</html>