﻿@model MasterInstance.Models.ViewModels.AcquisitionEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("advantage: " + Model.CampaignEmployee.Campaign.Name + " | Dein Projektauftrag ist online!")))

@{ var link = string.Format("https://www.advantage-promotion.de/Job/Details/{0}?username={1}", Model.CampaignEmployee.CampaignId, Model.Username); }
<html>
    <body>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Hallo @Model.CampaignEmployee.Employee.Firstname,
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            wir freuen uns, Dich im Team <strong>@Model.CampaignEmployee.Campaign.Name</strong> begrüßen zu dürfen.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Der Projektauftrag wurde auf Deiner advantage-promotion - Seite hinterlegt. Bitte lies Dir diesen genau durch und bestätige den Auftrag über den Button „Projekt-Auftrag annehmen“!
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Über folgenden Link kommst Du nach Eingabe Deines Passworts direkt zu den Aktionsdetails und kannst Deinen Auftrag dort runterladen bzw. bestätigen.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <a href="@link">@link.Substring(8)</a>
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <strong>ACHTUNG:</strong><br />
            Mit dem Projektauftrag bestätigst Du die Rahmenbedingungen und Konditionen dieser Aktion, es wurden Dir aber noch keine Einsatztage zugewiesen!<br />
            Hierfür erhältst Du eine separate Benachrichtigung, die wir Dir baldmöglichst zukommen lassen.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Viele Grüße<br />
            Dein advantage-Team
        </p>
        <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
            advantage<br />
            Marketingservice GmbH
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Widenmayerstraße 18<br />
            D-80538 München
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Geschäftsführung:<br />
            Dipl.-Kauffrau Nina Schönberg<br />
            Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
        </p>
    </body>
</html>