﻿@model MasterInstance.Models.ViewModels.AcquisitionEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("advantage: " + Model.CampaignEmployee.Campaign.Name + " | Rückmeldung zur Jobanfrage")))

    <html>
    <body>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Hallo @Model.CampaignEmployee.Employee.Firstname,
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            leider müssen wir Dir hiermit mitteilen, dass wir Dir keinen Einsatz bei der Aktion <strong>@Model.CampaignEmployee.Campaign.Name</strong> anbieten können. <br />
            Vielleicht kommt es im Zuge eines anderen Projekts zu einer Zusammenarbeit.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Viele Grüße<br />
            Dein advantage-Team
        </p>
        <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
            advantage<br />
            Marketingservice GmbH
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Widenmayerstraße 18<br />
            D-80538 München
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Geschäftsführung:<br />
            Dipl.-Kauffrau Nina Schönberg<br />
            Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
        </p>
    </body>
</html>