﻿@model MasterInstance.Models.ViewModels.AcquisitionEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("Ein neues advantage Jobangebot ist online: " + Model.CampaignEmployee.Campaign.Name + " – schau doch mal rein")))

@{ var link = string.Format("https://www.advantage-promotion.de/Job/Details/{0}?username={1}", Model.CampaignEmployee.CampaignId, Model.Username); }
<html>
    <body>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Hallo @Model.CampaignEmployee.Employee.Firstname,
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <strong>log Dich doch mal wieder bei advantage-promotion ein!</strong>
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Wir haben für Dich ein neues Jobangebot bereitgestellt:
        </p>
        <table border="0" style="border: 0; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <tr>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px; color: #d9322b">Projekt</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px; color: #d9322b">Aktionszeitraum</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px; color: #d9322b">Aktionstage</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px; color: #d9322b">Aktionszeiten</td>
            </tr>
            <tr>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px;">@Model.CampaignEmployee.Campaign.Name</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px;">@Model.CampaignEmployee.Campaign.Duration</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px;">@Model.CampaignEmployee.Campaign.Days</td>
                <td style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; padding-right: 10px;">@Model.CampaignEmployee.Campaign.Times</td>
            </tr>
        </table>
        <p style="border-top: 1px solid #e6e6e6; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Über folgenden Link kommst Du nach Eingabe Deines Passworts direkt zu den Aktionsdetails:
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <a href="@link">@link.Substring(8)</a>
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Wenn Dir die Kurzdetails zusagen, dann fordere dort nähere Jobinformationen an.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Viele Grüße<br />
            Dein advantage-Team
        </p>
        <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
            advantage<br />
            Marketingservice GmbH
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Widenmayerstraße 18<br />
            D-80538 München
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Geschäftsführung:<br />
            Dipl.-Kauffrau Nina Schönberg<br />
            Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
        </p>
    </body>
</html>



    


