﻿@model MasterInstance.Models.ViewModels.AssignmentNotificationEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("advantage: " + Model.CampaignName + " | Deine Einsatztage")))

@{ var link = string.Format("https://www.advantage-promotion.de/?username={0}#Einsätze", Model.Username); }
<html>
    <body>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Hallo @Model.Firstname,
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            für die Aktion <strong>@Model.CampaignName</strong> wurden Dir neue Einsatztage zugewiesen.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Bitte bestätige uns die zugewiesenen Einsatztage per Mausklick auf „Einsätze bestätigen“.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Erst mit
            <span style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; text-decoration: underline">
                Deiner Bestätigung des Projektauftrags und der Einsatztage
            </span>
            ist die Auftragsvergabe vollständig abgeschlossen.
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Die Übersicht Deiner Einsatztage findest Du auf Deiner advantage-promotion - Seite unter „Deine Einsätze“.<br />
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            <a href="@link">@link.Substring(8)</a>
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Wir freuen uns auf Deine Bestätigung!
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Viele Grüße<br />
            Dein advantage-Team
        </p>
        @*
        Da diese Mails aus einem Background-Thread gesendet werden, wird diese View nicht mit der
        normalen Razor-Engine die Teil von ASP.NET MVC ist gerendert, sondern vom NuGet Paket RazorEngine.
        Diese View-Engine kann aber kein Html.RenderPartial(), daher kopieren wir die Signatur hier direkt
        rein. Wird die Signatur geändert muss sowohl Signature.cshtml als auch CancelledAssignments.cshtml,
        MovedAssignments.cshtml und NewAssigments.cshtml geändert werden.
        *@
        <p style="border-top: 1px solid #d9322b; padding-top: 15px; margin-top: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt; font-weight: bold">
            advantage<br />
            Marketingservice GmbH
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Widenmayerstraße 18<br />
            D-80538 München
        </p>
        <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Geschäftsführung:<br />
            Dipl.-Kauffrau Nina Schönberg<br />
            Sitz der Gesellschaft ist München | Amtsgericht München | HRB 189838
        </p>
    </body>
</html>
