﻿@using RazorEngine
@model MasterInstance.Models.ViewModels.NewCampaignEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("Neues Projekt: " + Model.Campaign)))

<html>
<body>
    <p style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
        Es wurde ein neues Projekt angelegt.<br />
        Projektname: @Model.Campaign
    </p>
</body>
</html>