﻿@using RazorEngine
@model MasterInstance.Models.ViewModels.StaffRequirementEmail
To: @Model.To
From: @System.Configuration.ConfigurationManager.AppSettings["PromoterMailsFrom"]
Subject: @string.Format("=?utf-8?B?{0}?=", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(string.Format("{0}: {1} Personalanforderung", Model.Campaign, Model.IsUpdate ? "geänderte" : "neue"))))

<html>
    <body>
        <p style ="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; font-size: 11pt;">
            Für das Projekt @Model.Campaign liegt eine @(Model.IsUpdate ? "geänderte" : "neue") Personalanforderung vor.
        </p>
    </body>
</html>