﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@using ObjectTemplate.Extensions
@model EditTrainingParticipantsViewModel
@{
    var trainingDayId = Model.TrainingDayId;
    var campaignId = Request["campaignId"];
    var allowedToEdit = campaignId == "0" || User.HasAnyRole(SeismitoadShared.Constants.Roles.Advantage, SeismitoadShared.Constants.Roles.Admin);
    
    <h2>Teilnehmer der Schulung <strong>@(Model.Title)</strong><br></h2>
    <h3><strong>@(Model.DateFrom)</strong> - <strong>@(Model.DateTil)</strong></h3>
    <br/>

    Html.Kendo().Grid<TrainingParticipantViewModel>()
        .Name("grid")
        .Sortable()
        .Filterable()
        .ToolBar(e =>
        {
            if (allowedToEdit)
            {
                e.Save().SaveText("Änderungen übernehmen").CancelText("Änderungen verwerfen");
            }
        })
        .Events(ev =>
        {
            ev.Remove("onRemove");
            ev.SaveChanges("onSaveChanges");
            ev.DetailInit("onDetailInit");
        })
        .DataSource(ds => ds.Ajax()
            .Model(model =>
            {
                model.Id("EmployeeId");
                model.Field(e => e.EmployeeId).Editable(false);
                model.Field(e => e.Lastname).Editable(false);
                model.Field(e => e.Firstname).Editable(false);
                model.Field(e => e.Email).Editable(false);
                model.Field(e => e.PostalCode).Editable(false);
                model.Field(e => e.CampaignEmployeeState).Editable(false);
            })
            .Batch(true)
            .Read(read => read.Action("_Read", "TrainingParticipant", new { Model.DateId }))
            .Update(update => update.Action("_Update", "TrainingParticipant", new { Model.DateId }))
            .Destroy(destroy => destroy.Action("_Destroy", "TrainingParticipant", new { Model.DateId }).Type(HttpVerbs.Post)))
        .Editable(edit => edit.Mode(GridEditMode.InCell))
        .Columns(col =>
        {
            col.Template(e => e.RowNumber).ClientTemplate("#= RowNumber #").Width(40).Title("#");
            col.Bound(e => e.EmployeeId).Title("Promoter Id").Filterable(false);
            col.Bound(e => e.Lastname).Title("Nachname");
            col.Bound(e => e.Firstname).Title("Vorname");
            col.Bound(e => e.PostalCode).Title("PLZ");
            col.Bound(e => e.Email);
            col.ForeignKey(e => e.CampaignEmployeeState,SelectListRepository.Retrieve("CampaignEmployeeState",ViewData), "Value", "Text").Title("Projektstatus");
            col
                .ForeignKey(e => e.State, SelectListRepository
                .Retrieve("TrainingState", ViewData), "Value", "Text")
                .EditorTemplateName("GridForeignKeyKendo")
                .Title("Schulungsstatus")
                .Filterable(false).Width(120);
            col.Bound(e => e.Travel).Title("Anreise");
            col.Bound(e => e.TravelCost).Title("Anreisekosten");
            col.Bound(e => e.Hotel);
            col.Bound(e => e.Remark).Title("Bemerkung");
            col.Bound(e => e.Project).Title("Projekt");
            if (allowedToEdit)
            {
                col.Command(com => com.Destroy()).Width(100);
            }
        })
        .ClientDetailTemplateId("employeeDetailsTemplate")
        .Render();
}

<div class="mediumSpacer"></div>

@Html.ActionLink("Zurück", MVC.MD.Training.Dates(Model.TrainingId).AddRouteValue("campaignId", campaignId), new { @class = "k-button"})
@Html.ActionLink("Teilnehmer exportieren (Excel)", MVC.CM.Export.TrainingParticipant(trainingDayId), new { @class = "k-button" })

<script id="employeeDetailsTemplate" type="text/x-kendo-template">
    <div></div>
</script>

<script>
    function onDetailInit(e) {
        e.detailCell.load(appPath + "Employee/Card/" + e.data.EmployeeId);
    }

    function onRemove() {
        window.setTimeout(function () {
            $("#grid").data("kendoGrid").saveChanges();
        }, 200);
    }

    function onSaveChanges(e) {
        window.setTimeout(function () {
            alert("Änderungen wurden übernommen");
        }, 200);
    }
</script>