﻿@using PromoterInstance.Models
@{
    ViewBag.Title = "Neue Projektaufträge";
}
<style>.main-content { display: none; }</style>
<script type="text/x-kendo-tmpl" id="template">
    <tr class="item">
        <td>
            <img src="@Url.Content("~/CampaignAssets/")#= Id #/logo.png?404=~/Images/404/icon.png&width=180&height=48" />
        </td>
        <td>
            <label>Projekt</label>
            <span>#: Name #</span>
            <label>Aktionszeitraum</label>
            <span>#: Duration #</span>
            <label>Status</label>
            <span>Projektauftrag bestätigen</span><br />
        </td>
    </tr>
    <tr class="item align-right">
        <td colspan="2">
            <a href="@Url.Action(MVC.Job.Details())/#: Id #" class="k-button">Zum Projektauftrag</a>
        </td>
    </tr>
</script>
@section afterwrapper {
<div id="no-items">Für Dich sind zur Zeit keine neuen Projektaufträge vorhanden.</div>
@{
    Html.Kendo()
        .ListView<ApplyableCampaign>()
        .Name("c")
        .TagName("table")
        .ClientTemplateId("template")
        .HtmlAttributes(new { @class = "list-view" })
        .DataSource(dataSource => dataSource.Read(read => read.Action("_Read", "Contract").Type(HttpVerbs.Post)))
        .Events(events => events.DataBound("function() { if(this.dataSource.total() === 0) { $('#no-items').show(); } }"))
        .Render();
}}