﻿@using ObjectTemplate
@using PromoterInstance.Models
<h1 id="Jobs">zu bestätigende Projektaufträge</h1>
<span>Folgende Projektaufträge sind noch zu bestätigen. Nach der Bestätigung findest Du den Projektauftrag sowie alle weiteren Details zu dem Projekt unter <a href="#Aktionen">Deine Aktionen</a></span>
@{
    Html.Kendo()
        .Grid<ApplyableCampaign>()
        .Name("oc")
        .Columns(columns =>
        {
            columns
                .Template(e => "")
                .ClientTemplate("<img src=\"" + Url.Content("~/CampaignAssets/#= Id #/logo.png?404=~/Images/404/icon.png&width=180&height=48") + "\">")
                .Width(180);
            columns.Bound(e => e.Name).Width(180);
            columns.Bound(e => e.Duration).Width(140);
            columns.Bound(e => e.Days).Width(140);
            columns.Bound(e => e.Times);
            columns
                .Template(_ => "")
                .ClientTemplate("<a class='k-button' href='" + Url.Action("Details", "Job") + "/#= Id #'>zum Projektauftrag</a>")
                .Width(255);
        })
        .Pageable(pager => pager.PageSizes(false))
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read
                .Action("_Read", "Contract")
                .Type(HttpVerbs.Post))
            .Model(model => model.Id(e => e.Id))
            .PageSize(50))
        .Events(events => events.DataBound("onDataBound"))
        .Render();
}


