﻿@model PromoterInstance.Models.AccountActionsModel
@if (Model.UserIsAuthenticated) {
    <p>
        @Html.ActionLink("Passwort ändern", "ChangePassword", "Account")
        @Html.ActionLink("Logout", "LogOff", "Account")
        @Html.ActionLink("Hilfe", "Hilfe", "Home")
        <br />
        <a href="#" id="countdown" title="Hier klicken um die Zeit zurückzusetzen">Logout in @Model.SessionTimeout Min</a>
    </p>
    <script>
        var countdownElement = $("#countdown");
        var countdownValue = @Model.SessionTimeout;
        var interval = window.setInterval(function() {
            countdownValue--;
            if(countdownValue === 0) {
                window.location.href = appPath + "Account/LogOff?timer=1";
            }
            countdownElement.html("Logout in " + countdownValue + " Min");
        }, 60000);

        function resetCountDown() {
            window.clearInterval(interval);
            $("#login").load(appPath + "Account/_Actions");
        }

        $("#countdown").click(function(e) {
            e.preventDefault();
            resetCountDown();
        });
    </script>
} 
else
{
    <p>
        @Html.ActionLink("Registrieren", "Register", "Account")
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "toggle-login-box" })
    </p>
}
