@model PromoterInstance.Models.LoginModel
<script src="~/Scripts/jquery.excoloSlider.min.js"></script>
<script src="~/Scripts/login.js"></script>
<link href="~/Content/jquery.excoloSlider.css" rel="stylesheet">
<style>
    .slider { border: 0}
    .main-content > div {border-bottom: none;padding: 0}
    footer { padding-top: 0;margin-top: -119px;background: #fff;height: 61px }
    div#advantage-logo{top:-65px}
</style>
@{
    ViewBag.Title = "Anmeldung";
    ViewBag.HideTitle = true;
    if ("1".Equals(TempData["timer"]))
    {
        Html.Kendo()
            .Window()
            .Name("timeout-window")
            .Title("Du wurdest ausgeloggt")
            .Content(@<text>Du wurdest nach @Session.Timeout Minuten Inaktivität automatisch abgemeldet.</text>)
            .Render();
    }
    if (!ViewData.ModelState.IsValid || (Model != null && (Model.IsLocked || Model.IsInactiveOrBlocked)))
    {
        <style>
            #login-container { display: block; width: 500px; }
        </style>
    }
    else if (Model != null && Model.UserName != null)
    {
        <style>
            #login-container { display: block; }
        </style>
        <script>
            $(document).ready(function () {
                $("#Password").focus();
            });
        </script>
    }
}
<div id="slider-container">
    <div id="slider">
        <img src="~/Images/slider/01.jpg">
        <img src="~/Images/slider/02.jpg">
        <img src="~/Images/slider/03.jpg">
        <img src="~/Images/slider/04.jpg">
        <img src="~/Images/slider/05.jpg">
    </div>
</div>

<div id="login-container">
    @using (Html.BeginForm("Login", "Account", new {ReturnUrl = Request.QueryString["ReturnUrl"]}))
    {
        if (Model != null && Model.IsLocked)
        {
            <div class="validation-summary-errors" style="text-align: center;">
                <strong>Login fehlgeschlagen!</strong><br /><br />
                Dein Account wurde wegen mehrfacher Fehleingabe<br />deiner Zugangsdaten aus Sicherheitsgründen gesperrt.<br/><br />
                Bitte fordere ein neues Passwort an (@Html.ActionLink("Passwort vergessen?", MVC.Account.PasswordRetrieval()))<br />
                oder wende dich an <a style="text-transform: none" href="mailto:service@advantagemarketingservice.de">service@advantagemarketingservice.de</a>
            </div>
        }
        else if (Model != null && Model.IsInactiveOrBlocked)
        {
            <div class="validation-summary-errors" style="text-align: center;">
                Dein Login ist inaktiv. Bitte setze dich mit advantage Marketingservice in Verbindung.
                <a style="text-transform: none" href="mailto:service@advantagemarketingservice.de">service@advantagemarketingservice.de</a>
            </div>
        }
        else
        {
            <p>
                Bitte melde dich mit deinen Zugangsdaten an
            </p>
            @Html.ValidationSummary(false, "Login fehlgeschlagen. Bitte korrigiere Deine Eingaben.")
            @Html.TextBoxFor(m => m.UserName, new {placeholder = "Benutzername"})<br />
            @Html.PasswordFor(m => m.Password, new {placeholder = "Passwort"})<br />
            @Html.ActionLink("Passwort vergessen?", MVC.Account.PasswordRetrieval())<br />
            <button class="k-button" type="submit">Anmelden</button>

        }
    }
</div>
<script>
    if (top.location != location) {
        top.location.href = document.location.href;
    }
</script>