@model PromoterInstance.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.MobileBase.cshtml";
    ViewBag.Title = "Anmeldung";    
}
@section header {
    <img src="~/Images/logo.jpg" style="float: right; height: 3em;" />
}
<script src="~/Scripts/jquery.excoloSlider.min.js"></script>
<link href="~/Content/jquery.excoloSlider.css" rel="stylesheet">
<div id="slider" style="display: none">
    <img src="~/Images/slider/01.jpg">
    <img src="~/Images/slider/02.jpg">
    <img src="~/Images/slider/03.jpg">
    <img src="~/Images/slider/04.jpg">
    <img src="~/Images/slider/05.jpg">
</div>
<section class="content-wrapper main-content clear-fix">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "login-form" }))
    {
        if (Model != null && Model.IsLocked)
        {
            <div class="validation-summary-errors" style="text-align: center;">
                <strong>Login fehlgeschlagen!</strong><br /><br />
                Dein Account wurde wegen mehrfacher Fehleingabe<br />deiner Zugangsdaten aus Sicherheitsgründen gesperrt.<br /><br />
                Bitte fordere ein neues Passwort an (@Html.ActionLink("Passwort vergessen?", MVC.Account.PasswordRetrieval()))<br />
                oder wende dich an <a style="text-transform: none" href="mailto:service@advantagemarketingservice.de">service@advantagemarketingservice.de</a>
            </div>
        }
        else if (Model != null && Model.IsInactiveOrBlocked)
        {
            <div class="validation-summary-errors" style="text-align: center;">
                Dein Login ist inaktiv. Bitte setze dich mit advantage Marketingservice in Verbindung.
                <a style="text-transform: none" href="mailto:service@advantagemarketingservice.de">service@advantagemarketingservice.de</a>
            </div>
        }
        else
        {
            <div>Bitte melde dich mit deinen Zugangsdaten an</div>
            @Html.ValidationSummary(false, "Login fehlgeschlagen. Bitte korrigiere Deine Eingaben.")
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Benutzername" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Passwort" })
            @Html.ActionLink("Passwort vergessen?", MVC.Account.PasswordRetrieval())
            <button class="k-button" type="submit">Anmelden</button>
        }
    }
</section>
<script>
    $(document).ready(function () {
        $("#slider").excoloSlider({
            interval: 5000,
            width: 1376,
            pagerNav: false,
            touchNav: false,
            mouseNav: false 
        }).show();
    });
</script>