﻿@using PromoterInstance.Models
@model SetNewPasswordModel
@{
    if (ViewBag.Error != "true")
    {
        ViewBag.SubTitle = "Benutze das untenstehende Formular um ein neues Passwort zu erstellen.";
    }
}
@if (ViewBag.Error != "true")
{
    <p class="message-info">
        Neue Passwörter müssen mindestens @Membership.MinRequiredPasswordLength Zeichen
        lang sein.
    </p>

    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Passwortänderung war nicht erfolgreich. Bitte behebe die Fehler und versuche es erneut.")
        <fieldset>
            <legend>Neues Passwort</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <div class="clear-fix"></div>
            <input type="submit" value="Passwort erstellen" />
        </fieldset>
    }
}