﻿@{
    ViewBag.Title = "E-Mail versandt";
    ViewBag.ExtendedTitle = "Eine E-Mail wurde an Dich verschickt.";
}
<p>
    Wir haben Dir eine Email mit einem Aktivierungslink geschickt, bitte prüfe Deinen Email-Posteingang. <br />
    Solltest Du unsere Mail nicht finden, schaue sicherheitshalber auch in Deinem Junk-Mail- oder Spam-Ordner nach.
</p>
