﻿@using PromoterInstance.Models
@model PasswordRetrievalModel
@{
    ViewBag.Title = "Passwort vergessen";
    ViewBag.ExtendedTitle = "Bitte gebe Deine Emailadresse ein.";
}
@using (Html.BeginForm())
{
    <div class="editor-for">
        @Html.ValidationSummary(true, "Email konnte nicht versandt werden.")
        <div class="editor-field">
            @Html.TextBoxFor(e => e.Email, new { placeholder = "E-Mail-Adresse" })
            @Html.ValidationMessageFor(e => e.Email)
        </div>
        <input type="submit" class="k-button" value="Absenden" />
    </div>
}