﻿Aus rechtlichen Gründen müssen hier Leistungen beschrieben werden, die der Promoter zu erfüllen hat. Text wird im Auftrag übernommen – bitte ausformulieren!<br />
Beispieltext:<br />
<span class="example">
    quantitative Erfolge:<br />
    -mind. XX aktive Kundenansprachen je Tag<br />
    -Schaffung von Sichtkontakten durch Tragen der werbewirksamen Aktionskleidung<br />
    -mind. XX Stk. Abverkäufe<br />
    qualitative Erfolge:<br />
    vorgabengerechte Präsentation des Aktionsstandes oder des PoS
</span>