﻿Wird im Auftrag als  „Einsatztagebonus“ ausgewiesen. Bspl.-Text:
Bei Übernahme und ordnungsgemäßer Durchführung <span class="example">aller/von mindestens</span>
(<span class="example">Anzahl</span>) Einsatztage/n (d. h. Einhaltung der Aktionszeiten ohne Ausfall und Verspätungen) wird ein zusätzlicher Bonus gezahlt von:
<span class="example">30,00 € pauschal einmalig/pro Aktionstag</span>.