﻿Wird in Personalanforderung und auf advantage-promotion.de übernommen. bitte z. B. wie folgt ausfüllen:<br/>
<span class="example">
    Fr / Sa 11:00 – 20:00 Uhr<br/>
    So 13:00 – 18:00 Uhr
</span>
