﻿Sofern schon bekannt, Infos zur Provision (Voraussetzungen, Beschränkungen etc.) ausformuliert angeben. Bspl.-Text:<br/>
<strong>Die jeweils gültige Provisionsliste wird in einer gesonderten Email zugesendet!</strong>
<br/>
Auf Basis einer Provisionsliste werden ab dem <span class="example">ersten</span>
verkauften Exemplar Provisionen ausbezahlt.
Die Provisionen sind <span class="example">geräteabhängig/umsatzabhängig</span>.
Pro Einsatztag sind maximal <span class="example">€ 25,00</span> zu erreichen.