﻿@model PromoterInstance.Models.JobDetailsViewModel
<div>
    @{
        if (!(string.IsNullOrWhiteSpace(Model.ContactADName1) && string.IsNullOrWhiteSpace(Model.ContactADName2) && 
            string.IsNullOrWhiteSpace(Model.ContactADName3) && string.IsNullOrWhiteSpace(Model.ContactADName4)))
        {
            <div id="contact-adv">
                <h3>Ansprechpartner advantage</h3>
                <table border="0" cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col style="width: 150px" />
                    </colgroup>
                    @if (!string.IsNullOrWhiteSpace(Model.ContactADName1))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactADName1</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactADEmail1">@Model.ContactADEmail1</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactADPhone1">@Model.ContactADPhone1</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactADRemark1))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactADRemark1</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactADName2))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactADName2</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactADEmail2">@Model.ContactADEmail2</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactADPhone2">@Model.ContactADPhone2</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactADRemark2))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactADRemark2</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactADName3))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactADName3</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactADEmail3">@Model.ContactADEmail3</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactADPhone3">@Model.ContactADPhone3</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactADRemark3))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactADRemark3</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactADName4))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactADName4</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactADEmail4">@Model.ContactADEmail4</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactADPhone4">@Model.ContactADPhone4</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactADRemark4))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactADRemark4</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }
    @{
        if (!(string.IsNullOrWhiteSpace(Model.ContactPMName1) && string.IsNullOrWhiteSpace(Model.ContactPMName2) && 
            string.IsNullOrWhiteSpace(Model.ContactPMName3) && string.IsNullOrWhiteSpace(Model.ContactPMName4)))
        {
            <div id="contact-pm">
                <h3>Ansprechpartner permedia</h3>
                <table border="0" cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col style="width: 150px" />
                    </colgroup>

                    @if (!string.IsNullOrWhiteSpace(Model.ContactPMName1))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactPMName1</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactPMEmail1">@Model.ContactPMEmail1</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactPMPhone1">@Model.ContactPMPhone1</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactPMRemark1))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactPMRemark1</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactPMName2))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactPMName2</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactPMEmail2">@Model.ContactPMEmail2</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactPMPhone2">@Model.ContactPMPhone2</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactPMRemark2))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactPMRemark2</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactPMName3))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactPMName3</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactPMEmail3">@Model.ContactPMEmail3</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactPMPhone3">@Model.ContactPMPhone3</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactPMRemark3))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactPMRemark3</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ContactPMName4))
                    {
                        <tr>
                            <th>Name</th>
                            <td>@Model.ContactPMName4</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:@Model.ContactPMEmail4">@Model.ContactPMEmail4</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td><a href="tel:@Model.ContactPMPhone4">@Model.ContactPMPhone4</a></td>
                        </tr>
                        if (!string.IsNullOrWhiteSpace(Model.ContactPMRemark4))
                        {
                            <tr>
                                <th>Bemerkung</th>
                                <td>@Model.ContactPMRemark4</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }

    <div style="clear: both"></div>
</div>