﻿@model PromoterInstance.Models.JobDetailsViewModel     
Hier kannst Du Dir den Projektauftrag herunterladen. Bitte bestätige diesen über den Button „Projektauftrag annehmen“. Solltest Du Rückfragen haben, wende Dich an Deinen Ansprechpartner.
Wir freuen uns auf die Zusammenarbeit!
<p>
    @Html.ActionLink("Projektauftrag herunterladen", "DownloadPdf", new { campaignId = Model.Id, _ = DateTime.Now.Ticks }, new { @class = "download-pdf-icon", @target = "_blank" })
</p>
<br />
<p style="font-style: italic">
    <strong>"Ich habe den Projektauftrag gelesen und stimme den Bedingungen und Umfang ausdrücklich zu und nehme den Auftrag an."</strong>
</p>
@Html.ActionLink("Projektauftrag annehmen", "AcceptContract", "Job", new { id = Model.Id }, new { @class = "k-button" })
@Html.ActionLink("Projektauftrag ablehnen", "RejectContract", "Job", new { id = Model.Id }, new { @class = "k-button" })