﻿@using ObjectTemplate
@using SeismitoadModel
@model PromoterInstance.Models.JobDetailsViewModel
<p class="with-margin">
    <a href="~/CampaignAssets/@Model.Id/CampaignDetailInfo.pdf" target="_blank" class="download-pdf-icon">Jobinfo herunterladen</a>
</p>
@{
    var trainings = ViewBag.Trainings as IList<TrainingParticipant>;
    if (trainings != null && trainings.Count > 0)
    {
        <h2 style="margin-top: 40px; margin-bottom: 8px;">Deine Schulung@(trainings.Count > 1 ? "en" : "")</h2>
    <table id="trainings-table" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
            <col style="width: 120px" />
            <col style="width: 150px" />
            <col style="width: 140px" />
            <col style="width: 140px" />
            <col style="width: 120px" />
            <col style="width: 165px" />
            <col style="width: 165px" />
        </colgroup>
        <thead>
            <tr>
                <th>Schulungstitel</th>
                <th>Ort / Schulungslink</th>
                <th>Datum Beginn</th>
                <th>Datum Ende</th>
                <th>Schulungsstatus</th>
                <th>Bemerkung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in trainings)
                {
                    var location = participant.TrainingDay.Location;
                    var isOnline = location != null && location.ToLower().StartsWith("http");
                <tr>
                    <td>@participant.TrainingDay.Training.Title</td>
                    <td>
                        @if (isOnline)
                        {
                            <a class="normal" href="@location" target="_blank">@location</a>
                        }
                        else
                        {
                            @location
                        }
                    </td>
                    <td>@string.Format("{0:dd.MM.yyyy - HH:mm}", participant.TrainingDay.DateFrom)</td>
                    <td>@string.Format("{0:dd.MM.yyyy - HH:mm}", participant.TrainingDay.DateTil)</td>
                    <td>@participant.State</td>
                    <td>@participant.TrainingDay.Remarks</td>
                    <td>@Html.ActionLink("Termin herunterladen", MVC.Job.Calendar(participant.Id))</td>
                </tr>
            }
        </tbody>
    </table>
    }
    }
    <h2 style="margin-top: 40px; margin-bottom: 8px;">Dein Auftrag</h2>
    <p>
        @Html.ActionLink("Projektauftrag herunterladen", "DownloadPdf", new { campaignId = Model.Id, _ = DateTime.Now.Ticks }, new { @class = "download-pdf-icon", @target = "_blank" })
    </p>
    <p>
        Du hast den Projektauftrag angenommen. <br />
        Wenn du noch Fragen haben solltest, wende dich an deinen Ansprechpartner.<br />
        Wir freuen uns auf die Zusammenarbeit!
    </p>
    @{
        var instanceUrl = (Model.InstanceUrl ?? "").Replace("_ext_", "");
        if (instanceUrl.StartsWith("http"))
        {
            <h2 style="margin-top: 40px; margin-bottom: 8px;">Dein Aktionstool</h2>
            <p>
                Hier findest du weitere Informationen zu deinem Projekt<br />
                <a href="@instanceUrl" style="color: #999">zum Aktionstool</a>
            </p>
        }
    }
    <h2 style="margin-top: 40px; margin-bottom: 0;">Deine Ansprechpartner</h2>
    <style>
        h3 {
            color: black;
            margin-top: 0;
        }
    </style>
    @Html.Partial("_ASPTable", Model)
