﻿@model PromoterInstance.Models.JobDetailsViewModel     
<p class="with-margin">
    <a href="~/CampaignAssets/@Model.Id/CampaignDetailInfo.pdf" target="_blank" class="download-pdf-icon">Jobinfo herunterladen</a>
</p>
@Html.Partial("_ASPTable", Model)

<br /><br />