﻿@model PromoterInstance.Models.JobDetailsViewModel
Schön, dass Du Dich für die Aktion @Model.Name interessierst.
Hier kannst Du die ausführliche Jobinformation als PDF herunterladen. Bei Interesse kannst Du Dich hier direkt bewerben.
Wenn das Jobangebot für Dich nicht interessant ist, teile uns dies bitte über den Button „kein Interesse“ mit.
<p class="with-margin">
    <a href="~/CampaignAssets/@Model.Id/CampaignDetailInfo.pdf" target="_blank" class="download-pdf-icon">Jobinfo herunterladen</a>
</p>
@Html.ActionLink("Bewerben", "Apply", "Job", new { id = Model.Id }, new { @class = "k-button" })
@Html.ActionLink("Kein Interesse", "NotInterested", "Job", new { id = Model.Id }, new { @class = "k-button" })
