﻿<div style="height: 20px"></div>
@Html.ActionLink("Jobinfos anfordern", "InformationRequested", "Job", new { id = Model.Id }, new { @class = "k-button" })
@Html.ActionLink("Kein Interesse", "NotInterested", "Job", new { id = Model.Id }, new { @class = "k-button" })
<br /><br />