﻿@using PromoterInstance.Controllers
@model IList<JobController.PotentialAssignmentModel>
<p>
    Du hast Dich für folgende Aktionsorte beworben. Bitte gib an, welche der folgenden derzeit zu besetzenden Aktionstage Du übernehmen kannst.
</p>
@using (Html.BeginForm())
{
    @Html.Raw("<div>")
    var index = 0;
    string previousLocation = null;
    foreach (var item in Model)
    {
        var currentLocation = string.Format("{0} {1} {2} {3}", item.Name, item.Street, item.PostalCode, item.City);
        if (currentLocation != previousLocation)
        {
            var tag = "</div>" + (index % 2 == 0 ? "<div class='grey potential-assignments'>" : "<div class='potential-assignments'>");
            @Html.Raw(tag);
            @currentLocation<br />
            previousLocation = currentLocation;
            index++;
        }
        var cbName = "cb" + item.AssignmentId;
        <div class="nobr">
            <input name="a" type="checkbox" id="@cbName" value="@string.Format("{0}: {1:dd.MM.yyyy}", currentLocation, item.Date)">
            <label for="@cbName">@item.Date.ToString("dd.MM.yyyy")</label>
        </div>
    }
    @Html.Raw("</div>")
    <div style="border-top: 2px solid #e5e5e5; margin: 10px 0; padding-top: 4px;">
        <input name="a"
               style="float: left; margin-right: 8px;"
               type="checkbox"
               id="noneSelected"
               value="An den oben angegebenen Tagen kann ich leider keinen Einsatz übernehmen, bin aber grundsätzlich an Einsätzen in den Aktionsorten interessiert.">
        <label style="display: block; line-height: 1.2em" for="noneSelected">
            An den oben angegebenen Tagen kann ich leider keinen Einsatz übernehmen, bin aber grundsätzlich an Einsätzen in den Aktionsorten interessiert.
        </label>
    </div>
    <input type="submit" class="k-button" value="Bewerbung abschließen" />
}