﻿@using PromoterInstance.Models
@model JobDetailsViewModel
@{
    ViewBag.Title = "Bewerbung";
}
<style>
    .main-content { display: none; }
    .k-filter-menu .k-widget.k-dropdown {
        display: none;
    }
</style>
@section afterwrapper {    
    <div id="locations" data-bind="visible: locationSelectionVisible">
        @using (Html.BeginForm())
        {
            <table class="list-view">
                <tr class="item">
                    <td>
                        <img src="@Url.Content("~/CampaignAssets/" + Model.Id + "/logo.png?404=~/Images/404/icon.png&width=180&height=48")" />
                    </td>
                    <td>
                        <label>Projekt</label>
                        <span>@Model.Name</span>
                    </td>
                </tr>
                <tr class="item" data-bind="visible: hasLocations">
                    <td colspan="2">
                        <label>Aktionsorte</label>
                        <span>
                            @if (Model.GradualBooking)
                            {
                                <text>Die Aktionsorte werden sukzessiv gebucht, so dass derzeit noch nicht alle Orte feststehen. Im Moment sind folgende Aktionsorte zu besetzen:</text>
                            }
                            else
                            {
                                <text>Bitte wähle die Aktionsorte an denen Du Dir vorstellen kannst Einsätze durchzuführen.</text>
                            }
                        </span>
                    </td>
                </tr>
            </table>
            <div data-bind="visible: hasLocations">
                @Html.ValidationMessage("General", new { @class = "with-padding" })
                @{
                    Html.Kendo().Grid<ApplyToLocationViewModel>()
                        .Name("grid")
                        .Sortable()
                        .Columns(columns =>
                        {
                            columns.Template(e => "")
                                .ClientTemplate("<input name='l' type='checkbox' value='#= Id #' class='checkbox' />")
                                .Width(40);
                            columns.Bound(e => e.Name).Filterable(false);
                            columns
                                .Bound(e => e.City)
                                .Filterable(filter => filter.Operators(operators => operators.ForString(str => str.Clear().Contains("b"))).Messages(m => m.Info("")))
                                .Title("Ort");
                        })
                        //.Filterable(filter => filter.Extra(false).Enabled(!Model.GradualBooking))
                        .Scrollable(scrollable => scrollable.Enabled(true).Height("auto"))
                        .DataSource(dataSource => dataSource
                            .Ajax().Read("_ReadLocations", "Job", new {campaignId = Model.Id})
                            .Sort(sort => sort.Add(e => e.City))
                            .ServerOperation(false))
                        .Render();
                }
                <div class="with-padding">
                    Ist im Moment kein passender Einsatzort dabei?<br/>
                    Dann kannst Du in dem folgenden Freitextfeld angeben,
                    in welchen Orten/in welchem Umkreis Du gern in den Einsatz gehen würdest. Wir melden uns bei Dir,
                    sobald ein passender Einsatzort gebucht wurde!
                    <br/><br/>
                    @Html.TextArea("LocationsText2", new {rows = 6, cols = 40})
                </div>
            </div>
            <div data-bind="visible: hasNoLocations" class="with-padding">
                Für diese Aktion stehen die Standorte noch nicht final fest.
                @Html.Label("LocationsText", "Bitte teile uns mit, in welchen Städten/Regionen wir dich einsetzen können.")
                <br/>
                @Html.TextArea("LocationsText", new {rows = 6, cols = 40})
                @Html.ValidationMessage("General")
            </div>
            <div class="with-padding">
                <input type="submit" class="k-button" style="margin-top: 10px" value="Bewerbung absenden" />
                @Html.ActionLink("Zur Startseite", MVC.Home.Index(), new { @class = "k-button", style = "margin-top: 10px" })
            </div>
        }
    </div>
    <script src="~/Scripts/jobapplication.js?version=1"></script>
}