﻿@using PromoterInstance.Models
@model JobDetailsViewModel
@{
    ViewBag.Title = "Bewerbung für " + Model.Name;
}
@functions
{
    MvcHtmlString ReplaceLineEndings(string input)
    {
        return new MvcHtmlString(input != null ? input.Replace("\n", "<br />") : "");
    }
}
<style>
    .k-filter-menu .k-widget.k-dropdown {
        display: none;
    }

    table th, table td {
        text-align: left;
        vertical-align: top;
    }

    #grid .k-grid-content {
        overflow-y: auto !important;
        max-height: 400px;
    }

    .potential-assignments {
        padding: 4px;
    }

    .k-checkbox-label {
        padding-right: 4px;
    }

    .k-grid-header-wrap {
        border: 0;
    }
</style>
@if (ViewBag.SelectAssignments != null)
{
    Html.Kendo().Window()
        .Name("selectAssignmentsWindow")
        .Title("Auswahl Aktionstage")
        .LoadContentFrom("_SelectAssignments", "Job", new { campaignId = Model.Id })
        .Modal(true)
        .Width(920)
        .Events(events => events.Refresh("function() { $('#selectAssignmentsWindow').data('kendoWindow').center(); }"))
        .Render();
}
<table>
    <colgroup>
        <col style="width: 150px" />
    </colgroup>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Kunde</th>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <th>Laufzeit</th>
        <td>@ReplaceLineEndings(Model.Duration)</td>
    </tr>
    <tr>
        <th>Aktionstage</th>
        <td>@ReplaceLineEndings(Model.Days)</td>
    </tr>
    <tr>
        <th>Aktionszeiten</th>
        <td>@ReplaceLineEndings(Model.Times)</td>
    </tr>
    <tr>
        <th>Teamgröße</th>
        <td>@Model.EmployeesPerAssignment</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td></td>
    </tr>
    <tr>
        <th>Beschreibung</th>
        <td>@ReplaceLineEndings(Model.Description)</td>
    </tr>
    <tr>
        <th>Anforderungsprofil</th>
        <td>
            @ReplaceLineEndings(Model.Requirements)
        </td>
    </tr>
</table>
<div id="locations" data-bind="visible: locationSelectionVisible">
    <h2>Aktionsorte</h2>
    @using (Html.BeginForm())
    {
        <div data-bind="visible: hasLocations">
            @if (Model.GradualBooking)
            {
                <text>Die Aktionsorte werden sukzessiv gebucht, so dass derzeit noch nicht alle Orte feststehen. Im Moment sind folgende Aktionsorte zu besetzen:</text>
            }
            else
            {
                <text>Bitte wähle die Aktionsorte an denen Du Dir vorstellen kannst Einsätze durchzuführen.</text>
            }
            @Html.ValidationMessage("General")
            @{
                Html.Kendo().Grid<ApplyToLocationViewModel>()
                    .Name("grid")
                    .Sortable()
                    .Columns(columns =>
                    {
                        columns.Template(e => "")
                            .ClientTemplate("<input name='l' type='checkbox' value='#= Id #' class='checkbox' />")
                            .Width(40);
                        columns.Bound(e => e.Name)
                            .Filterable(filter => filter.Operators(operators => operators.ForString(str => str.Clear().Contains("b"))).Messages(m => m.Info("")));
                        columns
                            .Bound(e => e.Street)
                            .Filterable(filter => filter.Operators(operators => operators.ForString(str => str.Clear().Contains("b"))).Messages(m => m.Info("")))
                            .Title("Straße");
                        columns
                            .Bound(e => e.PostalCode)
                            .Filterable(filter => filter.Operators(operators => operators.ForString(str => str.Clear().Contains("b"))).Messages(m => m.Info("")))
                            .Title("PLZ");
                        columns
                            .Bound(e => e.City)
                            .Filterable(filter => filter.Operators(operators => operators.ForString(str => str.Clear().Contains("b"))).Messages(m => m.Info("")))
                            .Title("Ort");
                    })
                    //.Filterable(filter => filter.Extra(false).Enabled(!Model.GradualBooking))
                    .Scrollable(scrollable => scrollable.Enabled(true).Height("auto"))
                    .DataSource(dataSource => dataSource
                        .Ajax().Read("_ReadLocations", "Job", new { campaignId = Model.Id })
                        .Sort(sort => sort.Add(e => e.PostalCode))
                        .ServerOperation(false))
                    .Render();
            }
            Ist im Moment kein passender Einsatzort dabei?<br />
            Dann kannst Du in dem folgenden Freitextfeld angeben,
            in welchen Orten/in welchem Umkreis Du gern in den Einsatz gehen würdest. Wir melden uns bei Dir,
            sobald ein passender Einsatzort gebucht wurde!
            <br /><br />
            @Html.TextArea("LocationsText2", new { rows = 6, cols = 40 })
        </div>
        <div data-bind="visible: hasNoLocations">
            Für diese Aktion stehen die Standorte noch nicht final fest.
            @Html.Label("LocationsText", "Bitte teile uns mit, in welchen Städten/Regionen wir dich einsetzen können.")
            <br />
            @Html.TextArea("LocationsText", new { rows = 6, cols = 40 })
            @Html.ValidationMessage("General")
        </div>
        <input type="submit" class="k-button" style="margin-top: 10px" value="Bewerbung absenden" />
        @Html.ActionLink("Zur Startseite", MVC.Home.Index(), new { @class = "k-button", style = "margin-top: 10px" })
                }
</div>
<script src="~/Scripts/jobapplication.js?version=1"></script>