﻿@using PromoterInstance.Controllers
@model IList<JobController.PotentialAssignmentModel>
@{
    ViewBag.Title = "Bewerbung";
}
<div class="dates">
    @{
        Html.RenderPartial(MVC.Job.Views._SelectAssignments);
    }
</div>
