﻿@model PromoterInstance.Models.JobDetailsViewModel
@{
    ViewBag.Title = "Job-Details";
}
@functions
{
    MvcHtmlString ReplaceLineEndings(string input)
    {
        return new MvcHtmlString(input != null ? input.Replace("\n", "<br />") : "");
    }
}
<div id="details-page">
    <p>
        @{ Html.RenderPartial("_" + Model.State + "Top"); }
    </p>
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
    </dl>
    <dl>
        <dt>Kunde</dt>
        <dd>@Model.CustomerName</dd>
    </dl>
    <dl>
        <dt>Laufzeit</dt>
        <dd>@ReplaceLineEndings(Model.Duration)</dd>
    </dl>
    <dl>
        <dt>Aktionstage</dt>
        <dd>@ReplaceLineEndings(Model.Days)</dd>
    </dl>
    <dl>
        <dt>Aktionszeiten</dt>
        <dd>@ReplaceLineEndings(Model.Times)</dd>
    </dl>
    <dl style="padding-bottom: 40px;">
        <dt>Teamgröße pro Aktionsort</dt>
        <dd>@Model.EmployeesPerAssignment</dd>
    </dl>
    <dl>
        <dt>Beschreibung</dt>
        <dd>@ReplaceLineEndings(Model.Description)</dd>
    </dl>
    <dl>
        <dt>Anforderungsprofil</dt>
        <dd>
            @ReplaceLineEndings(Model.Requirements)
        </dd>
    </dl>
    <div class="clear-fix"></div>
    @{ Html.RenderPartial("_" + Model.State + "Bottom"); }
    @Html.ActionLink("Zur Startseite", MVC.Home.Index(), new { style = "color: #999" })
</div>