﻿@using ObjectTemplate
@using PromoterInstance.Models
<h1 id="Jobs">Jobangebote</h1>
<div>
    <span>Wir freuen uns, dass Du Interesse an einer Zusammenarbeit mit uns hast. Hier findest Du unsere aktuellen Jobangebote für Dich.</span>
    @{
        Html.Kendo()
            .Grid<ApplyableCampaign>()
            .Name("c")
            .Columns(columns =>
            {
                columns
                    .Template(e => "")
                    .ClientTemplate("#= Highlighted ? '<img src=\""+ Url.Content("~/Images/Icons/star.png") + "\">' : '' #")
                    .Width(30);
                columns
                    .Template(e => "")
                    .ClientTemplate("<img src=\"" + Url.Content("~/CampaignAssets/#= Id #/logo.png?404=~/Images/404/icon.png&width=180&height=48") + "\">")
                    .Width(180);
                columns.Bound(e => e.Name).Width(180);
                columns.Bound(e => e.Duration).Width(120);
                columns.Bound(e => e.Days).Width(100);
                columns.Bound(e => e.Times).Width(125);
                columns
                    .ForeignKey(e => e.State, SelectListRepository.Retrieve("CampaignEmployeeStatePromoter", ViewData), "Value", "Text");
                columns
                    .Template(_ => "")
                    .ClientTemplate("<a class='k-button' href='" + Url.Action("Details", "Job") + "/#= Id #'>Details</a>")
                    .Width(140);
            })
            .Pageable(pager => pager.PageSizes(false))
            .DataSource(dataSource => dataSource.Ajax()
                .Read(read => read
                    .Action("_Read", "Job")
                    .Type(HttpVerbs.Post))
                .Model(model => model.Id(e => e.Id))
                .PageSize(50))
            .Events(events => events.DataBound("onDataBound"))
            .Render();
    }
    <div class="clear"></div>
</div>
<div class="show-on-hidden" style="display: none">Wir freuen uns, dass Du Interesse an einer Zusammenarbeit mit uns hast. Für Dich sind zur Zeit keine Jobangebote vorhanden.</div>
<br />
@Html.ActionLink("abgelehnte Jobangebote", MVC.DeclinedJobs.Index(), new { @class = "float-left" })
