﻿@using ObjectTemplate
@using PromoterInstance.Models
@{
    ViewBag.Title = "Jobangebote";
    var states = SelectListRepository.Retrieve("CampaignEmployeeStatePromoter", ViewData);
}
<style>.main-content { display: none; }</style>
<script type="text/javascript">
        function translateState(state) {
            switch(state) {
                @foreach (var state in states)
                {
<text>
                case "@state.Value":
                    return "@Html.Raw(state.Text)";
</text>
                }
            }
            return "";
        }
</script>
<script type="text/x-kendo-tmpl" id="template">
    <tr class="item">
        <td>
            <img src="@Url.Content("~/CampaignAssets/")#= Id #/logo.png?404=~/Images/404/icon.png&width=180&height=48" />
        </td>
        <td>
            <label>Projekt</label>
            <span>#: Name #</span>
            <label>Aktionszeitraum</label>
            <span>#: Duration #</span>
            <label>Status</label>
            <span>#: translateState(State) #</span><br />
        </td>
    </tr>
    <tr class="item align-right">
        <td colspan="2">
            <a href="@Url.Action(MVC.Job.Details())/#: Id #" class="k-button">Details</a>
        </td>
    </tr>
</script>
@section afterwrapper {
<div id="no-items">Wir freuen uns, dass Du Interesse an einer Zusammenarbeit mit uns hast. Für Dich sind zur Zeit keine Jobangebote vorhanden.</div>
@{
    Html.Kendo()
        .ListView<ApplyableCampaign>()
        .Name("c")
        .TagName("table")
        .ClientTemplateId("template")
        .HtmlAttributes(new { @class = "list-view" })
        .DataSource(dataSource => dataSource.Read(read => read.Action("_Read", "Job").Type(HttpVerbs.Post)))
        .Events(events => events.DataBound("function() { if(this.dataSource.total() === 0) { $('#no-items').show(); } }"))
        .Render();
}}