﻿@model SeismitoadModel.Contact
<form id="newContactForm" class="k-edit-form-container">
    <div class="editor-label">
        @Html.LabelFor(e => e.Title)
    </div>
    <div class="editor-field">
        @Html.Kendo().DropDownListFor(e => e.Title).BindTo(SelectListRepository.Retrieve("Title", ViewData))
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Firstname)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Firstname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Lastname)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Lastname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Phone)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Phone)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Email)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Type)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Type)
    </div>

    <div class="editor-label">
        @Html.LabelFor(e => e.Comment)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(e => e.Comment)
    </div>

    <button type="submit" class="k-button">Anlegen</button>
</form>