﻿@using SeismitoadModel
@using ObjectTemplate.Extensions
@using MasterInstance.Areas.CM.Models
@model CampaignLocationSelectionModel
@{
    var campaignId = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    ViewBag.Title = Helpers.PageTitle(campaignId, "Aktionsorte");
    Layout = Request["frame"] == "true"
        ? "~/Views/Shared/_FrameLayoutKendo.cshtml"
        : "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    .campaign-location { background-color: darkseagreen; }
    .campaign-location.k-alt { background-color: #bbdeb8; }
    #template { padding: 10px 5px }
</style>
<h3>@ViewBag.Title</h3>
<div id="additional-toolbar-items-template">
    <div id="actions">
        <div>
            <a class="k-button" href="@Url.Action(MVC.CM.Export.CampaignLocations(campaignId))"><span class='k-icon k-i-excel'></span>Exportieren</a>
            <button class="k-button" data-bind="click: reset"><span class='k-icon k-i-refresh'></span>Spalten zurücksetzen</button>
            <button class="k-button" data-bind="click: add, enabled: buttonsEnabled"><span class='k-icon k-i-plus'></span><span data-bind="text: amount"></span> hinzufügen</button>
            <button class="k-button" data-bind="click: remove, enabled: buttonsEnabled"><span class='k-icon k-i-close'></span><span data-bind="text: amount"></span> entfernen</button>
            <button class="k-button" data-bind="invisible: onlyCampaignLocations, click: showOnlyCampaignLocations">Nur Aktionsorte zeigen</button>
            <button class="k-button" data-bind="visible: onlyCampaignLocations, click: showAllLocations">Alle Orte zeigen</button>
        </div>
        <form id="template">
            Startwerte für neue Aktionsorte
            <span class="vertical-seperator"></span>
            <div class="inline-block">
                <label>Status</label>
                @Html.Kendo().DropDownList().Name("Template.State").BindTo(new CampaignLocationState().ToSelectList())
            </div>
            <div class="inline-block">
                <label>W-LAN / Internet vorhanden</label>
                @Html.Kendo().DropDownList().Name("Template.NetworkConnectionAvailable").BindTo(SelectListRepository.Retrieve("NullYesNo", ViewData))
            </div>
            <div class="inline-block">
                <label>Klassifizierung</label>
                @Html.Kendo().DropDownList().Name("Template.Classification").BindTo(SelectListRepository.Retrieve("Classification", ViewData))
            </div>
            <div class="inline-block">
                <label>Bemerkung</label>
                @Html.TextBox("Template.Notes")
            </div>
            <div class="inline-block">
                <label>Vertriebsregion</label>
                @Html.Kendo().DropDownList().Name("Template.SalesRegion").BindTo(SelectListRepository.Retrieve("SalesRegion", ViewData)).OptionLabel("Bitte wählen...")
            </div>
        </form>
    </div>
</div>
@{
    Html.Kendo()
        .Grid<CampaignLocationViewModel>()
        .Name("g")
        .DataSource(dataSource => dataSource
            .Ajax()
                .Read(read => read.Action("_Read", "CampaignLocation", new { campaignId = campaignId }).Data("function() { return campaignLocationSelectModel.gridParams(); }"))
                .Update("_Update", "CampaignLocation", new { campaignId = campaignId })
            .PageSize(10)
            .Model(model => model.Id(e => e.LocationId)))
        .ToolBar(toolbar => toolbar.Template("<span></span>"))
    .Scrollable(scrollable => scrollable.Height(500))
    .Filterable()
    .Sortable()
    .Pageable()
    .AutoBind(false)
    .Resizable(resizeable => resizeable.Columns(true))
    .Reorderable(reorderable => reorderable.Columns(true))
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Editor"))
    .ColumnMenu()
    .Columns(columns =>
    {
        columns.ForeignKey(e => e.LocationGroupId, Model.LocationGroups).Title("Channel").Width(90);
        columns.Bound(e => e.Name);
        columns.Bound(e => e.Name2).Title("Zusatz").Hidden(true);
        columns.Bound(e => e.Street).Title("Straße");
        columns.Bound(e => e.Street2).Title("Straße Zusatz").Hidden(true);
        columns.Bound(e => e.PostalCode).Title("PLZ").Width(80);
        columns.Bound(e => e.City).Title("Ort").Width(100);
        columns.Bound(e => e.SalesRegion).Title("Vertriebsregion");
        columns.Bound(e => e.Classification).Title("Klassifizierung").Width(100);
        columns.Bound(e => e.Remark).Title("Bemerkung").Hidden(true);
        columns.Bound(e => e.RemarkCampaign).Title("Bemerkung (Projekt)").Hidden(true);
        columns.Bound(e => e.CenterManagementStreet).Title("Centerverwaltung - Straße").Hidden(true);
        columns.Bound(e => e.CenterManagementPostalCode).Title("Centerverwaltung - PLZ").Hidden(true);
        columns.Bound(e => e.CenterManagementCity).Title("Centerverwaltung - Ort").Hidden(true);
        columns.Bound(e => e.Phone).Title("Telefon").Hidden(true).Width(100);
        columns.Bound(e => e.Fax).Title("Fax").Hidden(true).Width(100);
        columns.Bound(e => e.Email).Title("E-Mail").Hidden(true);
        columns.Bound(e => e.Website).Title("Website").Hidden(true);
        columns.Bound(e => e.VisitorFrequency).Title("Besucher / Tag").Hidden(true).Width(100);
        columns.Bound(e => e.Area).Title("Gesamtfläche").Hidden(true).Width(100);
        columns.Bound(e => e.SellingArea).Title("Verkaufsfläche").Hidden(true).Width(100);
        columns.Bound(e => e.CampaignAreaPrices).Title("Preise Aktionsfläche").Hidden(true).Width(100);
        columns.Bound(e => e.Audience).Title("Publikumsniveau").Hidden(true).Width(100);
        columns.Bound(e => e.Opening).Title("Eröffnungsjahr").Hidden(true).Width(100);
        columns.Bound(e => e.CatchmentArea).Title("Einzugsgebiet (mindestens)").Hidden(true).Width(100);
        columns.Bound(e => e.Parking).Title("Parkplätze (mindestens)").Hidden(true).Width(100);
        columns.Bound(e => e.OutdoorArea).Title("Standfläche Außenbereich").Hidden(true).Width(100);
        columns.Bound(e => e.Retailers).Title("Vorhandene Retailer").Hidden(true);
        columns.Bound(e => e.WiFiAvailable).ClientTemplate("#= WiFiAvailable === null ? 'Keine Angabe' : WiFiAvailable == true ? 'Ja' : 'Nein' #").Title("WLAN vorhanden").Hidden(true).Width(100);
        columns.Bound(e => e.ConferenceRoomSize).Title("Größe Konferenzräume").Hidden(true);
        columns.Bound(e => e.ConferenceEquipmentCost).Title("Kosten Konferenztechnik").Hidden(true);
        columns.Bound(e => e.ConferencePackageCost).Title("Kosten Tagungspaket").Hidden(true);
        columns.Bound(e => e.RoomRates).Title("Zimmerpreise").Hidden(true);
        columns.Bound(e => e.CostTransferPossible).ClientTemplate("#= CostTransferPossible ? 'Ja' : 'Nein' #").Title("Kostenübernahme möglich").Hidden(true).Width(100);
        columns.ForeignKey(e => e.StateProvinceId, Model.StateProvinces).Title("Bundesland").Hidden(true);
        columns.ForeignKey(e => e.LocationTypeId, Model.LocationTypes).Title("Typ").Hidden(true);
        columns.Command(command => command.Edit()).Width(120);
        columns.Command(command => command.Custom("toggle").Text("Aktion")).Width(100);
    })
.Events(events => events.DataBound("gridDataBound").Edit("gridEdit").Cancel("restoreColor").Save("restoreColor"))
.Render();

    Html.Kendo().Window()
        .Name("newContactWindow")
        .Title("Neuer Ansprechpartner")
        .Content(() => Html.RenderPartial("_AddContact", new Contact()))
        .Events(events => events.Close("resetNewContactForm"))
        .Modal(true).Width(300).Height(280).Visible(false)
        .Render();
}
<script>
    var campaignId = @campaignId;
</script>
<script src="~/Scripts/GridResizer.js" type="text/javascript"></script>
<script src="~/Scripts/GridStateSaver.js?version=2" type="text/javascript"></script>
<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<script src="~/Scripts/campaignlocations/CampaignLocations.js?version=5" type="text/javascript"></script>
