﻿<div id="conflicts">
    <div class="k-overlay" style="display: block; z-index: 10002; opacity: 0.5;" data-bind="visible: visible"></div>
    <div id="conflicts-window"
         data-role="window"
         data-title="false"
         data-resizable="false"
         data-bind="visible: visible, events:  { close: clear }">
        <div>
            Bei der Zuweisung von <span style="font-weight: bold" data-bind="text: employee"></span> zum Markt
            <span style="font-weight: bold" data-bind="text: location"></span> gab es an den folgenden Terminen
            Überschneidungen mit anderen Einsätzen.
        </div>
        <div id="conflicts-grid"
             data-role="grid"
             data-bind="source: dataSource"
             data-columns="[
                { field: 'date', title: 'Datum', format: '{0:d}' },
                { field: 'campaigns', title: 'Aktion(en)' },
                { field: 'cities', title: 'Ort(e)' },
                { command: [ { name: 'custom', text: 'Zuweisung löschen', click: removeConflictClick } ], title: 'Einsatz für @ViewBag.CampaignName' }
            ]"></div>
        <button class="k-button" data-bind="click: clear">Fenster schließen</button>
    </div>
</div>