﻿<div id="create-assignment-window"
     data-role="window"
     data-visible="false"
     data-modal="true"
     data-resizable="false"
     data-title="Neuer Aktionstag">

    <div class="k-block k-info-colored">
        <span data-bind="text: location"></span> am <span data-bind="text: formattedDate"></span>
    </div>

    Start <input data-role="timepicker" data-min="05:00" data-max="04:30" data-bind="value: start" data-parse-formats="['HH:mm', 'HH']" />
    Ende <input data-role="timepicker" data-min="05:00" data-max="04:30" data-bind="value: end" data-parse-formats="['HH:mm', 'HH']" />
    Anzahl Promoter <input data-role="numerictextbox" data-format="D" data-min="1" data-max="50" data-bind="value: employeeCount" />
    <div class="clear vspace20px"></div>
    <button data-role="button" data-bind="enabled: submitEnabled, click: submit">Aktionstag anlegen</button>
</div>