﻿<div>
    # if(data[i].Notes) { #
    <span class="with-note marker-#= data[i].Marker #" title="#= data[i].Notes #" data-role="tooltip"></span>
    # } else if(data[i].Marker > 0) { #
    <span class="marker-#= data[i].Marker #"></span>
    # } #
    <div class="assignment #= data[i].TrafficLight #" title="#= data[i].Title #">
        <div class="employee empty-slot"
             onclick="actionsViewModel.employeeClick(this, '#= data[i].AssignmentId #', -1)">
            #= data[i].TrafficLight != "purple" ? "Promoter hinzufügen" : "Verschobener Aktionstag" #
        </div>
        # for (var j = 0; j < data[i].Employees.length; j++) { #
        <div class="employee #= data[i].Employees[j].Classes #"
             onclick="actionsViewModel.employeeClick(this, '#= data[i].AssignmentId #', '#= data[i].Employees[j].EmployeeId #')">
            #= data[i].Employees[j].Label #
        </div>
        # } #
    </div>
    # if(data[i].TrafficLight != "purple" && readWriteUser) { #
    <span class="k-icon k-delete" title="Aktionstag löschen" onclick="actionsViewModel.deleteClick(#= data[i].AssignmentId #, #= data[i].NotifiedCount #)"></span>
    # } #
</div>