﻿<div id="employee-editor">
    <div id="employee-editor-window"
         data-role="window"
         data-modal="true"
         data-resizable="false"
         data-visible="false"
         data-title="Einsatz bearbeiten">        
        <span style="vertical-align: top">Notizen zum Aktionstag</span>
        <textarea class="k-textbox" data-bind="value: notes, events: { change: notesChanged }" style="width: 800px; height: 70px"></textarea>
        <input type="checkbox" id="marker" class="k-checkbox" data-bind="checked: marked, events: { change: markerChanged }">
        <label class="k-checkbox-label" for="marker" style="vertical-align: top">Aktionstag markiert</label>
        <div class="k-block k-success-colored" style="margin-top: 10px;">
            Promoter über Änderungen
            <label><input type="radio" name="notify" data-bind="checked: notify" value="True" />sofort benachrichtigen</label>
            <label><input type="radio" name="notify" data-bind="checked: notify" value="False" />noch nicht benachrichtigen</label>
        </div>
        Einsatz verschieben
        <select data-role="dropdownlist" data-bind="value: reason, events: { change: reasonChange }" data-value-primitive="true">
            <option value="no change">Nicht verschieben</option>
            <option value="change time">Nur Zeit ändern</option>
            <option value="postponed location">Marktwunsch</option>
            <option value="postponed promoter">Promoterausfall</option>
        </select>
        Einsatzdatum: <input data-role="datepicker" data-bind="disabled: dateChangeDisabled, value: dateStart, events: { change: dateChange }" />
        Einsatzzeit:
        <input data-role="timepicker" data-min="05:00" data-max="23:30" data-bind="enabled: timeOrDateChange, value: dateStart, events: { change: timeChange }" data-parse-formats="['HH:mm', 'HH']" /> bis
        <input data-role="timepicker" data-min="05:00" data-max="04:30" data-bind="enabled: timeOrDateChange, value: dateEnd,  events: { change: timeChange }" data-parse-formats="['HH:mm', 'HH']" id="endTime" />
        <div style="margin-top: 4px" data-bind="visible: timeOrDateChange">
            Einsätze um <span data-bind="text: differenceInDaysText"></span> verschieben auf <span data-bind="text: newTimesText"></span> für
            <button class="k-button" data-bind="click: changeTimeOrDate">Dieser Einsatz</button>
            <button class="k-button" data-bind="click: changeTimeOrDateWeekday, html: weekDayButtonText"></button>
            <button class="k-button" data-bind="click: changeTimeOrDateAll, html: allButtonText"></button>
        </div>
        <div style="margin-top: 4px"></div>
        <div id="assign-area">
            <table>
                <colgroup>
                    <col style="width: 5em" />
                    <col style="width: 10em" />
                    <col style="width: 10em" />
                    <col style="width: 10em" />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Rollen</th>
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-bind="visible: isAssigned">
                        <th>Bisher</th>
                        <td><a data-bind="text: currentFirstname, click: openCurrentProfile"></a></td>
                        <td><a data-bind="text: currentLastname, click: openCurrentProfile"></a></td>
                        <td data-bind="text: currentRolesText"></td>
                        <th>Entfernen</th>
                        <td><button class="k-button" data-bind="click: remove">Dieser Einsatz</button></td>
                        <td><button class="k-button" data-bind="click: removeWeekday, html: weekDayButtonText"></button></td>
                        <td><button class="k-button" data-bind="click: removeAll, html: allButtonText"></button></td>
                        <td><button class="k-button" data-bind="click: removeCustom">Manuelle Auswahl</button></td>
                    </tr>
                    <tr>
                        <th>Neu</th>
                        <td><a data-bind="text: newFirstname, click: openNewProfile"></a></td>
                        <td><a data-bind="text: newLastname, click: openNewProfile"></a></td>
                        <td data-bind="text: newRolesText"></td>
                        <th data-bind="html: submitText"></th>
                        <td><button class="k-button" data-bind="visible: submitEnabled, click: submit">Dieser Einsatz</button></td>
                        <td><button class="k-button" data-bind="visible: submitEnabled, click: submitWeekday, html: weekDayButtonText"></button></td>
                        <td><button class="k-button" data-bind="visible: submitEnabled, click: submitAll, html: allButtonText">"></button></td>
                        <td><button class="k-button" data-bind="visible: submitEnabled, click: submitCustom">Manuelle Auswahl</button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div style="float:left; margin-right: 0.5em">
                    <div class="editor-label">Promoter in der Nähe</div>
                    <div class="editor-field">
                        <select data-role="dropdownlist"
                                data-text-field="FullName"
                                data-value-field="Id"
                                data-value-primitive="true"
                                data-bind="value: nearbyValue, source: nearbySource, events: { select: update }"></select>
                    </div>
                </div>
                <div style="float: left; margin-right: 0.5em">
                    <div class="editor-label">Aktionspromoter</div>
                    <div class="editor-field">
                        <select data-role="combobox"
                                data-text-field="FullName"
                                data-value-field="Id"
                                data-suggest="true"
                                data-filter="contains"
                                data-bind="value: campaignValue, source: campaignSource, events: { select: update }"></select>
                    </div>
                </div>
                <div style="float: left; margin-right: 0.5em">
                    <div class="editor-label">Alle Promoter</div>
                    <div class="editor-field">
                        <select data-role="combobox"
                                data-text-field="FullName"
                                data-value-field="Id"
                                data-min-length="3"
                                data-suggest="true"
                                data-filter="contains"
                                data-bind="value: allValue, source: allSource, events: { select: update }"></select>
                    </div>
                </div>
                <div style="float: left; margin-right: 0.5em">
                    <div class="editor-label">Rollen</div>
                    <div class="editor-field">
                        <input data-role="multiselect"
                               data-text-field="name"
                               data-value-field="id"
                               data-bind="value: newRoles, source: rolesSource"
                               style="width: 43em" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="followingAssignments"
         data-role="window"
         data-modal="true"
         data-visible="false"
         data-title="Manuelle Auswahl der Folgetermine">
        <span data-bind="text: customSelectionText"></span>.
        <div data-role="grid"
             data-bind="source: assignmentsSource"
             data-auto-bind="false"
             data-editable="true"
             data-scrollable="true"
             style="height: 400px; width: 980px"
             data-columns="[
                { template: '<input type=\'checkbox\' class=\'checkbox\'>', width: '50px', title: '<input type=\'checkbox\' id=\'checkAll\'>' },
                { field: 'DateStart', title: 'Start', format: '{0:ddd} {0:d} {0:t}' },
                { field: 'DateEnd', title: 'Ende', format: '{0:t}' },
                { field: 'Team', title: 'Team' },
                { field: 'Conflicts', title: 'Konflikt(e)' }
            ]">
        </div>
        <button class="k-button" data-bind="text: customSelectionButtonText, click: customSelectionButtonClick"></button>
    </div>
</div>