﻿<div id="employee-select-window"
     data-role="window"
     data-bind="events: { close: windowClose }"
     data-modal="true"
     data-resizable="false"
     data-visible="false"
     data-title="Promoter und Rollen wählen">
    <div class="k-block k-success-colored">
        Promoter über Änderungen
        <label><input type="radio" name="notifyEmployeeSelect" data-bind="checked: notify" value="True" />sofort benachrichtigen</label>
        <label><input type="radio" name="notifyEmployeeSelect" data-bind="checked: notify" value="False" />noch nicht benachrichtigen</label>
    </div>    
    <table>
        <colgroup>
            <col style="width: 10em" />
            <col style="width: 10em" />
            <col style="width: 10em" />
        </colgroup>
        <thead>
              <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Rollen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text: newFirstname"></td>
                <td data-bind="text: newLastname"></td>
                <td data-bind="text: newRolesText"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <div style="float: left; margin-right: 0.5em">
            <div style="float: left; margin-right: 0.5em">
                <div class="editor-label">Aktionspromoter</div>
                <div class="editor-field">
                    <select data-role="combobox"
                            data-text-field="FullName"
                            data-value-field="Id"
                            data-suggest="true"
                            data-filter="contains"
                            data-bind="source: campaignSource, events: { select: update }"></select>
                </div>
            </div>
            <div style="float: left; margin-right: 0.5em">
                <div class="editor-label">Alle Promoter</div>
                <div class="editor-field">
                    <select data-role="combobox"
                            data-text-field="FullName"
                            data-value-field="Id"
                            data-min-length="3"
                            data-suggest="true"
                            data-filter="contains"
                            data-auto-bind="false"
                            data-bind="value: allValue, source: allSource, events: { select: update }"></select>
                </div>
            </div>
        </div>
        <div style="float: left; margin-right: 0.5em">
            <div class="editor-label">Rollen</div>
            <div class="editor-field">
                <input data-role="multiselect"
                       data-text-field="name"
                       data-value-field="id"
                       data-bind="value: newRoles, source: rolesSource"
                       style="width: 45em" />
            </div>
        </div>
    </div>
</div>