﻿@using MasterInstance.Areas.CM.Models
<div id="notifications-window"
     data-role="window"
     data-modal="true"
     data-resizable="false"
     data-visible="false"
     style="width: 1200px; height: 700px"
     data-title="Offene Benachrichtigungen">
    @{
        Html.Kendo().Grid<OutstandingNotificationViewModel>()
            .Name("notifications")
            .DataSource(dataSource => dataSource.Ajax().Read("_Notifications", "Assign", new { campaignId = Model }))
            .AutoBind(false)
            .Scrollable()
            .HtmlAttributes(new { style = "height: 660px"})
            .Columns(columns =>
            {
                columns.Bound(e => e.CreatedDate).Format("{0:dd.MM.yyyy HH:mm}").Title("Vorgemerkt am").Width(120);
                columns.Bound(e => e.Firstname).Title("Vorname").Width(150);
                columns.Bound(e => e.Lastname).Title("Nachname").Width(150);
                columns.Bound(e => e.Type).Title("Art der Benachrichtigung").Width(150);
                columns.Bound(e => e.Details).Title("Details");
                columns.Template(e => "").ClientTemplate("<input type='checkbox' value='#= Id #' name='#= DataId #' />").Title("<input type='checkbox' id='checkAllNotifications' />").Width(40);
            })
            .Render();
    }
    <button class="k-button" data-bind="enabled: buttonsEnabled, click: sendNotifications">Gewählte Benachrichtigungen senden</button>
    <button class="k-button" data-bind="enabled: buttonsEnabled, click: deleteNotifications">Gewählte Benachrichtigungen löschen</button>
</div>