﻿@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using MasterInstance.Areas.CM.Models
@model int
@{
    var title = Helpers.PageTitle(Model, "Aktionstage zuweisen");
    ViewBag.Title = title;
    ViewBag.CampaignName = title.Replace(" - Aktionstage zuweisen", "");
    var readWriteUser = (User.IsInRole(SeismitoadShared.Constants.Roles.Admin) || User.IsInRole(SeismitoadShared.Constants.Roles.Advantage));
}
@section head
{
    <link rel="stylesheet" href="@Links.Content.attendance_css" type="text/css" />
    <link rel="stylesheet" href="@Links.Content.assignmentkendo_css?v=5" type="text/css" />
    <link rel="stylesheet" href="@Links.Content.confirm_css" type="text/css" />
    <script src="~/Scripts/checkboxmultiselect.js"></script>
    <script src="~/Scripts/GridResizer.js"></script>
    <script src="~/Scripts/assign/Initialization.js?version=1"></script>
    <script src="~/Scripts/assign/AssignAjaxHelper.js?version=1"></script>
    <script src="~/Scripts/assign/ActionsViewModel.js?version=1"></script>
    <script src="~/Scripts/assign/FilterViewModel.js?version=1"></script>
    <script src="~/Scripts/assign/EmployeeViewModel.js?version=4"></script>
    <script src="~/Scripts/assign/ConflictsViewModel.js?version=1"></script>
    <script src="~/Scripts/assign/CreateAssignmentViewModel.js?version=2"></script>
    <script src="~/Scripts/assign/Routing.js?version=1"></script>
    <script src="~/Scripts/assign/NotificationsViewModel.js?version=2"></script>
    <script src="~/Scripts/Confirm.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
}
<h3>@ViewBag.Title</h3>
@* START: Diverse Fenster als Partials einbinden *@
@Html.Partial("_EmployeeSelect")
@Html.Partial("_EmployeeEditor")
@Html.Partial("_AssignmentCreate")
@Html.Partial("_AssignmentConflicts")
@Html.Partial("_Notifications")
@* ENDE: Diverse Fenster als Partials einbinden *@
<div id="info-window"data-role="window" data-visible="false" data-modal="true">
    Bitte zuerst einen Promoter und seine Rollen auswählen.
</div>
<div id="actions">
    <div style="display: none" data-role="window" data-title="Legende" id="legendWindow">
        <img src="~/Content/images/Legende_Aktionstage_zuweisen.jpg" alt="Legende" />
    </div>
    <button class="k-button" data-bind="click: showLegend">Legende anzeigen</button>
    @if (readWriteUser)
    {
        <button class="k-button" data-bind="click: showNotifications">Benachrichtigungen</button>
        <select data-role="dropdownlist" data-bind="value: mode" style="width: 250px">
            <option value="default">Standardmodus</option>
            <option value="assign">Promoter zuweisen</option>
            <option value="unassign">Zuweisung löschen (sofort benachrichtigen)</option>
            <option value="unassign2">Zuweisung löschen (noch nicht benachrichtigen)</option>
        </select>
        <button class="k-button" data-bind="visible: isAssignMode, html: selectedEmployeeDisplay, click: selectEmployee"></button>
    }
</div>
<div id="filter">
    <button data-role="button" data-bind="click: refresh"><span class="k-icon k-i-refresh"></span> Aktualisieren</button>
    <input data-role="checkboxmultiselect"
           data-filter="contains"
           data-text-field="Text"
           data-value-field="Value"
           data-bind="source: locationItems, value: locations, events: { close: applyFilter, blur: applyFilter }"
           style="width: 300px" />
    <input data-role="checkboxmultiselect"
           data-filter="contains"
           data-text-field="Text"
           data-value-field="Value"
           data-bind="source: filterItems, value: filters, events: { close: applyFilter, blur: applyFilter }"
           style="width: 180px">
    <button data-bind="click: previousWeek" class="k-button"><span class="k-icon k-i-arrow-w"></span></button>
    <input data-role="datepicker" data-bind="value: date, events: { change: applyFilter }" style="width: 100px">
    <button data-bind="click: nextWeek" class="k-button"><span class="k-icon k-i-arrow-e"></span></button>
    <span>KW <span data-bind="text: weekOfYear"></span></span>
</div>
<div class="clear" style="margin-bottom: 0.5em"></div>
@{
    var alternateEnumeration = Request.Params["alternateEnumeration"] == "true";
    Html.Kendo()
        .Grid<LocationRowViewModel>()
        .Name("a")
        .AutoBind(false)
        .DataSource(dataSource =>
            dataSource.Ajax()
                .Read(read => read.Action("_Assignments", "Assign",
                alternateEnumeration
                ? (object) new { campaignId = Model, alternateEnumeration = true }
                : new { campaignId = Model }).Data("function() { return filterViewModel.gridParams(); }"))
                .Aggregates(aggregate =>
                {
                    aggregate.Add(e => e.Monday).Sum().Count();
                    aggregate.Add(e => e.Tuesday).Sum().Count();
                    aggregate.Add(e => e.Wednesday).Sum().Count();
                    aggregate.Add(e => e.Thursday).Sum().Count();
                    aggregate.Add(e => e.Friday).Sum().Count();
                    aggregate.Add(e => e.Saturday).Sum().Count();
                    aggregate.Add(e => e.Sunday).Sum().Count();
                })
                .Sort(sort => sort.Add(e => e.PostalCode)))
        .Events(events => events.DataBound("function(e) { filterViewModel.updateHeader(e); }").ColumnResize("onColumnResize"))
        .Scrollable(scrolling => scrolling.Height(250))
        .Sortable()
        .Filterable()
        .Resizable(resizing => resizing.Columns(true))
        .Columns(columns =>
        {
            var locationTemplate =
                "<div>" +
                    "<input type=\"hidden\" name=\"locationId\" value=\"#= LocationId #\" />" +
                    "<a href='" + Url.Content("~/Location/Edit/#= LocationId #") + "' target='_blank'>#= Name #</a>" +
                "</div>";
            columns.Bound(e => e.Name).ClientTemplate(locationTemplate).Width("7em");
            columns.Bound(e => e.Street).ClientTemplate("<span title=\"#= Street #\">#= Street #</span>").Width("7em");
            columns.Bound(e => e.PostalCode).ClientTemplate("<span title=\"#= PostalCode #\">#= PostalCode #</span>").Width("5.5em");
            columns.Bound(e => e.City).ClientTemplate("<span title=\"#= City #\">#= City #</span>").Width("5.5em");
            Action<GridBoundColumnFilterableBuilder> filterAction = f => f.Messages(m => m.Info("Zeige Zeilen").IsFalse("ohne Einsätze").IsTrue("mit Einsätzen"));
            columns.Bound(e => e.Monday).ClientTemplate("#= template(MondayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Tuesday).ClientTemplate("#= template(TuesdayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Wednesday).ClientTemplate("#= template(WednesdayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Thursday).ClientTemplate("#= template(ThursdayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Friday).ClientTemplate("#= template(FridayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Saturday).ClientTemplate("#= template(SaturdayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
            columns.Bound(e => e.Sunday).ClientTemplate("#= template(SundayItems) #").Sortable(false).Filterable(filterAction).Width("14em").HtmlAttributes(new { @class = "small-padding" });
        })
        .Render();
}
<div id="confirm" data-bind="visible: visible" style="display: none">
    <div id="confirm-content" class="k-block">
        <div data-bind="text: question"></div>
        <button class="k-button" data-bind="click: no">Nein</button>
        <button class="k-button" data-bind="click: yes">Ja</button>
    </div>
</div>
<script id="assignment-template" type="text/x-kendo-template">
    <div class="assignments">
        # for(var i = 0; i < data.length; i++) { #
        @Html.Partial("_Assignment")
        # } #
    </div>
</script>

<script type="text/javascript">
    var readWriteUser = @(readWriteUser ? "true" : "false");
    var template = kendo.template($("#assignment-template").html());

    var ajaxHelper = new AssignAjaxHelper(@Model);
    var filterViewModel = new FilterViewModel([@AssignIndexModel.TypeFilter], "@Url.Action(MVC.CM.Assign._Locations(Model))");
    var conflictsViewModel = new ConflictsViewModel(ajaxHelper);
    var employeeEditorViewModel = new EmployeeViewModel(ajaxHelper, @Model);
    var employeeSelectViewModel = new EmployeeViewModel(ajaxHelper, @Model);
    var actionsViewModel = new ActionsViewModel(ajaxHelper, employeeEditorViewModel, employeeSelectViewModel);
    var createAssignmentViewModel = new CreateAssignmentViewModel();
    var confirmViewModel = new Confirm();

    $("#followingAssignments").on("change", ".checkbox", function(e) {
        employeeEditorViewModel.updateCustomSelection(e.currentTarget);
    }).on("change", "#checkAll", function(e) {
        $("#followingAssignments .checkbox").prop("checked", e.currentTarget.checked).change();
    });

    function firstGridUpdate() {
        if (typeof(assignmentsGrid) === "undefined") {
            window.setTimeout(firstGridUpdate, 400);
        } else {
            var options = localStorage["assign-grid-options"];
            if (options) {
                assignmentsGrid.setOptions(JSON.parse(options));
            }
            assignmentsGrid.dataSource.read();
        }
    }

    function removeConflictClick(e) {
        conflictsViewModel.removeClick(this, e);
    }

    function onColumnResize(e) {
        var options = { columns: e.sender.getOptions().columns };
        localStorage["assign-grid-options"] = kendo.stringify(options);
    }

    @*
        Wir verzögern das Databinding etwas, damit erst mal ein paar andere Skripte laufen können.
        Dadurch fühlt sich die Seite hoffentlich etwas schneller an.
    *@
    window.setTimeout(function() {
        kendo.bind("#filter", filterViewModel);
        router.start();
        kendo.bind("#actions", actionsViewModel);
        kendo.bind("#employee-select-window", employeeSelectViewModel);
        kendo.bind("#employee-editor", employeeEditorViewModel);
        kendo.bind("#conflicts", conflictsViewModel);
        kendo.bind("#create-assignment-window", createAssignmentViewModel);
        kendo.init("#info-window");
        kendo.bind("#confirm", confirmViewModel);
        firstGridUpdate();
    }, 100);
</script>