﻿@using MasterInstance.Models
@model EmployeeCardViewModel
@{
    Layout = null;
}           
<div class="employee-card">
    <div>
        <div>
            <img src="@Url.Content(Model.RelativeImageUrl)" alt="Profilbild" />
        </div>
        <div>
            @Model.Title
            <br/>
            @Html.DisplayFor(e => e.Firstname) @Html.DisplayFor(e => e.Lastname)
            <br/>
            @Html.ActionLink("[Profil bearbeiten]", MVC.MD.EmployeeProfile.Index(Model.EmployeeId), new {target = "_blank"})
            @if (Model.AddressChanged == true)
            {
                <script>
                    function acknowledgeAddressChange(self) {
                        var button = $(self),
                            div = button.closest("div"),
                            url = button.val();
                        div.block({ message: "..." });
                        $.post(url, null, function () {
                            div.hide();
                            try {
                                viewModel.applyFilter();
                            } catch (e) { }
                        }).always(function () {
                            div.unblock();
                        });
                        return false;
                    }
                </script>
                <div style="margin-top: 4px;">
                    <span style="font-weight: bold; vertical-align: middle">Neue Adresse!</span>
                    <button onclick="return acknowledgeAddressChange(this);" class="k-button" value="@Model.AddressChangeAckUrl">Adressänderung quittieren</button>
                </div>
            }
        </div>
    </div>
    <div class="grey-line"></div>
    <div>
        <div>
            @Html.LabelFor(e => e.Age)
            <br/>
            @Html.DisplayFor(e => e.Age)
            <br/>
            @Html.LabelFor(e => e.Street)
            <br/>
            @Html.DisplayFor(e => e.Street)
            <br/>
            @Html.LabelFor(e => e.PostalCode)
            <br/>
            @Html.DisplayFor(e => e.PostalCode)
            <br/>
            @Html.LabelFor(e => e.City)
            <br/>
            @Html.DisplayFor(e => e.City)
            <br/>
            @Html.LabelFor(e => e.Country)
            <br/>
            @Html.DisplayFor(e => e.Country)
        </div>
        <div>
            @Html.LabelFor(e => e.PhoneMobileNo)
            <br/>
            @Html.DisplayFor(e => e.PhoneMobileNo)
            <br/>
            @Html.LabelFor(e => e.PhoneNo)
            <br/>
            @Html.DisplayFor(e => e.PhoneNo)
            <br/>
            @Html.LabelFor(e => e.FaxNo)
            <br/>
            @Html.DisplayFor(e => e.FaxNo)
            <br/>
            @Html.LabelFor(e => e.Email1)
            <br/>
            @Html.DisplayFor(e => e.Email1)
            <br/>
            @Html.LabelFor(e => e.Email2)
            <br/>
            @Html.DisplayFor(e => e.Email2)
        </div>
    </div>
</div>