﻿@using System.Globalization
@model System.Data.Entity.Spatial.DbGeography
@{
    if (Model != null)
    {
        <a href="@Html.Raw(string.Format(NumberFormatInfo.InvariantInfo, "https://maps.google.de/?q={0},{1}", Model.Latitude, Model.Longitude))" target="_blank">Hinterlegte Koordinaten auf Karte zeigen</a>
    }
    else
    {
        <text>Zu diesem Ort liegen keine Koordinaten vor.</text>
    }
}
