﻿@using SeismitoadModel
@using SeismitoadShared.Helpers
@model Employee
@{
    ViewBag.Layout = null;
}
<div class="span-6">
    <div class="editor-label">
        @Html.LabelFor(e => e.Title) *
    </div>
    <div class="editor-field">
        @Html.ValidationMessageFor(e => e.Title)
        @Html.EditorFor(e => e.Title)
    </div>
</div>
<div class="span-6">
    <div class="editor-label">
        @Html.LabelFor(e => e.Firstname) *
    </div>
    <div class="editor-field">
        @Html.ValidationMessageFor(e => e.Firstname)
        @Html.EditorFor(e => e.Firstname)
    </div>
</div>
<div class="span-6">
    <div class="editor-label">
        @Html.LabelFor(e => e.Lastname) *
    </div>
    <div class="editor-field">
        @Html.ValidationMessageFor(e => e.Lastname)
        @Html.EditorFor(e => e.Lastname)
    </div>
</div>
<div class="span-6">
    <div class="editor-label">
        @Html.LabelFor(e => e.State) *
    </div>
    <div class="editor-field">
        @Html.ValidationMessageFor(e => e.State)
        @Html.EditorFor(e => e.State)
    </div>
</div>
<div class="span-6">
    <div class="editor-label">
        @Html.LabelFor(e => e.StateComment)
    </div>
    <div class="editor-field">
        @Html.ValidationMessageFor(e => e.StateComment)
        @Html.EditorFor(e => e.StateComment)
    </div>
</div>
<div class="clear"></div>

@if (Model == null || Model.IsNew)
{
    if(!ViewData.ContainsKey("Password"))
    {
        ViewData["Password"] = PasswordHelper.GeneratePassword(7);
    }
    <div class="span-6">
    <div class="editor-label">
        @Html.Label("Username", "Benutzername")
        <span class="hinttext"><img src="@Links.Content.icons._16x16.actions.info_png" alt="" title="Wird dieses Feld leer gelassen wird der Benutzername automatisch aus Vorname und Name bestimmt." /></span>
    </div>
    <div class="editor-field">
        @Html.ValidationMessage("Username")
        @Html.Editor("Username")
    </div>
</div>
<div class="span-6">
    <div class="editor-label">
        @Html.Label("Password", "Passwort *")
    </div>
    <div class="editor-field">
        @Html.ValidationMessage("Password")
        @Html.Editor("Password")
    </div>
</div>    
<div class="span-6">
    <div class="editor-label">
        @Html.Label("Email", "E-Mail *")
    </div>
    <div class="editor-field">
        @Html.ValidationMessage("Email")
        @Html.Editor("Email")
    </div>
</div>    
}

<div class="clear"></div>