﻿@model string
<a href="@Url.Content(Model.Substring(0, Model.IndexOf("?", StringComparison.Ordinal)))" target="_blank">
    @if (Model.Contains(".pdf"))
    {
        <img alt="" src="~/Content/pdf.png" title="Klicken für Download" />
    }
    else
    {
        <img alt="" src="@Url.Content(Model)" title="Klicken für Originalgröße" />
    }
</a>
