﻿@using SeismitoadModel
@model Hours
<div class="editor-field">
    @Html.Label("Montag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.MondayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.MondayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Dienstag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.TuesdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.TuesdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Mittwoch", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.WednesdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.WednesdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Donnerstag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.ThursdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.ThursdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Freitag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.FridayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.FridayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Samstag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.SaturdayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.SaturdayEndTime, new { @class = "narrow" })
</div>

<div class="editor-field">
    @Html.Label("Sonntag", new { style = "width: 65px; display: inline-block" })
    @Html.TextBoxFor(e => e.SundayStartTime, new { @class = "narrow" }) -
    @Html.TextBoxFor(e => e.SundayEndTime, new { @class = "narrow" })
</div>
