﻿<!DOCTYPE html>
<html>
    <head>
        <title>Toshiba TV Promotion - Aktionstage anlegen</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/date.js")
        @Scripts.Render("~/bundles/sk")
        @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.telerik.css").Combined(true).Compress(true)))
    </head>
    <body>
        <div id="header">
            <div id="header_wrapper">
                <div id="header_img_wrapper"></div>
                <div id="header_content">
                    @(Html.Telerik().Menu().Name("Menu").Items(item => item.Add().Text("Startseite").ImageUrl("/Content/icons/16x16/apps/home.png").Url(User.IsInRole(SeismitoadShared.Constants.Roles.SelfbookingPromoter) ? "http://ttv.permedia-report.de/News" : "http://ttv.permedia-report.de").HtmlAttributes(new { style = "border-right: 0" })))
                </div>
                <div id="header_login">
                    @(User.Identity.IsAuthenticated ? Html.Raw(User.Identity.Name) : Html.Raw(""))
                </div>
            </div>
        </div>
        <div id="main">
                @RenderBody()
        </div>
        <div id="footer">
            <div id="footer_wrapper">
                
            </div>
        </div>

        @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Compress(true)).jQuery(false).jQueryValidation(false).Globalization(true))
    </body>
</html>
