﻿@using Kendo.Mvc.UI
@using MasterInstance.Models.ViewModels
@using ObjectTemplate.Extensions
@using SeismitoadModel
<h1>permedia - Administration</h1>
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    Html.Kendo().Grid<HomeCampaignViewModel>()
        .Name("campaigns")
        .Pageable()
        .Sortable()
        .Filterable()
        .Columns(columns =>
        {
            columns.ForeignKey(m => m.State, new CampaignState().ToSelectList()).Title("Status");
            columns.Bound(e => e.CustomerName).Title("Kunde");
            var url = User.HasAnyRole(SeismitoadShared.Constants.Roles.Admin, SeismitoadShared.Constants.Roles.Advantage)
                ? (Url.Action(MVC.CM.Dashboard.Index()) + "?campaignId=")
                : Url.Action(MVC.Campaign.Link()) + "/";
            columns.Bound(e => e.Name).Title("Projekttitel").ClientTemplate("<a href=\"" + url + "#= Id #\">#= Name #</a>");
            columns.ForeignKey(e => e.ManagerId, SelectListRepository.Retrieve("ManagerId", ViewData), "Value", "Text").Title("Projektleitung");
            columns.Bound(e => e.Number).Title("Projektnummer");
        })
        .DataSource(dataSource => dataSource.Ajax().Read("_Campaigns", "Home").PageSize(15))
        .Render();
}