﻿@using MasterInstance.Extensions
@using MasterInstance.Models.ViewModels
@using SeismitoadShared.Extensions
@model EmployeeAddModel
@{
    ViewBag.Title = "Neuen Promoter hinzufügen";
}

@using (Html.BeginForm(MVC.EmployeeAdd.Index()))
{
    
    var btnTitle = "Weiter";
    //First step
    if (Model == null)
    {
        <div style="height: 200px;">@Html.EditorForModel() </div>
    }
    else
    {  
        @Html.HiddenFor(e => e.Step)
        @Html.HiddenFor(e => e.EmployeeTitle)
        @Html.HiddenFor(e => e.Firstname)
        @Html.HiddenFor(e => e.Lastname)
        @Html.HiddenFor(e => e.Email)     
    
        <div style="border: 1px solid black; margin-left: 20px; margin-right: 20px; padding: 10px">
        @Html.DisplayForModel()
        </div>
        <br/><br/>
    
        switch (Model.Step)
        {
            //After first step show table with possible employees
            case 1:
                <div>Ist der Benutzer den Sie anlegen wollen eventuell einer der folgenden Benutzer?</div>

                Html.Telerik().Grid(Model.Employees)
                    .Name("e")
                    .DataKeys(k => k.Add(e => e.Firstname))
                    .Selectable()
                    .Columns(c =>
                        {
                            c.ForeignKey(e => e.Title, SelectListRepository.Retrieve("Title", ViewData), "Value", "Text").Title("Anrede");
                            c.Bound(e => e.Firstname).Title("Vorname");
                            c.Bound(e => e.Lastname).Title("Nachname");
                            c.Template(e => e.ValueOrDefault(i => i.GetMemberShipUser().Email, "")).Title("E-Mail");
                        })
                    .Render();
                      
                <br/><br/>
                @Html.ValidationMessageFor(e => e.Email)
                <br/><br/>  
                <p>
                    @Html.ActionLink("Ja, Benutzer ist vorhanden", MVC.EmployeeAdd.Index(), new {@class = "t-button"})
                </p>
                if (ViewData.ModelState.IsValid)
                {
                    btnTitle = "Nein, Benutzer nicht vorhanden! Weiter";
                }
                else
                {
                    btnTitle = "Zurück";
                }
                break;
                
            //After ensuring the user to be added doesn't exist, show all input fields
            case 2:
               
                <div class="display-label">Benutzername</div>
                <div class="display-field">
                    @Html.EditorFor(e => e.AddAllModel.Username)
                    @Html.ValidationMessageFor(e => e.AddAllModel.Username)
                </div>
                <div class="display-label">Passwort</div>
                <div class="display-field">
                    @Html.EditorFor(e => e.AddAllModel.Password)
                    @Html.ValidationMessageFor(e => e.AddAllModel.Password)
                </div>   
                <div class="display-label">Status</div>
                <div class="display-field">
                    @Html.EditorFor(e => e.AddAllModel.State)
                    @Html.ValidationMessageFor(e => e.AddAllModel.State)
                </div>    
                <br/><br/>
                btnTitle = "Benutzer Anlegen";
                break; 
        }
    }  
    <p>
        <button type="submit" class="t-button" @Html.Raw(Model != null && Model.Step == 1 ? "confirm='Sind Sie sicher, dass Sie einen neuen Benutzer anlegen möchten?'" : "")>@btnTitle</button>
    </p>
}