﻿body {
  box-shadow: none !important;
}
#body {
  padding: 0;
}
#login {
  margin: 0;
  padding: 0;
  float: right;
}
h1 {
  margin: 0;
  font-size: 1.6em;
}
.content-wrapper {
  margin: 0 auto;
  padding: 1em !important;
}
.content-wrapper > div {
  padding: 0;
}
#profile {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #999;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
#profile img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 8px 0 8px 10px;
  position: fixed;
  font-size: 8px;
  bottom: 0;
  background-color: #fff;
  background-image: url(../Images/Footer_Image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 10px top 0;
}
.k-button {
  margin-top: 0.5em;
}
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  height: 32px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input[type=submit] {
  width: 100%;
}
/* Hamburger Menü */
#menuIcon {
  float: right;
}
#menu {
  z-index: 9999;
  position: absolute;
  width: 100%;
  right: -100%;
  background: #fff;
  display: none;
  overflow: hidden;
}
#menu ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #999;
}
#menu li {
  line-height: 4em;
  border: 1px solid #999;
  border-top: 0;
}
#menu a {
  color: #d9322b;
  font-weight: bold;
  text-align: justify;
  white-space: nowrap;
}
#menu a:after {
  position: absolute;
  right: 0;
  color: #999;
  content: "∟";
  font-size: 120%;
  -moz-transform: translateX(-1em) rotate(-135deg);
  -ms-transform: translateX(-1em) rotate(-135deg);
  -o-transform: translateX(-1em) rotate(-135deg);
  -webkit-transform: translateX(-1em) rotate(-135deg);
  transform: translateX(-1em) rotate(-135deg);
}
#menu a:hover {
  text-decoration: none;
}
#menu .icon {
  width: 40px;
  height: 22px;
  display: inline-block;
  background-size: contain;
  background-position-x: 8px;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}
#menu .star {
  background-image: url(../Images/Icons/star.png);
}
#menu .shutdown {
  background-image: url(../Images/Icons/shutdown.png);
}
#menu .grey a {
  color: #999;
}
.login-form div {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.login-form a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.login-form .register {
  margin-top: 16px;
  color: #999;
  text-decoration: underline;
  font-weight: bold;
}
.list-view {
  border-collapse: collapse;
  width: 100%;
}
.item td {
  vertical-align: top;
  padding: 1em;
}
.item td + td {
  padding-left: 1em;
}
.item img {
  width: 8em;
  height: 2.133em;
}
.item label {
  color: #d9322b;
  display: block;
}
.item span {
  display: inline-block;
  padding-bottom: 10px;
}
.item:nth-child(4n-3),
.item:nth-child(4n-2) {
  background-color: #d9d9d9;
}
.align-right {
  text-align: right;
}
.myjob-item {
  position: relative;
}
.myjob-item img {
  zoom: 2;
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
.myjob-item div {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.myjob-item a {
  font-size: 1.3em;
  font-weight: bold;
  color: #d9322b;
  text-decoration: underline;
  padding: 0.5em 1.5em;
  display: block;
}
#no-items,
#no-items1,
#no-items2,
#has-items1 {
  display: none;
  padding: 1em;
}
.with-padding {
  padding: 1em;
}
#mvvm-container .k-button,
#no-assignment .k-button,
#already-checked-in .k-button,
#did-not-attend .k-button,
#details-page .k-button {
  width: 100%;
}
#no-assignment,
#already-checked-in,
#did-not-attend {
  display: none;
}
#no-assignment p,
#already-checked-in p,
#did-not-attend p {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2em;
}
#did-not-attend .mail {
  text-transform: none;
  color: #d9322b;
}
#mvvm-container table,
.assignment table {
  border-collapse: collapse;
  margin-bottom: 1.2em;
}
#mvvm-container th,
.assignment th {
  padding-right: 0.75em;
  vertical-align: top;
}
#mvvm-container label,
.assignment label {
  font-weight: bold;
}
.result-box {
  background-color: #ccc;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
}
.result-box h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.result-box .k-button {
  float: right;
}
th {
  text-align: left;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #trainings-table {
    width: 100%;
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
	    Label the data
	    */
  }
  #trainings-table table,
  #trainings-table thead,
  #trainings-table tbody,
  #trainings-table th,
  #trainings-table td,
  #trainings-table tr {
    display: block;
  }
  #trainings-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #trainings-table td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }
  #trainings-table td:empty {
    display: none;
  }
  #trainings-table td:before {
    font-weight: bold;
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  #trainings-table td:nth-of-type(1):before {
    content: "Schulungstitel";
  }
  #trainings-table td:nth-of-type(2):before {
    content: "Ort / Schulungslink";
  }
  #trainings-table td:nth-of-type(3):before {
    content: "Datum Beginn";
  }
  #trainings-table td:nth-of-type(4):before {
    content: "Datum Ende";
  }
  #trainings-table td:nth-of-type(5):before {
    content: "Schulungsstatus";
  }
  #trainings-table td:nth-of-type(6):before {
    content: "Bemerkung";
  }
  #trainings-table td:nth-of-type(7):before {
    content: "";
  }
}
#profile-edit,
#register {
  margin-top: 1.2em;
}
#profile-edit .k-textbox,
#register .k-textbox,
#profile-edit .k-dropdown,
#register .k-dropdown {
  width: 100%;
}
#profile-edit .phonenumber input,
#register .phonenumber input {
  width: 60px;
}
#profile-edit .phonenumber input + input + input,
#register .phonenumber input + input + input {
  width: 112px;
}
#locations .k-button {
  width: 100%;
}
.k-grid {
  padding: 0;
}
.assignments-header {
  border: 1px solid #999;
  padding: 1em;
  font-size: 1.3em;
  font-weight: bold;
  color: #999;
}
.drawer-icon {
  height: 18px;
  width: 18px;
  padding: 0;
  float: right;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #999;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.open .drawer-icon {
  -moz-transform: translateY(50%) rotate(135deg);
  -ms-transform: translateY(50%) rotate(135deg);
  -o-transform: translateY(50%) rotate(135deg);
  -webkit-transform: translateY(50%) rotate(135deg);
  transform: translateY(50%) rotate(135deg);
}
.assignment {
  padding: 1em;
}
.assignment:nth-child(odd) {
  background-color: #d9d9d9;
}
.assignment .header {
  display: block;
  font-weight: bold;
  color: #d9322b;
}
.assignment .toggle-icon {
  float: right;
  width: 32px;
  height: 32px;
  background-image: url(../Images/Icons/toggleicon1.svg);
}
.assignment .open {
  background-image: url(../Images/Icons/toggleicon2.svg);
}
.assignment .details {
  display: none;
  padding-top: 1em;
}
.assignment .k-button {
  width: 45%;
  padding: 5px 10px;
}
.assignment a {
  text-decoration: underline;
  line-height: 1.7em;
}
dt {
  width: auto;
  position: static;
}
dd {
  margin-left: 1em;
}
#delete_cancel {
  width: 100%;
}
#deleted_window_wrapper .k-window {
  left: 0 !important;
}