﻿@advantage-color: #d9322b;
@advantage-color: #d9322b;
@other-color: #999;
@global-padding: 1em;
.bigger-text() {
    font-size: 1.3em;
    font-weight: bold;
}

body {
    box-shadow: none !important;
}

#body {
    padding: 0;
}

#login {
    margin: 0;
    padding: 0;
    float: right;
}

h1 {
    margin: 0;
    font-size: 1.6em;
}

.content-wrapper {
    margin: 0 auto;
    padding: @global-padding !important;
}

.content-wrapper > div {
    padding: 0;
}

#profile {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: @other-color;
    .bigger-text;
    text-transform: uppercase;
    img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

footer {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px 0 8px 10px;
    position: fixed;
    font-size: 8px;
    bottom: 0;
    background-color: #fff;
    background-image: url(../Images/Footer_Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 10px top 0;
}

.k-button {
    margin-top: 0.5em;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    height: 32px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button, input[type=submit] {
    width: 100%;
}

/* Hamburger Menü */
#menuIcon {
    float:right;
}

#menu {
    z-index: 9999;
    position: absolute;
    width: 100%;
    right: -100%;
    background: #fff;
    display:none;
    overflow: hidden;

    ul {
        list-style: none;
        padding: 0;
        border-top: 1px solid @other-color;
    }

    li {
        line-height: 4em;
        border: 1px solid @other-color;
        border-top: 0;
    }

    a {
        color: @advantage-color;
        font-weight: bold;
        text-align: justify;
        white-space: nowrap;

        &:after {
            position: absolute;
            right: 0;
            color: @other-color;
            content: "∟";
            font-size: 120%;
            -moz-transform: translateX(-1em) rotate(-135deg);
            -ms-transform: translateX(-1em) rotate(-135deg);
            -o-transform: translateX(-1em) rotate(-135deg);
            -webkit-transform: translateX(-1em) rotate(-135deg);
            transform: translateX(-1em) rotate(-135deg);
        }

        &:hover {
            text-decoration: none;
        }
    }

    .icon {
        width: 40px;
        height: 22px;
        display: inline-block;
        background-size: contain;
        background-position-x: 8px;
        background-repeat: no-repeat;
        vertical-align: text-bottom;
    }

    .star {
        background-image: url(../Images/Icons/star.png);
    }

    .shutdown {
        background-image: url(../Images/Icons/shutdown.png);
    }

    .grey a {
        color: @other-color;
    }
}

.login-form {
    div {
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    a {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .register {
        margin-top: 16px;
        color: @other-color;
        text-decoration: underline;
        font-weight: bold;
    }
}

.list-view {
    border-collapse: collapse;
    width: 100%;
}

.item {
    td {
        vertical-align: top;
        padding: @global-padding;
    }
    td + td {
        padding-left: 1em;
    }
    img {
        width: 8em;
        height: 2.133em;
    }
    label {
        color: @advantage-color;
        display: block;
    }
    span {
        display: inline-block;
        padding-bottom: 10px;
    }
    &:nth-child(4n-3), &:nth-child(4n-2) {
        background-color: #d9d9d9;
    }
}

.align-right  {
    text-align: right;
}

.myjob-item {
    position: relative;
    img {
        zoom: 2;  //increase if you have very small images
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }
    div {
        background-color: rgba(255,255,255, 0.75);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    a {
        .bigger-text;
        color: @advantage-color;
        text-decoration: underline;
        padding: 0.5em 1.5em;
        display: block;
    }
}

#no-items, #no-items1, #no-items2, #has-items1 {
    display: none;
    padding: @global-padding;
}

.with-padding {
    padding: @global-padding;
}

#mvvm-container, #no-assignment, #already-checked-in, #did-not-attend, #details-page {
    .k-button { width: 100%; }
}

#no-assignment, #already-checked-in, #did-not-attend {
    display: none;
    p {
        .bigger-text;
        margin-bottom: 2em;
    }
}

#did-not-attend .mail {
    text-transform: none;
    color: @advantage-color;
}

#mvvm-container, .assignment {
    table {
        border-collapse: collapse;
        margin-bottom: 1.2em;
    }
    th {
         padding-right: 0.75em;
         vertical-align: top;
    }
    label {
        font-weight: bold;
    }
}

.result-box {
    background-color: #ccc;
    margin-left: -@global-padding;
    margin-right: -@global-padding;
    padding: @global-padding;
    h2 {
        .bigger-text();
        color: #000;
        text-transform: uppercase;
    }
    .k-button {
        float: right;
    }
}

th {
    text-align: left;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #trainings-table {
        width: 100%;
	    /* Force table to not be like tables anymore */
	    table, thead, tbody, th, td, tr { 
		    display: block; 
	    }
	
	    /* Hide table headers (but not display: none;, for accessibility) */
	    thead tr { 
		    position: absolute;
		    top: -9999px;
		    left: -9999px;
	    }
	
	    td { 
		    /* Behave  like a "row" */
		    border: none;
		    position: relative;
		    padding-left: 50%; 
            &:empty {
                display: none;
            }
	    }
	
	    td:before {
            font-weight: bold; 
		    /* Now like a table header */
		    position: absolute;
		    /* Top/left values mimic padding */
		    top: 6px;
		    left: 6px;
		    width: 45%; 
		    padding-right: 10px; 
		    white-space: nowrap;
	    }
	
	    /*
	    Label the data
	    */
	    td:nth-of-type(1):before { content: "Schulungstitel"; }
	    td:nth-of-type(2):before { content: "Ort / Schulungslink"; }
	    td:nth-of-type(3):before { content: "Datum Beginn"; }
	    td:nth-of-type(4):before { content: "Datum Ende"; }
	    td:nth-of-type(5):before { content: "Schulungsstatus"; }
	    td:nth-of-type(6):before { content: "Bemerkung"; }
	    td:nth-of-type(7):before { content: ""; }
    }
}

#profile-edit, #register {
    margin-top: 1.2em;
    .k-textbox, .k-dropdown  { width: 100% }
    .phonenumber {
        input {
            width: 60px
        }
        input + input + input {
            width:112px
        }
    }
}

#locations .k-button {
    width: 100%;
}

.k-grid {
    padding: 0;
}

.assignments-header {
    border: 1px solid @other-color;
    padding: @global-padding;
    .bigger-text;
    color: @other-color;
}

.drawer-icon {
    height: 18px;
    width: 18px;
    padding: 0;
    float: right;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: @other-color;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .drawer-icon {
    -moz-transform: translateY(50%) rotate(135deg);
    -ms-transform: translateY(50%) rotate(135deg);
    -o-transform: translateY(50%) rotate(135deg);
    -webkit-transform: translateY(50%) rotate(135deg);
    transform: translateY(50%) rotate(135deg);
}

.assignment {
    padding: @global-padding;
    &:nth-child(odd) {
        background-color: #d9d9d9;
    }
    .header {
        display: block;
        font-weight: bold;
        color: @advantage-color;
    }
    .toggle-icon {
        float:right;
        width: 32px;
        height: 32px;
        background-image: url(../Images/Icons/toggleicon1.svg);
    }
    .open  {
        background-image: url(../Images/Icons/toggleicon2.svg);
    }
    .details {
        display: none;
        padding-top: @global-padding;
    }
    .k-button {
        width: 45%;
        padding: 5px 10px;
    }
    a {
        text-decoration: underline;
        line-height: 1.7em;
    }
}

dt {
    width: auto;
    position: static;
}

dd {
    margin-left: 1em;
}

#delete_cancel {
    width: 100%;
}

#deleted_window_wrapper .k-window {
    left: 0 !important;
}