﻿body {
  background-color: #fff;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0 auto 20px auto;
  padding: 0;
  max-width: 1376px;
  box-shadow: 0 0 15px #999;
}
a,
button,
input[type=submit],
input[type=button],
div.k-button {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #000;
}
a img {
  border: 0 !important;
}
a:hover {
  text-decoration: underline;
}
header a,
footer a {
  color: #999;
}
header,
footer,
hgroup,
nav,
section {
  display: block;
}
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d9322b;
  margin-bottom: 0;
  padding-bottom: 0;
}
h1 {
  font-size: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
  color: black;
  margin-bottom: 0.4em;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#view-switcher {
  position: absolute;
}
.download-pdf-icon {
  background: url(../Images/16x16/pdf.png) no-repeat top left;
  padding-left: 30px;
  font-weight: bold;
}
.loading-placeholder {
  color: #ccc;
  font-style: italic;
}
*::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaa !important;
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa !important;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa !important;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaa !important;
}
input.k-button,
a.k-button,
button.k-button,
div.k-button {
  padding: 5px 32px;
  line-height: 19px;
  letter-spacing: 1px;
}
.content-wrapper {
  margin: 0 auto;
  padding: 20px 160px;
}
#body {
  clear: both;
  padding: 0 0 90px 0;
}
.main-content {
  padding: 30px 160px 0;
}
.main-content > div {
  padding: 15px 0 ;
}
header .float-left,
header .float-right {
  clear: none;
}
header .content-wrapper {
  padding-top: 0;
}
footer {
  clear: both;
  color: #999;
  height: 96px;
  position: relative;
  padding-top: 30px;
}
footer .float-left,
footer .float-right {
  clear: none;
}
footer .float-right > a {
  margin-left: 20px;
}
div.logo {
  background: url(../Images/logo.jpg) no-repeat;
  border: 0;
  width: 195px;
  height: 58px;
}
div#advantage-logo {
  background: url(../images/Footer_Image.png) no-repeat;
  clear: both;
  width: 113px;
  height: 128px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.site-title {
  color: #c8c8c8;
  font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
  font-size: 2.3em;
  float: right;
  height: 45px;
}
.site-title a,
.site-title a:hover,
.site-title a:active {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}
.site-title img {
  height: 130%;
  border: none;
}
#login,
#view-switcher {
  display: block;
  font-size: .85em;
  margin: 20px 0 12px;
  text-align: right;
}
#login a,
#view-switcher a {
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
}
#login a.username,
#view-switcher a.username {
  background: none;
  margin-left: 0;
  text-decoration: underline;
}
#login ul,
#view-switcher ul {
  margin: 0;
}
#login li,
#view-switcher li {
  display: inline;
  list-style: none;
}
#countdown {
  display: inline-block;
  width: 180px;
  text-align: center;
}
#slider-container {
  width: 1376px;
  margin-left: -160px;
}
ul#menu {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
  text-align: right;
  padding: 70px 0;
}
ul#menu li:first-child {
  padding-left: 0;
  border-left: none;
}
ul#menu li {
  display: inline;
  list-style: none;
  padding: 60px 15px 50px;
  border-left: 1px solid #ccc;
}
ul#menu li a {
  background: none;
  color: #999;
  text-decoration: none;
}
ul#menu li a:hover {
  color: #333;
  text-decoration: none;
}
.featured {
  background-color: #fff;
}
.featured .content-wrapper {
  background: url(../Images/Header.jpg) 0 -50px;
  color: #ffffff;
  height: 380px;
  padding: 20px 160px 20px;
}
.featured hgroup.title h1,
.featured hgroup.title h2 {
  color: #fff;
}
.featured p {
  font-size: 1.1em;
}
hgroup.title {
  margin-bottom: 10px;
}
hgroup.title h1,
hgroup.title h2 {
  display: inline;
}
hgroup.title h2 {
  font-weight: normal;
  margin-left: 3px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset legend {
  display: none;
}
fieldset ol {
  float: left;
  width: 300px;
  padding: 0;
  list-style: none;
}
fieldset ol li {
  padding-bottom: 5px;
}
fieldset label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}
fieldset label.checkbox {
  display: inline;
}
fieldset .k-textbox,
fieldset .k-dropdown {
  width: 258px;
}
fieldset input[type="submit"] {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
}
fieldset .k-dropdown,
fieldset .k-numerictextbox {
  margin-bottom: 14px;
}
fieldset .k-numeric-wrap {
  height: 28px;
}
fieldset .k-numeric-wrap input {
  height: 24px !important;
}
input[type=text],
input[type=email],
input[type=password],
input.k-textbox {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 16px;
  height: 28px !important;
  padding: 3px 5px;
}
.required:after {
  color: #d9322b;
  content: " *";
}
.error-texts > span {
  display: block;
}
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}
.message-error {
  clear: both;
  color: #f10000;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.error {
  color: #f10000;
}
.field-validation-error {
  color: #f10000;
  font-weight: bold;
}
.field-validation-valid {
  display: none;
}
input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
img.input-validation-error {
  border: 1px solid #f10000 !important;
}
.validation-summary-errors {
  color: #f10000;
  font-weight: bold;
  font-size: 1.1em;
}
.validation-summary-valid {
  display: none;
}
#login-container {
  background-color: white;
  border: 2px solid #eee;
  box-shadow: 0 0 10px #ccc;
  display: none;
  margin-right: -530px;
  padding: 9px 16px;
  position: absolute;
  right: 50%;
  top: 40px;
  width: 230px;
  z-index: 100;
}
#login-container p {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}
#login-container input {
  width: 218px;
}
#login-container button {
  width: 230px;
  margin-top: 16px;
}
#profile {
  height: 275px;
}
#profile img {
  float: right;
}
div#last-login {
  margin: 40px 0 20px;
}
div#last-profile-update {
  margin-bottom: 40px;
}
#currentCampaigns .wrapper {
  float: left;
  margin-left: 40px;
  margin-bottom: 14px;
}
#currentCampaigns .wrapper:first-child {
  margin-left: 0;
}
#currentCampaigns .wrapper:first-child .image {
  width: 508px;
  height: 368px;
}
#currentCampaigns .wrapper:first-child .caption {
  width: 500px;
}
#currentCampaigns .image {
  width: 234px;
  height: 150px;
  position: relative;
}
#currentCampaigns .caption {
  width: 234px;
  display: block;
  height: 54px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#currentCampaigns img {
  display: block;
  width: 100% !important;
  height: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (min-width: 1380px) {
  #currentCampaigns .wrapper:nth-child(4n+6) {
    margin-left: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1379px) {
  #currentCampaigns {
    width: 782px;
  }
  #currentCampaigns .wrapper:nth-child(3n+4) {
    margin-left: 0;
  }
}
@media (max-width: 1000px) {
  #currentCampaigns {
    width: 508px;
  }
  #currentCampaigns .wrapper:nth-child(2n) {
    margin-left: 0;
  }
}
.k-grid {
  padding: 16px 0;
}
.k-grid tr {
  background-color: #e5e5e5;
}
.k-grid .k-alt {
  background-color: transparent;
}
.k-grid .k-plus {
  background-position: -27px -209px;
}
.k-grid .k-minus {
  background-position: -27px -225px;
}
.k-grid .k-button-icontext .k-icon {
  display: none;
}
.k-edit-form-container {
  width: 460px;
}
.k-edit-form-container .k-button-icontext .k-icon {
  display: none;
}
.k-grid-header th.k-header,
.k-filter-row th {
  border-color: transparent;
}
#contact-adv,
#contact-pm {
  float: left;
  margin-right: 50px;
}
#contact-adv tr:nth-child(4n) th,
#contact-pm tr:nth-child(4n) th,
#contact-adv tr:nth-child(4n) td,
#contact-pm tr:nth-child(4n) td {
  padding-bottom: 20px;
}
#contact-adv a,
#contact-pm a {
  text-transform: none;
}
#tabStrip {
  margin-bottom: 10px;
  border: none;
}
#tabStrip .k-item .k-link {
  font-size: 13px;
  font-weight: bold;
  padding: 16px 10px;
  text-transform: none;
}
#tabStrip > .k-content {
  padding: 9px 0;
  border: none;
  min-height: 500px;
}
#tabStrip .k-item.k-state-default {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
}
#tabStrip .k-item.k-state-default.k-state-active {
  border-color: #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 0;
  border-left: 1px solid #ccc;
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
  background-image: none, -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
  background-image: none, -o-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
  background-image: none, linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
}
#tabStrip .k-item.k-first {
  border-left: none;
}
.radio-button-cover {
  background: none repeat scroll 0 0 #efefef;
  border: 1px solid #bbb;
  border-radius: 50px;
  box-shadow: 1px 1px 2px #c7c7c7 inset;
  display: inline-block;
  height: 14px;
  line-height: 5px;
  width: 14px;
  margin-left: -22px;
}
.inner-radio-button-cover {
  background: none repeat scroll 0 0 #d9322b;
  border-radius: 15px;
  display: none;
  height: 10px;
  margin: 2px;
  width: 10px;
}
input[type="radio"]:checked + span.radio-button-cover > span.inner-radio-button-cover {
  display: inline-block;
}
.editor-column {
  float: left;
  width: 338px;
  margin-right: 10px;
  min-height: 470px;
}
.editor-column.full-width {
  width: 100%;
  overflow: auto;
}
.editor-for {
  font-size: 13px;
}
.editor-for input,
.editor-for select,
.editor-for textarea {
  font-family: inherit;
  font-size: inherit;
  width: 260px;
  border: 1px solid #ccc !important;
}
.editor-for .k-numerictextbox input,
.editor-for .k-combobox input {
  border: 0 !important;
}
.editor-for textarea {
  height: 162px;
  margin: 0;
  width: 259px;
  margin-bottom: 16px;
}
.editor-for div.k-dropdown {
  width: 262px;
}
.phonenumber input {
  width: 60px;
}
.phonenumber input + input + input {
  width: 112px;
}
.editor-field {
  margin-top: 8px;
}
.editor-field .k-widget {
  margin-bottom: 16px;
  height: 28px !important;
}
.editor-field .k-widget.k-header {
  width: 260px;
}
.editor-field .k-numeric-wrap {
  height: 28px;
}
.editor-field .k-numeric-wrap input {
  height: 24px !important;
}
.editor-field .k-combobox .k-dropdown-wrap {
  height: 28px !important;
}
.editor-field .k-combobox .k-dropdown-wrap input {
  height: 24px !important;
}
.editor-field button.ui-multiselect {
  height: 23.06px;
  border-color: #bbb;
  width: 255px !important;
  margin-bottom: 16px;
}
.editor-field .display-only {
  display: inline-block;
  height: 28px;
}
.editor-field .k-button {
  width: 200px;
}
.required-marker {
  color: #d9322b;
}
#profile-buttons input,
#profile-buttons a {
  margin-bottom: 9px;
  width: 265px;
}
#profile-buttons #cancelButton {
  background: #00312a;
  border-color: #00312a;
}
.k-state-error,
.input-validation-error,
.input-validation-error * {
  background-color: #DE3914 !important;
  color: #fff !important;
}
#personality-test input {
  width: auto;
  border: 0;
}
#personality-test tr {
  line-height: 50px;
}
#personality-test td {
  text-align: center;
}
#personality-test th {
  text-align: left;
}
#personality-test tbody th {
  font-weight: normal;
}
#personality-test tbody tr:nth-child(odd) {
  background-color: #e5e5e5;
}
table.experience-details tr {
  background-color: transparent !important;
}
table.experience-details th {
  font-weight: normal;
  color: #da3229;
  padding: .4em .6em;
  text-align: left;
}
#e td .k-button {
  width: 170px;
}
#e td .k-button + .k-button {
  margin-top: 8px;
}
.special-upload .k-upload,
.k-upload-pct {
  display: none;
}
.multi-upload .k-upload .k-button {
  width: auto;
}
.multi-upload .k-dropzone {
  padding: 0;
}
.multi-upload .k-upload.k-header {
  border: 0;
}
.multi-upload .k-file-success {
  color: black;
}
.multi-upload .k-file-success .k-progress {
  background-color: transparent;
}
.fancybox-container > .k-button {
  margin-bottom: 16px;
}
h1 + span {
  display: block;
  padding-top: 16px;
}
#delete-popup,
#deleted-popup {
  margin: 0 10px 20px 10px;
}
#delete-checkbox,
#delete-checkbox + label,
#privacy-checkbox,
#privacy-checkbox + label {
  float: left;
  margin-left: 0;
  display: block;
}
#delete-checkbox + label,
#privacy-checkbox + label {
  margin-left: 5px;
  font-weight: 600;
  width: 500px;
}
.checkbox-label {
  font-weight: normal;
  display: inline;
  font-size: 1em;
}
p.with-margin {
  margin: 40px 0;
}
.grey {
  background-color: #e5e5e5;
}
.nobr {
  display: inline-block;
}
dl {
  margin: 0;
  padding-top: 0.25em;
  clear: left;
  position: relative;
}
dt {
  font-weight: bold;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
dd {
  margin-left: 150px;
}
#details-page table {
  border-collapse: collapse;
}
#details-page table th,
#details-page table td {
  text-align: left;
  vertical-align: top;
  padding-top: 4px;
}