﻿@input-margin-bottom: 16px;
@input-height: 28px;
@advantage-color: #d9322b;

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0 auto 20px auto;
    padding: 0;
    max-width: 1376px;
    box-shadow: 0 0 15px #999
}

a, button, input[type=submit], input[type=button], div.k-button {
    text-transform: uppercase;
}

a {
    text-decoration:none;
    color: #000;
    img { border: 0 !important }
}

a:hover {
    text-decoration:underline;
}

header, footer {
    a {
        color: #999;
    }
}

header, footer, hgroup, nav, section {
    display: block;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: @advantage-color;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
    color: black;
    margin-bottom: 0.4em;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

#view-switcher {
    position: absolute;
}

.download-pdf-icon{
    background:url(../Images/16x16/pdf.png) no-repeat top left;
    padding-left: 30px;
    font-weight: bold; 
}

.loading-placeholder {
    color: #ccc;
    font-style: italic
}

*::-webkit-input-placeholder { /* WebKit browsers */
    color: #aaa !important;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaa !important;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaa !important;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #aaa !important;
}

input.k-button, a.k-button, button.k-button, div.k-button { 
    padding: 5px 32px;
    line-height: 19px;
    letter-spacing: 1px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 20px 160px;
}

#body {
    clear: both;
    padding: 0 0 90px 0;
}

.main-content {
    padding: 30px 160px 0;
}

.main-content > div {
    padding: 15px 0 ;
}

header {
    .float-left, .float-right {
        clear: none;
    }
    .content-wrapper {
        padding-top: 0;
    }
}
    
footer {
    clear: both;
    color: #999;
    height: 96px;
    position:relative;
    padding-top: 30px;
    .float-left, .float-right {
        clear: none;
    }
    .float-right > a {
        margin-left: 20px;
    }
}

div.logo {
    background: url(../Images/logo.jpg) no-repeat;
    border: 0;
    width: 195px;
    height: 58px;
}

div#advantage-logo {
    background: url(../images/Footer_Image.png) no-repeat;
    clear: both;
    width: 113px;
    height: 128px;
    position:absolute;
    right:0;
    top:0;
    z-index: 100;
}

.site-title  {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    float:right;
    height:45px;
    a, a:hover, a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }
    img {
     height:130%;
     border: none;
    }
}

#login, #view-switcher {
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
    a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
    }
    a.username {
        background: none;
        margin-left: 0;
        text-decoration: underline;
    }
    ul {
        margin: 0;
    }
    li {
        display: inline;
        list-style: none;
    }
}

#countdown {
    display: inline-block;
    width: 180px;
    text-align: center;
}

#slider-container{ 
    width: 1376px;margin-left: -160px
}

ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    text-align: right;
    padding:70px 0;
    li:first-child {
        padding-left: 0;
        border-left: none;
    }
    li {
        display: inline;
        list-style: none;
        padding: 60px 15px 50px;
        border-left: 1px solid #ccc;
        a {
            background: none;
            color: #999;
            text-decoration: none;
        }
        a:hover {
            color: #333;
            text-decoration: none;
        }
    }
}

.featured {
    background-color: #fff;
    .content-wrapper {
        background: url(../Images/Header.jpg) 0 -50px;
        color: #ffffff;
        height:380px;
        padding: 20px 160px 20px;
    }
    hgroup.title h1, hgroup.title h2 {
            color: #fff;
    }
    p {
            font-size: 1.1em;
    }
}

hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    legend {
        display: none;
    }
    ol {
        float: left;
        width: 300px;
        padding: 0;
        list-style: none;
        li {
            padding-bottom: 5px;
        }
    }
    label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }
    label.checkbox {
        display: inline;
    }
    .k-textbox, .k-dropdown {
        width: 258px;
    }
    input[type="submit"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }
    .k-dropdown, .k-numerictextbox { margin-bottom: @input-margin-bottom - 2px; }
    .k-numeric-wrap {
        height: 28px;
        input {
            height: 24px !important;
        }
    }
}

input[type=text], input[type=email], input[type=password], input.k-textbox {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: @input-margin-bottom;
    height: @input-height !important;
    padding: 3px 5px;
}

.required:after {
    color: @advantage-color;
    content: " *";
}

.error-texts > span {display: block;}

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #f10000;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #f10000;
}

.field-validation-error {
    color: #f10000;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
img.input-validation-error {
    border: 1px solid #f10000 !important;
}

.validation-summary-errors {
    color: #f10000;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

#login-container {
    background-color: white;
    border: 2px solid #eee;
    box-shadow: 0 0 10px #ccc;
    display: none;
    margin-right: -530px;
    padding: 9px 16px;
    position: absolute;
    right: 50%;
    top: 40px;
    width: 230px;
    z-index: 100;
    p { 
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc 
    }
    input { 
        width:218px 
    }
    button { 
        width: 230px;margin-top: 16px
    }
}

// ===================================================
// Kurzprofil auf Startseite
// ===================================================
#profile { 
    height: 275px;
    img {
        float: right 
    }
}

div#last-login {
    margin: 40px 0 20px;
}

div#last-profile-update {
    margin-bottom: 40px;
}
// ===================================================

#currentCampaigns {
    .wrapper {
        float: left;
        margin-left: 40px;
        margin-bottom: 14px;
        &:first-child {
            margin-left: 0;
            .image {
                width: 508px;
                height: 368px;
            }
            .caption {
                width: 500px;
            }
        }
    }
    .image {
        width: 234px;
        height: 150px;
        position: relative;
    }
    .caption {
        width: 234px;
        display: block;
        height: 54px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    img {
        display: block;
        width: 100% !important;
        height: auto !important;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (min-width: 1380px) { 
    #currentCampaigns .wrapper:nth-child(4n+6) { margin-left: 0; }
}

@media (min-width: 1000px) and (max-width: 1379px) { 
    #currentCampaigns {
        width: 782px;
        .wrapper:nth-child(3n+4) {
            margin-left: 0;
        }
    }
}

@media (max-width: 1000px) { 
    #currentCampaigns {
        width: 508px;
        .wrapper:nth-child(2n) {
            margin-left: 0;
        }
    }
}

// ==========================================================
// Grids umstylen
// =========================================================/
.k-grid {
    padding: 16px 0; 
    tr {
        background-color: #e5e5e5;
    }   
    .k-alt {
        background-color: transparent;
    }
    // Für das ein-/ausklappen der Grid-Details wollen wir andere Icons
    .k-plus {
        background-position: -27px -209px
    }
    .k-minus {
        background-position: -27px -225px
    }
    .k-button-icontext .k-icon {
        display: none;
    }
}

.k-edit-form-container {
    width: 460px;
    .k-button-icontext .k-icon {
        display: none;
    }
}

.k-grid-header th.k-header, .k-filter-row th {
    border-color: transparent;
}

// =========================================================/

#contact-adv, #contact-pm {
    float: left;
    margin-right: 50px;
    tr:nth-child(4n) th, tr:nth-child(4n) td {
        padding-bottom: 20px;
    }
    a {
        text-transform: none;
    }
}

// =========================================================/
// Diese Styles werden im Profil benötigt
// =========================================================/
#tabStrip { 
    margin-bottom: 10px;border:none;
    .k-item .k-link {
        font-size: 13px;
        font-weight: bold;
        padding: 16px 10px;
        text-transform: none;
    }
    > .k-content{ 
        padding: 9px 0;
        border: none;
        min-height: 500px;
    }
    .k-item{
        &.k-state-default {
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #eee;
            &.k-state-active {
                border-color: #ccc;
                border-top: 1px solid #ccc;
                border-bottom: 0;
                border-left: 1px solid #ccc;
                background-image: none;
                background-image: none, -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
                background-image: none, -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
                background-image: none, -o-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
                background-image: none, linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.06) 100%);
            }
        }
        &.k-first {
            border-left: none
        }
    }
}

.radio-button-cover {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #bbb;
    border-radius: 50px;
    box-shadow: 1px 1px 2px #c7c7c7 inset;
    display: inline-block;
    height: 14px;
    line-height: 5px;
    width: 14px;
    margin-left: -22px
}

.inner-radio-button-cover {
    background: none repeat scroll 0 0 @advantage-color;
    border-radius: 15px;
    display: none;
    height: 10px;
    margin: 2px;
    width: 10px;
}

input[type="radio"]:checked + span.radio-button-cover > span.inner-radio-button-cover { 
    display: inline-block;
}

.editor-column {
     float: left;
     width: 338px;
     margin-right: 10px;
     min-height: 470px;
    &.full-width {
        width: 100%;
        overflow: auto;
    }
}

.editor-for {
    font-size: 13px;
    input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        width:260px;
        border:1px solid #ccc !important
    }
    .k-numerictextbox, .k-combobox {
        input {
            border: 0 !important;
        }
    }
    textarea {
        height: 162px;
        margin: 0;
        width: 259px;
        margin-bottom: @input-margin-bottom;
    }
    div.k-dropdown { width: 262px; }   
}

.phonenumber {
    input {
        width: 60px
    }
    input + input + input {
        width:112px
    }
}

.editor-field {
    margin-top: 8px;
    .k-widget {
        margin-bottom: @input-margin-bottom;
        height: @input-height !important;
        &.k-header {
            width: 260px;
        }
    }
    .k-numeric-wrap {
        height: 28px;
        input {
            height: 24px !important;
        }
    }
    .k-combobox .k-dropdown-wrap {
        height: 28px !important;
        input {
            height: 24px !important;
        }
    }
    button.ui-multiselect {
        height: 23.06px;
        border-color: #bbb;
        width: 255px !important;
        margin-bottom: @input-margin-bottom;
    }
    .display-only {
        display:inline-block;
        height: @input-height;
    }
    .k-button {
        width: 200px;
    }
}

.required-marker {
    color: @advantage-color;
}

#profile-buttons {
    input, a {
        margin-bottom: 9px;
        width: 265px
    }
    #cancelButton {
        background: #00312a;border-color: #00312a
    }
}

.k-state-error, .input-validation-error, .input-validation-error * {
     background-color: #DE3914 !important;
     color: #fff !important
}

#personality-test {
    input {
        width: auto;
        border: 0;
    }
    tr {
        line-height: 50px
    }
    td {
        text-align: center;
    }
    th {
        text-align: left;
    }
    tbody {
        th { 
            font-weight: normal;
        }
        tr:nth-child(odd) {
            background-color: #e5e5e5;
        }
    }
}

table.experience-details {
    tr {
        background-color: transparent !important;
    }
    th {
        font-weight: normal;
        color: #da3229;
        padding: .4em .6em;
        text-align: left
    }
}

#e td .k-button { 
    width: 170px;
    + .k-button { margin-top: 8px }
}

.special-upload .k-upload, .k-upload-pct {
    display: none;
}

.multi-upload {
    .k-upload .k-button {
        width: auto;
    }

    .k-dropzone {
        padding: 0;
    }

    .k-upload.k-header {
        border: 0;
    }

    .k-file-success {
        color: black;
        .k-progress {
            background-color: transparent;
        }
    }
}

.fancybox-container > .k-button {
    margin-bottom: 16px;
}

h1 + span {
    display: block;
    padding-top: 16px;
}

#delete-popup, #deleted-popup {
    margin: 0 10px 20px 10px;
}

#delete-checkbox, #delete-checkbox + label,
#privacy-checkbox, #privacy-checkbox + label {
    float: left;
    margin-left: 0;
    display: block;
}

#delete-checkbox + label,
#privacy-checkbox + label {
    margin-left: 5px;
    font-weight: 600;
    width: 500px;
}

.checkbox-label {
    font-weight: normal;
    display: inline;
    font-size: 1em;
}

p.with-margin {
    margin: 40px 0;
}

.grey {
    background-color: #e5e5e5;
}

.nobr {
    display: inline-block;
}

dl {
    margin: 0;
    padding-top: 0.25em;
    clear: left;
    position: relative;
}

dt {
    font-weight: bold;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

dd {
    margin-left: 150px;
}

#details-page table {
    border-collapse: collapse;
    th, td {text-align: left;vertical-align: top; padding-top: 4px }
}