﻿@using ObjectTemplate
@using PromoterInstance.Models
<h1 id="Jobs">Abgelehnte Jobangebote</h1>
@{
    Html.Kendo()
        .Grid<ApplyableCampaign>()
        .Name("c")
        .Columns(columns =>
        {
            columns
                .Template(_ => "")
                .ClientTemplate("<img src=\"" + Url.Content("~/CampaignAssets/#= Id #/logo.png?404=~/Images/404/icon.png&width=180&height=48") + "\">")
                .Width(180);
            columns.Bound(e => e.Name).Width(180);
            columns.Bound(e => e.Duration).Width(120);
            columns.Bound(e => e.Days).Width(100);
            columns.Bound(e => e.Times).Width(125);
            columns
                .ForeignKey(e => e.State, SelectListRepository.Retrieve("CampaignEmployeeStatePromoter", ViewData), "Value", "Text");
            columns
                .Template(_ => "")
                .ClientTemplate("# if(State == 'NotInterested') { # <a class='k-button' href='" + Url.Action("Details", "Job") + "/#= Id #'>Details</a> # } #")
                .Width(140);
        })
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("_Read", "DeclinedJobs").Type(HttpVerbs.Post))
            .Model(model => model.Id(e => e.Id)))
        .Events(events => events.DataBound("gridDataBound"))
        .Render();
}
<script>
    function gridDataBound(e) {
        var grid = e.sender;
        if (grid.dataSource.total() == 0) {
            var colCount = grid.columns.length;
            $(e.sender.wrapper)
                .find('tbody')
                .append('<tr class="kendo-data-row"><td colspan="' + colCount + '" class="no-data">Du hast keinen der zur Zeit ausgeschrieben Jobs abgelehnt.</td></tr>');
        }
    }
</script>
@Html.ActionLink("Zur Startseite", MVC.Home.Index(), new { @class = "k-button" })
