﻿@using System.Configuration
@using SeismitoadModel
@model MasterInstance.Models.EmployeeProfileViewModel
<link href="@Url.Content("~/Content/ratingtable.min.css")" rel="stylesheet" type="text/css" />
<style>
    .k-dropdown, .k-combobox, textarea.multi-line { width: 265px; }
    textarea.multi-line { font-size: 12px }
</style>
<h2 @Html.Raw(Model.State == EmployeeState.Deleted ? "style='background-color: red'" : "")>
    Benutzerprofil von <strong>@Model.Firstname @Model.Lastname  (@Model.Username)</strong> @Html.Raw(Model.State == EmployeeState.Deleted ? "gelöscht" : "bearbeiten")
</h2>
@if (User.IsInRole(SeismitoadShared.Constants.Roles.Admin) && Model.State != EmployeeState.Deleted)
{
    using (Html.BeginForm(MVC.MD.EmployeeProfile.Delete(Model.EmployeeId)))
    {
        <button type="submit" class="k-button" style="float: right" onclick="return confirm('Promoter wirklich löschen?')">Promoterprofil löschen</button>
    }
}
@Html.ActionLink("Sedcard (intern)", MVC.MD.Sedcard.Index(Model.EmployeeId, "internal"), new { @class = "k-button" })
@Html.ActionLink("Sedcard (extern)", MVC.MD.Sedcard.Index(Model.EmployeeId, "external"), new { @class = "k-button" })
@using (Html.BeginForm())
{
    @Html.EditorForModel()   
    <p>
        @if (Model.State != EmployeeState.Deleted)
        {
            <button type="submit" class="k-button">Speichern</button>
        }
        @Html.ActionLink("Zurück zur Promoterübersicht",MVC.MD.Employee.Index(), new { @class = "k-button"})

        @if (ConfigurationManager.AppSettings["ChangeTrackingVisible"] == "true")
        {
            @Html.ActionLink("Änderungshistorie", MVC.ChangeSet.Show(DB.Context.GetTableName<EmployeeProfile>(), Model.EmployeeId.ToString()), new { @class = "k-button", style="float:right" })
        }
    </p>
    if (ViewBag.Dupes != null && ViewBag.Dupes.Count > 0)
    {
        <span>Mögliche Dubletten</span>
        foreach (int employeeId in ViewBag.Dupes)
        {
            @Html.ActionLink(string.Format("Profil ({0}) ", employeeId), MVC.MD.EmployeeProfile.Index(employeeId), new { target = "_blank "})
        }
    }
    Html.RenderPartial("AdvantageProfile");
}


