﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@model IEnumerable<LocationGroupViewModel>
@{
    ViewBag.Title = "Channels verwalten";
    <h2>@ViewBag.Title</h2>
    Html.Kendo().Grid<LocationTypeViewModel>()
        .Name("grid")
        .Sortable()
        .ToolBar(tb =>
        {
            tb.Create();
            tb.Save();
        })
        .Events(ev => {
            ev.DataBound("onDataBound");
            ev.Remove("onRemove");
            ev.SaveChanges("onSaveChanges");
        })
        .Editable(edit => edit.Mode(GridEditMode.InCell))
        .DataSource(src => src.Ajax()
            .Model(model =>
            {
                model.Id("id");
                model.Field(i => i.Id).Editable(false);
                model.Field(i => i.Name).Editable(true);
                model.Field(i => i.LocationCount).Editable(false);
            })
            .Batch(true)
            .Read(read => read.Action("_Read", "LocationGroup"))
            .Update(upd => upd.Action("_Update", "LocationGroup"))
            .Destroy(dest => dest.Action("_Destroy", "LocationGroup"))
            .Create(cr => cr.Action("_Create","LocationGroup")))
        .Columns(c =>
        {
            c.Bound(i => i.Id);
            c.Bound(i => i.Name);
            c.Bound(i => i.LocationCount).Title("Anzahl Locations");
            c.Command(com => com.Destroy().Text("Löschen")).Title("Datensatz löschen");
        })
        .Render();
}
<script>
    function onDataBound(e) {
        var grid = e.sender;
        var currentRecords = grid.dataSource.view();
        for (var i = 0; i < currentRecords.length; i++) {
            var uid = currentRecords[i].uid;
            var locationCount = currentRecords[i].LocationCount;
            if (locationCount > 0) {
                var element = grid.tbody.find("tr[data-uid='" + uid + "'] a.k-grid-delete");
                var contents = element.html();
                element
                    .parent()
                    .html('<button class="k-button k-button-icontext k-state-disabled" title="Nicht löschbar, wird von ' + locationCount + ' Orten verwendet.">' +
                    contents +
                    '</button>');
            }
        }
    }

    function onRemove() {
        window.setTimeout(function() {
            $("#grid").data("kendoGrid").saveChanges();
        }, 200);
    }

    function onSaveChanges(e) {
        alert("Alle Änderungen wurden übernommen!");
    }
</script>

