﻿@{
	ViewBag.Title = "Anleitungen";
}
<h5>Tutorial 1: Einleitung und Funktionen</h5>
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/_2cJHSprAS8?rel=0" frameborder="0" allowfullscreen></iframe>

<h5>Tutorial 2: Jobangebote und Bewerbung</h5>
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/Otw5oQY3AYk?rel=0" frameborder="0" allowfullscreen></iframe>

<h5>Tutorial 3: Aktionstage bestätigen</h5>
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/6VzlfHBIUps?rel=0" frameborder="0" allowfullscreen></iframe>
@*
    Man kann den Player per Script einbinden, per IFrame ist aber leichter
    <script>
        var player1,
            player2,
            player3,
            firstScriptTag = document.getElementsByTagName('script')[0],
            tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player1 = new YT.Player('player1', {
                height: '390',
                width: '640',
                videoId: '_2cJHSprAS8',
            });
            player2 = new YT.Player('player2', {
                height: '390',
                width: '640',
                videoId: 'Otw5oQY3AYk',
            });
            player3 = new YT.Player('player3', {
                height: '390',
                width: '640',
                videoId: '6VzlfHBIUps',
            });
        }
    </script>

    Der Player kann noch callbacks aufrufen, das brauchen wir aktuell nicht, so würde es aussehen:

    player3 = new YT.Player('player3', {
        height: '390',
        width: '640',
        videoId: '6VzlfHBIUps',
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    var done = false;

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
    }

    function stopVideo() {
        player.stopVideo();
    }
*@