﻿@{
	ViewBag.Title = "Impressum";
}
<div>
    <p>Verantwortlich für den Webauftritt ist die</p>
    <p>advantage Marketingservice GmbH</p>
    <p>Widenmayerstr. 18<br/>
        80538 München<br/>
        T: +49 89 &#8211; 4161 571-0<br/>
        F: +49 89 &#8211; 4161 571-60<br/>
        E: <a style="text-transform: none" href="mailto:info@advantagemarketingservice.de">info@advantagemarketingservice.de</a><br />
        Web: <a style="text-transform: none" href="http://www.advantagemarketingservice.de">www.advantagemarketingservice.de</a>
    </p>
    <p>Geschäftsführerin:<br/>
        Nina Schönberg<br/>
        Amtsgericht München HRB 189838
    </p>
    <p>Haftung:<br/>
        Die advantage Marketingservice GmbH übernimmt keine Haftung oder Garantie für die Aktualität, Korrektheit, Vollständigkeit der zur Verfügung gestellten Informationen. Des Weiteren übernimmt advantage keine Gewähr für Verluste, die durch die Verwendung oder Verteilung dieser Informationen verursacht oder mit der Verteilung/Nutzung dieser Informationen im Zusammenhang stehen. advantage behält sich das Recht vor, die bereitgestellten Informationen jederzeit zu ergänzen oder zu ändern. Copyright advantage Marketingservice GmbH München. Alle Rechte vorbehalten: Texte, Bilder, Grafiken, Sounds, Animationen und Videos sowie deren Anordnung auf advantage Websites unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Webseiten darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Alle innerhalb des Internetangebots genannten ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Privacy Policy der advantage Marketingservice GmbH
    </p>
    <p>Datenschutz:<br/>
        Die advantage Marketingservice GmbH unterliegt den Bestimmungen des Bundesdatenschutzgesetzes (BDSG) dem zu Folge wird grundsätzlich die Anonymität des Nutzers während des Besuchs auf unseren Seiten gewahrt. Werden im Einzelfall Ihr Name, Ihre Anschrift oder sonstige persönliche Daten benötigt, so werden Sie zuvor darauf hingewiesen. Durch die Aufrufe der Internetseite erhält advantage Nutzungsdaten, die für Sicherungszwecke gespeichert werden und möglicherweise eine Identifizierung zulassen (zum Beispiel IP-Adresse, Datum, Uhrzeit und betrachtete Seiten). Diese Daten werden von advantage ausgewertet, um das Nutzerverhalten kennen zu lernen und Statistiken aufzustellen. Dabei werden bei allen Maßnahmen die hohen Sicherheitsstandards des Teledienstedatenschutzgesetzes (TDDSG) und der Datenschutzverordnung für Telekommunikationsunternehmen (TDSV) beachtet. Es findet keine personenbezogene Verwertung statt. Die statistische Auswertung anonymisierter Datensätze bleibt vorbehalten. Sollten im Rahmen der Auftragsdatenverarbeitung Daten an Dienstleister weitergegeben werden, so sind diese an das BDSG, andere gesetzliche Vorschriften und vertraglich an die Privacy Policy von advantage gebunden. Soweit advantage gesetzlich oder per Gerichtsbeschluss dazu verpflichtet ist, wird sie Ihre Daten im geforderten Umfang an auskunftsberechtigte Stellen übermitteln. Für andere Zwecke gibt advantage Ihre Daten nicht ohne Ihr ausdrückliches Einverständnis an Dritte weiter.
    </p>
    <p>Recht auf Wiederruf:<br/>
        Wenn Sie advantage auffordern, Ihre personenbezogenen Daten nicht für die weitere Kontaktaufnahme zu verwenden und/oder zu löschen, so wird entsprechend verfahren. Daten, die für eine Auftragsabwicklung bzw. zu kaufmännischen Zwecken zwingend erforderlich sind, sind von einer Kündigung beziehungsweise von einer Löschung nicht berührt. Bitte haben Sie Verständnis dafür, dass im Falle des Widerrufs der personalisierte Service nicht mehr erbracht werden kann, da er auf der Verwendung der Kundendaten aufbaut.
    </p>
    <p>Links:<br/>
        advantage übernimmt keine Haftung für Webseiten, auf die mittels Hyperlink verwiesen wird. Wir distanzieren uns ausdrücklich von allen Inhalten dieser gelinkten Seiten. advantage hat hierauf keinerlei Einfluss und macht sich diese Inhalte nicht zu Eigen.
    </p>
    <p>Cookies:<br/>
        Cookies sind Textinformationen, die auf dem Rechner des Anwenders gespeichert werden. Wohin der Cookie gespeichert wird, kontrolliert der WWW-Browser des Anwenders. Cookies beinhalten Informationen, die bei den nächsten Seitenaufrufen an den Server zurückgesandt werden. Sie können jeweils nur von dem Server, der sie vorher auch abgelegt hat, gelesen werden. Diese Technologie wird weltweit und in Deutschland von vielen Websites verwendet, um Besucher auf den Seiten wiederzuerkennen. Cookies können nicht in das System des Anwenders eindringen und dort Schaden anrichten. Cookies bei advantage enthalten keinerlei persönliche Informationen über Sie, sondern nur eine Kennzahl, die außerhalb der Internetseite von advantage keine Bedeutung hat. Mit Hilfe dieser Cookies können wir im Sinne unserer Besucher die Benutzerführung auf unseren Webseiten optimieren und analysieren, wie Besucher unsere Webseiten nutzen. Wenn Sie die Vorteile von Cookies nicht nutzen wollen, können Sie diese mit Hilfe eines einfachen Verfahrens in Ihrem Browser aktivieren bzw. deaktivieren. Bitte beachten Sie hierzu die individuellen Einstellungsmöglichkeiten Ihres Browsers. advantage setzt Cookies nur dann ein, wenn sie für Benutzerfunktionen erforderlich sind bzw. die Navigation der Webseiten erleichtern, sowie zur allgemeinen Nutzungsanalyse. Die Informationen werden keinem Dritten zur Verfügung gestellt.
    </p>
</div>