@{
    ViewBag.Title = "Herzlich Willkommen";
    Layout = "~/Views/Shared/_Layout.MobileBase.cshtml";
}
<div id="profile">
    Wird geladen...
</div>
<div id="menu">
</div>
<script type="text/javascript" src="~/Scripts/home.mobile.js?version=1"></script>