﻿@{
    ViewBag.Title = "Kontakt";
}
<p>
    advantage Marketingservice GmbH
</p>
<p>
    Widenmayerstr. 18<br/>
    80538 München<br />
    T: +49 89 – 4161 571-0<br />
    F: +49 89 – 4161 571-60<br />
    E: <a style="text-transform: none" href="mailto:info@advantagemarketingservice.de">info@advantagemarketingservice.de</a><br />
    Web: <a style="text-transform: none" href="http://www.advantagemarketingservice.de">www.advantagemarketingservice.de</a>
</p>