﻿
@model System.Collections.IEnumerable
@using System.Text
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using ObjectTemplate
@{
    var propertyName = ViewData.ModelMetadata.PropertyName;
    var fullHtmlFieldName = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var options = new StringBuilder();
    foreach (var selectListItem in SelectListRepository.Retrieve(propertyName, ViewData, ViewData.ModelMetadata.ContainerType))
    {
        options.AppendFormat("{{ value: '{0}', text: '{1}' }},\n", selectListItem.Value, selectListItem.Text);
    }
    var modelStateValue = ViewData.ModelState[fullHtmlFieldName];
    var selectedItems = modelStateValue != null
        ? (object[])modelStateValue.Value.RawValue
        : Model != null ? Model.Cast<object>().ToArray() : new object[0];
    var values = selectedItems.Length > 0 ? string.Join(", ", selectedItems.Select(e => string.Format("'{0}'", e))) : "";
}
<select id="@propertyName"  name="@fullHtmlFieldName" multiple="multiple"></select>
<script>
    $(document).ready(function () {
        $("#@propertyName").kendoCheckBoxMultiSelect({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: [
                @Html.Raw(options.ToString())
            ]
        });
        $("#@propertyName").data("kendoCheckBoxMultiSelect").value([ @Html.Raw(values) ]);
    });
</script>