﻿
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using ObjectTemplate

@helper RenderFields(IEnumerable<ModelMetadataEx> grouping)
{
    var divOpened = false;
    foreach (var property in grouping)
    {
        if(divOpened && property.ColumnStartHtml != null)
        {
            @Html.Raw("</div>")
        }
        @property.ColumnStartHtml
        if (!divOpened && property.ColumnStartHtml == null)
        {
            @Html.Raw("<div class='editor-column'>")
        }
        divOpened = true;

        if (property.HideSurroundingHtml || "Reference" == property.TemplateHint)
        {
            @Html.Editor(property.PropertyName)
        }
        else
        {
            @property.EditorLabelOpeningDivTag
            var isExtraLabel = property.TemplateHint == "ExtraLabel";
            if (isExtraLabel)
            {
                @Html.Raw(property.DisplayName)
            }
            else
            {
                @Html.Label(property.PropertyName)
                if (property.IsRequired)
                {
                     <span class="required-marker">*</span>
                }
            }
            if (property.HintText != null)
            {
                <span class="hinttext"><img src="@Configurator.Instance.InfoIconUrl" title="@property.HintText" alt="Tipp" /></span>
            }
            @Html.Raw("</div>")
            if (!isExtraLabel)
            {
            @property.EditorFieldOpeningDivTag
            @Html.Editor(property.PropertyName)
            @Html.Raw("</div>")
            }
        }
        if (!String.IsNullOrWhiteSpace(property.JavaScript))
        {
            <script>
                $(document).ready(function() {
                    @Html.Raw(property.JavaScript)
                })
            </script>    
        }
    }
    @Html.Raw("</div>")
    <div class="clear"></div>
}

<div class="editor-for">
@if (ViewData.TemplateInfo.TemplateDepth > 2)
{
    <text>@ViewData.ModelMetadata.SimpleDisplayText</text>
}
else
{
    var metaModel = new ViewMetaModel(ViewData);
    if (metaModel.ShowTabs)
    {
        Html.Kendo()
            .TabStrip()
            .Name("tabStrip")
            .Animation(false)
            .Events(events => events.Select("function() { if(typeof(resetCountDown) !== 'undefined') { resetCountDown(); } }"))
            .Items(items =>
            {
                var first = true;
                var selectFirst = metaModel.SelectedTab == null;
                foreach (var g in metaModel.Tabs)
                {
                    var grouping = g;
                    var properties = grouping.Select(s => s.PropertyName);
                    var invalid = ViewData.ModelState.Where(w => properties.Contains(w.Key)).Any(a => a.Value.Errors.Any());
                    var colorString = invalid ? "background:#f10000;color:#ffffff" : "";
                    items.Add()
                        .LinkHtmlAttributes(new {style=colorString})
                        .Text(grouping.Key)
                        .Selected(selectFirst && first || metaModel.SelectedTab == grouping.Key)
                        .Content(@<text>@RenderFields(grouping)</text>);
                    first = false;
                }
            })
            .Render();
    }
    else
    {
        foreach (var grouping in metaModel.Tabs)
        {
            @RenderFields(grouping)
        }
    }

    if (Configurator.Instance.ShowValidationSummary && !ViewData.ContainsKey("HideValidationSummary"))
    {
        @Html.ValidationSummary(false, "")
        <div style="clear: both"></div>
    }
}
</div>