﻿@using SeismitoadModel
@model string
@{
    var showAsReadonly = !string.IsNullOrWhiteSpace(Model);
    var questions = PersonalityTest.Questions;
    var inverted = PersonalityTest.InvertedQuestionsIndices;
    <script>
        $(function () {
            $("td").click(function () {
                var radioButton = $("input", this);
                if (!radioButton.prop("disabled")) {
                    $("input", this).prop("checked", true);
                }
            });
        });
    </script>
    <span>
        Im Folgenden wirst du mit insgesamt 52 Aussagen konfrontiert.
        Lies bitte jede Aussage aufmerksam und kreuze jeweils die Ausprägung an, die Deiner Persönlichkeit und Deiner Einstellung am meisten entspricht.
        <br /><br />
        Du hast die Möglichkeit zwischen sechs Ausprägungen zu wählen.
        Absolute Ablehnung der Aussage ist durch „Trifft nicht zu“ gekennzeichnet, uneingeschränkte Zustimmung durch „Trifft zu“.
        Liegt bspw. nur eine leichte Tendenz in Richtung Zustimmung vor, so kreuze bitte „Trifft eher zu“ an.
        <br /><br />
        Setze bitte pro Aussage immer nur ein Kreuz und gib eine Antwort zu jeder Aussage ab.
        <br /><br />
        Bitte treffe deine Wahl möglichst spontan.
        <br /><br />
        Es gibt keine falschen oder richtigen Antworten.
        Wir bitten Dich nur, diesen Fragebogen möglichst wahrheitsgemäß auszufüllen.
        <br /><br />
        Bei der Bearbeitung wirst Du möglicherweise den Eindruck gewinnen, dass einige Formulierungen inhaltlich ähnlich sind.
        Lass Dich dadurch nicht irritieren und verfahre wie oben erläutert.
        <br /><br />
        Sollten Situationen beschrieben werden, die Du noch nicht persönlich erlebt hast, schätze bitte ein, wie Du dich voraussichtlich verhalten würdest.
    </span>
    <table id="personality-test">
        <colgroup>
            <col span="1">
            <col span="1" style="width: 50px">
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th colspan="3">Trifft zu</th>
                <th colspan="3" style="text-align: right">Trifft nicht zu</th>
            </tr>
        </thead>
        <tbody>
            @for (var questionIndex = 0; questionIndex < questions.Length; questionIndex++)
            {
                var isInverted = inverted.Contains(questionIndex);
                var selectedValue = Model != null && Model.Length == questions.Length ? Model[questionIndex] - '0' : -1;
                var radioButtonName = "Radio"+questionIndex;
                <tr>
                    <th>@questions[questionIndex] @Html.ValidationMessage(radioButtonName)</th>
                    @for (var i = 0; i < 6; i++)
                    {
                        var radioButtonValue = isInverted ? 6 - i : i + 1;
                        <td>
                            @Html.RadioButton(radioButtonName, radioButtonValue, selectedValue == radioButtonValue, showAsReadonly ? new {@class="small", disabled="disabled"} : (object)new {@class="small"})
                            <span class="radio-button-cover"><span class="inner-radio-button-cover"></span></span>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
