﻿
@using System.Web.Mvc.Html
@using ObjectTemplate.Attributes
@using ObjectTemplate.Extensions
@model int?
           
@{
    var sliderAttribute = ViewData.ModelMetadata.GetCustomAttribute<SliderAttribute>() ?? SliderAttribute.Clean;
    var fullname = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
    var sliderId = fullname.Replace('.', '_') + "_Slider";
 }

@( Html.Kendo().Slider<int>()
        .Name(sliderId)
        .Min(sliderAttribute.Min)
        .Max(sliderAttribute.Max)
        .SmallStep(sliderAttribute.SmallStep)
        .LargeStep(sliderAttribute.LargeStep)
        //.Enable(sliderAttribute.Enabled)
        .HtmlAttributes(new {style="width:210px;height:16px;float:left;margin-right:10px;"})
        .ShowButtons(sliderAttribute.ShowButtons)
        .Value(Model)
        .TickPlacement(SliderTickPlacement.Both)
        .Events(events => events.Slide("onChange").Change("onChange"))//.Load("onLoad"))
)

@if (sliderAttribute.ShowCurrentValueDiv)
{
    @(Html.Kendo().NumericTextBox<int>()
        .Name(fullname)
        .Value(Model)
        .Min(sliderAttribute.Min)
        .Max(sliderAttribute.Max)
        .Step(sliderAttribute.SmallStep)
        .Decimals(0)
        .Enable(sliderAttribute.Enabled)
        .Events(c => c.Change("onNumericChange"))//.OnLoad("onNumericLoad"))
        .HtmlAttributes(new {style = "margin-left: 10px;margin-bottom: 0px; width: 36px; height: 16px; line-height: 16px;", id = sliderId + "_numeric", uid = sliderId}))
} else
{
    @Html.Hidden("", Model, new { @class = "sliderHidden", id = sliderId + "_hidden", uid = sliderId })
}

@if (HttpContext.Current.Items["HasSliderJavascript"] == null)
{
     HttpContext.Current.Items["HasSliderJavascript"] = new object();
     <script type="text/javascript">
         function onLoad(e) {
             var t = $(e.target);
             var nt = $('#' + t.attr('id') + '_numeric').data("tTextBox");
             if (nt) {
                 t.data("tSlider").value(nt.value());
             } else {
                 t.data("tSlider").value($('#' + t.attr('id') + '_hidden').val());
             }
         }
         
         function onChange(e) {
             var t = $(e.target);
             var nt = $('#' + t.attr('id') + '_numeric').data("tTextBox");
             if (nt) {
                 nt.value(e.value);
             } else {
                 $('#' + t.attr('id') + '_hidden').val(e.value);   
             }
         }

         function onNumericLoad(e) {
             var t = $(e.target);
             $('#' + t.attr('uid')).data("tSlider").value(t.val() ? t.val() : 0);
         }
         
         function onNumericChange(e) {
             var t = $(e.target);
             $('#' + t.attr('uid')).data("tSlider").value(e.newValue ? e.newValue : 0);
         }
    </script>
}
