﻿@using System.Activities.Expressions
@using MasterInstance.Areas.CM.Models
@model MasterInstance.Areas.CM.Models.AdvantageDashboardViewModel
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Dashboard");
}
<h2>@ViewBag.Title</h2>
<h3>Einsatztage und -orte</h3>
@{
    var selectList = new[]
    {
        new SelectListItem { Value = "1", Text = "Januar" },
        new SelectListItem { Value = "2", Text = "Febuar" },
        new SelectListItem { Value = "3", Text = "März" },
        new SelectListItem { Value = "4", Text = "April" },
        new SelectListItem { Value = "5", Text = "Mai" },
        new SelectListItem { Value = "6", Text = "Juni" },
        new SelectListItem { Value = "7", Text = "Juli" },
        new SelectListItem { Value = "8", Text = "August" },
        new SelectListItem { Value = "9", Text = "September" },
        new SelectListItem { Value = "10", Text = "Oktober" },
        new SelectListItem { Value = "11", Text = "November" },
        new SelectListItem { Value = "12", Text = "Dezember" },
    };
    Html.Kendo()
        .Grid<AssignmentsByMonth>()
        .Name("g")
        .HtmlAttributes(new { style = "width: 600px; float:left; margin-right: 20px"})
        .DataSource(dataSource => dataSource
            .Ajax().Read("_AssignmentsByMonth", "Dashboard", new { campaignId = Model.CampaignId })
            .PageSize(12)
            .Sort(sort =>
            {
                sort.Add(e => e.Year).Descending();
                sort.Add(e => e.Month).Descending();
            }))
        .Pageable()
        .Sortable(sorting => sorting.SortMode(GridSortMode.MultipleColumn))
        .Filterable()
        .Columns(columns =>
        {
            columns.Bound(e => e.Year).Title("Jahr");
            columns.ForeignKey(e => e.Month, selectList, "Value", "Text").Title("Monat");
            columns.Bound(e => e.Total).Title("Einsatztage");
            columns.Bound(e => e.Unassigned).Title("davon unbesetzte ET");
        })
        .Render();
}
<table style="width: 350px">
    <colgroup>
        <col style="width: 300px" />
        <col style="width: 50px" />
    </colgroup>
    <tr>
        <th>Anzahl Aktionsorte</th>
        <td>@Model.CampaignLocationCount.ToString("##,##0")</td>
    </tr>
    <tr>
        <th>davon unbesetzt</th>
        <td>@Model.UnassignedCampaignLocationCount.ToString("##,##0")</td>
    </tr>
    <tr>
        <th>davon teilweise besetzt</th>
        <td>@Model.PartiallyAssignedCampaignLocationCount.ToString("##,##0")</td>
    </tr>
    <tr>
        <th>davon vollständig besetzt</th>
        <td>@Model.FullyAssignedCampaignLocationCount.ToString("##,##0")</td>
    </tr>
</table>
<div class="clear vspace20px"></div>

<div style="float: left; margin-right: 20px">
    <h3>Team</h3>
    <table style="width: 600px">
        <colgroup>
            <col style="width: 300px" />
            <col style="width: 300px" />
        </colgroup>
        <tr>
            <th>Personalanforderung zuletzt geändert am</th>
            <td>
                @if (Model.StaffRequirementLastChanged.HasValue)
                {
                    @Html.ActionLink(Model.StaffRequirementLastChanged.Value.ToString("dd.MM.yyyy HH:mm"), MVC.CM.StaffRequirement.Show(Model.CampaignId))
                }
                else
                {
                    <text>Es wurde noch keine Personalanforderung hinterlegt</text>
                }
            </td>
        </tr>
        <tr>
            <th>Bewerber gesamt</th>
            <td>@Model.Candidates.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Bewerber neu (seit @Model.NewCandidatesSince.ToString("g"))</th>
            <td>@Model.NewCandidates.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Teamgröße gesamt</th>
            <td>@Model.TeamSize.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Aktionspromoter ohne zugewiesene ET</th>
            <td>@Model.EmployeesWithoutAssignments.ToString("##,##0")</td>
        </tr>
    </table>
</div>
<div>
    <h3>Aufträge und Einsatzplanung</h3>
    <table style="width: 350px">
        <colgroup>
            <col style="width: 300px" />
            <col style="width: 50px" />
        </colgroup>
        <tr>
            <th>Noch nicht verschickte Projektaufträge</th>
            <td>@Model.UnsentContracts.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Noch nicht bestätigte Projektaufträge</th>
            <td>@Model.UnconfirmedContracts.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Noch nicht verschickte Einsatztage</th>
            <td>@Model.UnsentAssignments.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Noch nicht bestätigte Einsatztage</th>
            <td>@Model.UnconfirmedAssignments.ToString("##,##0")</td>
        </tr>
        <tr>
            <th>Abgelehnte Einsatztage</th>
            <td>@Model.RejectedAssignments.ToString("##,##0")</td>
        </tr>
    </table>
</div>

<!-- @ViewBag.TimeInfo  -->
