﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.Migration.Models
@using ObjectTemplate.Extensions
@using SeismitoadModel
<script>
    function displayType(matchType) {
        switch (matchType) {
            case 0:
                return "Nicht Im.";
            case 1:
                return "Exakt";
            case 2:
                return "Ben.Name";
            case 3:
                return "E-Mail";
            case 4:
                return "Konflikt";
            case 5:
                return "Neu"; 
        }
        return "";
    }
</script>
@{
    Html.Kendo().Grid<DuplicateViewModel>()
        .Name("g")
        .DataSource(dataSource => dataSource.Ajax().Read("_Read", "Duplicates"))
        .Filterable()
        .Sortable()
        .Resizable(r => r.Columns(true))
        .Columns(columns =>
        {
            columns.Template(e => "").ClientTemplate("<a href='" + Url.Action(MVC.MD.EmployeeProfile.Index()) + "/#= Id #'>Profil 1</a>");
            columns.ForeignKey(e => e.ImportMatchType, new ImportMatchType().ToSelectList()).Title("ImpTyp").Width(40).ClientTemplate("#= displayType(ImportMatchType) #");
            columns.Bound(e => e.HasAssignments).ClientTemplate("#= HasAssignments ? 'Ja' : 'Nein' #").Title("ET");
            columns.Bound(e => e.FirstLogin).Title("Erster Login").ClientTemplate("#= kendo.format('{0:dd.MM.yyyy}', FirstLogin) #");
            columns.Bound(e => e.ChangedTime).Title("Geändert").ClientTemplate("#= kendo.format('{0:dd.MM.yyyy}', ChangedTime) #"); ;
            columns.Bound(e => e.Title).Title("Anrede");
            columns.Bound(e => e.Firstname).Title("Vorname");
            columns.Bound(e => e.Lastname).Title("Nachname");
            columns.Bound(e => e.Street).Title("Straße");
            columns.Bound(e => e.Postalcode).Title("PLZ");
            columns.Bound(e => e.City).Title("Ort");
            columns.Template(e => "").ClientTemplate("<a href='" + Url.Action(MVC.MD.EmployeeProfile.Index()) + "/#= Id2 #'>Profil 2</a>");
            columns.ForeignKey(e => e.ImportMatchType2, new ImportMatchType().ToSelectList()).Title("ImpTyp").Width(40).ClientTemplate("#= displayType(ImportMatchType) #"); ;
            columns.Bound(e => e.HasAssignments2).ClientTemplate("#= HasAssignments2 ? 'Ja' : 'Nein' #").Title("ET");
            columns.Bound(e => e.Street2).Title("Straße");
            columns.Bound(e => e.Postalcode2).Title("PLZ");
            columns.Bound(e => e.City2).Title("Ort");
            columns.Bound(e => e.FirstLogin2).Title("Erster Login").ClientTemplate("#= kendo.format('{0:dd.MM.yyyy}', FirstLogin2) #"); ;
            columns.Bound(e => e.ChangedTime2).Title("Geändert").ClientTemplate("#= kendo.format('{0:dd.MM.yyyy}', ChangedTime2) #"); ;
        })
        .Render();
}