﻿@using Kendo.Mvc.UI
@using MasterInstance.Models
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Kunden";
    <h2>@ViewBag.Title</h2>
    Html.Kendo()
        .Grid<CustomerViewModel>()
        .Name("c")
        .DataSource(dataSource =>
                    dataSource.Ajax()
                              .Model(model =>
                                  {
                                      model.Id(e => e.Id);
                                      model.Field(e => e.Id).Editable(false);
                                  })
                              .Read(read => read.Action("_Read", "Customer"))
                              .Update(update => update.Action("_Update", "Customer"))
                              .Create(create => create.Action("_Create", "Customer")))
        .ToolBar(commands => commands.Create())
        .Sortable()
        .Pageable()
        .Filterable()
        .Editable()
        .Columns(columns =>
            {
                columns.Bound(e => e.Id);
                columns.Bound(e => e.Number);
                columns.Bound(e => e.Name);
                columns.Bound(e => e.Street);
                columns.Bound(e => e.ZipCode);
                columns.Bound(e => e.City);
                columns.Command(commands => commands.Edit()).Title("Bearbeiten");
            })
        .Render();
}
