﻿@model SeismitoadModel.Customer
@{
    Layout = null;
}
<html>
    <head>
        <title>Popup</title>
        <link href="@Links.Content.blueprint.screen_css" rel="stylesheet" type="text/css" media="screen, projection" />
        <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/permedia.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
        <style>
            body {background: white}
        </style>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            <div class="editor-label">
                @Html.LabelFor(e => e.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(e => e.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(e => e.Number, "Nummer")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(e => e.Number)
            </div>

            <div class="editor-label">
                @Html.LabelFor(e => e.Street, "Straße")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(e => e.Street)
            </div>

            <div class="editor-label">
                @Html.LabelFor(e => e.Street, "PLZ")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(e => e.ZipCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(e => e.Street, "Ort")

            </div>
            <div class="editor-field">
                @Html.TextBoxFor(e => e.City)
            </div>
            <br />
            <input type="submit" class="k-button" value="Anlegen" />
        }
    </body>
</html>
