﻿@using System.Linq.Expressions
@using System.Text.RegularExpressions
@model MasterInstance.Models.ViewModels.AssigmentsCreateModel
@functions
{
    MvcHtmlString BasicCheckBoxFor<T>(HtmlHelper<T> html,
                                                    Expression<Func<T, bool>> expression,
                                                    object htmlAttributes = null)
    {
        var result = html.CheckBoxFor(expression).ToString();
        const string pattern = @"<input name=""[^""]+"" type=""hidden"" value=""false"" />";
        var single = Regex.Replace(result, pattern, "");
        return MvcHtmlString.Create(single);
    }
}
@using (Html.BeginForm(MVC.Assignment.Index(), FormMethod.Get))
{
    @Html.HiddenFor(e => e.CampaignId)
    <div class="ui-corner-top ui-widget-header sk-widget-header">
        Aktionstage generieren
    </div>
    <div class="ui-corner-bottom ui-widget-content sk-widget-content" style="margin-bottom: 16px;">
        <table id="assignmentTemplate1">
            <tbody>
                <tr>
                    <th>@Html.LabelFor(e => e.AssignmentDateGeneratorModel.DateStart)</th>
                    <td>@Html.Telerik().DatePickerFor(e => e.AssignmentDateGeneratorModel.DateStart).InputHtmlAttributes(new { tabindex = 1 })</td>
                    <th>@Html.LabelFor(e => e.AssignmentDateGeneratorModel.DateEnd)</th>
                    <td>@Html.Telerik().DatePickerFor(e => e.AssignmentDateGeneratorModel.DateEnd).InputHtmlAttributes(new { tabindex = 2 })</td>
                    <th>@Html.LabelFor(e => e.AssignmentDateGeneratorModel.Interval)</th>
                    <td>@Html.EditorFor(e => e.AssignmentDateGeneratorModel.Interval, new { tabindex = 3 })</td>
                    <td class="last"></td>
                </tr>
            </tbody>
        </table>
        
        <table class="no-zebra" id="assignmentTemplate2">
            <tr>
                <th>Wochentag</th>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Monday.Selected, new { tabindex = 4 }) Montag</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Tuesday.Selected, new { tabindex = 8 }) Dienstag</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Wednesday.Selected, new { tabindex = 12 }) Mittwoch</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Thursday.Selected, new { tabindex = 16 }) Donnerstag</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Friday.Selected, new { tabindex = 20 }) Freitag</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Saturday.Selected, new { tabindex = 24 }) Samstag</td>
                <td>@BasicCheckBoxFor(Html, e => e.AssignmentDateGeneratorModel.Sunday.Selected, new { tabindex = 28 }) Sonntag</td>
                <td class="last"></td>
            </tr>
            <tr>
                <th>Anfang</th>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Monday.Start).InputHtmlAttributes(new { tabindex = 5 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Tuesday.Start).InputHtmlAttributes(new { tabindex = 9 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Wednesday.Start).InputHtmlAttributes(new { tabindex = 13 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Thursday.Start).InputHtmlAttributes(new { tabindex = 17 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Friday.Start).InputHtmlAttributes(new { tabindex = 21 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Saturday.Start).InputHtmlAttributes(new { tabindex = 25 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Sunday.Start).InputHtmlAttributes(new { tabindex = 29 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td class="last"></td>
            </tr>
            <tr>
                <th>Ende</th>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Monday.End).InputHtmlAttributes(new { tabindex = 6 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Tuesday.End).InputHtmlAttributes(new { tabindex = 10 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Wednesday.End).InputHtmlAttributes(new { tabindex = 14 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Thursday.End).InputHtmlAttributes(new { tabindex = 18 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Friday.End).InputHtmlAttributes(new { tabindex = 22 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Saturday.End).InputHtmlAttributes(new { tabindex = 26 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td>@Html.Telerik().TimePickerFor(e => e.AssignmentDateGeneratorModel.Sunday.End).InputHtmlAttributes(new { tabindex = 30 }).Interval(30).Min(TimeSpan.FromHours(5)).Max(TimeSpan.FromHours(4.5))</td>
                <td class="last"></td>
            </tr>
            <tr class="last">
                <th>Promoter</th>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Monday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 7 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Tuesday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 11 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Wednesday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 15 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Thursday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 19 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Friday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 23 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Saturday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 27 })</td>
                <td>@Html.Telerik().IntegerTextBoxFor(e => e.AssignmentDateGeneratorModel.Sunday.EmployeeCount).EmptyMessage("Anzahl").InputHtmlAttributes(new { tabindex = 31 })</td>
                <td class="last"></td>
            </tr>
        </table>
        <input type="submit" value="Tage generieren" class="t-button" id="date-generator-submit-button" /> Klassifikation: @(Model.CampaignClassification != null ? Model.CampaignClassification.Replace("\n", " / ") : "Nicht hinterlegt")
    </div>

    @(Html.Telerik()
               .Grid(Model.AssignmentDateGeneratorModel.Dates)
               .Name("dates")
               .Scrollable()
               .Pageable(pager =>
                             {
                                 pager.Enabled(true).Style(GridPagerStyles.Status);
                                 var count = Model.AssignmentDateGeneratorModel.DateCount;
                                 pager.PageSize(count > 0 ? count : 1);
                             })
               .Columns(columns =>
                            {
                                columns.Bound(e => e.Start).Format(SeismitoadShared.Constants.Other.DayOfWeekFormat).Title("Wochentag");
                                columns.Bound(e => e.Start).Format(SeismitoadShared.Constants.Other.DateFormat).Title("Datum");
                                columns.Bound(e => e.Start).Format(SeismitoadShared.Constants.Other.TimeFormat);
                                columns.Bound(e => e.End).Format(SeismitoadShared.Constants.Other.TimeFormat);
                                columns.Bound(e => e.EmployeeCount);
                            }))
}