﻿@using ObjectTemplate.Extensions
@using SeismitoadModel
@model object

<script type="text/javascript" language="javascript">
    function onRowDataBound(e) {
        if (e.dataItem.Team == null || e.dataItem.Team == "") {
            return;
        }
        $("td.t-last", e.row).html("Promoter zugewiesen");
    }
</script>

@(Html.Telerik().Grid<Assignment>()
               .Name("Assignments")
               .Groupable()
               .Sortable(sort => sort.Enabled(true).OrderBy(order => order.Add(e => e.DateStart).Descending()))
               .Pageable(pager => pager.PageSize(15).Enabled(true))
               .DataKeys(keys => keys.Add(e => e.Id))
               .DataBinding(binding => binding.Ajax()
                                           .Select("SelectAjax", "Assignment", Model)
                                           .Update("UpdateAjax", "Assignment", Model)
                                           .Delete("DeleteAjax", "Assignment", Model))
               .ClientEvents(events => events.OnRowDataBound("onRowDataBound"))
               .Columns(columns =>
                            {
                                columns.Template(e => e.DateStart).ClientTemplate("<#= $.telerik.formatString('{0:ddd}', DateStart) #>").Width(40);
                                columns.Bound(e => e.DateStart).Format(SeismitoadShared.Constants.Other.DateTimeFormat).Width(120);
                                columns.Bound(e => e.DateEnd).Format(SeismitoadShared.Constants.Other.DateTimeFormat).Width(120);
                                columns.ForeignKey(e => e.State, new AssignmentState().ToSelectList()).Visible(true).Width(120).Template(e => e.State.GetDisplayName());
                                columns.Bound(e => e.EmployeeCount).Width(40).Title("# Prom.");
                                columns.Bound(e => e.Team).ClientTemplate("<#= Team || 'N.N.' #>").ReadOnly(true).Width(140).Sortable(false);
                                columns.Command(commands =>
                                                    {
                                                        commands.Edit().ButtonType(GridButtonType.ImageAndText);
                                                        commands.Delete().ButtonType(GridButtonType.ImageAndText);
                                                    }).Title("Aktionen").Width(200);
                            }
))
      
<script type="text/javascript" language="javascript">
    $("#DetailsWindow").data("t-window").open();
</script>