﻿@using MasterInstance
@using MasterInstance.Controllers
@using MasterInstance.Models.ViewModels
@using ObjectTemplate.Extensions
@using SeismitoadModel
@model AssigmentsCreateModel
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Aktionstage erstellen");
    if (Request["frame"] == "true")
    {
        Layout = "~/Views/Shared/_FrameLayout.cshtml";
    }
}           
@section head
{
    <script type="text/javascript" language="javascript">
        var deleteRequest = false;
        $(function() {
            $(".edit-button").click(function(e) {
                var elem = $(this);
                var w = $("#DetailsWindow").data("t-window");
                w.title(elem.attr("name"));
                w.ajaxRequest(elem.val());
            });
            
            $(document).ajaxComplete(function (event, xhr, settings) {
                if (settings.url.indexOf("Delete") >= 0) {
                    deleteRequest = true;
                }
            });
        });

        function reloadOnDelete() {
            if (deleteRequest) {
                location.reload(true);
            }
        }
    </script>
}

@{
    Html.RenderPartial(MVC.Assignment.Views._DateGenerator);
}

<div class="mediumSpacer"></div>

@{
    var dateCount = Model.AssignmentDateGeneratorModel.DateCount;
    Html.Telerik().Grid(Model.GridModel.Data as IEnumerable<CampaignLocation>)
        .Name(AssignmentController.GridName)
        .EnableCustomBinding(true)
        .Sortable()
        .Filterable()
        .Pageable(pager => pager.Total(Model.GridModel.Total).PageSize(AssignmentController.PageSize))
        .Scrollable(scroll => scroll.Height("auto"))
        .HtmlAttributes(new {style = "height: auto"})
        .ToolBar(commands =>
                 commands.Template(@<text>
                                        <button class="t-button" toggle="#propertySelector">
                                            <span class="t-icon t-restore"></span>Spaltenauswahl ein-/ausblenden
                                        </button>
                                        @using(Html.BeginForm())
                                        {
                                            <button class="t-button t-button-icontext" type="submit" name="action" value="@(AssignmentEditAction.InsertForAll)">
                                                <span class="t-icon t-add"></span>Für alle (@Model.GridModel.Total) Orte jeweils @dateCount Aktionstage hinzufügen
                                            </button>
                                        }
                                    </text>))
        .Columns(columns =>
                     {
                         foreach (var property in Model.VisibleProperties)
                         {
                             switch(property)
                             {
                                 case "Location.Audience":
                                     columns.ForeignKey(e => e.Location.Audience, SelectListRepository.Retrieve("Audience", null), "Value", "Text").Visible(true).Width(150);
                                     break;
                                 case "Location.Type":
                                     columns.ForeignKey(e => e.Location.LocationTypeId, DB.Context.LocationTypes, "Id", "Name").Visible(true).Width(150);
                                     break;
                                 case "Classification":
                                     columns.ForeignKey(e => e.Classification, SelectListRepository.Retrieve("Classification", null), "Value", "Text").Visible(true).Width(150);
                                     break;
                                 case "NetworkConnectionBestValue":
                                     columns.Template(e => e.GetNetworkConnectionBestValue()).Visible(true).Width(150).Title("W-LAN / Internet vorhanden");
                                     break;
                                 case "Location.LargestCampaignArea":
                                     columns.Bound(e => e.Location.LargestCampaignArea).Template(e => e.Location.LargestCampaignAreaHelper.ToString()).Sortable(false).Groupable(false).Visible(true).Width(150);
                                     break;
                                 case "Location.StateProvince":
                                     columns.ForeignKey(e => e.Location.StateProvince.Id, DB.Context.StateProvinces, "Id", "Name").Title("Bundesland").Width(150);
                                     break;
                                 case "Location.LocationGroup":
                                     columns.ForeignKey(e => e.Location.LocationGroupId, DB.Context.LocationGroups.OrderBy(e => e.Name), "Id", "Name").Visible(true).Width(150);
                                     break;
                                 default:
                                     columns.Bound(property).Visible(true).Width(150);
                                     break;
                             }
                         }
                         columns.Template(@<text>
                                               @{
                                                   var editCount = 0;
                                                   var deleteCount = 0;
                                                   if(item.Assignments != null)
                                                   {
                                                       editCount = item.Assignments.Count(e => e.State != AssignmentState.Deleted);
                                                       deleteCount = item.Assignments.Count(e => e.State != AssignmentState.Deleted && !e.AssignedEmployees.Any());
                                                   }
                                               }
                                               <button type="button"
                                                       class="t-button t-button-icontext edit-button"
                                                       name="@string.Format("{0} - {1} {2}", item.Location.Name, item.Location.Street, item.Location.City)"
                                                       value="@Url.Action(MVC.Assignment._Location(item.CampaignId, item.LocationId))"
                                                       title="Aktionstage bearbeiten">
                                                   <span class="t-icon t-edit"></span>@editCount
                                               </button>
                                               @using(Html.BeginForm())
                                               {
                                                   @Html.Hidden("action", AssignmentEditAction.Insert)
                                                   <button type="submit" class="t-button t-button-icontext" name="LocationId" value="@item.LocationId" title="Aktionstage hinzufügen">
                                                       <span class="t-icon t-add"></span>@dateCount
                                                   </button>
                                               }
                                               @using(Html.BeginForm())
                                               {
                                                   @Html.Hidden("action", AssignmentEditAction.Delete)
                                                   <button type="submit" class="t-button t-button-icontext" name="LocationId" value="@item.LocationId" title="Aktionstage löschen">
                                                       <span class="t-icon t-delete"></span>@deleteCount
                                                   </button>
                                               }
                                           </text>).Width(150);

                     })
        .Render();
        
        Html.RenderPartial(MVC.Shared.Views._PropertySelector);
        Html.Telerik()
            .Window()
            .Name("DetailsWindow")
            .ClientEvents(events => events.OnClose("reloadOnDelete"))
            .Title("Details")
                .Modal(true)
                .Visible(false)
                .Width(880)
                .Height(560)
                .Draggable(true).Render();
}  