﻿@model IList<PromoterInstance.Models.ExternalTool>
@{
    foreach (var externalTool in Model)
    {
        externalTool.InstanceUrl = externalTool.InstanceUrl.Replace("_ext_", "");
        <p>
            Hier findest du den Link zur Reportingseite von @externalTool.Name: <a href="@externalTool.InstanceUrl" target="_blank">@externalTool.InstanceUrl</a>
        </p>
    }
}