﻿<h1 id="Reportings">Fehlende Reportings</h1>
<div>
    <span>Für folgende Aktionstage hast Du noch kein Reporting ausgefüllt. Bitte gib Deine Aktionsberichte schnellstmöglich ein (bonusrelevant).</span>
    <div class="k-widget k-grid" id="m">
    <table>
    <colgroup>
    <col />
    <col style="width: 90px" />
    <col />
    <col />
    <col style="width: 80px" />
    <col />
    <col style="width: 255px" />
    </colgroup>
    <thead class="k-grid-header">
    <tr>
    <th class="k-header" data-field="Campaign" data-index="0" data-title="Aktion" scope="col"><span class="k-link">Aktion</span></th>
    <th class="k-header" data-field="Date" data-index="1" data-title="Datum" scope="col"><span class="k-link">Datum</span></th>
    <th class="k-header" data-field="LocationName" data-index="2" data-title="Einsatzort" scope="col"><span class="k-link">Einsatzort</span></th>
    <th class="k-header" data-field="Street" data-index="3" data-title="Straße" scope="col"><span class="k-link">Straße</span></th>
    <th class="k-header" data-field="PostalCode" data-index="4" data-title="PLZ" scope="col"><span class="k-link">PLZ</span></th>
    <th class="k-header" data-field="City" data-index="5" data-title="Ort" scope="col"><span class="k-link">Ort</span></th>
    <th class="k-header" data-index="6" scope="col"><span class="k-link">&nbsp;</span></th>
    </tr>
    </thead>
    <tbody><tr class="k-no-data"><td colspan="7"></td></tr></tbody>
    </table>
    </div>
</div>
<div class="show-on-hidden" style="display: none">Keine fehlenden Reportings</div>
<div id="externalReportTool"></div>