﻿body
{
    background: #EBEBEB;
    padding: 0;
    margin: 0;
    font-family: arial,helvetica,verdana,sans-serif;    
    font-size: 75%;
    color: #434343;
}

#header
{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;
    box-shadow: 1px 0px 5px #CBCBCB;
    background: #ffffff;
}

#header_wrapper
{
    width: 950px;
    margin: auto;
    height: 68px;
}

#header_img_wrapper
{
    height: 100%;
    width: 250px;
    background: url("img/Logo.png") center left no-repeat;
    float:left;
    margin-right: 20px
}

#header_content
{
    float:left;
    margin-top: 28px;
    line-height: 18px
}

#header_login
{
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

#main
{
    padding: 20px
}

#footer
{
}

#footer_wrapper
{
    width: 950px;
    margin: auto;
}


.assignment-table {
    border: 2px solid #aaa;
    border-radius: 10px;
    width: 600px;
    margin: 20px auto;
    padding: 0 0 20px 0;
    border-spacing: 0;
    background: url("img/Table_Background_1px_600px.jpg");
    box-shadow: 1px 1px 5px #777;
}

.assignment-table tr{
    
}

.assignment-table th{
    border-bottom: 1px solid #bbb;
    padding: 5px;
    font-size: 16px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 1px 3px #555;
}

.assignment-table td{
    text-align: right;
    padding: 5px 20px 5px 0;
    font-weight: bold;
    vertical-align: top;
}

.assignment-table td + td{
    text-align: left;
    padding: 5px 0 5px 20px;
    font-weight: normal;
}

.assignment-table tr.buttons td {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

.assignment-table tr.buttons td + td {
    text-align: right;
}

.assignment-table tr.buttons td a{
    margin: 20px 0 0 40px;
    box-shadow: 1px 1px 3px #bbb;
}

.assignment-table tr.buttons td button{
    margin: 20px 40px 0 0;
    box-shadow: 1px 1px 3px #bbb;
}

.assignment-table tr:nth-child(2) td {
    padding-top: 15px;
}

.assignment-table select{
    width: 220px;
}

.assignment-table textarea {
    width: 215px;
    height: 100px;
}