﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title @(ViewBag.Title != null ? "-" : "") permedia People</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="@Links.Content.blueprint.screen_css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Links.Content.blueprint.print_css" type="text/css" media="print" /> 
    <!--[if lt IE 8]>
        <link href="@Links.Content.blueprint.ie_css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.link_icons.screen_css" type="text/css" media="screen projection" /> 
    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.fancy_type.screen_css" type="text/css" media="screen projection" />
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/jqueryui/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            var height = $("#inhalt").height();
            if (height < 400) {
                height = 400;
            }
            try {
                $(".content", parent.document.body).each(function () {
                    $(this).height(height);
                });
            } catch (e) {
                // Propably due to cross domain scripting.
            }
        });
    </script>

    @{
        var theme = Request["telerikTheme"] ?? "telerik.office2010blue.min.css";
    }
    @(Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(group => group
            .Add("telerik.common.css")
            .Add(theme)
            .Add("telerik.rtl.css")
            .Combined(true)
            .Compress(true)))

    @RenderSection("head", false)
</head>

<body style="overflow: auto">
    <div id="main">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>

    @(Html.Telerik().ScriptRegistrar()
        .jQuery(false)
        .Globalization(true)
        .DefaultGroup(group => group.Compress(true))
        .OnDocumentReady(@<text>
                                $(".t-window").each(function() {
                                try {
                                $(this).data("tWindow").center();
                                } catch(exception) {}
                                });
                            </text>))
</body>
</html>
