﻿@using Kendo.Mvc.UI
@using SplitterOrientation = Kendo.Mvc.UI.SplitterOrientation
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title @(ViewBag.Title != null ? "-" : "") permedia People</title>
    <meta name="robots" content="noindex">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="@Links.Content.blueprint.screen_css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Links.Content.blueprint.print_css" type="text/css" media="print" /> 
    <!--[if lt IE 8]>
        <link href="@Links.Content.blueprint.ie_css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.link_icons.screen_css" type="text/css" media="screen projection" /> 
    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.fancy_type.screen_css" type="text/css" media="screen projection" /> 
 
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/permedia.css")" rel="stylesheet" type="text/css"/>
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/fixes.js")"></script>
    <script src="@Url.Content("~/Scripts/sk-fixes.js")"></script>
    <script src="@Url.Content("~/Scripts/splitters.js")"></script>
    <script src="@Url.Content("~/Scripts/site.js")"></script>

    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/cultures/kendo.culture.de-DE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script>
        kendo.culture("de-DE");
    </script>
    @RenderSection("head", false)
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
</head>

<body style="overflow: auto">
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
