﻿<div class="header">
    <img id="advantage-logo" src="~/Content/images/advantage-Signet-Pantone-OR.png" />
    <div id="header-logo">&nbsp;</div>
    <h1>Projekt Management Tool</h1>

    <div id="logindisplay">
        @Html.Partial("_LogOnPartial")
    </div>
</div>