﻿@using Kendo.Mvc.UI
@using SplitterOrientation = Kendo.Mvc.UI.SplitterOrientation
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title @(ViewBag.Title != null ? "-" : "") permedia People</title>
    <meta name="robots" content="noindex">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="@Links.Content.blueprint.screen_css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Links.Content.blueprint.print_css" type="text/css" media="print" /> 
    <!--[if lt IE 8]>
        <link href="@Links.Content.blueprint.ie_css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.link_icons.screen_css" type="text/css" media="screen projection" /> 
    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.fancy_type.screen_css" type="text/css" media="screen projection" /> 
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/permedia.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/fixes.js")"></script>
    <script src="@Url.Content("~/Scripts/sk-fixes.js")"></script>
    @*<script src="@Url.Content("~/Scripts/sk-helpers.js")"></script>*@
    <script src="@Url.Content("~/Scripts/splitters.js")"></script>
    <script src="@Url.Content("~/Scripts/site.js?v=1")"></script>

    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/cultures/kendo.culture.de-DE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script>
        kendo.culture("de-DE");
    </script>
    @RenderSection("head", false)
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
</head>

<body>
@{
    Html.Kendo().Splitter()
        .Name("vSplitter")
        .Orientation(SplitterOrientation.Vertical)
        .Events(events => events.Collapse("onCollapse").Expand("onExpand"))
        .Panes(vPanes =>
                   {
                       var headerPaneCookie = Request.Cookies["header-pane"];
                       vPanes.Add()
                           .Scrollable(false)
                           .Resizable(false)
                           .Collapsible(true)
                           .Collapsed(headerPaneCookie != null && headerPaneCookie.Value == "collapsed")
                           .HtmlAttributes(new {id = "header-pane"})
                           .Size("75px")
                           .Content(Html.Partial("_Header").ToString());

                       vPanes.Add()
                           .Scrollable(true)
                           .Content(Html.Kendo().Splitter()
                                        .Name("hSplitter")
                                        .Events(e => e.Resize("onResize").Collapse("onCollapse").Expand("onExpand"))
                                        .Orientation(SplitterOrientation.Horizontal)
                                        .HtmlAttributes(new {style = "height: 100%"})
                                        .Panes(hPanes =>
                                                   {
                                                       var menuPaneCookie = Request.Cookies["menu-pane"];
                                                       hPanes.Add()
                                                           .Size("200px")
                                                           .Collapsible(true)
                                                           .Collapsed(menuPaneCookie != null && menuPaneCookie.Value == "collapsed")
                                                           .HtmlAttributes(new {id = "menu-pane"})
                                                           .Resizable(false)
                                                           .Content(Html.Partial("_MenuKendo").ToString());
                                                       hPanes.Add()
                                                           .Scrollable(true)
                                                           .Content(@<div id="main">
                                                                         @RenderBody()
                                                                     </div>);
                                                   }).ToString());
                       vPanes.Add()
                           .Size("22px")
                           .Collapsible(false)
                           .Resizable(false)
                           .Scrollable(false)
                           .Content(@<div id="footer">&copy; signalkontor GmbH</div>);
                   })
        .Render();

    var additionalDocumentReadyScript = TempData["DocumentReadyScript"] as string;
}
    <script>
        $(document).ready(function() {
            var vSplitter = $('#vSplitter').data('kendoSplitter');
            var hSplitter = $('#hSplitter').data('kendoSplitter');
            $(window).bind('resize', function () {
                vSplitter.resize();
                hSplitter.resize();
            });
            @Html.Raw(additionalDocumentReadyScript)
        });
    </script>
</body>
</html>
