﻿@using SplitterOrientation = Telerik.Web.Mvc.UI.SplitterOrientation
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title @(ViewBag.Title != null ? "-" : "") permedia People</title>
    <meta name="robots" content="noindex">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="@Links.Content.blueprint.screen_css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Links.Content.blueprint.print_css" type="text/css" media="print" /> 
    <!--[if lt IE 8]>
        <link href="@Links.Content.blueprint.ie_css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link rel="stylesheet" href="@Links.Content.blueprint.plugins.link_icons.screen_css" type="text/css" media="screen projection" /> 
     <link rel="stylesheet" href="@Links.Content.blueprint.plugins.fancy_type.screen_css" type="text/css" media="screen projection" />
    <script>
        @{
            var appPath = Request.ApplicationPath;
            if (!appPath.EndsWith("/"))
            {
                appPath += "/";
            }
        }
        var appPath = "@appPath";
    </script>
    @System.Web.Optimization.Styles.Render("~/Content/css", "~/Content/jqueryui/css")
    @System.Web.Optimization.Scripts.Render("~/Scripts/js")
    
    @(Html.Telerik().StyleSheetRegistrar()
          .DefaultGroup(group => group
                                     .Add("telerik.common.css")
                                     .Add("telerik.office2010blue.min.css")
                                     
                                     .Combined(true)
                                     .Compress(true)))

    @RenderSection("head", false)
</head>

<body>
@{
    Html.Telerik().Splitter()
        .Name("vSplitter")
        .Orientation(SplitterOrientation.Vertical)
        .ClientEvents(events => events.OnCollapse("onCollapse").OnExpand("onExpand"))
        .Panes(vPanes =>
                   {
                       var headerPaneCookie = Request.Cookies["header-pane"];
                       vPanes.Add()
                           .Scrollable(false)
                           .Resizable(false)
                           .Collapsible(true)
                           .Collapsed(headerPaneCookie != null && headerPaneCookie.Value == "collapsed")
                           .HtmlAttributes(new {id = "header-pane"})
                           .Size("75px")
                           .Content(Html.Partial("_Header").ToString());

                       vPanes.Add()
                           .Scrollable(true)
                           .Content(Html.Telerik().Splitter()
                                        .Name("hSplitter")
                                        .ClientEvents(e => e.OnResize("onResize").OnCollapse("onCollapse").OnExpand("onExpand"))
                                        .Orientation(SplitterOrientation.Horizontal)
                                        .HtmlAttributes(new {style = "height: 100%"})
                                        .Panes(hPanes =>
                                                   {
                                                       var menuPaneCookie = Request.Cookies["menu-pane"];
                                                       hPanes.Add()
                                                           .Size("200px")
                                                           .Collapsible(true)
                                                           .Collapsed(menuPaneCookie != null && menuPaneCookie.Value == "collapsed")
                                                           .HtmlAttributes(new {id = "menu-pane"})
                                                           .Resizable(false)
                                                           .Content(Html.Partial("_Menu").ToString());
                                                       hPanes.Add()
                                                           .Scrollable(true)
                                                           .Content(@<div id="main">
                                                                         <h2>@ViewBag.Title</h2>
                                                                         @RenderBody()
                                                                     </div>);
                                                   }).ToString());
                       vPanes.Add()
                           .Size("22px")
                           .Collapsible(false)
                           .Resizable(false)
                           .Scrollable(false)
                           .Content(@<div id="footer">&copy; signalkontor GmbH</div>);
                   })
        .Render();

    var additionalDocumentReadyScript = TempData["DocumentReadyScript"] as string;           
}
@(Html.Telerik().ScriptRegistrar()
.jQuery(false)
.Globalization(true)
.DefaultGroup(group => group.Combined(true).Compress(true))
.OnDocumentReady(@<text>
                        var vSplitter = $('#vSplitter').data('tSplitter');
                        var hSplitter = $('#hSplitter').data('tSplitter');
                        $(window).bind('resize', function() {
                        vSplitter.resize();
                        hSplitter.resize();
                        });
                        $(".t-window").each(function() {
                        try {
                        $(this).data("tWindow").center();
                        } catch(exception) {}
                        });
                    @Html.Raw(additionalDocumentReadyScript)
                    </text>))
</body>
</html>
