@if(Request.IsAuthenticated) {
    <text>Welcome <b>@Context.User.Identity.Name</b>!
    [ @Html.ActionLink("Log Off", MVC.Account.LogOff()) ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", MVC.Account.LogOn()) ]
}