﻿@using SeismitoadShared.Extensions
@model MasterInstance.Models.ViewModels.IPropertySelectorModel

<script type="text/javascript" language="javascript">
    $(function() {
        $(".connectedSortable").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });  
</script>

<div id="propertySelector" class="ui-corner-all ui-widget-content sk-widget-content">
    <div class="span-14">
        <div class="editor-label">
            Verfügbare Spalten
        </div>    
        <ul class="connectedSortable">
            @foreach (var item in Model.Properties.Where(e => !e.Selected))
            {
                <li class="ui-state-default ui-corner-all"><input type="hidden" name="P" value="@item.Value" />@item.Text</li>
            }
        </ul>
    </div>
    
    @using (Html.BeginForm("SetVisibleProperties", Model.ControllerName, Request.QueryString.ToRouteValueDictionary()))
    {
        <div class="span-4">
            <div class="editor-label">
                Angezeigte Spalten
            </div>    
            <ol class="connectedSortable">
                @foreach (var property in Model.VisibleProperties)
                {
                    <li class="ui-state-default ui-corner-all"><input type="hidden" name="P" value="@property" />@Model.Properties.Single(e => e.Value == property).Text</li>
                }
            </ol>
        </div>
   
        <div class="clear"></div>
        <div class="editor-label">
            &nbsp;
        </div>
        <div class="editor-field">
            <button type="submit" class="t-button" name="Submit" value="True">Anwenden</button>
            <button type="submit" class="t-button" name="Reset" value="True" >Zurücksetzen</button>
        </div>
    }
</div>
