﻿<div data-role="tabstrip"
     data-animation="false">
    <ul>
        <li class="k-state-active">Basisdaten</li>
        <li>Kommunikation</li>
        <li>Details</li>
        <li>Umkreissuche</li>
    </ul>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Status</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="title" value="" data-bind="checked: state" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="title" value="0" data-bind="checked: state" />
                    Aktiv
                </label>
                <label>
                    <input type="radio" name="title" value="100" data-bind="checked: state" />
                    Geschlossen
                </label>
                <label>
                    <input type="radio" name="title" value="200" data-bind="checked: state" />
                    Gesperrt
                </label>
            </div>

            <div class="editor-label">
                <label>Typ</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: locationTypeId, source: locationTypeSource"
                       data-value-primitive="true"
                       data-value-field="Value"
                       data-text-field="Text" />
            </div>
            
            <div class="editor-label">
                <label>Channel</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: locationGroupId, source: locationGroupSource"
                       data-value-primitive="true"
                       data-value-field="Value"
                       data-text-field="Text" />
            </div>

            <div class="editor-label">
                <label>Name</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: name" />
            </div>

            <div class="editor-label">
                <label>Zusatz</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: name2" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Straße</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: street" />
            </div>

            <div class="editor-label">
                <label>Straße Zusatz</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: street2" />
            </div>

            <div class="editor-label" id="postalCodeLabel">
                <label>PLZ</label>
                &nbsp;<span data-bind="click: pc1Click, style: { color: pc1Color }">von / bis</span> |
                <span data-bind="click: pc2Click, style: { color: pc2Color }">beginnt mit</span>
            </div>
            <div class="editor-field" data-bind="visible: pc1Visible">
                Von <input data-bind="value: postalCodeMin" class="narrow k-textbox" placeholder="z.B. D-41000" />
                bis <input data-bind="value: postalCodeMax" class="narrow k-textbox" placeholder="z.B. D-59999" />
            </div>
            <div class="editor-field" data-bind="invisible: pc1Visible">
                <input class="k-textbox" data-bind="value: postalCode" placeholder="z.B. D-224" />
            </div>            

            <div class="editor-label">
                <label>Ort</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: city" />
            </div>

            <div class="editor-label">
                <label>Bundesland</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: stateProvinceId, source: stateProvinceSource"
                       data-value-primitive="true"
                       data-value-field="Value"
                       data-text-field="Text" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Centerverwaltung - Straße</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: centerManagementStreet" />
            </div>

            <div class="editor-label">
                <label>Centerverwaltung - PLZ</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: centerManagementPostalCode" />
            </div>

            <div class="editor-label">
                <label>Centerverwaltung - Ort</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: centerManagementCity" />
            </div>
            <div class="editor-label">
                <label>Bemerkungen</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: notes" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Telefon</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: phone" />
            </div>

            <div class="editor-label">
                <label>Fax</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: fax" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>E-Mail</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: email" />
            </div>

            <div class="editor-label">
                <label>Website</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: website" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Besucher / Tag (mindestens)</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: visitorFrequency" />
            </div>

            <div class="editor-label">
                <label>Gesamtfläche (in qm mindestens)</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: area" />
            </div>

            <div class="editor-label">
                <label>Verkaufsfläche  (in qm mindestens)</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: sellingArea" />
            </div>

            <div class="editor-label">
                <label>Preise Aktionsfläche</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: campaignAreaPrices" />
            </div>

            <div class="editor-label">
                <label>Publikumsniveau</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="audience" value="" data-bind="checked: audience" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="audience" value="1" data-bind="checked: audience" />
                    Niedrig
                </label>
                <label>
                    <input type="radio" name="audience" value="2" data-bind="checked: audience" />
                    Mittel
                </label>
                <label>
                    <input type="radio" name="audience" value="3" data-bind="checked: audience" />
                    Gehoben
                </label>
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Eröffnungsjahr</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: opening" />
            </div>

            <div class="editor-label">
                <label>Einzugsgebiet (mindestens)</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: catchmentArea" />
            </div>

            <div class="editor-label">
                <label>Parkplätze (mindestens)</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: parking" />
            </div>

            <div class="editor-label">
                <label>Standfläche Außenbereich</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="outdoorArea" value="" data-bind="checked: outdoorArea" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="outdoorArea" value="true" data-bind="checked: outdoorArea" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="outdoorArea" value="false" data-bind="checked: outdoorArea" />
                    Nein
                </label>
            </div>
            <div class="editor-label">
                <label>Vorhandene Retailer</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: retailers" />
            </div>

            <div class="editor-label">
                <label>WLAN vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="wiFiAvailable" value="" data-bind="checked: wiFiAvailable" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="wiFiAvailable" value="true" data-bind="checked: wiFiAvailable" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="wiFiAvailable" value="false" data-bind="checked: wiFiAvailable" />
                    Nein
                </label>
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Größe Konferenzräume</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: conferenceRoomSize" />
            </div>

            <div class="editor-label">
                <label>Kostenübernahme möglich</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="costTransferPossible" value="" data-bind="checked: costTransferPossible" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="costTransferPossible" value="true" data-bind="checked: costTransferPossible" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="costTransferPossible" value="false" data-bind="checked: costTransferPossible" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Zimmerpreise</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: roomRates" />
            </div>
                
            <div class="editor-label">
                <label>Kosten Konferenztechnik</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: conferenceEquipmentCost" />
            </div>
                
            <div class="editor-label">
                <label>Kosten Tagungspaket</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: conferencePackageCost" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Standort</label>
            </div>
            <div class="editor-field">
                <input id="location-input" class="k-textbox" type="text" data-bind="value: location">
            </div>

            <div class="editor-label">
                <label>Umkreis um Standort</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: radius, source: radiusSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>
        </div>
    </div>
</div>
