﻿<div data-role="tabstrip"
     data-animation="false">
    <ul>
        <li class="k-state-active">Persönliche Daten</li>
        <li>Bodyprofil und Talente</li>
        <li>Vertrag und Gewerbe</li>
        <li>Mobilität</li>
        <li>Ausbildung und Qualifikation</li>
        <li>Auftragswunsch</li>
        <li>Projekte / Schulungen / Standort</li>
    </ul>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Status</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="state" value="" data-bind="checked: state" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="state" value="0" data-bind="checked: state" />
                    Aktiv
                </label>
                <label>
                    <input type="radio" name="state" value="300" data-bind="checked: state" />
                    Neu
                </label>
                <label>
                    <input type="radio" name="state" value="400" data-bind="checked: state" />
                    Fremdpersonal
                </label>
            </div>

            <div class="editor-label">
                <label>Anrede</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="title" value="" data-bind="checked: title" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="title" value="Frau" data-bind="checked: title" />
                    Frau
                </label>
                <label>
                    <input type="radio" name="title" value="Herr" data-bind="checked: title" />
                    Herr
                </label>
                <label>
                    <input type="radio" name="title" value="Unbekannt" data-bind="checked: title" />
                    Unbekannt
                </label>
            </div>

            <div class="editor-label">
                <label>Vorname</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: firstname" />
            </div>

            <div class="editor-label">
                <label>Nachname</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: lastname" />
            </div>

            <div class="editor-label">
                <label>Alter</label>
            </div>
            <div class="editor-field">
                Von
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-max="120"
                       data-bind="value: ageMin"
                       class="narrow" />
                bis
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-max="120"
                       data-bind="value: ageMax"
                       class="narrow" />
                Jahre
            </div>

            <div class="editor-label">
                <label>Email</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: email" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Skype</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: skype" />
            </div>

            <div class="editor-label">
                <label>Eigene Website</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: website" />
            </div>

            <div class="editor-label">
                <label>Mobil</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: mobile" />
            </div>

            <div class="editor-label">
                <label>Festnetz</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: phone" />
            </div>

            <div class="editor-label">
                <label>Fax</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: fax" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Straße</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: street" />
            </div>

            <div class="editor-label" id="postalCodeLabel">
                <label>PLZ</label>
                &nbsp;<span data-bind="click: pc1Click, style: { color: pc1Color }">von / bis</span> |
                <span data-bind="click: pc2Click, style: { color: pc2Color }">beginnt mit</span>
            </div>
            <div class="editor-field" data-bind="visible: pc1Visible">
                Von <input data-bind="value: postalCodeMin" class="narrow k-textbox" placeholder="z.B. 41000" />
                bis <input data-bind="value: postalCodeMax" class="narrow k-textbox" placeholder="z.B. 59999" />
            </div>
            <div class="editor-field" data-bind="invisible: pc1Visible">
                <input class="k-textbox" data-bind="value: postalCode" placeholder="z.B. 224" />
            </div>

            <div class="editor-label">
                <label>Ort</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: city" />
            </div>

            <div class="editor-label">
                <label>Land</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: country, source: countries"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Bemerkungsfeld</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: personalDataRemark" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Körpergröße</label>
            </div>
            <div class="editor-field">
                Von
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-max="250"
                       data-bind="value: heightMin"
                       class="narrow" />
                bis
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-max="250"
                       data-bind="value: heightMax"
                       class="narrow" />
                cm
            </div>

            <div class="editor-label">
                <label>Konfektionsgröße</label>
            </div>
            <div class="editor-field">
                Von
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="32"
                       data-max="122"
                       data-bind="value: sizeMin"
                       class="narrow" />
                bis
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="32"
                       data-max="122"
                       data-bind="value: sizeMax"
                       class="narrow" />
            </div>

            <div class="editor-label">
                <label>T-Shirt-Größe</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: shirtSize, source: shirtSizes"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Jeansweite</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: jeansWidth, source: jeansWidths"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Jeanslänge</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: jeansLength, source: jeansLengths"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Schuhgröße</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: shoeSize, source: shoeSizes"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Haarfarbe</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: hairColor, source: hairColors"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Sichtbare Tattoos</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="visibleTattoos" value="" data-bind="checked: visibleTattoos" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="visibleTattoos" value="true" data-bind="checked: visibleTattoos" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="visibleTattoos" value="false" data-bind="checked: visibleTattoos" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Gesichtspiercing/s</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="facialPiercing" value="" data-bind="checked: facialPiercing" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="facialPiercing" value="true" data-bind="checked: facialPiercing" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="facialPiercing" value="false" data-bind="checked: facialPiercing" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Künstlerische Fähigkeiten</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: artisticAbilities, source: artisticAbilitiesSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Gastronomische Fähigkeiten</label>
            </div>
            <div class="editor-field">
                <div class="editor-field">
                    <input data-role="dropdownlist"
                           data-bind="value: gastronomicAbilities, source: gastronomicAbilitiesSource"
                           data-value-primitive="true"
                           data-value-field="value"
                           data-text-field="text" />
                </div>
            </div>

            <div class="editor-label">
                <label>Aktivitäten / Sport</label>
            </div>
            <div class="editor-field">
                <div class="editor-field">
                    <input data-role="dropdownlist"
                           data-bind="value: sports, source: sportsSource"
                           data-value-primitive="true"
                           data-value-field="value"
                           data-text-field="text" />
                </div>
            </div>

            <div class="editor-label">
                <label>Weitere Talente und Hobbies</label>
            </div>
            <div class="editor-field">
                <div class="editor-field">
                    <input data-role="dropdownlist"
                           data-bind="value: otherAbilities, source: otherAbilitiesSource"
                           data-value-primitive="true"
                           data-value-field="value"
                           data-text-field="text" />
                </div>
            </div>

            <div class="editor-label">
                <label>Sonstiges</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: otherAbilitiesText" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Rahmenvertrag</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="skeletonContract" value="" data-bind="checked: skeletonContract" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="skeletonContract" value="true" data-bind="checked: skeletonContract" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="skeletonContract" value="false" data-bind="checked: skeletonContract" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Kopie Gewerbeschein vorhanden?</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="copyTradeLicense" value="" data-bind="checked: copyTradeLicense" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="copyTradeLicense" value="true" data-bind="checked: copyTradeLicense" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="copyTradeLicense" value="false" data-bind="checked: copyTradeLicense" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Bist du berechtigt eigene Rechnungen zu stellen?</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="validTradeLicense" value="" data-bind="checked: validTradeLicense" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="validTradeLicense" value="true" data-bind="checked: validTradeLicense" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="validTradeLicense" value="false" data-bind="checked: validTradeLicense" />
                    Nein
                </label>
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Finanzamt, Sitz/Ort</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: taxOfficeLocation" />
            </div>

            <div class="editor-label">
                <label>Steuernummer</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: taxNumber" />
            </div>

            <div class="editor-label">
                <label>Ust-abzugsfähig?</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="turnoverTaxDeductible" value="" data-bind="checked: turnoverTaxDeductible" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="turnoverTaxDeductible" value="true" data-bind="checked: turnoverTaxDeductible" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="turnoverTaxDeductible" value="false" data-bind="checked: turnoverTaxDeductible" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Fragebogen zur Selbstständigkeit vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="freelancerQuestionaire" value="" data-bind="checked: freelancerQuestionaire" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="freelancerQuestionaire" value="true" data-bind="checked: freelancerQuestionaire" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="freelancerQuestionaire" value="false" data-bind="checked: freelancerQuestionaire" />
                    Nein
                </label>
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Gesundheitszeugnis</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="healthCertificate" value="" data-bind="checked: healthCertificate" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="healthCertificate" value="true" data-bind="checked: healthCertificate" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="healthCertificate" value="false" data-bind="checked: healthCertificate" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Kopie Gesundheitszeugnis vorhanden?</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="copyHealthCertificate" value="" data-bind="checked: copyHealthCertificate" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="copyHealthCertificate" value="true" data-bind="checked: copyHealthCertificate" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="copyHealthCertificate" value="false" data-bind="checked: copyHealthCertificate" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Kopie Personalausweis vorhanden?</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="copyIdentityCard" value="" data-bind="checked: copyIdentityCard" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="copyIdentityCard" value="1" data-bind="checked: copyIdentityCard" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="copyIdentityCard" value="0" data-bind="checked: copyIdentityCard" />
                    Nein
                </label>
                <label>
                    <input type="radio" name="copyIdentityCard" value="2" data-bind="checked: copyIdentityCard" />
                    Verweigert
                </label>
            </div>

            <div class="editor-label">
                <label>Bemerkungen</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: comment" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Führerschein vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="driversLicense" value="" data-bind="checked: driversLicense" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="driversLicense" value="true" data-bind="checked: driversLicense" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="driversLicense" value="false" data-bind="checked: driversLicense" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Führerschein seit</label>
            </div>
            <div class="editor-field">
                <input data-role="numerictextbox"
                       data-format="n0"
                       data-min="0"
                       data-bind="value: driversLicenseSince"
                       class="narrow" />
                Jahren
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Führerscheinklasse (neue Klassen)</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: driversLicenseClass1, source: driversLicenseClass1Source"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Führerscheinklasse (alte Klassen)</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: driversLicenseClass2, source: driversLicenseClass2Source"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>
            <div class="editor-label">
                <label>Bemerkung Führerschein/Fahrpraxis</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: driversLicenseRemark" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Digitale Fahrerkarte vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="hasDigitalDriversCard" value="" data-bind="checked: hasDigitalDriversCard" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="hasDigitalDriversCard" value="true" data-bind="checked: hasDigitalDriversCard" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="hasDigitalDriversCard" value="false" data-bind="checked: hasDigitalDriversCard" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>PKW vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="isCarAvailable" value="" data-bind="checked: isCarAvailable" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="isCarAvailable" value="true" data-bind="checked: isCarAvailable" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="isCarAvailable" value="false" data-bind="checked: isCarAvailable" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Bahncard vorhanden</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="isBahncardAvailable" value="" data-bind="checked: isBahncardAvailable" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="isBahncardAvailable" value="true" data-bind="checked: isBahncardAvailable" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="isBahncardAvailable" value="false" data-bind="checked: isBahncardAvailable" />
                    Nein
                </label>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Schulbildung</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: education, source: educationSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Abgeschlossene Berufsausbildung</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: apprenticeships, source: apprenticeshipsSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Fachrichtung/Abschluss Berufsausbildung</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: otherCompletedApprenticeships" />
            </div>

            <div class="editor-label">
                <label>Studium</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="studies" value="" data-bind="checked: studies" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="studies" value="true" data-bind="checked: studies" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="studies" value="false" data-bind="checked: studies" />
                    Nein
                </label>
            </div>

            <div class="editor-label">
                <label>Fachrichtung/Abschluss Studium</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: studiesDetails" />
            </div>

            <div class="editor-label">
                <label>Berufserfahrung</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: workExperience" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Deutsch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesGerman, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Englisch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesEnglish, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Spanisch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesSpanish, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Franzözisch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesFrench, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Italienisch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesItalian, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Türkisch</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: languagesTurkish, source: languageKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Sonstige</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: languagesOther" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Software-Kentnisse</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: softwareKnownledge, source: itKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Welche?</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: softwareKnownledgeDetails" />
            </div>

            <div class="editor-label">
                <label>Hardware-Kentnisse</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: hardwareKnownledge, source: itKnowledgeSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Welche?</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: hardwareKnownledgeDetails" />
            </div>

            <div class="editor-label">
                <label>Schulungen intern</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: internalTraining" />
            </div>

            <div class="editor-label">
                <label>Schulungen extern</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: externalTraining"/>
            </div>

            <div class="editor-label">
                <label>Eignung als Teamleiter</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="teamleaderQualification" value="" data-bind="checked: teamleaderQualification" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="teamleaderQualification" value="true" data-bind="checked: teamleaderQualification" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="teamleaderQualification" value="false" data-bind="checked: teamleaderQualification" />
                    Nein
                </label>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Bevorzugte Promotion Aktivitäten</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: preferredTasks, source: preferredTasksSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Bevorzugte Promotionarten</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: preferredTypes, source: preferredTypesSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>


            <div class="editor-label">
                <label>Berufserfahrung</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: workExperience" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Bevorzugte Arbeitszeiten</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: preferredWorkSchedule, source: preferredWorkScheduleSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Reisebereitschaft</label>
            </div>
            <div class="editor-field" style="line-height: 26px">
                <label>
                    <input type="radio" name="travelWillingness" value="" data-bind="checked: travelWillingness" />
                    Beliebig
                </label>
                <label>
                    <input type="radio" name="travelWillingness" value="true" data-bind="checked: travelWillingness" />
                    Ja
                </label>
                <label>
                    <input type="radio" name="travelWillingness" value="false" data-bind="checked: travelWillingness" />
                    Nein
                </label>
            </div>

        </div>
        <div class="column">
            <div class="editor-label">
                <label>Übernachtung möglich im Großraum</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: accommodationPossible1, source: accommodationPossible1Source"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>

            <div class="editor-label">
                <label>Übernachtung möglich in folgenden Städten</label>
            </div>
            <div class="editor-field">
                <input type="text" class="k-textbox" data-bind="value: accommodationPossible2" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="column">
            <div class="editor-label">
                <label>Kunde / Projekt</label>
            </div>
            <div class="editor-field">
                <input class="k-textbox" type="text" data-bind="value: project">
            </div>

            <div class="editor-label">
                <label>Schulung</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-min-length="3"
                       data-option-label="Beliebig"
                       data-filter="contains"
                       data-suggest="true"
                       data-bind="value: training, source: trainingSource"
                       data-value-primitive="true"
                       data-value-field="Value"
                       data-text-field="Text" />
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                <label>Standort</label>
            </div>
            <div class="editor-field">
                <input id="location-input" class="k-textbox" type="text" data-bind="value: location">
            </div>

            <div class="editor-label">
                <label>Umkreis um Standort</label>
            </div>
            <div class="editor-field">
                <input data-role="dropdownlist"
                       data-bind="value: radius, source: radiusSource"
                       data-value-primitive="true"
                       data-value-field="value"
                       data-text-field="text" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>