﻿@{
    Layout = null;
}
<html>
    <head>
        <title>Bitte warten...</title>
        <script type="text/javascript" language="javascript">
            window.top.location.href = "@Html.Raw(Model)";
        </script>
    </head>
    <body>
        <p>Bitte warten...</p>
    </body>
</html>
