﻿@model SeismitoadModel.Customer
@{
    Layout = null;
}
<html>
    <head>
        <title>Bitte warten...</title>
        <script type="text/javascript" language="javascript">
            window.parent.refreshCustomerDropdown(@Model.Id);
        </script>
    </head>
    <body>
        <p></p>
    </body>
</html>
