﻿@using SeismitoadShared.Models.ViewModels
@model SubmitViewModel
           
<div class="submit">
    @if (Model.ShowBackButton)
    {
        <a class="t-button tab-backward" href="@Model.GetBackButtonHref()">@Model.BackButtonText</a>
    }
    <input class="t-button tab-forward" type="submit" value="@Model.SubmitButtonText" />
</div>