﻿@using SeismitoadModel
@using SeismitoadModel.DatabaseContext
@model MasterInstance.Models.LogOnModel
@{
    ViewBag.Title = "Anmeldung";
}

@section head {
    <style>
        .editor-field { height: auto }
    </style>
}

@if (User.Identity.IsAuthenticated && Request.Params.AllKeys.Contains("ReturnUrl"))
{
    <div style="background-color: #fb8888; border-radius: 10px; padding: 10px; width: 35em; margin-bottom: 10px;">
        Nicht erlaubt. Bitte mit einem Account mit ausreichenden Rechten anmelden.
    </div>
}

@Html.ValidationSummary()

@using (Html.BeginForm()) {
    <div class="span-6 append-1">
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="span-6 append-1">
        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="span-6">
        <div class="editor-label">
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
    </div>
    <div class="span-6 append-1 clear" style="margin-top: 10px;">
        <button class="t-button" type="submit" value="Anmelden">Anmelden</button>
    </div>
}
<script>
    function cleanupLocalStorage(ids) {
        var i;
        for (i = 0; i < ids.length; i++) {
            var id = ids[i];
            localStorage.removeItem("acquisition" + id + "-grid-options-" + id);
            localStorage.removeItem("acquisition" + id + "-grid-options-" + id + "_version");
            localStorage.removeItem("promoter-grid-options-" + id);
            localStorage.removeItem("promoter-grid-options-" + id + "_version");
            localStorage.removeItem(appPath + "CM/CampaignLocation/Index/" + id);
            localStorage.removeItem(appPath + "CM/CampaignLocation/Index/" + id + "_extra");
            localStorage.removeItem(appPath + "CM/CampaignLocation/Index/" + id + "_version");
        }
        try {
            var props = Object.getOwnPropertyNames(localStorage);
            for (i = 0; i < props.length; i++) {
                var storedValue = localStorage.getItem(props[i]);
                try {
                    JSON.parse(storedValue);
                } catch (invalidJsonException) {
                    localStorage.removeItem(props[i]);
                }
            }
        } catch (ex) {
            logMessage("Object.getOwnPropertyNames(localStorage) threw exception");
        }
    }
    @using(var db = new SeismitoadDbContext())
    {
        var ids = string.Join(", ", db.Campaigns
            .Where(e => e.State >= CampaignState.Archived)
            .Select(e => e.Id));
        <text>
    cleanupLocalStorage([@ids]);
        </text>
    }
</script>