@model AssignmentRequestInstance.Models.LoginModel

@{
    ViewBag.Title = "Anmeldung";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Gib Deinen Benutzernamen und Dein Passwort ein.</h2>
</hgroup>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account", new {ReturnUrl = Request.QueryString["ReturnUrl"] })) {
    @Html.ValidationSummary(true, "Login fehlgeschlagen. Bitte korrigiere Deine Einngaben.")

    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.UserName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CheckBoxFor(m => m.RememberMe)
            </td>
            <td colspan="2">
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </td>
        </tr>
    </table>
    <input type="submit" value="Anmelden" />
}
