﻿@using MasterInstance.Areas.CM.Models
@model AdvantageDashboardViewModel
<style>
    #grid .k-grid-content td span {
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<script>
    function getFilter() {
        return {
            from: kendo.toString($("#from").data("kendoDatePicker").value(), "yyyy-MM-dd"),
            til: kendo.toString($("#til").data("kendoDatePicker").value(), "yyyy-MM-dd"),
        }
    }

    function filterButtonClick() {
        $("#grid").data("kendoGrid").dataSource.read();
    }

    function ausfallquote() {
        var aggregates = $("#grid").data("kendoGrid").dataSource.aggregates(),
            gesamt = aggregates.ETgesamt;
    
        return gesamt.sum !== 0
            ? kendo.format("{0:\#,\#\#0.00} %", 100 * aggregates.ETausgefallen.sum / aggregates.ETgesamt.sum)
            : "0,00 %";
    }
</script>
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Statistiken");
    <h3 style="float:left">@ViewBag.Title</h3>
    <div style="float: left; margin: 0 20px; line-height: 24px">
        Anzahl Aktionsorte
        <strong style="margin-right: 10px">@Model.CampaignLocationCount.ToString("##,##0")</strong>
        davon unbesetzt
        <strong style="margin-right: 10px">@Model.UnassignedCampaignLocationCount.ToString("##,##0")</strong>
        davon teilweise besetzt
        <strong style="margin-right: 10px">@Model.PartiallyAssignedCampaignLocationCount.ToString("##,##0")</strong>
        davon vollständig besetzt
        <strong style="margin-right: 10px">@Model.FullyAssignedCampaignLocationCount.ToString("##,##0")</strong>
    </div>
    <div style="float:right">
        Nur Aktionstage von
        @Html.Kendo().DatePicker().Name("from")
        bis
        @Html.Kendo().DatePicker().Name("til")
        @Html.Kendo().Button().Name("filter").Content("Filtern").Events(events => events.Click("filterButtonClick"))
    </div>
    <div class="clear"></div>
    Html.Kendo().Grid<StatisticsViewModel>()
        .Name("grid")
        .Sortable()
        .Filterable()
        .Pageable()
        .Scrollable(scrolling => scrolling.Height(400))
        .DataSource(d => d.Ajax()
            .PageSize(200)
            .Aggregates(a =>
            {
                a.Add(e => e.ETausgefallen).Sum();
                a.Add(e => e.ETverschoben).Sum();
                a.Add(e => e.ETdurchgeführt).Sum();
                a.Add(e => e.ETgeplant).Sum();
                a.Add(e => e.ETgesamt).Sum();
            })
            .Read(read => read.Action("_Read", "Statistics", new { campaignId = Model.CampaignId }).Data("getFilter"))
            .Sort(sort => sort.Add(e => e.LocationPostalCode))
        )
        .Columns(c =>
        {
            c.Bound(e => e.LocationName)
                .ClientTemplate("<span title=\"#= LocationName #\">#= LocationName #</span>")
                .ClientFooterTemplate("Summe")
                .Title("Name")
                .Filterable(action => action.Operators(op => op.ForString(str => str
                    .Clear()
                    .Contains("Beinhaltet...")
                    .DoesNotContain("Ohne...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.LocationCity).Title("Stadt")
                .ClientTemplate("<span title=\"#= LocationCity #\">#= LocationCity #</span>")
                .Width(130)
                .Filterable(action => action.Operators(op => op.ForString(str => str
                    .Clear()
                    .Contains("Beinhaltet...")
                    .DoesNotContain("Ohne...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.LocationStreet).Title("Straße")
                .ClientTemplate("<span title=\"#= LocationStreet #\">#= LocationStreet #</span>")
                .Width(180)
                .Filterable(action => action.Operators(op => op.ForString(str => str
                    .Clear()
                    .Contains("Beinhaltet...")
                    .DoesNotContain("Ohne...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.LocationPostalCode).Title("PLZ")
                .Width(80)
                .Filterable(action => action.Operators(op => op.ForString(str => str
                    .Clear()
                    .Contains("Beinhaltet...")
                    .DoesNotContain("Ohne...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.ETausgefallen).Title("ET ausgefallen")
                .ClientFooterTemplate("&sum; #= kendo.format('{0:\\#,0}', sum) #")
                .Width(120)
                .Filterable(action => action.Operators(op => op.ForNumber(num => num
                    .Clear()
                    .IsGreaterThan("Größer als...")
                    .IsLessThan("Kleiner als...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.ETverschoben).Title("ET verschoben")
                .ClientFooterTemplate("&sum; #= kendo.format('{0:\\#,0}', sum) #")
                .Width(120)
                .Filterable(action => action.Operators(op => op.ForNumber(num => num
                    .Clear()
                    .IsGreaterThan("Größer als...")
                    .IsLessThan("Kleiner als...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.ETdurchgeführt).Title("ET durchgeführt")
                .ClientFooterTemplate("&sum; #= kendo.format('{0:\\#,0}', sum) #")
                .Width(120)
                .Filterable(action => action.Operators(op => op.ForNumber(num => num
                    .Clear()
                    .IsGreaterThan("Größer als...")
                    .IsLessThan("Kleiner als...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.ETgeplant).Title("ET geplant")
                .ClientFooterTemplate("&sum; #= kendo.format('{0:\\#,0}', sum) #")
                .Width(100)
                .Filterable(action => action.Operators(op => op.ForNumber(num => num
                    .Clear()
                    .IsGreaterThan("Größer als...")
                    .IsLessThan("Kleiner als...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.ETgesamt).Title("Summe ET")
                .ClientFooterTemplate("&sum; #= kendo.format('{0:\\#,0}', sum) #")
                .Width(110)
                .Filterable(action => action.Operators(op => op.ForNumber(num => num
                    .Clear()
                    .IsGreaterThan("Größer als...")
                    .IsLessThan("Kleiner als...")
                    .IsEqualTo("Ist genau..."))));
            c.Bound(e => e.Ausfallquote)
                .ClientTemplate("#= kendo.format('{0:0.00%}', Ausfallquote || 0) #")
                .ClientFooterTemplate("#= ausfallquote() #")
                .Title("Ausfallquote")
                .Width(110);
        })
        .Render();
}
<script type="text/javascript" src="~/Scripts/GridResizer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var gridElement = $("#grid");

        // Dieser Code soll erst nach allen $(document).ready()'s laufen, damit z.B. das Kendo-Grid schon initialisiert ist.
        window.setTimeout(function () {
            var gridResizer = new GridResizer($("#hSplitter"), gridElement);
            gridResizer.resize();
        }, 0);
    });
</script>