﻿@using MasterInstance.Areas.CM.Models
@using ObjectTemplate.Extensions
@model ExportAssignmentModel
@{
    ViewBag.Title = Helpers.PageTitle(Model.CampaignId, "Aktionstage exportieren");
}
<h3>@ViewBag.Title</h3>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div class="span-4">
        <div class="editor-label">
            @Html.LabelFor(e => e.Start)
        </div>
        <div class="editor-field">
            @Html.Kendo().DatePickerFor(e => e.Start)
        </div>
    </div>
    <div class="span-4">    
        <div class="editor-label">
            @Html.LabelFor(e => e.End)
        </div>
        <div class="editor-field">
            @Html.Kendo().DatePickerFor(e => e.End)
        </div>
    </div>
    <div class="span-5">    
        <div class="editor-label">
            @Html.LabelFor(e => e.AssignmentFilterExport)
        </div>
        <div class="editor-field">
            @Html.Kendo().MultiSelectFor(e => e.AssignmentFilterExport).BindTo(new AssignmentFilterExport().ToSelectList())
        </div>
    </div>
    <div class="clear vspace20px"></div>
    <button class="k-button" type="submit">Auswahl Exportieren</button>
    <br/>   
}