﻿@model MasterInstance.Areas.Migration.Models.ImportEmployeeProfileViewModel

@using (Html.BeginForm()) { 
    @Html.EditorForModel()

    @Html.ActionLink("Zurück", MVC.Migration.Failed.Index(), new { @class = "k-button" })
    @Html.ActionLink("Löschen und zurück", MVC.Migration.Failed.DeleteImport(Model.Id,Model.Status,false), new { @class = "k-button", style="margin-left:9px" })
    @Html.ActionLink("Löschen und weiter", MVC.Migration.Failed.DeleteImport(Model.Id,Model.Status,true), new { @class = "k-button", style="margin-left:9px" })
    <button type="submit" class="k-button right" id="getNext" name="getNext" value="true">Speichern und weiter</button>
    <button type="submit" class="k-button right" id="getNext" name="getNext" value="false" style="margin-right:9px">Speichern und zurück</button>
}