﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.Migration.Models
<h3>Nicht importierte Promoter</h3>
@{
    const string cellWithToolTipFmt = "<span title='#= {0} #'><nobr>#= {0} #</nobr></span>";
    Html.Kendo().Grid<doaLoginViewModel>()
        .Name("failed_Employees_Grid")
        .AutoBind(false)
        .Pageable(pager => pager.Enabled(true).PageSizes(false))
        .Scrollable(scrollable => scrollable.Height(500))
        .Sortable(e => e.SortMode(GridSortMode.MultipleColumn))
        .Filterable()
        .DataSource(src => src.Ajax()
            .Read(read => read.Action("_Read", "Failed"))
            .PageSize(25)
            .Batch(true))
        .Columns(col =>
        {
            var migrationFailed = Url.Content("~/Migration/Failed");
            var detailsBtn =
                "<a class='open-popup k-button' href='" + migrationFailed + "/Details?id=#= id #&status=#= ds_status #' target='_blank'>Details</a>";
            var importBtn =
                "<a class='open-import k-button' href='" + migrationFailed + "/Import?id=#= id #&status=#= ds_status #'>Importieren</a>";
            var deleteBtn =
                "<a class='open-delete delete-button k-button' href='" + migrationFailed + "/_Delete?id=#= id #&status=#= ds_status #' target='_blank'>Löschen</a>";
            col.Bound(e => e.login_name).Title("Benutzername").Width(120);
            col.Bound(e => e.vorname).ClientTemplate(string.Format(cellWithToolTipFmt, "vorname")).Title("Vorname").Width(180);
            col.Bound(e => e.nachname).ClientTemplate(string.Format(cellWithToolTipFmt, "nachname")).Title("Nachname").Width(180);
            col.Bound(e => e.tel_nummer).ClientTemplate("#= tel_vorwahl # / #= tel_nummer #").Title("Telefonnummer").Sortable(false).Width(140);
            col.Bound(e => e.mobil_nummer).ClientTemplate("#= mobil_vorwahl # / #= mobil_nummer #").Title("Mobilnummer").Sortable(false).Width(140);
            col.Bound(e => e.email1).Title("Email-Adresse");
            col.Bound(e => e.email2).Title("Email-Adresse 2");
            col.Bound(e => e.last_login).Format("{0:d} - {0:t}").Title("Letzter Login").Width(120);
            col.Bound(e => e.ds_status).ClientTemplate(detailsBtn + importBtn + deleteBtn).Title("").Filterable(false).Width(240);
        })
        .Render();

    Html.Kendo().Window()
        .Name("details")
        .Modal(true)
        .Draggable(true)
        .Visible(false)
        .Title("Details")
        .Render();
}
<script src="/Scripts/GridResizer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#failed_Employees_Grid").on("click", "a.open-popup", function (e) {
            var kWindow = $("#details").data("kendoWindow");
            kWindow.refresh($(this).attr("href"));
            kWindow.open().center();
            e.preventDefault();
        });
        $("#failed_Employees_Grid").on("click", "a.open-delete", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.post(url, function (data) {
                alert(data);
            });
            var kGrid = $("#failed_Employees_Grid").data("kendoGrid");
            kGrid.dataSource.read();
            kGrid.refresh();
        });

        window.setTimeout(function () {
            var gridResizer = new GridResizer($("#hSplitter"), $("#failed_Employees_Grid"), function (height) {
                var grid = $("#failed_Employees_Grid").data("kendoGrid"),
                    total = $("#failed_Employees_Grid .k-grid-content").height(),
                    rows = Math.floor(total / 32) - 3;
                grid.dataSource.pageSize(rows);
                grid.refresh();
            });
            gridResizer.resize();
        }, 0);
    });
</script>