﻿@model Dictionary<MasterInstance.Areas.Migration.Controllers.FailedController.MatchingEmployee,List<MasterInstance.Areas.Migration.Controllers.FailedController.MatchingEmployee>>

<table>
@foreach (var user in Model)
{
    <tr>
        <td rowspan="@user.Value.Count">
            @user.Key.Id<br/>
            @user.Key.Firstname<br/>
            @user.Key.Lastname
        </td>
        @foreach (var matchingUser in user.Value)
        {
            <td>
                @matchingUser.Id<br/>
                @matchingUser.Firstname<br/>
                @matchingUser.Lastname
            </td>
            @Html.Raw("</tr><tr>")
        }
    </tr>
    <tr>
        <td colspan="2"><div style="height: 1px;background: #000"></div></td>
    </tr>
}
<tr><td>Ingesamt @Model.Count doppelte Einträge</td></tr>
</table>