﻿@model MasterInstance.Models.ViewModels.CampaignWizardModel
@section head
{
    <style type="text/css">
        h2 {
            float: left;
            margin-top: 5px;
        }
    </style>
}
@{
    ViewBag.Title = string.Format("Schritt {0}/5", Model.Step);
    var htmlAttributes = new {style = "pointer-events: none; cursor: default; color: #777"};

    if (Model.Step > 1)
    {
        <span class="buttonPrev">
            <a class="t-button" href="@Url.Action(MVC.CampaignWizard.Step(Model.CampaignId, Model.Step - 1))"><span class="t-icon t-arrow-prev"></span> Zurück</a>
        </span>
    }

    <ol class="wizard">
        <li>@Html.ActionLink("Projektdaten", MVC.CampaignWizard.Step(Model.CampaignId, 1))</li>
        <li>@Html.ActionLink("Berechtigungen", MVC.CampaignWizard.Step(Model.CampaignId, 2), Model.MaxStep >= 2 ? null : htmlAttributes)</li>
        <li>@Html.ActionLink("Aktionsorte", MVC.CampaignWizard.Step(Model.CampaignId, 3), Model.MaxStep >= 3 ? null : htmlAttributes)</li>
        <li>@Html.ActionLink("Aktionstage erstellen", MVC.CampaignWizard.Step(Model.CampaignId, 4), Model.MaxStep >= 4 ? null : htmlAttributes)</li>
        <li>@Html.ActionLink("Aktionstage zuweisen", MVC.CampaignWizard.Step(Model.CampaignId, 5), Model.MaxStep >= 5 ? null : htmlAttributes)</li>
        <li style="list-style: none;"><a class="t-button" href="@Url.Action(Model.ActionResult)">Assistent beenden</a></li>
    </ol>

    if (Model.Step < Model.MaxStep)
    {
        <span class="buttonNext">
            <a class="t-button" href="@Url.Action(MVC.CampaignWizard.Step(Model.CampaignId, Model.Step + 1))">Weiter <span class="t-icon t-arrow-next"></span>
            </a>
        </span>
    }
}
<iframe src="@Url.Action(Model.ActionResult.AddRouteValue("frame", "true"))"></iframe>
