﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@using ObjectTemplate.Extensions
@model SeismitoadModel.Training

<h2>Termine für Schulung '@Model.Title' bearbeiten</h2>
<h3>Beschreibung: @Model.Description</h3> 

@{
    var campaignId = Request["campaignId"];
    var allowedToEdit = campaignId == "0" || User.HasAnyRole(SeismitoadShared.Constants.Roles.Advantage, SeismitoadShared.Constants.Roles.Admin);
    Html.Kendo().Grid<TrainingDayViewModel>()
        .Name("grid")
        .ToolBar(action =>
        {
            if (allowedToEdit)
            {
                action.Create().Text("Schulungstag hinzufügen");
                action.Save().SaveText("Änderungen übernehmen").CancelText("Änderungen verwerfen"); 
            }
        })
        .Sortable()
        .Filterable()
        .Events(ev =>
        {
            ev.Remove("onRemove");
            ev.SaveChanges("onSaveChanges");
            if (allowedToEdit)
            {
                ev.DataBound("onDataBound");
            }
        })
        .DataSource(ds => ds.Ajax()
            .Model(model =>
            {
                model.Id("id");
                model.Field(e => e.Id).Editable(false);
                model.Field(e => e.DateFrom).Editable(true);
                model.Field(e => e.DateTil).Editable(true);
                model.Field(e => e.Remarks).Editable(true);
                model.Field(e => e.ParticipantCount).Editable(false);
            })
            .Batch(true)
            .Read(read => read.Action("_ReadDate", "Training", new { TrainingId = Model.Id }))
            .Create(create => create.Action("_CreateDate", "Training", new { TrainingId = Model.Id }))
            .Destroy(destroy => destroy.Action("_DestroyDate", "Training"))
            .Update(update => update.Action("_UpdateDate", "Training")))
        .Editable(edit => edit.Mode(GridEditMode.InCell).Enabled(allowedToEdit))
        .Columns(col =>
        {
            col.Bound(e => e.Id).Visible(false).Filterable(false);
            col.Bound(e => e.DateFrom).Format("{0:d}  -  {0:t}").Title("Beginn").Filterable(false);
            col.Bound(e => e.DateTil).Format("{0:d}  -  {0:t}").Title("Ende").Filterable(false);
            col.Bound(e => e.Location).Title("Ort / Schulungslink");
            col.Bound(e => e.Remarks).Title("Bemerkung");
            col.Bound(e => e.MaxParticipants).Title("Maximale Teilnehmer");
            col.Bound(e => e.ParticipantCount).Title("Anzahl Teilnehmer");
            col.Template(e => "")
                .ClientTemplate("<a class='k-button' href='" + Url.Action(MVC.MD.TrainingParticipant.Index().AddRouteValue("campaignId", campaignId)) + "&trainingDayId=#= id #'>Teilnehmer verwalten</a>")
                .Width(200);
            //Muss letzte Spalte bleiben (CellAction)
            if (allowedToEdit)
            {
                col.Command(com => com.Destroy());
            }
        })
        .Render();

}
<br />
    @Html.ActionLink("Zurück", campaignId == "0" ? MVC.MD.Training.Index() : MVC.MD.Training.Trainings().AddRouteValue("campaignId", campaignId), new { @class = "k-button" })

    <script>
        function onRemove() {
            window.setTimeout(function() {
                $("#grid").data("kendoGrid").saveChanges();
            }, 200);
        }

        function onSaveChanges(e) {
            window.setTimeout(function() {
                alert("Änderungen wurden übernommen");
                //location.reload(true);
            }, 200);
        }

        function onDataBound() {
            var grid = $("#grid").data("kendoGrid");
            var data = grid.dataSource.data();

            $.each(data, function(i, row) {
                if (row.ParticipantCount > 0) {
                    $('tr[data-uid="' + row.uid + '"] td:nth-child(8)').text("Teilnehmer eingetragen");
                }
            });
        }
    </script>
