﻿@using Kendo.Mvc.UI
@using MasterInstance.Areas.MD.Models
@using ObjectTemplate.Extensions

@{
    var campaignId = (int?)ViewBag.CampaignId ?? 0;
    var allowedToEdit = campaignId == 0 || User.HasAnyRole(SeismitoadShared.Constants.Roles.Advantage, SeismitoadShared.Constants.Roles.Admin);
    
    <h3>@ViewBag.Title</h3>

    Html.Kendo().Grid<TrainingViewModel>()
        .Name("trainingGrid")
        .Editable(edit => edit.Mode(GridEditMode.InCell).Enabled(allowedToEdit))
        .ToolBar(action =>
        {
            if (allowedToEdit)
            {
                if (campaignId == 0)
                {
                    action.Create().Text("Schulungen hinzufügen");
                }
                action.Save().SaveText("Änderungen übernehmen").CancelText("Änderungen verwerfen");
            }
        })
        .Filterable()
        .Sortable(sort => sort.Enabled(true).SortMode(GridSortMode.MultipleColumn))
        .Events(ev =>
        {
            ev.Remove("onRemove");
            ev.SaveChanges("onSaveChanges");
            if (allowedToEdit)
            {
                ev.DataBound("onDataBound");
            }
            ev.Edit("onEdit");
        })
        .DataSource(source => source.Ajax()
            .Model(model =>
            {
                model.Id("id");
                model.Field(e => e.Id).Editable(false);
                model.Field(e => e.DateCount).Editable(false);
                model.Field(e => e.ParticipantCount).Editable(false);
            })
            .Sort(sort => sort.Add(e => e.Id).Descending())
            .Filter(filter =>
            {
                if (campaignId == 0)
                {
                    filter.Add(e => e.HiddenCampaign).IsEqualTo(false);
                }
            })
            .Batch(true)
            .Read(read => read.Action("_Read", "Training", new { campaignId }))
            .Update(update => update.Action("_Update", "Training"))
            .Destroy(destroy => destroy.Action("_Destroy", "Training").Type(HttpVerbs.Post))
            .Create(create => create.Action("_Create", "Training")))
        .Scrollable(scrolling => scrolling.Height(250))
        .Columns(c =>
        {
            c.Bound(e => e.Id).Filterable(false).Visible(false);
            if (campaignId == 0)
            {
                c.ForeignKey(e => e.ProjectNumber, SelectListRepository.Retrieve("ProjectNumbers", ViewData), "Value", "Text")
                    .ClientTemplate("#= ProjectNumber #").EditorTemplateName("GridForeignKeyKendo").Title("Projekt").Filterable(false).Width(200);
                c.Bound(e => e.HiddenCampaign).ClientTemplate("#= HiddenCampaign ? 'Archiviert': 'Aktiv' #").Title("Arch./Gelö.").Filterable(f => f.Messages(m => m.Info("Zeige Schulungen von").IsTrue("archivierten Projekten").IsFalse("aktiven Projekten")));
            }
            c.Bound(e => e.Title).Title("Titel");
            c.Bound(e => e.Description).Title("Beschreibung");
            c.Bound(e => e.ParticipantCount).ClientTemplate("#=ParticipantCount# / #=MaxParticipants#").Title("Anzahl Teilnehmer");
            c.Bound(e => e.DateCount).Filterable(false).Title("Anzahl Termine");
            c.Template(e => "").ClientTemplate("# if(typeof(Dates) != 'undefined' && Dates != null) { # #= $.map(Dates, function(s) { return kendo.format('{0:d} {0:t}', new Date(parseInt(s.substr(6)))); }).join('<br />') # # } #").Title("Beginn");
            c.Template(e => "").ClientTemplate("# if(typeof(Locations) != 'undefined' && Locations != null) { # #= Locations.join('<br />') # # } #").Title("Ort");
            c.Template(e => "")
                .ClientTemplate("<a class='k-button' href='" + Url.Action(MVC.MD.Training.Dates().AddRouteValue("campaignId", campaignId)) + "&trainingId=#= id #'>Termine verwalten</a>")
                .Width(200);
            //Muss letzte Spalte bleiben (CellAction)
            if (allowedToEdit)
            {
                c.Command(e => e.Destroy().Text("Schulung löschen")).Width(200).Title("Schulung löschen");
            }
        })
        .Render();
}
<script src="~/Scripts/GridResizer.js?version=1" type="text/javascript"></script>
<script>
    function onEdit(e) {
        if (e.model.HiddenCampaign === true) {
            this.closeCell();
        }
    }

    function onRemove() {
        window.setTimeout(function() {
            $("#trainingGrid").data("kendoGrid").saveChanges();
        }, 200);
    }

    function onSaveChanges(e) {
        window.setTimeout(function() {
            alert("Änderungen wurden übernommen");
            //location.reload(true);
        }, 200);
    }

    function onDataBound() {
        var grid = $("#trainingGrid").data("kendoGrid");
        var data = grid.dataSource.data();

        $.each(data, function (i, row) {
            if (row.DateCount > 0) {
                $('tr[data-uid="' + row.uid + '"] td:last').text("Daten vorhanden");
            }
        });
    }

    $(document).ready(function() {
        gridResizer = new GridResizer($("#hSplitter"), $("#trainingGrid"), height => { }, 60);
    });
</script>
